﻿<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="exportReport()">
        <i class="fa fa-file-excel-o"></i>
        <span class="contentTitle">Export Report</span>
      </li>
      <li ng-click="regenerateReport()">
        <i class="fa fa-refresh"></i>
        <span class="contentTitle">Regenerate Report</span>
      </li>
    </ul>
    <div class="report-page-clear"></div>
  </div>
  <div class="report-page-body">
    <!-- Generated Report table -->
    <div class="col-lg-12 col-el-12">
      <as-table table-id="admin-reports-generate-report-table" totals="false" hide-page-numbers="true" infinite-scroll="false" overflow-x="hidden"
                ng-controller="AdminReportsGenerateReportCtrl as tableCtrl"></as-table>
    </div>
  </div>
  <div class="report-page-footer"></div>
</div>