<!--User quality info-->
<info-modal modal-id="{{type}}-quality" modal-title="{{type}} Ratings" button-text="OK"
            modal-class="notification-window" modal-width="90%">
    <as-tabs tab-config="ctrl.ratingTabConfig" tabs="ctrl.ratingTabs" tab-width="{{tableCtrl.tabWidth}}"
             selected-tab="ctrl.selectedRatingTab" change-tab="ctrl.changeRatingTab(tab)"></as-tabs>
    <form enctype="multipart/form-data" role="form">
        <!--Table-->
        <div class="col-md-12 form-group">
            <as-table totals="false" hide-page-numbers="true" table-id="realtor-quality-table"
                      bold-columns="1,5" infinite-scroll="false" overflow-x="hidden" header-static="false"></as-table>
        </div>
    </form>
</info-modal>