<button
  class="btn as-button"
  ng-class="{'as-button-no-icon': hasIcon == false, 'as-button-no-label': hasContent == false, 'pull-right': right}"
  type="button" ng-click="click()" ng-disabled="disabled()">
  <div class="as-button-icon" ng-include="src"></div><ng-transclude></ng-transclude>
</button>
