<!--Table Started-->
<div class="col-lg-12 col-el-8 col-ml-7 dashboard-left-area">
    <!--Dashboard Search Section-->
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-6 col-sm-6 step-1 col-el-9 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="adminUsersCtrl.filterAll">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Search results table-->
    <as-table totals="false" hide-page-numbers="true" table-id="admin-users-amc-table"
              ng-controller="AdminUsersAmcTableCtrl as tableCtrl" bold-columns="1,2,3" infinite-scroll="false"
              overflow-x="hidden"></as-table>
</div>

<!--Details-->
<admin-users-details type="amc" ctrl="amcCtrl" sidebar="enableSidebar" disable-edit="true"></admin-users-details>
<!--Additional details-->
<admin-users-amc-additional-details></admin-users-amc-additional-details>

<!--Rating-->
<div id="admin-users-ratings"></div>
<!--Certification details-->
<div id="admin-users-certificates"></div>

<!--Failed to update amc-->
<info-modal modal-id="update-amc-failure" modal-title="Failed to update AMC" button-text="OK"></info-modal>
<!--Failed to retrieve settings-->
<info-modal modal-id="amc-settings-failure" modal-title="Failed to retrieve AMC settings" button-text="OK">
</info-modal>
