<form ng-controller="AuthAppraiserSignUpAchCtrl as achCtrl" class="signup-form-2" enctype="multipart/form-data" role="form" as-submit="achCtrl.save()" name="frm">

  <h3 class="text-uppercase">ACH Info</h3>

  <div class="auth-divider col-12">

    <!-- Bank Name -->
    <div class="form-group" show-errors>
      <label for="inputBankName" class="control-label">Bank Name</label>
      <span class="help-block"
            validator-message="required"
            placeholder="{'field': 'bank name'}"></span>
      <input type="text"
             name="bankName"
             id="inputBankName"
             class="form-control"
             ng-model="baseCtrl.appraiser.bankName"
             placeholder="Bank Name"
             required/>
    </div>

    <!-- Account Number -->
    <div class="form-group" show-errors>
      <label for="inputAccountNumber" class="control-label">Account No.</label>
      <span class="help-block"
            validator-message="required"
            placeholder="{'field': 'account number'}"></span>
      <input type="text"
             name="bankAccountNumber"
             id="inputAccountNumber"
             class="form-control"
             ng-model="baseCtrl.appraiser.bankAccountNumber"
             placeholder="Accoun Number"
             required/>
    </div>

    <!-- Routing -->
    <div class="form-group" show-errors>
      <label for="inputRouting" class="control-label">Routing</label>
      <span class="help-block"
            ng-show="frm.bankRouting.$error.required"
            validator-message="required"
            placeholder="{'field': 'routing'}"></span>
      <span class="help-block"
            ng-show="frm.bankRouting.$error.validatorRouting"
            validator-message="routing"></span>
      <input type="text"
             name="bankRouting"
             id="inputRouting"
             class="form-control"
             ng-model="baseCtrl.appraiser.bankRouting"
             placeholder="Rounting"
             validator="routing"
             required/>
    </div>
  </div>

  <div class="col-12 text-center wrap-footer">
    <as-button icon="apply" class="green-theme" type="submit">Submit Form</as-button>
    <as-button icon="cancel" click="achCtrl.back()">Back</as-button>
  </div>
</form>