<form ng-controller="AuthAppraiserSignUpDocumentUploadCtrl as uploadCtrl" class="signup-form-2" enctype="multipart/form-data" role="form" name="frm" novalidate>
  <div class="new-window-overlay">
    <div class="auth-divider col-6">
      <!-- License Doc -->
      <div class="form-group col-md-12">
        <div class="innner-box">
          <h4 class="text-center">Drop or click here to upload License Document</h4>
          <input type="file"
                 name="file"
                 ng-file-select
                 ng-model="uploadCtrl.licenseDoc"
                 ng-change="uploadCtrl.uploadLicense(uploadCtrl.licenseDoc)"
                 class="modal-file-upload">
        </div>
      </div>

      <!-- Resume Doc -->
      <div class="form-group col-md-12">
        <div class="innner-box">
          <h4 class="text-center">Drop or click here to upload Resume</h4>
          <input type="file"
                 name="file"
                 ng-file-select
                 ng-model="uploadCtrl.resume"
                 ng-change="uploadCtrl.uploadResume(uploadCtrl.resume)"
                 class="modal-file-upload">
        </div>
      </div>
    </div>

    <div class="col-12 text-center ">
      <!-- License Doc Upload messages -->
      <info-modal modal-id="upload-license-successful" modal-title="Successfully uploaded license document"></info-modal>
      <info-modal modal-id="upload-license-failure" modal-title="Failed to upload license document"></info-modal>

      <!-- Resume Doc Upload messages -->
      <info-modal modal-id="upload-resume-successful" modal-title="Successfully uploaded resume"></info-modal>
      <info-modal modal-id="upload-resume-failure" modal-title="Failed to upload resume"></info-modal>
    </div>
  </div>

  <div class="col-12 text-center wrap-footer">
    <as-button icon="apply" class="green-theme" ng-if="baseCtrl.settings.requireAch" click="uploadCtrl.save()">Go To Step 6</as-button>
    <as-button icon="apply" class="green-theme" ng-if="!baseCtrl.settings.requireAch" click="uploadCtrl.save()">Submit Form</as-button>

    <as-button icon="cancel" click="uploadCtrl.back()">Back</as-button>
  </div>
</form>
