<div ng-controller="AuthAppraiserSignUpAppraisalFormsCtrl as formsCtrl">
    
  <h3 class="text-uppercase">Appraisal Forms</h3>

  <form role="form" novalidate ng-submit="formsCtrl.save()" name="frm">
    <table class="table-responsive" data-pattern="priority-columns">
      <thead class="table dashboard-table">
        <tr>
          <th>No.</th>
          <th>Job Title</th>
          <th>Select Forms</th>
          <th>Fee</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="(key, jobType) in formsCtrl.jobTypes">
          <td>{{ $index + 1 }}</td>
          <td>{{ jobType.title }}</td>

          <td for="jobType{{ key }}">
            <input type="checkbox"
                   id="jobTypeVal{{ key }}"
                   ng-model="jobType[key].val"
                   checkable/>
          </td>

          <td>
            <div class="form-group" show-errors ng-if="jobType[key].val">
              <span class="help-block"
                    ng-show="frm.jobTypeFee{{ key }}.$error.required"
                    validator-message="required"></span>
              <span class="help-block"
                    ng-show="frm.jobTypeFee{{ key }}.$error.validatorAmount"
                    validator-message="amount"></span>

              <input type="text"
                     id="jobTypeFee{{ key }}"
                     name="jobTypeFee{{ key }}"
                     class="form-control"
                     ng-model="jobType[key].fee"
                     placeholder="Fee"
                     validator="amount"
                     required />
            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="col-12 text-center wrap-footer">
      <as-button icon="apply" class="green-theme" type="submit">Go To Step 5</as-button>
      <as-button icon="cancel" click="formsCtrl.back()">Back</as-button>
    </div>
  </form>

</div>