<form name="frm"
      ng-controller="AuthAppraiserSignUpAccInfoCtrl as accInfoCtrl"
      class="form" as-submit="accInfoCtrl.save()">

  <div class="authentication-form-header">
    <span>Account Information</span>
  </div>

  <div class="form-row-4">

    <!-- First Name -->
    <div form-group="first-name" show-errors>
      <span validation-control></span>
      <label control-label>First Name</label>
      <input type="text"
             name="firstName"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.firstName"
             placeholder="First Name"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Last Name -->
    <div form-group="last-name" show-errors>
      <span validation-control></span>
      <label control-label>Last Name</label>
      <input type="text"
             name="lastName"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.lastName"
             placeholder="Last Name"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Email address -->
    <div form-group="email" show-errors>
      <span validation-control></span>
      <label control-label>Email</label>
      <input type="email"
             name="email"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.email"
             placeholder="Email"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Company Name -->
    <div form-group="company-name" class="last" show-errors>
      <span validation-control></span>
      <label control-label>Company Name</label>
      <input type="text"
             name="userCompanyName"
             form-control
             placeholder="Company Name"
             ng-model="baseCtrl.appraiser.accountInformation.userCompanyName"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

  </div>

  <div class="form-row-2">

    <!-- Certified State -->
    <div form-group="certified-state" show-errors>
      <span validation-control></span>
      <label control-label>Certified State</label>
      <select as-select
              type="text"
              name="certifiedState"
              form-control
              ng-model="baseCtrl.appraiser.accountInformation.certifiedState"
              ng-change="baseCtrl.autoSearch()"
              ng-options='state.code as state.name for state in accInfoCtrl.states.data'
              required>
        <option value="">- Choose -</option>
      </select>
    </div>

    <!-- License Number -->
    <div form-group="license-number" class="last" show-errors>
      <span validation-control></span>
      <label control-label>License Number</label>
      <input type="text"
                   name="licenseNumber"
                   form-control
                   ng-model="baseCtrl.appraiser.accountInformation.licenseNumber"
                   ng-change="baseCtrl.autoSearch()"
                   placeholder="Licence Number"
                   required />

      <div class="col-sm-12 input-group" ng-class="{open: baseCtrl.openAutoSearch}" dropdown>

        <ul id="licenseDropdown" class="dropdown-menu" role="menu">

          <li ng-show="baseCtrl.loadingUsers">
            <a><simple-spinner></simple-spinner></a>
          </li>

          <li ng-hide="baseCtrl.licensedUsers || baseCtrl.loadingUsers">
            <a>No record found.</a>
          </li>

          <li ng-repeat="(key, user) in baseCtrl.licensedUsers" ng-hide="baseCtrl.loadingUsers">
            <a ng-click="baseCtrl.selectUser(user)">
              {{ user.lastName }} {{ user.firstName }} {{ user.companyName }}
            </a>
          </li>

        </ul>

      </div>

    </div>

  </div>

  <div class="form-row-1">

    <!--    Username -->
    <div form-group="username" class="last" show-errors>
      <span validation-control></span>
      <label control-label>Username</label>
      <input type="text"
             name="username"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.username"
             placeholder="Username"
             validator="username"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

  </div>

  <div class="form-row-2">

    <!-- Password -->
    <div form-group="password" show-errors>
      <span validation-control></span>
      <label control-label>Password</label>
      <input type="password"
             name="password"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.password"
             placeholder="Password"
             validator="password"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Confirm Password -->
    <div form-group="confirm-password" class="last" show-errors>
      <span validation-control></span>
      <label control-label>Confirm Password</label>
      <input type="password"
             name="confirmPassword"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.confirmPassword"
             validator="compareTo:baseCtrl.appraiser.accountInformation.password|password"
             placeholder="Confirm Password"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

  </div>

  <div class="auth-divider">
    <div class="divider-break"></div>
  </div>

  <div class="form-row-2">

    <!-- Address -->
    <div form-group="address" show-errors>
      <span validation-control></span>
      <label control-label>Address</label>
      <input type="text"
             name="address1"
             form-control
             placeholder="Address"
             ng-model="baseCtrl.appraiser.address1"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Additional Address -->
    <div form-group="additional-address" class="last" show-errors>
      <span validation-control></span>
      <label control-label>Additional Address</label>
      <input type="text"
             name="address2"
             placeholder="Additional Address"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.address2"
             ng-disabled="!baseCtrl.userSelected" />
    </div>

  </div>

  <div class="form-row-3">

    <!-- City -->
    <div form-group="city" show-errors>
      <span validation-control></span>
      <label control-label>City</label>
      <input type="text"
             name="city"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.city"
             placeholder="City"
             validator='city'
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- ZIP -->
    <div form-group="zip" show-errors>
      <span validation-control></span>
      <label control-label>ZIP</label>
      <input type="text"
             name="zip"
             form-control
             placeholder="10002"
             ng-model="baseCtrl.appraiser.accountInformation.zip"
             validator="zip"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- State -->
    <div form-group="state" class="last" show-errors>
        <span validation-control></span>
        <label control-label>State</label>
        <select as-select
                name="state"
                form-control
                ng-model="baseCtrl.appraiser.accountInformation.state"
                ng-options='state.code as state.name for state in accInfoCtrl.states.data'
                ng-disabled="!baseCtrl.userSelected"
                required >
          <option value=''>- Choose -</option>
        </select>
      </div>

  </div>

  <div class="form-row-3">

    <!-- Address for Assignments -->
    <div form-group="address-for-assignemnts" show-errors>
      <span validation-control></span>
      <label control-label>Address for Assignments</label>
      <input type="text"
             name="address1Assign"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.address1Assign"
             placeholder="Address for Assignments"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Additional Address for Assignments -->
    <div form-group="additional-address-for-assignments" show-errors>
      <span validation-control></span>
      <label control-label>Additional Address for Assignments</label>
      <input type="text"
             name="address2Assign"
             placeholder="Additional Address for Assignments"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.address2Assign"
             ng-disabled="!baseCtrl.userSelected"/>
    </div>

    <!-- City for Assignments -->
    <div form-group="city-for-assignments" show-errors>
      <span validation-control></span>
      <label control-label>City for Assignments</label>
      <input type="text"
             name="cityAssign"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.cityAssign"
             placeholder="City for Assignments"
             validator='city'
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

  </div>

  <div class="form-row-3">

    <!-- State for Assignments -->
    <div form-group="state-for-assignments" show-errors>
      <span validation-control></span>
      <label control-label>State for Assignments</label>
      <select as-select
              name="stateAssign"
              form-control
              ng-model="baseCtrl.appraiser.accountInformation.stateAssign"
              ng-options='state.id as state.name for state in accInfoCtrl.states.data'
              ng-disabled="!baseCtrl.userSelected"
              required>
        <option value="">- Choose -</option>
      </select>
    </div>

    <!-- ZIP for Assignments -->
    <div form-group="zip-for-assignments" show-errors>
      <span validation-control></span>
      <label control-label>ZIP for Assignments</label>
      <input type="text"
             name="zipAssign"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.zipAssign"
             validator="zip"
             placeholder="ZIP for Assignments"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

    <!-- Cell Phone -->
    <div form-group="cell-phone" show-errors>
      <span validation-control></span>
      <label control-label>Cell Phone Number</label>
      <input type="text"
             name="cellPhone"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.cellPhone"
             placeholder="Cell Phone Number"
             validator="phone"
             ng-disabled="!baseCtrl.userSelected" />
    </div>

  </div>

  <div class="form-row-3">

    <!-- Office Phone -->
    <div form-group="office-phone" show-errors>
      <span validation-control></span>
      <label control-label>Office Phone Number</label>
      <input type="text"
             name="phone"
             form-control
             namespace="Office Phone"
             ng-model="baseCtrl.appraiser.accountInformation.phone"
             placeholder="Office Phone Number"
             validator="phone"
             ng-disabled="!baseCtrl.userSelected"
             required />
    </div>

    <!-- Office Phone Ext. -->
    <div form-group="office-phone-ext" show-errors>
      <span validation-control></span>
      <label control-label>Office Phone Ext.</label>
      <input type="text"
             name="phoneExt"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.phoneExt"
             placeholder="Office Phone Ext."
             ng-disabled="!baseCtrl.userSelected"/>
    </div>

    <!-- Fax -->
    <div form-group="fax" show-errors>
      <span validation-control></span>
      <label control-label>Fax Number</label>
      <input type="text"
             name="fax"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.fax"
             placeholder="Fax Number"
             validator="phone"
             ng-disabled="!baseCtrl.userSelected"/>
    </div>

  </div>

  <div class="form-row-3">

    <!-- Years Licensed -->
    <div form-group="years-licensed" show-errors>
      <span validation-control></span>
      <label control-label>Years licensed</label>
      <input type="text"
             name="licenseYear"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.licenseYear"
             placeholder="Years licensed"
             validator="amount"
             ng-disabled="!baseCtrl.userSelected"
             required />
    </div>

    <!-- License Expiration Date -->
    <div form-group="license-expiration-date" show-errors>
      <span validation-control></span>
      <label control-label>License Expiration Date</label>
      <input type="text"
             name="licenseExp"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.licenseExp"
             placeholder="License Expiration Date"
             datetimepicker
             validator="date"
             ng-disabled="!baseCtrl.userSelected"
             required />
    </div>

    <!-- E&O Per Claim Amount -->
    <div form-group="e-and-o-per-claim-amount" show-errors>
      <span validation-control></span>
      <label control-label>E&amp;O / Claim Amount-USD</label>
      <input type="text"
             name="eoAmount"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.eoAmount"
             placeholder="E&amp;O / Claim Amount-USD"
             validator="amount"
             ng-disabled="!baseCtrl.userSelected"
             required />
    </div>

  </div>

  <div class="form-row-3">

    <!-- E&O Per Aggregate Amount -->
    <div form-group="e-and-o-per-aggregate-amount" show-errors>
      <span validation-control></span>
      <label control-label>E&amp;O / Aggregate Amount-USD</label>
      <input type="text"
             name="eoAggregateAmount"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.eoAggregateAmount"
             placeholder="E&amp;O / Aggregate Amount-USD"
             validator="amount"
             ng-disabled="!baseCtrl.userSelected"
             required />
    </div>

    <!-- E&O Expiration Date -->
    <div form-group="e-and-o-expiration-date" show-errors>
      <span validation-control></span>
      <label control-label>E&amp;O Expiration Date</label>
      <input type="text"
             name="eoExpDate"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.eoExpDate"
             placeholder="E&amp;O Expiration Date"
             datetimepicker
             validator="date"
             ng-disabled="!baseCtrl.userSelected"
             required />
    </div>

    <!-- E&O Carrier -->
    <div form-group="e-and-o-carrier" show-errors>
      <span validation-control></span>
      <label control-label>E&amp;O Carrier</label>
      <input type="text"
             name="eoCarrier"
             form-control
             ng-model="baseCtrl.appraiser.accountInformation.eoCarrier"
             placeholder="E&amp;O Carrier"
             ng-disabled="!baseCtrl.userSelected"
             required/>
    </div>

  </div>

  <div class="form-row-3">

    <!-- Certifications -->
    <div form-group="certifications" show-errors>
      <span validation-control></span>
      <label control-label>Certifications</label>
      <select as-select
              name="certifications"
              form-control
              ng-model="baseCtrl.appraiser.accountInformation.certifications"
              ng-options="license.name as license.title for license in accInfoCtrl.primaryLicenses.data"
              ng-disabled="!baseCtrl.userSelected"
              required>
        <option value=''>- Choose -</option>
      </select>
    </div>

    <!-- VA -->
    <div form-group="va">
      <span validation-control></span>
      <label control-label class="title">VA</label>
      <input type="checkbox"
             name="othCertiVA"
             placeholder="VA"
             ng-model="baseCtrl.appraiser.accountInformation.othCertiVA"
             ng-disabled="!baseCtrl.userSelected"
             checkable />
    </div>

    <!-- Certified Relocation Professional -->
    <div form-group="certified-relocation-professional">
        <span validation-control></span>
        <label control-label>Certified Relocation Professional</label>
        <input type="checkbox"
                 name="oth_certi_crp"
                 placeholder="Certified Relocation Professional"
                 ng-model="baseCtrl.appraiser.accountInformation.othCertiCrp"
                 ng-disabled="!baseCtrl.userSelected"
                 checkable />
    </div>

  </div>

  <div class="authentication-submit-panel">
    <span class="authentication-submit-center-section">
        <as-button icon="apply" class="green-theme" type="submit">Go To Step 2</as-button>
    </span>
  </div>

</form>
