<!-- Select Tabs permissions -->
<modal-new modal-id="admin-staff-logged-in-log" modal-title="User Login Log" class="staff-modal">
  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="staff-logged-in-log-table"
                ng-controller="AdminStaffLoggedInLogTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">
      </as-table>
    </div>
  </div>
</modal-new>
