<!-- Select Company -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffProfileAddCompanyCtrl.addCompaniesModal()" icon="apply" >Add Company</as-button>
</div>

<modal-new  modal-id="admin-rule-profile-add-company" submit-button="adminStaffProfileAddCompanyCtrl.addCompaniesToRuleProfile()" modal-title="Add Company" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Company</h4>
  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="stuff-profile-companies-table"
                ng-controller="AdminStaffCompaniesCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">

      </as-table>
    </div>
  </div>
</modal-new>

