<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="tableCtrl.exportExcel()"><i class="fa fa-bar-chart-o"></i><span
              class="contentTitle">Export Report</span></li>
      <li><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Regenerate Report</span></li>
    </ul>
    <div class="report-page-clear"></div>
  </div>

  <div class="report-page-body" id="exportable">
    <table class="table dashboard-table">
      <thead>
      <tr class="text-center">
        <th class="text-center">
          <label>Sr #</label>
        </th>
        <th class="text-center" ng-repeat="titleColumn in tableCtrl.tableColumnHeaders track by $index">
          <label>{{titleColumn.nameAs}}</label>
        </th>
      </tr>
      </thead>
      <tr ng-repeat-start="item in tableCtrl.tableGenerateViewData track by $index">
        <td class="text-center">
          {{$index + 1}}
        </td>
        <td class="text-center" ng-repeat="titleColumn in tableCtrl.tableColumnHeaders track by titleColumn.name">
          {{tableCtrl.getValueByName(item, titleColumn.name)}}
        </td>
      </tr>
      <tr ng-repeat-end></tr>
    </table>
  </div>
</div>
