<!--Table Started-->
<div class="col-lg-12 col-el-8 col-ml-7 dashboard-left-area">
    <!--Dashboard Search Section-->
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-6 col-sm-6 step-1 col-el-9 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="adminUsersCtrl.filterAll">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Search results table-->
    <as-table totals="false" hide-page-numbers="true" table-id="admin-users-directory-table"
              ng-controller="AdminUsersAmcDirectoryTableCtrl as tableCtrl" bold-columns="1,2,3" infinite-scroll="false"
              overflow-x="hidden"></as-table>
</div>

<!--Details-->
<admin-users-details type="amc-directory" ctrl="directoryCtrl" sidebar="enableSidebar"
                     disable-edit="true"></admin-users-details>
<!--Additional details-->
<admin-users-amc-directory-additional-details></admin-users-amc-directory-additional-details>

<!--Certification details-->
<admin-users-certification ctrl="directoryCtrl" type="directory"></admin-users-certification>

<!--Failed to update directory-->
<info-modal modal-id="update-directory-failure" modal-title="Failed to update directory" button-text="OK">
</info-modal>
