<!-- Select Job Type -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffRecalcCommissionCtrl.addRecalcCommissionModal()" icon="apply" >Recalculate Commissions For Selected</as-button>
</div>
<modal-new modal-id="recalc-commission-company" modal-title="Recalculate Company Commission" >
  <div class="col-md-12 overlay-form">
    <div class="col-md-6">
      <label>From (Ordered Date):</label>
      <input type="text" class="form-control" name="w9Date"
             ng-model="adminStaffRecalcCommissionCtrl.displayData.fromDate"
             validator="date"
             placeholder="{{adminStaffRecalcCommissionCtrl.displayData.fromDate}}"
             datetimepicker/>
      </div>
      <div class="col-md-6">
        <label>To (Ordered Date):</label>
        <input type="text" class="form-control" name="w9Date"
               ng-model="adminStaffRecalcCommissionCtrl.displayData.toDate"
               validator="date"
               placeholder="{{adminStaffRecalcCommissionCtrl.displayData.toDate}}"
               datetimepicker/>
      </div>
    </div>

  <div class="col-md-12 overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffRecalcCommissionCtrl.setCommission()" bold-columns="2" table-id="recalc-commission-company"
                ng-controller="AdminStaffRecalcCommissionTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden">
      </as-table>
    </div>
</modal-new>
