<!-- Select Mail permissions -->
<modal-new modal-id="admin-staff-edit-email-permission" modal-title="Email Permissions" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Permission(s)</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="staff-email-permissions-table"
                ng-controller="AdminStaffEmailPermissionsTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">
      </as-table>
    </div>
  </div>
</modal-new>
