<!-- Select Staff permissions -->
<modal-new modal-id="admin-staff-edit-permission" modal-title="Staff Permissions" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Permission(s)</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="staff-staff-permissions-table"
                ng-controller="AdminStaffStaffPermissionsTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">
      </as-table>
    </div>
  </div>
</modal-new>


