<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Fee Schedule</h4>
                    </div>
                </div>
            </div>
            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <!--Acceptance Message-->
                <div class="col-md-9 form-group">
                    <label for="jobType">Assign Job List</label>
                    <select class="selectpicker form-control" id="jobType"
                            ng-model="feeScheduleCtrl.displayData.selectedJobList"
                            ng-options='option.id as option.title for option in feeScheduleCtrl.displayData.jobType'
                            as-select>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <div class="text-left as-button-pad-top">
                        <as-button click="feeScheduleCtrl.assignJobListConfirm()"
                                   disabled="feeScheduleCtrl.assignJobListDisabled()" icon="user">Assign Job List
                        </as-button>
                    </div>
                </div>
                <!--Job title table-->
                <div class="col-md-12 form-group">
                    <as-table totals="false" hide-page-numbers="true" table-id="job-type-table"
                              ng-controller="AdminUsersClientFeeScheduleJobTable as tableCtrl"
                              infinite-scroll="false" overflow-x="hidden" bold-columns="1"></as-table>
                </div>
            </form>
        </div>
    </div>
    <!--Assign job list-->
    <modal-new modal-id="assign-job-list" submit-button="feeScheduleCtrl.assignJobList()" modal-title="Assign job list?">
    </modal-new>
    <!--Assign job list success-->
    <info-modal modal-id="assign-job-list-success" modal-title="Job list assigned" button-text="Cancel">
    </info-modal>
    <!--Assign job list failure-->
    <info-modal modal-id="assign-job-list-failure" modal-title="Failed to assign job list" button-text="Cancel">
    </info-modal>
</div>
