<nav class="text-center indexing" ng-if="pages.length >= 2">
  <ul class="pagination">
    <li><a ng-click="selectPage(1)">First</a></li>
    <li><a ng-click="selectPage(currentPage - 1)">Prev</a></li>
    <li ng-repeat="page in pages"><a ng-class="{active: page==currentPage}" ng-click="selectPage(page)">{{page}}</a></li>
    <li><a ng-click="selectPage(currentPage + 1)">Next</a></li>
    <li><a ng-click="selectPage(numPages)">Last</a></li>
  </ul>
</nav>
  {{currentPage}}||{{currentPage}}||{{pages}}