<!--New company modal-->
<modal-new submit-button="ctrl.newCompany()" modal-id="new-company" modal-title="New Company"
           ng-if="ctrl.showNewCompany" disabled="ctrl.newCompanyDisabled()">
    <form enctype="multipart/form-data" role="form" name="ctrl.newCompanyForm">
        <!--<div class="col-md-12">-->
        <div>
            <div class="form-group col-md-6" show-errors>
                <label for="company-name">Company name</label>
                <span class="help-block"
                      validator-message="required">
                </span>
                <input type="text" id="company-name"
                       ng-model="ctrl.displayData.newCompany.name"
                       name="company-name"
                       class="form-control"
                       required/>
            </div>
            <!--Email non-appraiser-->
            <div class="form-group col-md-6" show-errors ng-if="!appraiser">
                <label for="company-email">Email</label>
            <span class="help-block"
                  validator-message="email">
            </span>
                <input type="text" id="company-email"
                       validator="email"
                       ng-model="ctrl.displayData.newCompany.email"
                       name="company-email"
                       class="form-control"
                       required/>
            </div>
            <!--Email appraiser-->
            <div class="form-group col-md-6" show-errors ng-if="appraiser">
                <label for="company-email">Email</label>
            <span class="help-block"
                  validator-message="email">
            </span>
                <input type="text" id="company-email"
                       validator="email"
                       ng-model="ctrl.displayData.newCompany.contact.email"
                       name="company-email"
                       class="form-control"
                       required/>
            </div>
        </div>
        <!--<div class="col-md-12" ng-if="!appraiser">-->
        <div class="" ng-if="!appraiser">
            <div class="form-group col-md-6" show-errors>
                <label for="company-account-type">Account Type</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <select class="selectpicker form-control" id="account-type"
                        id="company-account-type"
                        name="company-account-type"
                        ng-model="ctrl.displayData.newCompany.accountType"
                        ng-options='option.id as option.value for option in ctrl.displayData.accountTypeOptions.company'
                        as-select required>
                </select>
            </div>
            <div class="form-group col-md-6" show-errors>
                <label for="company-orders-per-month">Estimated Order Per Month</label>
            <span class="help-block"
                  validator-message="number"
                  placeholder="{'field': 'Estimated orders per month'}">
            </span>
                <input type="text" id="company-orders-per-month"
                       ng-model="ctrl.displayData.newCompany.ordersPerMonth"
                       name="company-orders-per-month"
                       validator="number"
                       class="form-control"/>
            </div>
        </div>

        <div class="divider col-12 clearfix">
            <div class="form-group col-md-12">
                <h4 class="text-center">Contact Information</h4>
            </div>
        </div>

        <!--<div class="col-md-12">-->
        <div class="">
            <div class="form-group col-md-6" show-errors>
                <label for="company-first-name">First Name</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <input type="text" id="company-first-name"
                       ng-model="ctrl.displayData.newCompany.contact.firstName"
                       name="company-first-name"
                       class="form-control"
                       required/>
            </div>
            <div class="form-group col-md-6" show-errors>
                <label for="company-last-name">Last Name</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <input type="text" id="company-last-name"
                       ng-model="ctrl.displayData.newCompany.contact.lastName"
                       name="company-last-name"
                       class="form-control"
                       required/>
            </div>
        </div>

        <!--@todo The locations naming is not consistent between client and appraiser companies. I'm assuming it's 'locations',
        but it is listed as 'location' for client companies. Need to resolve-->
        <!--@link https://github.com/ascope/manuals/issues/82-->
        <!--Client companies-->
        <div ng-if="!appraiser">

            <!--<div class="col-md-12">-->
            <div class="">
                <div class="form-group col-md-6" show-errors>
                    <label for="company-street-address">Address</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <input type="text" id="company-street-address"
                           ng-model="ctrl.displayData.newCompany.contact.location.address1"
                           name="company-street-address"
                           class="form-control"
                           required/>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <label for="company-street-address-2">Address 2</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <input type="text" id="company-street-address-2"
                           ng-model="ctrl.displayData.newCompany.contact.location.address2"
                           name="company-street-address2"
                           class="form-control"/>
                </div>
            </div>

            <!--<div class="col-md-12">-->
            <div class="">
                <div class="form-group col-md-4" show-errors>
                    <label for="company-city">City</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <input type="text" id="company-city"
                           ng-model="ctrl.displayData.newCompany.contact.location.city"
                           name="company-city"
                           class="form-control"
                           required/>
                </div>
                <div class="form-group col-md-4">
                    <label for="company-state">State</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <select class="selectpicker form-control" id="company-state"
                            ng-model="ctrl.displayData.newCompany.contact.location.state"
                            ng-options='option.code as option.name for option in ctrl.selects.state'
                            as-select>
                    </select>
                </div>
                <div class="form-group col-md-4" show-errors>
                    <label for="company-zip">Zip</label>
            <span class="help-block"
                  validator-message="number"
                  placeholder="{'field': 'Zip code'}">
            </span>
                    <input type="text" id="company-zip"
                           ng-model="ctrl.displayData.newCompany.contact.location.zip"
                           name="company-zip"
                           class="form-control"
                           validator="number"
                           required/>
                </div>
            </div>
        </div>
        <!--Appraiser companies-->
        <div ng-if="appraiser">
            <div class="col-md-12">
                <div class="form-group col-md-6" show-errors>
                    <label for="company-street-address">Address</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <input type="text" id="company-street-address"
                           ng-model="ctrl.displayData.newCompany.contact.locations.office.address1"
                           name="company-street-address"
                           class="form-control"
                           required/>
                </div>
                <div class="form-group col-md-6" show-errors>
                    <label for="company-street-address-2">Address 2</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <input type="text" id="company-street-address-2"
                           ng-model="ctrl.displayData.newCompany.contact.locations.office.address2"
                           name="company-street-address2"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-4" show-errors>
                    <label for="company-city">City</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <input type="text" id="company-city"
                           ng-model="ctrl.displayData.newCompany.contact.locations.office.city"
                           name="company-city"
                           class="form-control"
                           required/>
                </div>
                <div class="form-group col-md-4">
                    <label for="company-state">State</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                    <!--@todo The entire location object is requested in the Appraiser Company Persistable Object. I
                    don't believe this is necessary
                    @link https://github.com/ascope/manuals/issues/83-->
                    <select class="selectpicker form-control" id="company-state"
                            ng-model="ctrl.displayData.newCompany.contact.locations.office.state"
                            ng-options='option.code as option.name for option in ctrl.selects.state'
                            as-select>
                    </select>
                </div>
                <div class="form-group col-md-4" show-errors>
                    <label for="company-zip">Zip</label>
            <span class="help-block"
                  validator-message="number"
                  placeholder="{'field': 'Zip code'}">
            </span>
                    <input type="text" id="company-zip"
                           ng-model="ctrl.displayData.newCompany.contact.locations.office.zip"
                           name="company-zip"
                           class="form-control"
                           validator="number"
                           required/>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group" ng-class="{'col-md-4': !appraiser, 'col-md-3': appraiser}" show-errors>
                <label for="company-phone">Phone</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <input type="text" id="company-phone"
                       ng-model="ctrl.displayData.newCompany.contact.phones.primary.number"
                       name="company-phone"
                       class="form-control"
                       required/>
            </div>
            <div class="form-group" ng-class="{'col-md-4': !appraiser, 'col-md-3': appraiser}" show-errors>
                <label for="phone-ext">Ext</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <input type="text" id="phone-ext"
                       ng-model="ctrl.displayData.newCompany.contact.phones.primary.ext"
                       name="phone-ext"
                       class="form-control"/>
            </div>
            <div class="form-group" ng-class="{'col-md-4': !appraiser, 'col-md-3': appraiser}" show-errors>
                <label for="company-fax">Fax</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <input type="text" id="company-fax"
                       ng-model="ctrl.displayData.newCompany.contact.phones.fax"
                       name="company-fax"
                       class="form-control"/>
            </div>
            <div class="form-group col-md-3" show-errors ng-if="appraiser">
                <label for="tax-id">Tax ID</label>
            <span class="help-block"
                  validator-message="required">
            </span>
                <input type="text" id="tax-id"
                       ng-model="ctrl.displayData.newCompany.taxId"
                       name="tax-id"
                       class="form-control"
                       validator="number"
                       required/>
            </div>
        </div>
    </form>
</modal-new>