<tr class="grand-total">
    <td ng-repeat="heading in tableCtrl.heading track by $index"
        ng-class="{'text-uppercase': heading.uc, 'strong': $first}" ng-if="heading.grandTotal !== null || $first">
        {{$first ? 'Grand Total': (tableCtrl.grandTotal[heading.grandTotal])}}
    </td>
</tr>