<tr class="page-total">
    <td ng-repeat="heading in tableCtrl.heading track by $index"
        ng-class="{'text-uppercase': heading.uc}" ng-if="heading.data !== null">
        {{$first ? 'Page Total': (tableCtrl.pageTotal[heading.pageTotal] | asDynamicFilter:heading.filter:null)}}
    </td>
</tr>