<tr class="page-numbers">
    <td>Page</td>
    <td class="text-center">
        <a ng-repeat="page in pageNumbers track by $index"
           ng-class="{active: page === currentPage}" ng-click="pageNumberCtrl.goToPage(page)">{{page}}
        </a>
    </td>
</tr>