<div class="table-responsive">
    <table class="table dashboard-table table-striped" st-table="tableCtrl.tableData" st-safe-src="tableCtrl.rowData"
           id="{{tableId}}">
        <thead>
        <tr>
            <th>
                <!--Conditionally render static or non-static headers (to allow for reordering)-->
                <table-header no-heading="noHeading" table-ctrl="tableCtrl"></table-header>
            </th>
        </tr>
        </thead>
        <!--No grouping-->
        <tr ng-if="!tableCtrl.tableData[0].sortedIdentifier"
            ng-repeat="(key, data) in tableCtrl.tableData | filter:tableCtrl.filterAll track by $index"
            ng-click="tableCtrl.rowFn(data.id)">
            <!--Data columns-->
            <td ng-repeat="heading in ::tableCtrl.heading track by heading.label"
                ng-class="::{'text-uppercase': heading.uc}">
                <table-data heading="heading" data="data" link-fn="tableCtrl.linkFn(id, name)"
                            multi-select="tableCtrl.multiSelect" special-cells="tableCtrl.specialCellsConfig"
                            special="tableCtrl.specialCellsInit" table-inputs="tableCtrl.tableInputs"></table-data>
            </td>
        </tr>
        <!--Group by-->
        <tr ng-if="tableCtrl.tableData[0].sortedIdentifier"
            ng-repeat-start="data in tableCtrl.tableData track by $index">
            <!--No config -- Accounting section only-->
            <td ng-if="!tableCtrl.tableGrouping">
                {{data.sortedIdentifier}}
                <br ng-if="data.company">
                {{data.company}}
                <br>
                {{data.address1}}
                <br>
                {{data.address2}}
            </td>
            <!--With configuration-->
            <td ng-if="tableCtrl.tableGrouping">
                <p ng-repeat="group in tableCtrl.tableGrouping track by $index" ng-class="{'font-bold-table': $first}">
                    {{data[group]}}</p>
            </td>
        </tr>
        <tr ng-repeat-end grouped-data></tr>

        <!--Totals for this page-->
        <tr page-total ng-if="::showTotals"></tr>
        <!--Grand total for complete dataset-->
        <tr grand-total ng-if="::showTotals"></tr>
        <!--Show page numbers-->
        <tr page-numbers ng-if="::!hidePageNumbers" get-requested-page="tableCtrl.getRequestedPage"
            pages="tableCtrl.pages" page="tableCtrl.page"></tr>
    </table>
</div>

