<tr class="text-center" id="testMe">
    <th class="text-center" ng-repeat="heading in headingData track by $index" ng-if="heading.data !== null">
        <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
    </th>
    <th class="text-center" ng-repeat="heading in headingData track by $index" ng-if="heading.data === null">
    </th>
</tr>