<div class="spanning clearfix">

    <div class="auth-divider col-4 dashboard-resp-menu desktop-view">

        <a ui-sref="main.dashboard" class="active">
            <h3>Appraisals</h3>
            <span>General analytics</span>
        </a>

        <a ui-sref="main.dashboard.accounting">
            <h3>Accounting</h3>
            <span>Transaction summary</span>
        </a>

        <a  ui-sref="main.dashboard.activities">
            <h3>Activities</h3>
            <span>Log with all Activities</span>
        </a>

        <a href="">
            <as-button icon="all">
                VIEW ALL
            </as-button>
            <as-button icon="settings"></as-button>
        </a>

    </div>

    <div class="auth-divider col-4 dashboard-resp-menu mobile-view">

        <div class="small-menu dropdown">
            <a ui-sref="main.dashboard" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup">
                <h3>Appraisals</h3>
                <span>General analytics</span>

            </a>
            <ul class="dropdown-menu marg-null" role="menu">
                <li>
                    <a ui-sref="main.dashboard.accounting">
                        <h3>Accounting</h3>
                        <span>Transaction summary</span>
                    </a>
                </li>
                <li>
                    <a  ui-sref="main.dashboard.activities">
                        <h3>Activities</h3>
                        <span>Log with all Activities</span>
                    </a>
                </li>
            </ul>
        </div>

        <a href="">
            <as-button icon="all"></as-button>
            <as-button icon="settings"></as-button>
        </a>

    </div>



    <!--<div class="column-3x column-left">-->
        <div class="column-item dashboard-columns clearfix">

            <!--<div class="title">Appraisals</div>-->

            <div class="graph-list clearfix">

                <div class="graph-line">

                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>ALL OPEN APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>NEW APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-down">
                        <h2>5.094<span><em class="fa fa-angle-down"></em>22%</span></h2>
                        <h3>ASSIGNED</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->

                <!--</div>&lt;!&ndash; /.graph-line &ndash;&gt;-->
                <!--<div class="graph-line">-->

                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>ALL OPEN APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>NEW APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-down">
                        <h2>5.094<span><em class="fa fa-angle-down"></em>22%</span></h2>
                        <h3>ASSIGNED</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->

                <!--</div>&lt;!&ndash; /.graph-line &ndash;&gt;-->
                <!--<div class="graph-line">-->

                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>ALL OPEN APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>NEW APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-down">
                        <h2>5.094<span><em class="fa fa-angle-down"></em>22%</span></h2>
                        <h3>ASSIGNED</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->

                <!--</div>&lt;!&ndash; /.graph-line &ndash;&gt;-->
                <!--<div class="graph-line">-->

                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>ALL OPEN APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>NEW APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-down">
                        <h2>5.094<span><em class="fa fa-angle-down"></em>22%</span></h2>
                        <h3>ASSIGNED</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->

                <!--</div>&lt;!&ndash; /.graph-line &ndash;&gt;-->
                <!--<div class="graph-line">-->

                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>ALL OPEN APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>NEW APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-down">
                        <h2>5.094<span><em class="fa fa-angle-down"></em>22%</span></h2>
                        <h3>ASSIGNED</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->

                <!--</div>&lt;!&ndash; /.graph-line &ndash;&gt;-->
                <!--<div class="graph-line">-->

                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>ALL OPEN APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-up">
                        <h2>5.094<span><em class="fa fa-angle-up"></em>22%</span></h2>
                        <h3>NEW APPRAISALS</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->
                    <div class="graph graph-down">
                        <h2>5.094<span><em class="fa fa-angle-down"></em>22%</span></h2>
                        <h3>ASSIGNED</h3>
                        <span class="line" data-peity='{ "fill": ["#f3fafd"],"width": ["100%"],"stroke": ["#c9e9f8"]}'>5,3,9,6,5,9,7,3,5,2</span>
                    </div><!-- /.graph -->

                </div><!-- /.graph-line -->

            </div><!-- /.graph-list -->

            <div class="tab">

                <div class="tab-menu clearfix">

                    <div class="title title-small">RECENT ORDERS</div>

                    <as-button icon="settings"></as-button>

                    <ul class="tabs">
                        <li class="active">TODAY</li>
                        <li>YESTERDAY</li>
                        <li>WEEK</li>
                    </ul><!-- /.tabs -->


                </div>

                <div class="tabs-list clearfix">
                    <div class="box visible">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <div class="it-box">
                                        <span>Name</span>
                                        <input type="text" class="input-text">
                                    </div><!-- /.it-box -->
                                </th>
                                <th>
                                    <div class="it-box">
                                        <span>Address</span>
                                        <input type="text" class="input-text">
                                    </div><!-- /.it-box -->
                                </th>
                                <th>
                                    <div class="it-box">
                                        <span>Client</span>
                                        <input type="text" class="input-text">
                                    </div><!-- /.it-box -->
                                </th>
                                <th>
                                    <div class="it-box">
                                        <span>Process</span>
                                        <input type="text" class="input-text">
                                    </div><!-- /.it-box -->
                                </th>
                                <th>
                                    <div class="it-box">
                                        <span>Priority</span>
                                        <input type="text" class="input-text">
                                    </div><!-- /.it-box -->
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="#" title="">
                                        <svg width="12px" height="8px">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-67.000000, -736.000000)" fill-opacity="0.25" fill="#000000">
                                                    <g transform="translate(9.000000, 93.000000)">
                                                        <g transform="translate(0.000000, 541.000000)">
                                                            <g transform="translate(0.000000, 44.000000)">
                                                                <g>
                                                                    <g  transform="translate(58.000000, 58.000000)">
                                                                        <path d="M9.187227,7.80398531 C9.09434949,7.92316694 8.94976139,8 8.79278248,8 C8.66409662,8 8.54676532,7.94987835 8.45815228,7.86906143 L8.45815228,7.86906143 C8.39128774,7.84571018 8.32839351,7.8071595 8.27438892,7.7531549 L6.13960316,5.61836915 C5.94805939,5.42682537 5.95678429,5.10754664 6.14633587,4.91799507 C6.34159801,4.72273292 6.65195779,4.71651021 6.84670994,4.91126236 L8.29278248,6.3573349 L8.29278248,0.500435829 C8.29278248,0.224052752 8.52471607,0 8.79278248,0 C9.06892485,0 9.29278248,0.230796814 9.29278248,0.500435829 L9.29278248,6.2928627 L10.6743828,4.91126236 C10.869135,4.71651021 11.1794947,4.72273292 11.3747569,4.91799507 C11.5643085,5.10754664 11.5730334,5.42682537 11.3814896,5.61836915 L9.24670384,7.7531549 C9.22788799,7.77197075 9.20799303,7.78891063 9.187227,7.80398531 Z M3.187227,0.196014692 C3.09434949,0.0768330604 2.94976139,0 2.79278248,0 C2.66409662,0 2.54676532,0.0501216502 2.45815228,0.130938571 L2.45815228,0.130938571 C2.39128774,0.154289824 2.32839351,0.192840501 2.27438892,0.246845098 L0.139603161,2.38163085 C-0.0519406135,2.57317463 -0.0432157061,2.89245336 0.146335868,3.08200493 C0.341598013,3.27726708 0.651957785,3.28348979 0.846709943,3.08873764 L2.29278248,1.6426651 L2.29278248,7.49956417 C2.29278248,7.77594725 2.52471607,8 2.79278248,8 C3.06892485,8 3.29278248,7.76920319 3.29278248,7.49956417 L3.29278248,1.7071373 L4.67438281,3.08873764 C4.86913497,3.28348979 5.17949474,3.27726708 5.37475689,3.08200493 C5.56430846,2.89245336 5.57303337,2.57317463 5.38148959,2.38163085 L3.24670384,0.246845098 C3.22788799,0.228029253 3.20799303,0.211089372 3.187227,0.196014692 L3.187227,0.196014692 Z" id="arrows"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" title="">
                                        <svg width="12px" height="8px">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-67.000000, -736.000000)" fill-opacity="0.25" fill="#000000">
                                                    <g transform="translate(9.000000, 93.000000)">
                                                        <g transform="translate(0.000000, 541.000000)">
                                                            <g transform="translate(0.000000, 44.000000)">
                                                                <g>
                                                                    <g  transform="translate(58.000000, 58.000000)">
                                                                        <path d="M9.187227,7.80398531 C9.09434949,7.92316694 8.94976139,8 8.79278248,8 C8.66409662,8 8.54676532,7.94987835 8.45815228,7.86906143 L8.45815228,7.86906143 C8.39128774,7.84571018 8.32839351,7.8071595 8.27438892,7.7531549 L6.13960316,5.61836915 C5.94805939,5.42682537 5.95678429,5.10754664 6.14633587,4.91799507 C6.34159801,4.72273292 6.65195779,4.71651021 6.84670994,4.91126236 L8.29278248,6.3573349 L8.29278248,0.500435829 C8.29278248,0.224052752 8.52471607,0 8.79278248,0 C9.06892485,0 9.29278248,0.230796814 9.29278248,0.500435829 L9.29278248,6.2928627 L10.6743828,4.91126236 C10.869135,4.71651021 11.1794947,4.72273292 11.3747569,4.91799507 C11.5643085,5.10754664 11.5730334,5.42682537 11.3814896,5.61836915 L9.24670384,7.7531549 C9.22788799,7.77197075 9.20799303,7.78891063 9.187227,7.80398531 Z M3.187227,0.196014692 C3.09434949,0.0768330604 2.94976139,0 2.79278248,0 C2.66409662,0 2.54676532,0.0501216502 2.45815228,0.130938571 L2.45815228,0.130938571 C2.39128774,0.154289824 2.32839351,0.192840501 2.27438892,0.246845098 L0.139603161,2.38163085 C-0.0519406135,2.57317463 -0.0432157061,2.89245336 0.146335868,3.08200493 C0.341598013,3.27726708 0.651957785,3.28348979 0.846709943,3.08873764 L2.29278248,1.6426651 L2.29278248,7.49956417 C2.29278248,7.77594725 2.52471607,8 2.79278248,8 C3.06892485,8 3.29278248,7.76920319 3.29278248,7.49956417 L3.29278248,1.7071373 L4.67438281,3.08873764 C4.86913497,3.28348979 5.17949474,3.27726708 5.37475689,3.08200493 C5.56430846,2.89245336 5.57303337,2.57317463 5.38148959,2.38163085 L3.24670384,0.246845098 C3.22788799,0.228029253 3.20799303,0.211089372 3.187227,0.196014692 L3.187227,0.196014692 Z" id="arrows"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" title="">
                                        <svg width="12px" height="8px">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-67.000000, -736.000000)" fill-opacity="0.25" fill="#000000">
                                                    <g transform="translate(9.000000, 93.000000)">
                                                        <g transform="translate(0.000000, 541.000000)">
                                                            <g transform="translate(0.000000, 44.000000)">
                                                                <g>
                                                                    <g  transform="translate(58.000000, 58.000000)">
                                                                        <path d="M9.187227,7.80398531 C9.09434949,7.92316694 8.94976139,8 8.79278248,8 C8.66409662,8 8.54676532,7.94987835 8.45815228,7.86906143 L8.45815228,7.86906143 C8.39128774,7.84571018 8.32839351,7.8071595 8.27438892,7.7531549 L6.13960316,5.61836915 C5.94805939,5.42682537 5.95678429,5.10754664 6.14633587,4.91799507 C6.34159801,4.72273292 6.65195779,4.71651021 6.84670994,4.91126236 L8.29278248,6.3573349 L8.29278248,0.500435829 C8.29278248,0.224052752 8.52471607,0 8.79278248,0 C9.06892485,0 9.29278248,0.230796814 9.29278248,0.500435829 L9.29278248,6.2928627 L10.6743828,4.91126236 C10.869135,4.71651021 11.1794947,4.72273292 11.3747569,4.91799507 C11.5643085,5.10754664 11.5730334,5.42682537 11.3814896,5.61836915 L9.24670384,7.7531549 C9.22788799,7.77197075 9.20799303,7.78891063 9.187227,7.80398531 Z M3.187227,0.196014692 C3.09434949,0.0768330604 2.94976139,0 2.79278248,0 C2.66409662,0 2.54676532,0.0501216502 2.45815228,0.130938571 L2.45815228,0.130938571 C2.39128774,0.154289824 2.32839351,0.192840501 2.27438892,0.246845098 L0.139603161,2.38163085 C-0.0519406135,2.57317463 -0.0432157061,2.89245336 0.146335868,3.08200493 C0.341598013,3.27726708 0.651957785,3.28348979 0.846709943,3.08873764 L2.29278248,1.6426651 L2.29278248,7.49956417 C2.29278248,7.77594725 2.52471607,8 2.79278248,8 C3.06892485,8 3.29278248,7.76920319 3.29278248,7.49956417 L3.29278248,1.7071373 L4.67438281,3.08873764 C4.86913497,3.28348979 5.17949474,3.27726708 5.37475689,3.08200493 C5.56430846,2.89245336 5.57303337,2.57317463 5.38148959,2.38163085 L3.24670384,0.246845098 C3.22788799,0.228029253 3.20799303,0.211089372 3.187227,0.196014692 L3.187227,0.196014692 Z" id="arrows"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" title="">
                                        <svg width="12px" height="8px">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-67.000000, -736.000000)" fill-opacity="0.25" fill="#000000">
                                                    <g transform="translate(9.000000, 93.000000)">
                                                        <g transform="translate(0.000000, 541.000000)">
                                                            <g transform="translate(0.000000, 44.000000)">
                                                                <g>
                                                                    <g  transform="translate(58.000000, 58.000000)">
                                                                        <path d="M9.187227,7.80398531 C9.09434949,7.92316694 8.94976139,8 8.79278248,8 C8.66409662,8 8.54676532,7.94987835 8.45815228,7.86906143 L8.45815228,7.86906143 C8.39128774,7.84571018 8.32839351,7.8071595 8.27438892,7.7531549 L6.13960316,5.61836915 C5.94805939,5.42682537 5.95678429,5.10754664 6.14633587,4.91799507 C6.34159801,4.72273292 6.65195779,4.71651021 6.84670994,4.91126236 L8.29278248,6.3573349 L8.29278248,0.500435829 C8.29278248,0.224052752 8.52471607,0 8.79278248,0 C9.06892485,0 9.29278248,0.230796814 9.29278248,0.500435829 L9.29278248,6.2928627 L10.6743828,4.91126236 C10.869135,4.71651021 11.1794947,4.72273292 11.3747569,4.91799507 C11.5643085,5.10754664 11.5730334,5.42682537 11.3814896,5.61836915 L9.24670384,7.7531549 C9.22788799,7.77197075 9.20799303,7.78891063 9.187227,7.80398531 Z M3.187227,0.196014692 C3.09434949,0.0768330604 2.94976139,0 2.79278248,0 C2.66409662,0 2.54676532,0.0501216502 2.45815228,0.130938571 L2.45815228,0.130938571 C2.39128774,0.154289824 2.32839351,0.192840501 2.27438892,0.246845098 L0.139603161,2.38163085 C-0.0519406135,2.57317463 -0.0432157061,2.89245336 0.146335868,3.08200493 C0.341598013,3.27726708 0.651957785,3.28348979 0.846709943,3.08873764 L2.29278248,1.6426651 L2.29278248,7.49956417 C2.29278248,7.77594725 2.52471607,8 2.79278248,8 C3.06892485,8 3.29278248,7.76920319 3.29278248,7.49956417 L3.29278248,1.7071373 L4.67438281,3.08873764 C4.86913497,3.28348979 5.17949474,3.27726708 5.37475689,3.08200493 C5.56430846,2.89245336 5.57303337,2.57317463 5.38148959,2.38163085 L3.24670384,0.246845098 C3.22788799,0.228029253 3.20799303,0.211089372 3.187227,0.196014692 L3.187227,0.196014692 Z" id="arrows"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" title="">
                                        <svg width="12px" height="8px">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-67.000000, -736.000000)" fill-opacity="0.25" fill="#000000">
                                                    <g transform="translate(9.000000, 93.000000)">
                                                        <g transform="translate(0.000000, 541.000000)">
                                                            <g transform="translate(0.000000, 44.000000)">
                                                                <g>
                                                                    <g  transform="translate(58.000000, 58.000000)">
                                                                        <path d="M9.187227,7.80398531 C9.09434949,7.92316694 8.94976139,8 8.79278248,8 C8.66409662,8 8.54676532,7.94987835 8.45815228,7.86906143 L8.45815228,7.86906143 C8.39128774,7.84571018 8.32839351,7.8071595 8.27438892,7.7531549 L6.13960316,5.61836915 C5.94805939,5.42682537 5.95678429,5.10754664 6.14633587,4.91799507 C6.34159801,4.72273292 6.65195779,4.71651021 6.84670994,4.91126236 L8.29278248,6.3573349 L8.29278248,0.500435829 C8.29278248,0.224052752 8.52471607,0 8.79278248,0 C9.06892485,0 9.29278248,0.230796814 9.29278248,0.500435829 L9.29278248,6.2928627 L10.6743828,4.91126236 C10.869135,4.71651021 11.1794947,4.72273292 11.3747569,4.91799507 C11.5643085,5.10754664 11.5730334,5.42682537 11.3814896,5.61836915 L9.24670384,7.7531549 C9.22788799,7.77197075 9.20799303,7.78891063 9.187227,7.80398531 Z M3.187227,0.196014692 C3.09434949,0.0768330604 2.94976139,0 2.79278248,0 C2.66409662,0 2.54676532,0.0501216502 2.45815228,0.130938571 L2.45815228,0.130938571 C2.39128774,0.154289824 2.32839351,0.192840501 2.27438892,0.246845098 L0.139603161,2.38163085 C-0.0519406135,2.57317463 -0.0432157061,2.89245336 0.146335868,3.08200493 C0.341598013,3.27726708 0.651957785,3.28348979 0.846709943,3.08873764 L2.29278248,1.6426651 L2.29278248,7.49956417 C2.29278248,7.77594725 2.52471607,8 2.79278248,8 C3.06892485,8 3.29278248,7.76920319 3.29278248,7.49956417 L3.29278248,1.7071373 L4.67438281,3.08873764 C4.86913497,3.28348979 5.17949474,3.27726708 5.37475689,3.08200493 C5.56430846,2.89245336 5.57303337,2.57317463 5.38148959,2.38163085 L3.24670384,0.246845098 C3.22788799,0.228029253 3.20799303,0.211089372 3.187227,0.196014692 L3.187227,0.196014692 Z" id="arrows"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Justin Davis</td>
                                <td>80 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>Accepted</td>
                                <td>Important</td>
                            </tr>
                            <tr>
                                <td>Megan Barnes</td>
                                <td>237 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>On Hold</td>
                                <td>Minor</td>
                            </tr>
                            <tr>
                                <td>Justin Davis</td>
                                <td>80 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>Accepted</td>
                                <td>Important</td>
                            </tr>
                            <tr>
                                <td>Megan Barnes</td>
                                <td>237 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>On Hold</td>
                                <td>Minor</td>
                            </tr>
                            <tr>
                                <td>Justin Davis</td>
                                <td>80 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>Accepted</td>
                                <td>Important</td>
                            </tr>
                            <tr>
                                <td>Megan Barnes</td>
                                <td>237 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>On Hold</td>
                                <td>Minor</td>
                            </tr>
                            <tr>
                                <td>Justin Davis</td>
                                <td>80 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>Accepted</td>
                                <td>Important</td>
                            </tr>
                            <tr>
                                <td>Megan Barnes</td>
                                <td>237 Delancey St New York, NY 10002</td>
                                <td>Ace Bank</td>
                                <td>On Hold</td>
                                <td>Minor</td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="paginator">
                            <a href="#" title="" class="first-page">First</a>
                            <a href="#" title="" class="prev-page">Prev</a>
									<span class="pages">
										<span class="current">1</span>
										<a href="#">2</a>
										<a href="#">3</a>
										<span class="etc">...</span>
										<a href="#">78</a>
										<a href="#">79</a>
									</span><!-- /.pages -->
                            <a href="#" title="" class="next-page">Next</a>
                            <a href="#" title="" class="last-page">Last</a>
                        </div><!-- /.paginator -->
                    </div><!-- /.box -->
                </div><!-- /.tabs-list -->

            </div><!-- /.tab -->

        </div><!-- /.column-item -->

    <!--</div>&lt;!&ndash; /.column-3x &ndash;&gt;-->

</div>
