<div class="spanning clearfix">

    <div class="auth-divider col-4 dashboard-resp-menu desktop-view">

        <a ui-sref="main.dashboard">
            <h3>Appraisals</h3>
            <span>General analytics</span>
        </a>

        <a ui-sref="main.dashboard.accounting" class="active">
            <h3>Accounting</h3>
            <span>Transaction summary</span>
        </a>

        <a  ui-sref="main.dashboard.activities">
            <h3>Activities</h3>
            <span>Log with all Activities</span>
        </a>

        <a href="">
            <as-button icon="all">
                VIEW ALL
            </as-button>
            <as-button icon="settings"></as-button>
        </a>

    </div>

    <div class="auth-divider col-4 dashboard-resp-menu mobile-view">

        <div class="small-menu dropdown">
            <a ui-sref="main.dashboard.accounting" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup">
                <h3>Accounting</h3>
                <span>Transaction summary</span>
            </a>
            <ul class="dropdown-menu marg-null" role="menu">
                <li>
                    <a ui-sref="main.dashboard">
                        <h3>Appraisals</h3>
                        <span>General analytics</span>
                    </a>
                </li>
                <li>
                    <a  ui-sref="main.dashboard.activities">
                        <h3>Activities</h3>
                        <span>Log with all Activities</span>
                    </a>
                </li>
            </ul>
        </div>

        <a href="">
            <as-button icon="all"></as-button>
            <as-button icon="settings"></as-button>
        </a>

    </div>

    <!--<div class="column-3x column-right">-->

        <div class="column-item clearfix">
            <div class="title">Activities</div>
            <as-button icon="settings"></as-button>
            <as-button icon="user">
                VIEW ALL
            </as-button>
            <div class="activities-list">
                <div class="month clearfix">
                    <span>NOVEMBER 2014</span>
                    <p>7 TOTAL</p>
                </div><!-- /.month -->
                <div class="al-box clearfix">
                    <h2><a href="#">Jerry Fisher</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-admin">ADMIN</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Stephen Salazar</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-client">CLIENT</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Bruce Garza</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-staff">STAFF</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Jerry Fisher</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-admin">ADMIN</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Stephen Salazar</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-client">CLIENT</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Bruce Garza</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-staff">STAFF</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Bruce Garza</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-staff">STAFF</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="month clearfix">
                    <span>SEPTEMBER 2014</span>
                    <p>7 TOTAL</p>
                </div><!-- /.month -->
                <div class="al-box clearfix">
                    <h2><a href="#">Jerry Fisher</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-admin">ADMIN</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Stephen Salazar</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-client">CLIENT</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Bruce Garza</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-staff">STAFF</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Jerry Fisher</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-admin">ADMIN</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Stephen Salazar</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-client">CLIENT</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Bruce Garza</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-staff">STAFF</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="al-box clearfix">
                    <h2><a href="#">Bruce Garza</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-staff">STAFF</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
                <div class="month clearfix">
                    <span>august 2014</span>
                    <p>1 TOTAL</p>
                </div><!-- /.month -->
                <div class="al-box clearfix">
                    <h2><a href="#">Jerry Fisher</a></h2>
                    <span class="date">11/25/2014 11:22 AM</span>
                    <span class="status status-admin">ADMIN</span>
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do.</p>
                </div><!-- /.al-box -->
            </div><!-- /.activities-list -->
        </div><!-- /.column-item -->

    <!--</div>&lt;!&ndash; /.column-3x &ndash;&gt;-->

</div>
