<modal-new modal-id="client-permission"
           submit-button="clientPermissionCtrl.submitClientPermissions()"
           modal-title="Set Report Permission for Client"
           modal-class="notification-window"
           modal-width="70%">
  <table class="table dashboard-table">
    <thead>
      <tr>
        <th class="text-center">
          <label>Sr #</label>
        </th>

        <th class="text-center">
          <label>Name</label>
        </th>

        <th class="text-center">
          <label>User Levels</label>
        </th>
      </tr>
    </thead>

    <tr class="text-center">
      <th class="text-center"></th>
      <th class="text-center">
        <a href="#">
          <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
        </a>
      </th>
      <th class="text-center"></th>
    </tr>

    <tr ng-repeat="client in clientPermissionCtrl.safeData.clientPermissionTableData track by $index">
      <td class="text-center">
        {{$index + 1}}
      </td>
      <td class="text-left">
        {{client.name}}
      </td>
      <td>
        <label class="checkbox-inline"
               ng-repeat="user in clientPermissionCtrl.userLevels track by user.id">
          {{user.nameAs}}
          <input type="checkbox"
                 class="form-control"
                 ng-model="client.userLevels[user.id]"
                 ng-change="clientPermissionCtrl.updateClientPermissionState(client.id)"
                 checkable />
        </label>
      </td>
    </tr>

  </table>

  <nav class="text-center">
    <ul class="pagination">
      <li>
        <a aria-label="First">
          <span aria-hidden="true">First</span>
        </a>
      </li>
      <li>
        <a aria-label="Previous">
          <span aria-hidden="true">Prev</span>
        </a>
      </li>
      <li ng-repeat="pageNo in clientPermissionCtrl.totalPages track by $index"
          ng-class="clientPermissionCtrl.pageButtonClass($index + 1)">
        <a ng-click="clientPermissionCtrl.getPage($index + 1)">{{$index + 1}}</a>
      </li>
      <li>
        <a aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
      <li>
        <a aria-label="Last">
          <span aria-hidden="true">Last</span>
        </a>
      </li>
    </ul>
  </nav>
</modal-new>