<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Add User</h4>
                    </div>
                </div>
            </div>
            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <!--New user info-->
                <div class="form-group col-md-12">
                    <div class="col-md-2 form-group">
                        <label for="branches">Branch</label>
                        <select class="selectpicker form-control" id="branches"
                                ng-model="addUserCtrl.displayData.selectedBranch"
                                ng-options='option.id as option.name for option in addUserCtrl.displayData.branches'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10 form-group">
                        <div class="text-left list-inline as-button-pad-top">
                            <as-button click="addUserCtrl.newBranchConfirmation()" icon="company">New Branch</as-button>
                            <as-button click="addUserCtrl.newUserConfirmation(true)"
                                       disabled="addUserCtrl.buttonDisabled('branchSelected')" icon="plus">
                                Add {{appraiser ? 'manager' : 'user'}} to Branch
                            </as-button>
                            <as-button ng-if="appraiser"
                                       click="addUserCtrl.newUserConfirmation(false)"
                                       disabled="addUserCtrl.buttonDisabled('branchSelected')">
                                Add appraiser to branch
                            </as-button>
                            <as-button click="addUserCtrl.branchSettings()" ng-hide="appraiser"
                                       disabled="addUserCtrl.buttonDisabled('branchSelected')" icon="settings">
                                Branch Settings
                            </as-button>
                            <as-button click="addUserCtrl.deleteBranchConfirmation()"
                                       disabled="addUserCtrl.buttonDisabled('branchSelected')" icon="close">
                                Delete Branch
                            </as-button>
                            <as-button click="addUserCtrl.disableBranch()" ng-show="addUserCtrl.displayData.selectedBranch"
                                       disabled="addUserCtrl.buttonDisabled('branchSelected')" icon="cancel">
                                {{addUserCtrl.branchEnabled()}} Branch
                            </as-button>
                        </div>
                    </div>
                    <!--Second row of buttons-->
                    <div class="col-md-2"></div>
                    <div class="col-md-10 form-group" ng-hide="appraiser">
                        <div class="text-left as-button-pad-top">
                            <as-button click="addUserCtrl.sendLoginConfirmation()"
                                       disabled="addUserCtrl.singleBranchButtonDisabled()" icon="upload">
                                Send Login Information to Selected Users
                            </as-button>
                            <as-button click="addUserCtrl.massUpdateUsers()"
                                       disabled="addUserCtrl.singleBranchButtonDisabled()" icon="apply">
                                Update Selected Users
                            </as-button>
                        </div>
                    </div>
                </div>
                <!--Table-->
                <div class="clearfix col-md-12" id="add-users-table">

                </div>
            </form>
        </div>
    </div>
    <!--User permissions-->
    <admin-users-user-permissions></admin-users-user-permissions>
    <!--User settings-->
    <admin-users-user-settings-summary></admin-users-user-settings-summary>
    <!--Delete user confirmation-->
    <modal-new submit-button="addUserCtrl.deleteUser()" modal-id="delete-user-confirm"
               modal-title="Are you sure you want to delete the selected user?"></modal-new>
    <!--Delete user failure-->
    <info-modal modal-id="delete-user-failure" modal-title="Failed to delete user"></info-modal>
    <!--New branch-->
    <modal-new submit-button="addUserCtrl.newBranch()" modal-id="new-branch-confirm"
               modal-title="Add new branch" disabled="addUserCtrl.formSubmitDisabled('newBranch')">
        <form enctype="multipart/form-data" role="form" name="addUserCtrl.newBranchForm">
            <div class="col-md-12">
                <!--Name-->
                <div class="form-group col-md-12" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newBranchName">Branch Name</label>
                    <input type="text" class="form-control" name="newBranchName" id="newBranchName"
                           ng-model="addUserCtrl.displayData.newBranch.name" required>
                </div>
            </div>
            <div class="col-md-12" ng-if="!appraiser">
                <!--Address 1-->
                <div class="col-md-6 form-group" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newBranchAddress1">Address</label>
                    <input type="text" class="form-control" id="newBranchAddress1" name="newBranchAddress1"
                           ng-model="addUserCtrl.displayData.newBranch.location.address1" required>
                </div>
                <!--Address 2-->
                <div class="col-md-6 form-group">
                    <label for="newBranchAddress2">Address 2</label>
                    <input type="text" class="form-control" id="newBranchAddress2" name="newBranchAddress2"
                           ng-model="addUserCtrl.displayData.newBranch.location.address2">
                </div>
            </div>
            <div class="col-md-12" ng-if="!appraiser">
                <!--State-->
                <div class="col-md-4 form-group" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newBranchState">State</label>
                    <select class="selectpicker form-control" id="newBranchState"
                            name="newBranchState"
                            ng-model="addUserCtrl.displayData.newBranch.location.state"
                            ng-options='option.code as option.name for option in addUserCtrl.displayData.states'
                            as-select required>
                    </select>
                </div>
                <!--City-->
                <div class="col-md-4 form-group" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newBranchCity">City</label>
                    <input type="text" class="form-control" id="newBranchCity" name="newBranchCity"
                           ng-model="addUserCtrl.displayData.newBranch.location.city" required>
                </div>
                <!--Zip-->
                <div class="col-md-4 form-group" show-errors>
                    <span class="help-block" validator-message="zip"></span>
                    <label for="newBranchZip">Zip</label>
                    <input type="text" class="form-control" id="newBranchZip" name="newBranchZip" validator="zip"
                           ng-model="addUserCtrl.displayData.newBranch.location.zip" required>
                </div>
            </div>
        </form>
    </modal-new>
    <!--New branch failure-->
    <info-modal modal-id="new-branch-failure" modal-title="Failed to create new branch"></info-modal>
    <!--New user-->
    <modal-new submit-button="addUserCtrl.newUser()" modal-id="new-user-confirmation"
               modal-title="Add new {{addUserCtrl.addUserText}} to branch" disabled="addUserCtrl.formSubmitDisabled('newUser')">
        <form enctype="multipart/form-data" role="form" name="addUserCtrl.newUserForm" as-submit>
            <!-- New appraiser (non-manager) only -->
            <div class="col-md-12" ng-if="appraiser && !manager">
                <div class="col-md-6 form-group">
                    <label for="newUserLicenseNumber">License Number</label>
                    <input type="text" class="form-control" id="newUserLicenseNumber" name="newUserLicenseNumber"
                           ng-model="addUserCtrl.displayData.newUserData.license">
                </div>
                <div class="col-md-6 form-group">
                    <label for="newUserYearsLicensed">Years Licensed</label>
                    <input type="text" class="form-control" id="newUserYearsLicensed" name="newUserYearsLicensed"
                           ng-model="addUserCtrl.displayData.newUserData.certification.yearsLicensed">
                </div>
            </div>
            <div class="clearfix col-md-12">
                <!--First name-->
                <div class="form-group"
                     ng-class="{'col-md-4': appraiser && !manager, 'col-md-6': !(appraiser && !manager)}" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newUserFirstName">First Name</label>
                    <input type="text" class="form-control" name="newUserFirstName" id="newUserFirstName"
                           ng-model="addUserCtrl.displayData.newUserData.firstName" required>
                </div>
                <!--Last name-->
                <div class="form-group"
                     ng-class="{'col-md-4': appraiser && !manager, 'col-md-6': !(appraiser && !manager)}" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newUserLastName">Last Name</label>
                    <input type="text" class="form-control" name="newUserLastName" id="newUserLastName"
                           ng-model="addUserCtrl.displayData.newUserData.lastName" required>
                </div>
                <!-- Email (appraiser search only) -->
                <div class="form-group col-md-4" show-errors ng-if="appraiser && !manager">
                    <span class="help-block" validator-message="required"></span>
                    <label for="newUserEmail">Email</label>
                    <input type="text" class="form-control" name="newUserEmail" id="newUserEmail" validator="email"
                           ng-model="addUserCtrl.displayData.newUserData.email" required>
                </div>
            </div>
            <!-- Company (displayed only for new appraisers) -->
            <div class="col-md-12" ng-if="appraiser && !manager">
                <div class="col-md-12 form-group">
                    <label for="newUserCompany">Company</label>
                    <input type="text" class="form-control" id="newUserCompany" name="newUserCompany"
                           ng-model="addUserCtrl.displayData.newUserData.company" disabled="disabled">
                </div>
            </div>
            <!-- Address (displayed only for new appraisers) -->
            <div class="col-md-12" ng-if="appraiser && !manager">
                <div class="col-md-6 form-group">
                    <label for="newUserAddress">Address</label>
                    <input type="text" class="form-control" id="newUserAddress" name="newUserAddress"
                           ng-model="addUserCtrl.displayData.newUserData.address1" disabled="disabled">
                </div>
                <div class="col-md-6 form-group">
                    <label for="newUserAdditionalAddress">Additional Address</label>
                    <input type="text" class="form-control" id="newUserAdditionalAddress" name="newUserAdditionalAddress"
                           ng-model="addUserCtrl.displayData.newUserData.address2" disabled="disabled">
                </div>
            </div>
            <div class="clearfix col-md-12">
                <!--Phone-->
                <div class="form-group"
                     ng-class="{'col-md-4': !(appraiser && !manager), 'col-md-6': appraiser && !manager}" show-errors>
                    <span class="help-block" validator-message="phone"></span>
                    <label for="newUserPhone">Phone Number</label>
                    <input type="text" class="form-control" name="newUserPhone" id="newUserPhone" validator="phone"
                           ng-model="addUserCtrl.displayData.newUserData.phones.primary.number" required
                           ng-disabled="appraiser && !manager">
                </div>
                <!--Phone ext-->
                <div class="form-group" ng-class="{'col-md-4': !(appraiser && !manager), 'col-md-6': appraiser && !manager}">
                    <label for="newUserExt">Ext</label>
                    <input type="text" class="form-control" name="newUserExt" id="newUserExt"
                           ng-model="addUserCtrl.displayData.newUserData.phones.primary.ext"
                           ng-disabled="appraiser && !manager">
                </div>
                <!--Email-->
                <div class="form-group col-md-4" show-errors ng-if="!(appraiser && !manager)">
                    <span class="help-block" validator-message="email"></span>
                    <label for="newUserEmail">Email</label>
                    <input type="text" class="form-control" name="newUserEmail" id="newUserEmail" validator="email"
                           ng-model="addUserCtrl.displayData.newUserData.email" required>
                </div>
            </div>
            <div class="clearfix col-md-12 divider col-4" ng-if="!(appraiser && !manager)">
                <!--Username-->
                <div class="form-group col-md-4" ng-class="{'col-md-6': appraiser}" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="newUserUsername">Username</label>
                    <input type="text" class="form-control" name="newUserUsername" id="newUserUsername"
                           ng-model="addUserCtrl.displayData.newUserData.username" required>
                </div>
                <!--Password-->
                <div class="form-group col-md-4" ng-class="{'col-md-6': appraiser}" show-errors>
                    <span class="help-block" validator-message="password"></span>
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password" id="password" validator="password"
                           ng-model="addUserCtrl.displayData.newUserData.password" required>
                </div>
                <!--User Type-->
                <div class="form-group col-md-4" show-errors ng-if="!appraiser">
                    <span class="help-block" validator-message="required"></span>
                    <label for="password">User Type</label>
                    <select class="selectpicker form-control" id="userTypes"
                            ng-model="addUserCtrl.displayData.newUserData.role"
                            name="userType"
                            ng-options='option.id as option.type for option in addUserCtrl.displayData.userTypes'
                            as-select required>
                    </select>
                </div>
                <!--Password temporary-->
                <div class="col-md-12 form-group" ng-if="!appraiser">
                    <span class="help-block" validator-message="required"></span>
                    <label for="newUserTempPassword">Temporary password?</label>
                    <select class="selectpicker form-control" id="newUserTempPassword"
                            ng-model="addUserCtrl.displayData.newUserData.isTemporaryPassword"
                            ng-options='option.id as option.value for option in addUserCtrl.displayData.yesNoDropdown'
                            as-select required>
                    </select>
                </div>
            </div>
            <!--Notify employee-->
            <div class="col-md-12 form-group" ng-if="!appraiser">
                <span class="help-block" validator-message="required"></span>
                <label for="notifyUser">Notify user when created</label>
                <select class="selectpicker form-control" id="notifyUser"
                        ng-model="addUserCtrl.displayData.newUserData.notifyEmployee"
                        ng-options='option.id as option.value for option in addUserCtrl.displayData.yesNoDropdown'
                        as-select required>
                </select>
            </div>
            <!--Notify appraiser-->
            <div class="col-md-12 form-group" ng-if="appraiser && !manager">
                <div class="col-md-6">
                    <span class="help-block" validator-message="required"></span>
                    <label for="notifyUser">Notify appraiser when created</label>
                    <select class="selectpicker form-control" id="notifyUser"
                            ng-model="addUserCtrl.displayData.newUserData.notifyAppraiser"
                            ng-options='option.id as option.value for option in addUserCtrl.displayData.yesNoDropdown'
                            as-select required>
                    </select>
                </div>
                <div class="col-md-6">
                    <span class="help-block" validator-message="required"></span>
                    <label for="appraiserIsManager">Appraiser is manager</label>
                    <select class="selectpicker form-control" id="appraiserIsManager"
                            ng-model="addUserCtrl.displayData.newUserData.isManager"
                            ng-options='option.id as option.value for option in addUserCtrl.displayData.yesNoDropdown'
                            as-select required>
                    </select>
                </div>
            </div>
            <!--Notify manager-->
            <div class="col-md-12 form-group" ng-if="appraiser && manager">
                <span class="help-block" validator-message="required"></span>
                <label for="notifyUser">Notify manager when created</label>
                <select class="selectpicker form-control" id="notifyUser"
                        ng-model="addUserCtrl.displayData.newUserData.notifyManager"
                        ng-options='option.id as option.value for option in addUserCtrl.displayData.yesNoDropdown'
                        as-select required>
                </select>
            </div>
        </form>
    </modal-new>
    <!--New branch failure-->
    <info-modal modal-id="new-branch-failure" modal-title="Failed to create branch"></info-modal>
    <!--New user failure-->
    <info-modal modal-id="new-user-failure" modal-title="Failed to create user"></info-modal>
    <!--Delete branch confirmation-->
    <modal-new submit-button="addUserCtrl.deleteBranch()" modal-id="delete-branch-confirmation"
               modal-title="Are you sure you want to delete the selected branch?"></modal-new>
    <!--Disable branch failure-->
    <info-modal modal-id="disable-branch-failure" modal-title="Unable to {{addUserCtrl.branchEnabled()}} Branch"></info-modal>
    <!--Branch settings failure-->
    <info-modal modal-id="branch-settings-failure" modal-title="Unable to display branch settings"></info-modal>
    <!--Branch Details-->
    <info-modal ng-if="addUserCtrl.displayBranchSettings" modal-id="branch-settings" modal-title="Branch Settings"
                button-text="Close" modal-width="100%" modal-height="max" modal-class="notification-window">
        <admin-users-branch-settings></admin-users-branch-settings>
    </info-modal>
    <!--User mass update-->
    <info-modal ng-if="addUserCtrl.displayUserMassUpdate" modal-id="user-mass-update" modal-title="Mass Update User Settings"
                button-text="Close" modal-width="100%" modal-height="max" modal-class="notification-window">
        <mass-update-users></mass-update-users>
    </info-modal>
    <!--Send Login information-->
    <modal-new submit-button="addUserCtrl.sendLogin()" modal-id="send-login-confirmation"
               modal-title="Send login information to selected users?">
    </modal-new>
    <!--Send login success-->
    <info-modal modal-id="send-login-success" modal-title="Login information sent"></info-modal>
    <!--Send login failure-->
    <info-modal modal-id="send-login-failure" modal-title="Failed to send login information"></info-modal>
</div>
