<div ng-if="sgState.globalSearch" class="globalSearch">
  <input sg-search="{{selectedPredicate}}" placeholder="Global Search" class="input-sm form-control" type="text"/>
  <select ng-model="selectedPredicate" ng-options="filterCol.name as filterCol.nameAs || filterCol.name for filterCol in sgState.columns"></select>
</div>
<div class="table-responsive record-number-prefix">
  <table class="table dashboard-table">
    <thead>
    <tr as-report-dnd="sgState.dnd"
        as-dnd-list="sgState.columns">
      <th ng-if="sgState.autoIncreaseFirstColumn" style="width:1%;" class="dnd-disabled">
        <div class="form-group">
          <label >&nbsp;</label>
          <div class=""> No.</div>
        </div>
      </th>
      <th class="modifier" ng-repeat="(index, col) in sgState.columns" data-original-index="{{::index}}">
        <div class="form-group" ng-class="{'dnd-enabled' : sgState.dnd}">
          <label>&nbsp;</label>
          <div ng-if="!col.filter">{{col.nameAs || col.name }}</div>
          <input class="form-control dnd-disabled" ng-if="col.filter" sg-search="{{col.name}}" placeholder="{{col.nameAs || col.name }}" type="text" />
        </div>
      </th>
    </tr>

    <tr>
      <th ng-if="sgState.autoIncreaseFirstColumn"></th>
      <th ng-repeat="col in sgState.columns" class="text-center table-header">
        <div class="col-lg-1 col-sm-1 col-xs-1 pad-null"></div>
        <div class="col-lg-10 col-sm-10 col-xs-10">
          <div ng-if="col.sort !== false"
               sg-sort="{{col.name}}">
            <img  src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
          </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1 pad-null" sg-menu="col"></div>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr class="grouper-line-spacer no-hover-change"
        ng-repeat-start="(key,row) in sgTable track by $index"
        ng-if="isNewGroupStart(key,row)"><td colspan="{{getColSpan()}}">&nbsp;</td></tr>

    <tr class="no-hover-change" id="{{ row._groupByClass || ''}}"
        ng-if="isNewGroupStart(key,row)">
      <td class="grouper-group-title" colspan="{{getColSpan()}}">
        <span class="grouper-state {{groupStateDefault}}"
              ng-click="collapseGroup($event)"></span><span class="grouper-title">{{row._groupBy}}</span>
      </td>
    </tr>

    <tr class="{{row._groupByClass || ''}}"
        ng-class="{'sg-selected': row.isSelected}"
        ng-click="selectRow($event,row)"
        ng-dblclick="selectAllRows($event,row)">

      <td ng-if="sgState.autoIncreaseFirstColumn">{{key+1}}</td>
      <td ng-repeat="col in sgState.columns">
        <span ng-if="col.cellTemplate" sg-cell-template="{{col.cellTemplate}}"></span>
        <span ng-if="!col.cellTemplate">{{row[col.name]}}</span>
      </td>
    </tr>

    <tr class="no-hover-change"
        ng-if="hasAggregators.average && isNewGroupEnd(key,row)">
      <td class="pad-null"
          ng-repeat="average in aggregators['average'][row._groupByClass]">
        <span class="aggregator-name"
              ng-if="average.sum >= 0">{{average.nameAs + ':'}}
        </span> {{average.sum}}
      </td>
    </tr>
    <tr class="no-hover-change"
        ng-repeat-end
        ng-if="hasAggregators.total && isNewGroupEnd(key,row)">
      <td class="grouper-group-aggregator pad-null"
          ng-repeat="total in aggregators['total'][row._groupByClass]">
        <span class="aggregator-name"
              ng-if="total.sum >= 0">{{total.nameAs + ':'}}
        </span> {{total.sum}}
      </td>
    </tr>


    <tr class="grouper-line-spacer"><td colspan="{{getColSpan()}}">&nbsp;</td></tr>

    <tr class="no-hover-change"
        ng-if="hasAggregators.average">
      <td class="pad-null" ng-repeat="average in aggregators['average']['grandTotal']">
        <span class="aggregator-name"
              ng-if="average.sum >= 0">Grand {{average.nameAs + ':'}}
        </span> {{average.sum}}
      </td>
    </tr>

    <tr class="no-hover-change"
        ng-repeat-end
        ng-if="hasAggregators.total">
      <td class="grouper-group-aggregator pad-null"
          ng-repeat="total in aggregators['total']['grandTotal']">
        <span class="aggregator-name"
              ng-if="total.sum >= 0">Grand {{total.nameAs + ':'}}
        </span> {{total.sum}}
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if="sgState.pagination" class="text-center" sg-pagination="" sg-number-of-pages="sgNumberOfPages" sg-per-page="perPage"></div>
</div>