<div class="text-center menu-open-button"
     ng-click="openMenu()"
     ng-class="{'open' : isOpened}">
</div>

<ul class="menu" ng-class="{'open' : isOpened}">
  <li ng-repeat-start="(key, menuOption) in menuOptions" ng-class="{'isChecked' : isChecked(key, menuOption)}">
    <a class="col-lg-12 col-sm-12 col-xs-12" ng-click="menuSelect(key, menuOption)">
      <div class="col-lg-1 col-sm-1 col-xs-1 pad-null option-menu {{getIconClassName(key, menuOption)}}"></div>
      <div class="col-lg-9 col-sm-9 col-xs-9 pad-null">{{ menuOption.nameAs || menuOption.name }}</div>
    </a>
    <div class="clear"></div>
  </li>

  <li class="menu-specific-option" ng-repeat-end ng-if="hasSpecificTemplate(key, menuOption)" sg-menu-specific-option="{{key}}"></li>
</ul>