<!-- Select Paid Status -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffProfileAddPaidStatusCtrl.addPaidStatusModal()" icon="apply" >Add Paid Status</as-button>
</div>
<modal-new modal-id="admin-rule-profile-add-paid-status" submit-button="adminStaffProfileAddPaidStatusCtrl.addPaidStatusToRuleProfile()" modal-title="Add Paid Status" class="staff-modal" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Paid Status</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="stuff-profile-paid-status-table"
                ng-controller="AdminStaffPaidStatusCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">
      </as-table>
    </div>
  </div>
</modal-new>
