<!--Left pane-->
<div class="col-el-3 col-ml-3 pad-null visible-el visible-ml visible-xs pad-null">
    <div class="dashboard-sidebar">
        <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
            <!--Sidebar Form-->
            <form enctype="multipart/form-data" role="form">
                <div class="divider col-12 clearfix">
                    <div class="form-group col-md-12">
                        <h4 class="text-uppercase text-center">Quickbooks Settings</h4>
                    </div>
                </div>
                <div class="divider col-6">
                    <div class="form-group col-md-12">
                        <label for="incomeAmount">Income Amount</label>
                        <input type="text" class="form-control" id="incomeAmount"
                               ng-model="tableCtrl.qbSettings.incomeAmount"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="costGoodsSold">Cost of Goods Sold Account</label>
                        <input type="text" class="form-control" id="costGoodsSold"
                               ng-model="tableCtrl.qbSettings.costGoodsSold"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="accountsReceivable">Accounts Receivable</label>
                        <input type="text" class="form-control" id="accountsReceivable"
                               ng-model="tableCtrl.qbSettings.accountsReceivable"/>
                    </div>
                    <div class="col-el-12 col-ml-12 pad-null">
                        <div class="dashboard-sidebar" >
                            <div class="overlay-area">
                                <div class="wrapper-one">
                                    <ul class="list-inline clear marg-null pad-null">
                                        <li>
                                            <div>Sync Method</div>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default overlay-simple-btn"
                                                    ng-class="{active: tableCtrl.qbSettings.syncMethod === 'invoice'}"
                                                    ng-click="tableCtrl.changeSyncMethod('invoice')">
                                                <span>Invoice</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default overlay-simple-btn"
                                                    ng-class="{active: tableCtrl.qbSettings.syncMethod === 'payment'}"
                                                    ng-click="tableCtrl.changeSyncMethod('payment')">
                                                <span>Payment</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="syncInvoice">Sync Invoice</label>
                        <select class="selectpicker form-control" id="syncInvoice"
                                ng-model="tableCtrl.qbSettings.syncInvoice"
                                ng-options='option.value as option.value for option in tableCtrl.selects.syncInvoice'
                                as-select>
                            <option>Jessica</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="syncCcPayments">Sync CC Payments</label>
                        <select class="selectpicker form-control" id="syncCcPayments"
                                ng-model="tableCtrl.qbSettings.syncCcPayments"
                                ng-options='option.value as option.value for option in tableCtrl.selects.syncCcPayments'
                                as-select>
                            <option>Jessica</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="syncCheckPayments">Sync Check Payments</label>
                        <select class="selectpicker form-control" id="syncCheckPayments"
                                ng-model="tableCtrl.qbSettings.syncCheckPayments"
                                ng-options='option.value as option.value for option in tableCtrl.selects.syncCheckPayments'
                                as-select>
                            <option>Jessica</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="syncAppraiserChecks">Sync Appraiser Checks from QB (Automatically, Every Night)</label>
                        <select class="selectpicker form-control" id="syncAppraiserChecks"
                                ng-model="tableCtrl.qbSettings.syncAppraiserChecks"
                                ng-options='option.value as option.value for option in tableCtrl.selects.syncAppraiserChecks'
                                as-select>
                            <option>Jessica</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="sync1099">Sync 1099 for Vendors in QB</label>
                        <select class="selectpicker form-control" id="sync1099"
                                ng-model="tableCtrl.qbSettings.sync1099"
                                ng-options='option.value as option.value for option in tableCtrl.selects.sync1099'
                                as-select>
                            <option>Jessica</option>
                        </select>
                    </div>
                    <div class="divider-break"></div>
                    <div class="col-md-12 text-center pad-null marg-null">
                            <as-button class="green-theme" click="tableCtrl.saveQbSettings()" icon="apply">Save</as-button>
                            <as-button click="tableCtrl.clear()" icon="cancel">Clear</as-button>
                    </div>
                    <div class="divider col-12 clearfix">
                        <div class="form-group col-md-12">
                            <h4 class="text-uppercase text-center">Quickbooks Sync</h4>
                        </div>
                        <div class="col-md-12 text-center pad-null marg-null">
                              <as-button click="tableCtrl.syncToQb('appraisers')" icon="upload">Sync Appraisers & Appraiser Companies</as-button>
                        </div>
                        <div class="col-md-12 text-center pad-null marg-null">
                                <as-button click="tableCtrl.syncToQb('appraisals')" icon="upload">Sync Appraisals with Quickbooks</as-button>
                        </div>
                        <div class="col-md-12 text-center pad-null marg-null">
                                <as-button click="tableCtrl.syncToQb('companies')" icon="upload">Sync Client Companies</as-button>
                        </div>
                        <div class="col-md-12 text-center pad-null marg-null">
                                <as-button click="tableCtrl.syncToQb('checks')" icon="upload">Manually Sync Appraiser Checks from Quickbooks</as-button>
                        </div>
                    </div>
                </div>
            </form>
            <!--END-->
        </div>
    </div>
</div>

<!--Right pane-->
<div class="col-lg-9 col-el-9 pad-null">
    <!--Grouping-->
    <div class="col-el-12 col-ml-12 pad-null">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                <!--Sidebar Form-->
                <form enctype="multipart/form-data" role="form">
                    <div class="row divider">
                        <br>
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-2">
                                <label for="requestStatus">Request Status</label>
                                <select class="selectpicker form-control" id="requestStatus"
                                        ng-model="tableCtrl.requestStatus"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.requestStatus'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="requestAction">Request Action</label>
                                <select class="selectpicker form-control" id="requestAction"
                                        ng-model="tableCtrl.requestAction"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.requestAction'
                                        as-select>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <!--END-->
            </div>
        </div>
        <div class="dashboard-search">
            <filter-all></filter-all>
        </div>
    </div>
    <!--Define table, as well as additional, non-data columns-->
    <as-table totals="false" infinite-scroll="false"></as-table>
</div>

<info-modal modal-id="qb-sync-success" modal-title="Syncing to Quickbooks. This process may take a few minutes to complete."></info-modal>
<info-modal modal-id="qb-sync-failure" modal-title="Failed to sync to Quickbooks"></info-modal>
<info-modal modal-id="qb-save-success" modal-title="Saved updated Quickbooks settings"></info-modal>
<info-modal modal-id="qb-save-failure" modal-title="Failed to save updated Quickbooks settings"></info-modal>
<!--Init headroom-->
<!--<as-headroom headroom-selectors=".admin-accounting-tabs"></as-headroom>-->
