<!-- Select Job Type -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffProfileAddJobTypeCtrl.addJobTypeModal()" icon="apply" >Add JobType</as-button>
</div>
<modal-new modal-id="admin-rule-profile-add-job-type" modal-title="Add Job Type" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Job Type</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffProfileAddJobTypeCtrl.addJobTypesToRuleProfile()" bold-columns="2" table-id="stuff-profile-job-type-table"
                ng-controller="AdminStaffJobTypeCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
