<div class="text-center authentication-header">
  <img class="authentication-header-logo" src="/assets/images/icons/logo.svg" alt="">
</div>

<div class="authentication-layout clearfix">

  <div class="authentication-welcome-header clearfix">
    <span>Welcome</span>
  </div>

  <ul class="radio-tabs clearfix">
    <li ng-repeat="tab in tabs"
        class="radio-tab"
        ng-class="{last: $last === true, 'radio-tab-selected': tab === activeTab}">
      <a href="" ng-click="selectTab(tab)"><span>{{tab.label}}</span></a>
    </li>
  </ul>

  <div class="authentication-ui-view clearfix" ui-view></div>

</div>

<footer class="authentication-footer">

  <div copyright>Copyright © 2014 Appraisal Scope Inc. All rights reserved.</div>
  <div terms-policy>
      <strong>Terms of Use</strong> | <strong>Privacy Policy </strong>
  </div>

</footer>
