<modal visible="show" size="large">
  <div >

  </div>
  <form class="overlay-form" enctype="multipart/form-data" role="form">
    <div class="modal-body clearfix">
      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 ng-transclude></h4>
        </div>
      </div>
      <!--Buttons-->
      <div class="divider col-12 ">
        <div class="form-group col-md-12">
          <div class="text-uppercase text-center">
            <as-button data-dismiss="modal" click="onConfirm()" icon="apply" class="green-theme">Yes</as-button>
            <as-button data-dismiss="modal" click="onCancel()" icon="cancel">No</as-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</modal>
