<!-- Select Process Status -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffProfileAddStatusCtrl.addProcessStatusModal()" icon="apply" >Add Status</as-button>
</div>
<modal-new modal-id="admin-rule-profile-add-status" modal-title="Add Status" submit-button="adminStaffProfileAddStatusCtrl.addProcessStatusToRuleProfile()" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Status</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="stuff-profile-status-table"
                ng-controller="AdminStaffStatusCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">
      </as-table>
    </div>
  </div>
</modal-new>
