<div class="base-body" ng-if="renderPage">
  <!--Header Area-->
  <nav class="nav-header normal-view">

    <div class="nav-logo-section">
      <a href="#" title=""></a>
    </div>

    <div class="nav-profile-section dropdown">
      <div class="nav-separator"></div>
      <div class="nav-toggle-arrows">&nbsp</div>
      <h2>Appraisal Scope</h2>

      <h3>Show All Staff</h3>
      <a href="#" title="" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup"></a>

      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>

    </div>

    <div class="nav-notifications-section">
      <div class="nav-separator"></div>
      <a href="#" title="">
        <img ng-src="/assets/images/icons/notification.svg" width="21" height="23"
             alt=""/>
        <span class="nav-header-counter">247</span>
      </a>
    </div>

    <div class="nav-messages-section">
      <div class="nav-separator"></div>
      <a href="#" title="">
        <img ng-src="/assets/images/icons/messages.svg" width="25" height="23"
             alt=""/>
        <span class="nav-header-counter">89</span>
      </a>
    </div>

    <div class="nav-tabs-section desktop-view">
      <ul>
        <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" ng-style="{width: tabWidth}">
          <a ui-sref="{{tab.link}}" ng-click="setSelectedTab(tab)" ng-class="top-menu-btn">
            <span><img ng-src="{{tab.icon}}" alt=""/></span>
            <span class="nav-tabs-section-label">{{tab.label}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-tabs-section dropdown tablet-view">
        <ul>
            <li>
                <a href="#"  class="top-menu-btn dropdown-toggle open-popup" data-toggle="dropdown" aria-expanded="false">
                    <div class="dashed">&#176;&#176;&#176;</div>
                    <span class="menu-title">Menu</span>
                </a>
                <ul role="menu">
                    <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" ng-style="{width: tabWidth}">
                        <a ui-sref="{{tab.link}}" ng-click="setSelectedTab(tab)">
                            <span><img ng-src="{{tab.icon}}" alt=""/></span>
                            <span class="nav-tabs-section-label">{{tab.label}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="nav-user-section dropdown">

      <div class="nav-user-section-thumb">
        <img src="../../../assets/images/thumb.jpg" height="40" width="40" title="thumb" alt="thumb">
      </div>
      <span class="nav-toggle-arrows">&nbsp;</span>

      <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>

      <h3> {{currentUser.isOnVacation? 'On Vacation': 'Active';}}</h3>

      <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup"></a>

      <ul class="dropdown-menu marg-null" role="menu">
        <li><a ui-sref="auth.sign-out">Sign Out</a></li>
      </ul>

    </div>

  </nav>

  <nav class="nav-header mobile-view">

      <div class="nav-logo-section">
          <a href="#" title=""></a>
      </div>

      <div class="nav-profile-section dropdown">
          <div class="nav-separator"></div>
          <div class="nav-toggle-arrows">&nbsp</div>
          <h2>Appraisal Scope</h2>

          <h3>Show All Staff</h3>
          <a href="#" title="" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup"></a>

          <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
          </ul>

      </div>

      <div class="nav-tabs-section tablet-view">
          <ul>
              <li>
                  <a href="#"  class="top-menu-btn open-popup" ng-click="mobileMenuShow()">
                      <div class="dashed">&#176;&#176;&#176;</div>
                      <span class="menu-title">Menu</span>
                  </a>
              </li>
          </ul>
      </div>

  </nav>

  <div class="menu-mobile-view modal" ng-show="mobileMenu">

      <a href="#" class="close-btn" ng-click="mobileMenuShow()"></a>

      <div class="first blockline">

          <div class="nav-logo-section">
              <a href="#" title=""></a>
          </div>

          <div class="nav-profile-section dropdown">
              <div class="nav-separator"></div>
              <div class="nav-toggle-arrows">&nbsp</div>
              <h2>Appraisal Scope</h2>

              <h3>Show All Staff</h3>
              <a href="#" title="" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup"></a>

              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
              </ul>

          </div>

      </div>

      <div class="second blockline">

          <div class="nav-notifications-section">
              <div class="nav-separator"></div>
              <a href="#" title="">
                  <img ng-src="/assets/images/icons/notification.svg" width="21" height="23"
                       alt=""/>
                  <span class="nav-header-counter">247</span>
              </a>
          </div>

          <div class="nav-messages-section">
              <div class="nav-separator"></div>
              <a href="#" title="">
                  <img ng-src="/assets/images/icons/messages.svg" width="25" height="23"
                       alt=""/>
                  <span class="nav-header-counter">89</span>
              </a>
          </div>

      </div>

      <div class="third blockline">

          <div class="nav-tabs-section">
              <ul>
                  <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" ng-style="{width: tabWidth}">
                      <a ui-sref="{{tab.link}}" ng-click="setSelectedTab(tab)" ng-class="top-menu-btn">
                          <span><img ng-src="{{tab.icon}}" alt=""/></span>
                          <span class="nav-tabs-section-label">{{tab.label}}</span>
                      </a>
                  </li>
              </ul>
          </div>

      </div>

      <div class="fourth blockline">

          <div class="nav-user-section dropdown">

              <div class="nav-user-section-thumb">
                  <img src="../../../assets/images/thumb.jpg" height="40" width="40" title="thumb" alt="thumb">
              </div>
              <span class="nav-toggle-arrows">&nbsp;</span>

              <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>

              <h3> {{currentUser.isOnVacation? 'On Vacation': 'Active';}}</h3>

              <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle open-popup"></a>

              <ul class="dropdown-menu marg-null" role="menu">
                  <li><a ui-sref="auth.sign-out">Sign Out</a></li>
              </ul>

          </div>

      </div>

  </div>

  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="appraisal-overlay notification-window" ng-if="currentUser.type >=3">
    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-hidden="true" style="">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body clearfix">

            <h4 class="text-uppercase text-center title">CONFIRMATION</h4>

            <div class="wrapper-titles">
              <ul class="list-unstyled col-md-12">
                <li class="col-md-4"><a href="#">Today's <br>
                  Reminder</a></li>
                <li class="col-md-4"><a href="#">Date <br>
                  Range</a></li>
              </ul>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="dlinks col-12 text-center clear">
              <div class="form-group">
                <ul class="list-inline clear">
                  <li ng-class="{'current': status != true}"><a href="#">ALL REMINDERS</a></li>
                  <li><a href="#">OWN REMINDERS</a></li>
                  <li><a href="#">OTHER STAFF REMINDERS</a></li>
                  <li ng-class="{'current': status == true}"><a href="#" ng-click="status = true;">Change Status</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="dashboard-search" ng-if="status != true">
              <!-- Left Area-->
              <div class="col-lg-8 col-sm-6 step-1">
                <div class="pull-left"><a href="#"><img width="23" height="23" alt=""
                                                        src="/assets/images/icons/as-button/btn-search.svg"></a></div>
                <div class="col-md-12 col-xs-12">
                  <input type="text" placeholder="Search for any kind of details">
                </div>
              </div>
              <!--Right Area-->
              <div class="col-lg-4 col-sm-6 step-2 col-xs-12 text-right">
                <as-button icon="settings" type="submit"></as-button>
              </div>
            </div>
            <!--Table Area-->
            <div class="clearfix"></div>
            <div data-pattern="priority-columns" class="table-responsive" ng-if="status != true">
              <form>
                <table class="table dashboard-table">
                  <thead>
                  <tr>
                    <th>
                      <div class="form-group ">
                        <label for="notification-number">&nbsp;</label>
                        <input type="text" placeholder="Number" id="notification-number" class="form-control">
                      </div>
                    </th>
                    <th>
                      <div class="form-group">
                        <label for="notification-title">&nbsp;</label>
                        <input type="text" placeholder="Title" id="notification-title" class="form-control">
                      </div>
                    </th>
                    <th>
                      <div class="form-group">
                        <label for="notification-discription">&nbsp;</label>
                        <input type="text" placeholder="Discription" class="form-control" id="notification-discription">
                      </div>
                    </th>
                    <th class="active">
                      <div class="form-group">
                        <label for="notification-file-number">File Number</label>
                        <input type="text" placeholder="Acope20" id="notification-file-number" class="form-control">
                      </div>
                    </th>
                    <th>
                      <div class="form-group">
                        <label for="notification-remindto">&nbsp;</label>
                        <input type="text" placeholder="Remind to" id="notification-remindto" class="form-control">
                      </div>
                    </th>
                    <th>
                      <div class="form-group">
                        <label for="notification-remindon">&nbsp;</label>
                        <input type="text" placeholder="Reminder On" id="notification-remindon" class="form-control">
                      </div>
                    </th>
                    <th>
                      <div class="form-group">
                        <label for="notification-creatoron">&nbsp;</label>
                        <input type="text" placeholder="Created On" id="notification-creatoron" class="form-control">
                      </div>
                    </th>
                    <th>
                      <div class="form-group">
                        <label for="notification-createdby">&nbsp;</label>
                        <input type="text" placeholder="Created By" id="notification-createdby" class="form-control">
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center">
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                    <th class="text-center"><a href="#"><img alt="" class="svg-small"
                                                             src="../../../assets/images/icons/arrows.svg"></a></th>
                  </tr>
                  <tr>
                    <td>257</td>
                    <td>Check all details</td>
                    <td class="discripton-width">Order was marked as special care. please call on 12/02 for sheduling
                      update.
                    </td>
                    <td><strong>Acope20141029</strong></td>
                    <td>Creator Only</td>
                    <td>12/04/2014&nbsp;01:46:13&nbsp;pm</td>
                    <td>12/04/2014&nbsp;01:46:13&nbsp;pm</td>
                    <td>Michel Freeman</td>
                  </tr>
                  </tbody>
                </table>
              </form>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <div class="text-center">
                <as-button icon="close" data-dismiss="modal">Close</as-button>
              </div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </div>
            <div ng-if="status == true">
              <div class="dlinks col-12 text-center clear">
              </div>
              <div data-pattern="priority-columns" class="table-responsive">
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <div class="text-center">
                  <div class="form-group">
                    <p ng-if="!currentUser.isOnVacation">
                      Do you want to change your status to On Vacation? If enabled you will not receive new orders until
                      your status is changed back to Active.
                    </p>

                    <p ng-if="currentUser.isOnVacation">
                      Do you want to change your status to Active?
                    </p>
                  </div>
                  <as-button icon="close" data-dismiss="modal">Close</as-button>
                  <as-button data-dismiss="modal"
                             ng-click="changeUserVocation()"
                             icon="apply" class="green-theme">Confirm</as-button>
                </div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END-->

  <div class="clearfix"></div>

  <div class="base-view-port" base-view-port-height="" ui-view=""></div>

  <footer class="footer">

    <div class="container text-center">

      <span>Copyright © 2014 Appraisal Scope Inc. All rights reserved.</span>
      <span class="clearfix">
        <strong>Terms of Use I Privacy Policy </strong>
      </span>

    </div>

  </footer>

</div>
