<div class="order-actions-panel">
  <a href="" class="other-ico" accept-action="" title="Assign">
    <img ng-src="/assets/images/icons/as-button/btn-check.svg" alt="" />
  </a>

  <a href="" confirm-click="" ng-confirm-message="Do you want to remove the message from the queue?" class="other-ico" title="Delete">
    <img ng-src="/assets/images/icons/as-button/btn-close.svg" alt="" />
  </a>
</div>
