
  {{::appraisal.index}}

  <a href="" ng-if="::appraisal.specialCare" class="star-ico other-ico tooltips">
    <img ng-src="/assets/images/star.png" alt="" />
    <div class="tooltip-info">
        <span><i>Special Care:</i>{{::appraisal.specialCare}}</span>
    </div>
  </a>

  <a href="" ng-if="::appraisal.hasPriority" class="bell-ico other-ico tooltips">
    <img ng-src="/assets/images/bell.png" alt="" />
    <div class="tooltip-info">
      <span><i>Priority</i></span>
    </div>
  </a>
