<span ng-if="::!appraisal.message">
  {{::appraisal.status.value}}
</span>

<span ng-if="::appraisal.message">
  <a href="" class="star-ico other-ico left-ico tooltips">
    <img ng-src="/assets/images/star.png" alt="" />
    <div class="tooltip-info">
      <span><i>{{::appraisal.message.createdAt | asdatetime}}</i>{{::appraisal.message.text}}</span>
    </div>
  </a>
  Message from {{::appraisal.message.sender.type}}
</span>
