<info-modal modal-id="approved-dnu-lists" modal-title="Approved/DNU Lists" button-text="Cancel">
    <form enctype="multipart/form-data" role="form">
        <div class="col-md-12">
            <div class="divider col-6">
                <!--Approved list-->
                <div class="col-md-6 form-group">
                    <div class="divider col-12 clearfix">
                        <div class="col-md-12">
                            <h4 class="text-uppercase text-center">Approved List</h4>
                        </div>
                    </div>
                    <as-table totals="false" hide-page-numbers="true" table-id="approved-list-table"
                              ng-controller="AdminUsersAppraiserApprovedListsCtrl as tableCtrl" bold-columns="1,2,3"
                              infinite-scroll="false" overflow-x="hidden"></as-table>
                </div>
                <!--DNU List-->
                <div class="col-md-6 form-group">
                    <div class="divider col-12 clearfix">
                        <div class="col-md-12">
                            <h4 class="text-uppercase text-center">Do not use list</h4>
                        </div>
                    </div>
                    <as-table totals="false" hide-page-numbers="true" table-id="dnu-list-table"
                              ng-controller="AdminUsersAppraiserDnuListsCtrl as tableCtrl" bold-columns="1,2,3"
                              infinite-scroll="false" overflow-x="hidden"></as-table>
                </div>
            </div>
        </div>
    </form>
</info-modal>