<modal-new modal-id="alerts" submit-button="" modal-title="Manage Email Alerts"
           modal-class="notification-window" modal-width="810px">

  <div class="row">
    <div class="col-md-2" align="right">Select Existing Alert</div>
    <div class="col-md-3">
      <select class="selectpicker form-control"
              ng-model="alertsCtrl.chosenAlert"
              ng-change="alertsCtrl.changeAlert()"
              ng-options='option.name for option in alertsCtrl.selectAlert'
              as-select>
      </select>
    </div>
    <div class="col-md-1">- OR -
    </div>
    <div class="col-md-2">Add New Alert</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Please specify alert name" ng-model="alertsCtrl.alertName"/>
    </div>
    <div class="col-md-1 pull-left">
      <button class="btn btn-default" type="submit" ng-click="alertsCtrl.addNewAlert()">Add</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" align="right">Generate On</div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" ng-model="alertsCtrl.alertDate" name="alertDate"
               placeholder="Generate On"
               datetimepicker/>
      <span class="input-group-btn">
      <span class="btn btn-default">
      <i class="fa fa-calendar"></i>
      </span>
      </span>
      </p>
    </div>
    <div class="col-md-2">» AND/OR</div>
    <div class="col-md-5"></div>
  </div>

  <div class="row">
    <div class="col-md-2 " align="right">Generate Every</div>
    <div class="col-md-2">
      <select class="selectpicker form-control"
              ng-model="alertsCtrl.monthDate"
              ng-options='option for option in alertsCtrl.selectedAlert.generatedOnDayOfMonth'
              as-select>
      </select>
    </div>
    <div class="col-md-4"> of Each Month</div>
    <div class="col-md-2">» AND/OR</div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2 " align="right">Generate Every</div>
    <div class="col-md-10 form-group">
      <label ng-repeat="item in alertsCtrl.selectedAlert.generatedOnDayOfWeek">
        <input class="form-control" type="checkbox" value="item.value" ng-model="item.value" checkable/> {{item.name}}&nbsp;&nbsp;&nbsp;
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 " align="right">Time</div>
    <div class="col-md-2">
      <select class="selectpicker form-control"
              ng-model="alertsCtrl.cmbHour"
              ng-options='option for option in alertsCtrl.selectedAlert.generatedOnTime'
              as-select>
      </select>
    </div>
    <div class="col-md-2">
      <select class="selectpicker form-control"
              ng-model="alertsCtrl.cmbMeridian"
              ng-options='option for option in alertsCtrl.selectedAlert.typeOfTime'
              as-select>
      </select>
    </div>
    <div class="col-md-2">» AND/OR</div>
    <div class="col-md-4"></div>
  </div>

  <div class="row" align="center" style="padding: 5px">
    <button class="btn btn-default" type="submit" ng-click="alertsCtrl.addAlertTimings()">Add Alert Timings</button>
  </div>

  <div class="row">
    <as-table totals="false" hide-page-numbers="true" table-id="list-reports-alerts-table"
              bold-columns="3" infinite-scroll="false" overflow-x="hidden"
              ng-controller="AdminReportsListReportsAlertsCtrl as tableCtrl"></as-table>
  </div>

  <div class="row">
    <div class="col-md-4" align="left">Comma separated list of email addresses to send report to</div>
    <div class="col-md-8">
      <textarea ng-model="alertsCtrl.emailType" rows="5" class="form-control"></textarea>
    </div>
  </div>

  <div class="row" align="center" style="padding: 5px">
    <button class="btn btn-default" type="submit">Delete Selected Alert</button>
  </div>

</modal-new>

