<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Notes</h4>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <div class="form-group col-md-12 text-left">
                        <as-button click="notesCtrl.showNewNote()" icon="plus">New note</as-button>
                </div>
                <div class="col-md-12 form-group">
                    <as-table totals="false" hide-page-numbers="true" table-id="notes-table"
                              ng-controller="AdminUsersNotesTableCtrl as tableCtrl" bold-columns="1,2"
                              infinite-scroll="false" overflow-x="hidden" no-heading="true"></as-table>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Create new note-->
<modal-new modal-id="edit-note" submit-button="notesCtrl.submitNote()" modal-title="{{notesCtrl.displayData.noteContentTitle}}">
    <form enctype="multipart/form-data" role="form">
        <div class="col-md-12 form-group">
            <textarea ckeditor="editorOptions" ng-model="notesCtrl.displayData.text" ckeditor-modal></textarea>
        </div>
    </form>
</modal-new>
<!--Edit note failure-->
<info-modal modal-id="edit-note-failure" modal-title="Failed to edit note" button-text="OK">
</info-modal>
<!--New note success-->
<info-modal modal-id="new-note-success" modal-title="Note created" button-text="OK">
</info-modal>
<!--New note failure-->
<info-modal modal-id="new-note-failure" modal-title="Failed to create note" button-text="OK">
</info-modal>
<!--Failed to update data-->
<info-modal modal-id="update-data-failed" modal-title="Failed to update note" button-text="OK">
</info-modal>
<!--Confirm delete note-->
<modal-new modal-id="delete-note-confirm" submit-button="notesCtrl.deleteNote()" modal-title="Delete note?">
</modal-new>
<!--Delete note failure-->
<info-modal modal-id="delete-note-failure" modal-title="Failed to delete note" button-text="OK">
</info-modal>
