<div class="{{modalClass}}">
    <div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="overlay-form" enctype="multipart/form-data" role="form">
                    <div class="modal-body clearfix">
                        <div class="divider col-12 clearfix">
                            <div class="form-group col-md-12">
                                <h4 class="text-uppercase text-center">{{modalTitle}}</h4>
                            </div>
                        </div>
                        <ng-transclude></ng-transclude>
                        <!--Buttons-->
                        <div class="divider col-12 ">
                            <div class="form-group col-md-12">
                                <div class="text-uppercase text-center">
                                  <as-button icon="close" click="closeModal()">{{buttonText || 'OK'}}</as-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
