<div ng-controller="AdminStaffCtrl as base">
  <div class="appraisal-menu dashboard-menu">

    <div class="dashboard-menu tab-pane" id="app_menu" role="tabpanel">
      <ul class="list-unstyled marg-null">
        <li class="col-xs-6"
            ng-class="base.tabClass(tab)"
            ng-repeat="tab in base.tabs"
            ui-sref="{{tab.link}}"
            ng-click="base.setSelectedTab(tab)">

          <a href="#">
            <h3>&nbsp;</h3>

            <div>{{tab.label}}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="clearfix"></div>
  <div ui-view></div>
</div>
