<!--Dashboard For XS EL ML Sidebar-->
<div class="col-el-4 col-ml-5 pad-null visible-el  visible-ml visible-xs" >
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
            <!--Actual content-->
            <admin-users-details-content></admin-users-details-content>
        </div>
    </div>
</div>