<!--Dashboard for medium sized screens-->
<div class="hidden-xs hidden-ml hidden-el">
    <button class="btn btn-info sidebar-btn" type="button" ng-click="toggleSidebar()">Open Sidebar</button>
    <div class="sidebar col-lg-6 pad-null hidden-el" ng-show="sidebarOpen">
        <button class="btn btn-info sidebarbtn-close" type="button" ng-click="toggleSidebar()">Close Sidebar</button>
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                <!--Actual content-->
                <admin-users-details-content></admin-users-details-content>
            </div>
        </div>
    </div>
</div>