<div>
    <!--Branch Details-->
    <div class="col-md-12 pad-null" ng-if="ctrl.displayData.type === 'branch'">
        <div class="dashboard-sidebar">
            <div class="page-wrapper col-md-12">
                <div class="divider clearfix">
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-uppercase text-center">Branch Details</h4>
                        </div>
                    </div>
                </div>
                <!--Branch details-->
                <div class="col-md-12">
                    <form enctype="multipart/form-data" role="form">
                        <!--Branch name-->
                        <div class="clearfix divider col-12 form-group">
                            <div class="form-group col-md-12">
                                <label for="branchName">Branch Name</label>
                                <input type="text" class="form-control" id="branchName" ng-model="ctrl.displayData.branch.name">
                            </div>
                        </div>
                        <!--Address-->
                        <div class="clearfix divider col-6 form-group">
                            <div class="form-group col-md-6">
                                <label for="branchAddress">Address </label>
                                <input type="text" class="form-control" id="branchAddress"
                                       ng-model="ctrl.displayData.branch.location.address1">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="branchAddress2">Address 2</label>
                                <input type="text" class="form-control" id="branchAddress2"
                                       ng-model="ctrl.displayData.branch.location.address2">
                            </div>
                        </div>
                        <div class="clearfix divider col-4 form-group">
                            <div class="form-group col-md-4">
                                <label for="branchCity">City</label>
                                <input type="text" class="form-control" id="branchCity" ng-model="ctrl.displayData.branch.location.city">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="branchState">State</label>
                                <select class="selectpicker form-control" id="branchState"
                                        ng-model="ctrl.displayData.branch.location.state"
                                        ng-options='option.code as option.name for option in ctrl.displayData.states'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="branchZip">Zip</label>
                                <input type="text" class="form-control" id="branchZip" ng-model="ctrl.displayData.branch.location.zip">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Mass update users-->
    <div class="col-md-12 pad-null" ng-if="ctrl.displayData.type === 'mass-user'">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12">
                <div class="divider clearfix">
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-uppercase text-center">Mass update company name and address</h4>
                        </div>
                    </div>
                </div>
                <!--Details-->
                <div class="col-md-12">
                    <form enctype="multipart/form-data" role="form">
                        <!--Company-->
                        <div class="clearfix divider col-12 form-group">
                            <div class="form-group col-md-12" show-errors>
                                <span class="help-block"
                                      validator-message="required">
                                </span>
                                <label for="massCompanyName">Company Name</label>
                                <input type="text" class="form-control" id="massCompanyName" name="massCompanyName"
                                       ng-model="ctrl.displayData.details.companyName" required>
                            </div>
                        </div>
                        <!--Address-->
                        <div class="clearfix divider col-6 form-group">
                            <div class="form-group col-md-6" show-errors>
                                <span class="help-block"
                                      validator-message="required">
                                </span>
                                <label for="massAddress">Address </label>
                                <input type="text" class="form-control" id="massAddress" name="massAddress"
                                       ng-model="ctrl.displayData.details.location.address1" required>
                            </div>
                            <div class="form-group col-md-6" show-errors>
                                <span class="help-block"
                                      validator-message="required">
                                </span>
                                <label for="massAddress2">Address 2</label>
                                <input type="text" class="form-control" id="massAddress2" name="massAddress2"
                                       ng-model="ctrl.displayData.details.location.address2">
                            </div>
                        </div>
                        <!--City state zip-->
                        <div class="clearfix divider col-4 form-group">
                            <div class="form-group col-md-4" show-errors>
                                <span class="help-block"
                                      validator-message="required">
                                </span>
                                <label for="massCity">City</label>
                                <input type="text" class="form-control" id="massCity" name="massCity"
                                       ng-model="ctrl.displayData.details.location.city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="massState">State</label>
                                <select class="selectpicker form-control" id="massState"
                                        ng-model="ctrl.displayData.details.location.state"
                                        ng-options='option.code as option.name for option in ctrl.displayData.states'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-4" show-errors>
                                <span class="help-block"
                                      validator-message="number">
                                </span>
                                <label for="massZip">Zip</label>
                                <input type="text" class="form-control" id="massZip" name="massZip"
                                       ng-model="ctrl.displayData.details.location.zip">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Update failure-->
        <info-modal modal-id="update-mass-users-failure" modal-title="Failed to mass update selected users" button-text="Cancel">
        </info-modal>
    </div>
</div>
