<div ng-show="signUpCtrl.dataLoaded" ng-controller="AuthClientSignUpCtrl as signUpCtrl">

  <div class="authentication-form-header">
    <span>Account Information</span>
  </div>

    <form name="frm" class="client-sign-up-form form" as-submit="signUpCtrl.save()">

    <!-- Account Infromation -->
    <div class="form-row">

      <div form-group="company-name" show-errors>
        <span validation-control></span>
        <label control-label>Company Name</label>
        <input type="text" name="user_company_name"
               form-control
               ng-model="signUpCtrl.client.user_company_name"
               placeholder="Company Name"
               required>
      </div>

      <div form-group="email" class="last" show-errors>
        <span validation-control></span>
        <label control-label>Email Address</label>
        <input type="email" name="email"
               form-control
               ng-model="signUpCtrl.client.email"
               placeholder="Email Address"
               required>
      </div>

    </div>

    <div class="form-row">

      <div form-group="account-type" show-errors class="select-wrapp">
        <span validation-control></span>
        <label control-label>Account Type</label>
        <select
            as-select
            name="user_account_type_id"
            form-control
            ng-model="signUpCtrl.client.user_account_type_id"
            ng-options="type.id as type.name for type in signUpCtrl.accountTypes.data"
            ng-init="signUpCtrl.client.user_account_type_id = 1"
            required>

        </select>
      </div>

      <div form-group="amount-of-orders" class="last" show-errors>
          <span validation-control></span>
          <label control-label>Estimated number of orders per month</label>
          <input type="text" name="eo_amount"
                 form-control
                 ng-model="signUpCtrl.client.eo_amount"
                 validator="amount"
                 placeholder="Estimated Amount of Orders a Month">
      </div>

    </div>

    <!-- Wholesalers -->
    <div class="form-row textarea" >

      <div form-group="wholesalers" class="last" ng-if="signUpCtrl.client.user_account_type_id == 1" show-errors >
        <span validation-control></span>
        <label control-label>Wholesalers</label>
        <textarea name="wholesalers"
                  form-control
                  rows="4"
                  ng-model="signUpCtrl.client.wholesalers"
                  ng-required="signUpCtrl.client.user_account_type_id == 1"
                  placeholder="Please type the list of your Wholesalers">
        </textarea>
      </div>

    </div>

    <div class="authentication-form-header">
      <span>Contact Information</span>
    </div>

    <div class="form-row" >

      <!-- First Name -->
      <div form-group="first-name" show-errors>
        <span validation-control></span>
        <label control-label>First Name</label>
        <input type="text"
               name="first_name"
               form-control
               ng-model="signUpCtrl.client.first_name"
               placeholder="First Name"
               required />
      </div>

      <!-- Last Name -->
      <div form-group="last-name" class="last" show-errors>
        <span validation-control></span>
        <label control-label>Last Name</label>
        <input type="text"
               name="last_name"
               form-control
               ng-model="signUpCtrl.client.last_name"
               placeholder="Last Name"
               required/>
      </div>

    </div>

    <div class="form-row" >

      <!-- Address -->
      <div form-group="address" show-errors>
        <span validation-control></span>
        <label control-label>Address</label>
        <input type="text"
               name="address1"
               form-control
               ng-model="signUpCtrl.client.address1"
               placeholder="Address"
               required/>
      </div>

      <!-- Additional Address -->
      <div form-group="additional-address" class="last" show-errors>
        <label control-label>Additional Address</label>
        <input type="text"
               name="address2"
               form-control
               placeholder="Additional Address"
               ng-model="signUpCtrl.client.address2" />
      </div>

    </div>

    <div class="form-row-3">

      <!-- City -->
      <div form-group="city" show-errors>
        <span validation-control></span>
        <label control-label>City</label>
        <input type="text"
               name="city"
               form-control
               ng-model="signUpCtrl.client.city"
               validator='city'
               placeholder="City"
               required/>
      </div>

      <!-- ZIP -->
      <div form-group="zip" show-errors show-backend-errors>
        <span validation-control></span>
        <label control-label>ZIP</label>
        <input type="text"
               name="zip"
               form-control
               ng-model="signUpCtrl.client.zip"
               validator="zip"
               placeholder="10002"
               required/>
      </div>

      <!-- State -->
      <div form-group="state" class="last select-wrapp" show-errors>
          <span validation-control></span>
          <label control-label>State</label>
          <select as-select
                  name="state"
                  form-control
                  ng-model="signUpCtrl.client.state"
                  ng-options='state.code as state.name for state in signUpCtrl.states.data'
                  required >
            <option value=''>- Choose -</option>
          </select>
      </div>

    </div>

    <div class="form-row-3">

      <!-- Phone -->
      <div form-group="phone" show-errors>
        <span validation-control></span>
        <label control-label>Phone</label>
        <input type="text"
               name="phone"
               form-control
               ng-model="signUpCtrl.client.phone"
               validator="phone"
               placeholder="917-534-1397"
               required/>
      </div>

      <div form-group="phone-ext">
        <label control-label>&nbsp;</label>
        <input type="text"
               name="phone_ext"
               form-control
               ng-model="signUpCtrl.client.phone_ext"
               placeholder="Ext."/>
      </div>

      <!-- Fax -->
      <div form-group="fax" class="last" show-errors>
          <span validation-control></span>
          <label control-label>Fax</label>
          <input type="text"
                 name="fax"
                 form-control
                 ng-model="signUpCtrl.client.fax"
                 validator="phone"/>
      </div>

    </div>

    <div class="authentication-submit-panel">

      <span class="authentication-submit-center-section">
        <as-button icon="apply" class="green-theme" type="submit">Create an account</as-button>
      </span>

    </div>

  </form>

</div>
