<div class="appraisal-menu admin-users-tabs-container">
    <div class="dashboard-menu" id="admin_users_tabs" role="tabpanel">
        <ul class="list-unstyled marg-null">
            <li ng-class="adminUsersTabsCtrl.tabClass(tab)" class="admin-users-menu"
                ng-repeat="tab in adminUsersTabsCtrl.displayData.tabs track by $index">
                <a ui-sref="main.users({activeTab: tab.tab, recordId: tab.recordId, page: tab.page, details: 'details'})"
                   ng-click="adminUsersTabsCtrl.switchTab()">
                    <h3>{{tab.value}}</h3>
                    <div>{{tab.name}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>
