<div class="divider">
    <div ng-repeat="(key, value) in tabConfig track by $index" class="form-group col-md-{{tabWidth}}"
         ng-class="{active: selectedTab === key}" ng-click="switchTab(key)">
        <label>{{value}}</label>
    </div>
</div>