@import "../variables"
@import "../mixins"

$as-button-color: rgba(0, 0, 0, .5)
$as-button-border-color: rgba(0, 0, 0, 0.25)
$as-button-background-color: rgba(0, 0, 0, 0.01)

$as-button-color-green-theme: rgba(76, 198, 0, 1)
$as-button-border-color-green-theme: $as-button-color-green-theme
$as-button-background-color-green-theme: rgba(76, 198, 0, 0.04)

$as-button-height: 34px
$as-button-bo-label-width: $as-button-height
$as-button-border-width: 1px
$left-icon-offset: 9px
$left-offset-without-icon: 15px
$right-label-offset: 15px
$space-between-buttons: 10px
$icon-height: 16px

.text-left
  .as-button
    margin-left: $space-between-buttons

.text-right
  .as-button
    margin-right: $space-between-buttons

.text-center
  .as-button
    margin-right: $space-between-buttons / 2
    margin-left: $space-between-buttons / 2

.as-button
  color: $as-button-color
  border: 1px solid $as-button-border-color
  background-color: $as-button-background-color

  font-size: 14px
  line-height: $as-button-height
  +border-radius(17px)
  text-transform: uppercase
  height: $as-button-height
  padding: 0 $right-label-offset 0 $left-icon-offset - $as-button-border-width
  margin-bottom: 10px

  &.as-button-no-icon
    padding-left: $left-offset-without-icon - $as-button-border-width

  &.as-button-no-label
    width: $as-button-bo-label-width
    padding: 0
    line-height: normal
    .as-button-icon
      margin: 0
      height: $icon-height

  &.green-theme
    color: $as-button-color-green-theme
    border: 1px solid $as-button-border-color-green-theme
    background-color: $as-button-background-color-green-theme
    .as-button-icon
      svg
        fill: $as-button-border-color-green-theme
        opacity: 1

  &.blue-theme
    color: $color-blue-theme
    border: 1px solid $border-color-blue-theme
    background-color: $background-color-blue-theme
    .as-button-icon
      svg
        fill: $border-color-blue-theme
        opacity: 1

.as-button-icon
  margin: 0 9px 0 0
  display: inline-block
  vertical-align: sub
  svg
    fill: $black-color
    opacity: 0.35

