<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Instructions</h4>
                    </div>
                </div>
            </div>
            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <!--Acceptance Message-->
                <div ng-hide="massUpdate">
                    <div class="col-md-12 form-group">
                        <label for="acceptanceMessage">Acceptance Message</label>
                        <input type="text" class="form-control" id="acceptanceMessage"
                               ng-model="instructionsCtrl.displayData.acceptanceMessage">
                    </div>
                    <!--Company documents-->
                    <div class="col-md-12 text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <h4>Documents</h4>
                        </div>
                        <div class="col-md-2">
                            <div class="text-left pull-right as-button-pad-top">
                                <as-button click="instructionsCtrl.addDocument()" icon="plus">Add Document</as-button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <as-table totals="false" hide-page-numbers="true" table-id="client-documents-table"
                                  ng-controller="AdminUsersClientInstructionsDocumentsCtrl as tableCtrl"
                                  infinite-scroll="false" overflow-x="hidden" bold-columns="1,2,3"
                                  no-empty="true"></as-table>
                    </div>
                    <!--Company instructions-->
                    <div class="col-md-12 text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <h4>Instructions</h4>
                        </div>
                        <div class="col-md-2">
                            <div class="text-left pull-right as-button-pad-top">
                                <as-button click="instructionsCtrl.displayNewInstruction()" icon="plus">Add Instruction</as-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <as-table totals="false" hide-page-numbers="true" table-id="client-instructions-table"
                              ng-controller="AdminUsersClientInstructionsInstructionsCtrl as tableCtrl"
                              infinite-scroll="false" overflow-x="hidden" bold-columns="1,2,3,4"
                              no-empty="true"></as-table>
                </div>
            </form>
        </div>
    </div>
    <!--Update documents failure-->
    <info-modal modal-id="update-document-failure" modal-title="Failed to update documents">
    </info-modal>
    <!--Delete documents confirmation-->
    <modal-new modal-id="delete-document-confirmation" submit-button="instructionsCtrl.deleteDocument()" modal-title="Delete document?">
    </modal-new>
    <!--Delete document failure-->
    <info-modal modal-id="delete-document-failure" modal-title="Failed to delete document">
    </info-modal>

    <!--Add document-->
    <upload-modal modal-id="add-document-modal" modal-title="Add document" file-model="instructionsCtrl.uploadDocument"
                  upload-url="{{instructionsCtrl.uploadDocumentUrl}}"
                  success="instructionsCtrl.addDocumentSuccess(response)" method="POST" disabled="instructionsCtrl.disableUpload()">
        <form enctype="multipart/form-data" role="form">
            <!--Acceptance Message-->
            <div class="col-md-12 form-group" show-errors>
                <span class="help-block"
                      validator-message="required">
                </span>
                <label for="newDocumentName">Document Name</label>
                <input type="text" class="form-control" id="newDocumentName" name="newDocumentName"
                       ng-model="instructionsCtrl.displayData.newDocumentName" required>
            </div>
        </form>
    </upload-modal>

    <!--Add/edit instructions-->
    <modal-new submit-button="instructionsCtrl.submitInstruction()" modal-id="instruction-modal"
               modal-title="{{instructionsCtrl.displayData.instructionModal.modalTitle}}">
        <form enctype="multipart/form-data" role="form">
            <!--New instruction title-->
            <div class="col-md-12 form-group" show-errors>
                <span class="help-block"
                      validator-message="required">
                </span>
                <label for="instructionTitle">Title</label>
                <input type="text" class="form-control" id="instructionTitle" name="instructionTitle"
                       ng-model="instructionsCtrl.displayData.instructionModal.instruction.title" required>
            </div>
            <!--Merge field-->
            <div class="col-md-12 form-group">
                <label for="instructionTag">Merge Fields</label>
                <select class="selectpicker form-control" id="instructionTag" name="instructionTag"
                        ng-model="instructionsCtrl.displayData.selectedMergeField"
                        ng-options='option.placeholder as option.label for option in instructionsCtrl.displayData.mergeFields'
                        as-select>
                </select>
            </div>
            <!--Instruction template-->
            <div class="col-md-12 form-group" ng-hide="instructionsCtrl.safeData.selectedInstruction">
                <label for="instructionTemplate">Instruction template</label>
                <select class="selectpicker form-control" id="instructionTemplate" name="instructionTemplate"
                        ng-model="instructionsCtrl.displayData.selectedTemplate"
                        ng-options='option.id as option.title for option in instructionsCtrl.displayData.templates'
                        as-select>
                </select>
            </div>
        </form>
        <textarea ckeditor="editorOptions" ng-model="instructionsCtrl.displayData.instructionModal.instruction.content" ckeditor-modal></textarea>
    </modal-new>
    <!--Delete instruction-->
    <modal-new modal-id="delete-instruction" submit-button="instructionsCtrl.deleteInstruction()" modal-title="Delete instruction?">
    </modal-new>
    <!--Delete failure-->
    <info-modal modal-id="delete-instruction-failure" modal-title="Failed to delete instruction" button-text="Cancel">
    </info-modal>
    <!--Assign instruction-->
    <modal-new modal-id="assign-instruction" submit-button="instructionsCtrl.assignInstruction()" modal-title="Assign instruction">
        <form enctype="multipart/form-data" role="form">
            <!--Documents-->
            <div class="col-md-4 form-group">
                <label for="instructionTitle">Documents</label>
                <div ng-dropdown-multiselect
                     options="instructionsCtrl.displayData.documents"
                     selected-model="instructionsCtrl.safeData.assign.models.documents"
                     extra-settings="instructionsCtrl.safeData.assign.settings.documents"
                     required>
                </div>
            </div>
            <!--States-->
            <div class="col-md-4 form-group">
                <label for="instructionTag">States</label>
                <div ng-dropdown-multiselect
                     options="instructionsCtrl.safeData.assign.options.states"
                     selected-model="instructionsCtrl.safeData.assign.models.states"
                     extra-settings="instructionsCtrl.safeData.assign.settings.states"
                     required></div>
            </div>
            <!--Job Types-->
            <div class="col-md-4 form-group">
                <label for="instructionTag">Job Types</label>
                <div ng-dropdown-multiselect
                     options="instructionsCtrl.safeData.assign.options.jobTypes"
                     selected-model="instructionsCtrl.safeData.assign.models.jobTypes"
                     extra-settings="instructionsCtrl.safeData.assign.settings.jobTypes"
                     required></div>
            </div>
        </form>
    </modal-new>
    <!--Instruction assignment success-->
    <info-modal modal-id="assign-instruction-success" modal-title="Instruction assigned" button-text="Cancel">
    </info-modal>
    <!--Instruction assignment failure-->
    <info-modal modal-id="assign-instruction-failure" modal-title="Failed to assign instruction" button-text="Cancel">
    </info-modal>
    <!--Update acceptance message failure-->
    <info-modal modal-id="update-acceptance-message-failure" modal-title="Failed to update acceptance message" button-text="Cancel">
    </info-modal>
    <!-- Copy to user (mass user) -->
    <modal-new modal-id="copy-instruction" submit-button="instructionsCtrl.copyInstruction()"
               modal-title="Copy instruction to selected users?">
    </modal-new>
    <!-- Success-->
    <info-modal modal-id="copy-instruction-success" modal-title="Instruction copied" button-text="OK">
    </info-modal>
    <!-- Failure-->
    <info-modal modal-id="copy-instruction-failure" modal-title="Failed to copy instruction" button-text="OK">
    </info-modal>
</div>