<info-modal modal-id="user-settings" modal-title="User Settings" modal-class="desktop-assign-overlay" modal-width="90%">
    <!--Tabs-->
    <as-tabs tab-config="userSettingsCtrl.tabConfig" tabs="userSettingsCtrl.tabs" tab-width="2"
             selected-tab="userSettingsCtrl.tab"></as-tabs>
    <!--Company name (applied from)-->
    <div class="divider col-12 text-right clear">
        <div class="form-group col-md-12">
            <div class="col-md-6 text-left" ng-hide="userSettingsCtrl.tab === 'paymentOptions'">
                Applied from {{adminUsersCtrl.displayData.details.companyName}}
            </div>
            <div class="col-md-6 text-left" ng-show="userSettingsCtrl.tab === 'paymentOptions'">
                {{userSettingsCtrl.displayData.settings.payment.sourceText}}
            </div>
        </div>
    </div>
    <!--Instruction pane-->
    <div class="divider col-12 text-center clear" ng-if="userSettingsCtrl.tab === 'instruction'">
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Documents</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="settings-documents-table"
                      ng-controller="UserSettingsInstructionsDocumentsCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Instructions</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="instructions-table"
                      ng-controller="UserSettingsUserInstructionsCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
    </div>
    <!--Appraiser panel-->
    <div class="divider col-12 text-center clear" ng-if="userSettingsCtrl.tab === 'appraiserPanel'">
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Allowed Appraisers</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="allowed-appraisers-table"
                      ng-controller="UserSettingsApprovedAppraisersCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Do not use appraisers</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="disallowed-appraisers-table"
                      ng-controller="UserSettingsDisallowedAppraisersCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
    </div>
    <!--Fee schedule-->
    <div class="divider col-12 text-center clear" ng-if="userSettingsCtrl.tab === 'feeSchedule'">
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Fee Schedule</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="fee-schedule-table"
                      ng-controller="UserSettingsFeeScheduleCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
    </div>
    <!--Checklist-->
    <div class="divider col-12 text-center clear" ng-if="userSettingsCtrl.tab === 'checklist'">
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Checklist</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="checklist-table"
                      ng-controller="UserSettingsChecklistCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
    </div>
    <!--Client on report-->
    <div class="divider col-12 text-center clear" ng-if="userSettingsCtrl.tab === 'clientsOnReport'">
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Client on Report</h4>
            <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="client-on-report-table"
                      ng-controller="UserSettingsClientOnReportCtrl as tableCtrl" infinite-scroll="false"
                      overflow-x="hidden" align-cells="left">
            </as-table>
        </div>
    </div>
    <!--Payment options-->
    <div class="divider col-12 text-center clear"
         ng-if="userSettingsCtrl.tab === 'paymentOptions' && userSettingsCtrl.displayData.settings.payment.source !== 'no-payment'">
        <div class="form-group col-md-12">
            <h4 class="text-uppercase">Payment Options</h4>
            <!-- Credit card -->
            <h5 class="text-left text-uppercase" ng-show="userSettingsCtrl.displayData.settings.payment.data.creditCard.length">Credit card</h5>
            <div class="text-left" ng-repeat="option in userSettingsCtrl.displayData.settings.payment.data.creditCard">
                {{option | replaceChar:'-':' ' | capitalizeFirst}}
            </div>
            <!-- Show capture on client -->

            <!-- Bank account -->
            <h5 class="text-left text-uppercase" ng-show="userSettingsCtrl.displayData.settings.payment.data.isBankAccount">Bank account</h5>
            <!-- Send invoice to customer -->
            <h5 class="text-left text-uppercase" ng-show="userSettingsCtrl.displayData.settings.payment.data.sendInvoice">Send invoice to your customer</h5>
            <!-- Bill me -->
            <h5 class="text-left text-uppercase" ng-show="userSettingsCtrl.displayData.settings.payment.data.billMe">Bill me</h5>
            <!-- Split payment-->
            <h5 class="text-left text-uppercase" ng-show="userSettingsCtrl.displayData.settings.payment.data.splitPayment">Split payment</h5>
            <!-- Invoice partial payment -->
            <h5 class="text-left text-uppercase" ng-show="userSettingsCtrl.displayData.settings.payment.data.partialPayment">Invoice partial payment</h5>
        </div>
    </div>
</info-modal>
<!--Document download failure-->
<info-modal modal-id="document-download-failure" modal-title="Failed to download user documents" button-text="Close"></info-modal>