<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <!--Add new checklist-->
                    <div class="col-md-4">
                        <div class="text-left as-button-pad-top pull-left">
                            <as-button click="tableCtrl.addNewChecklistConfirmation()" icon="plus">Add New Checklist</as-button>
                            <as-button click="tableCtrl.addQuestionConfirmation()"
                                       ng-show="tableCtrl.displayData.selectedChecklist" icon="plus">
                                Add Question to Checklist
                            </as-button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-uppercase text-center">Add Checklist</h4>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <!--Selected checklist functions-->
                <div class="divider col-4 clearfix">
                    <div class="form-group col-md-4">
                        <label for="selectedChecklist">Select checklist</label>
                        <select class="selectpicker form-control" id="selectedChecklist"
                                ng-model="tableCtrl.displayData.selectedChecklist"
                                ng-options='option.id as option.title for option in tableCtrl.displayData.checklist'
                                as-select>
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <div class="text-left as-button-pad-top" ng-show="tableCtrl.displayData.selectedChecklist">
                            <as-button click="tableCtrl.deleteChecklistConfirm()" icon="close">Delete Checklist</as-button>
                            <as-button click="tableCtrl.assignChecklistConfirmation()" icon="user"
                                       disabled="tableCtrl.assignButtonDisabled()">Assign Selected Checklist
                            </as-button>
                            <as-button click="tableCtrl.duplicateChecklistConfirmation()" icon="all">Duplicate Selected Checklist</as-button>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-show="tableCtrl.displayData.selectedChecklist">
                    <div class="form-group">
                        <label for="checklistName">Checklist Name</label>
                        <input type="text" class="form-control" id="checklistName" ng-model="tableCtrl.displayData.checklistName">
                    </div>
                    <as-table totals="false" hide-page-numbers="true" table-id="checklist-items"
                              infinite-scroll="false" overflow-x="hidden">
                    </as-table>
                </div>
            </form>
        </div>
    </div>
    <!--Failed to retrieve data-->
    <info-modal modal-id="retrieve-checklist-failure" modal-title="Failed to retrieve checklist"></info-modal>
    <!--Failed to update checklist name-->
    <info-modal modal-id="update-name-failure" modal-title="Failed to update checklist name"></info-modal>
    <!--Delete confirmation-->
    <modal-new submit-button="tableCtrl.deleteChecklist()" modal-id="delete-confirmation"
               modal-title="Would you like to delete the selected checklist?"></modal-new>
    <!--Delete failure-->
    <info-modal modal-id="delete-failure" modal-title="Failed to delete checklist"></info-modal>
    <!--Assign checklist confirmation-->
    <modal-new submit-button="tableCtrl.assignChecklist()" modal-id="assign-checklist"
               modal-title="Would you like to assign the selected checklist?"></modal-new>
    <!--Assign checklist success-->
    <info-modal modal-id="assign-checklist-success" modal-title="Checklist assigned"></info-modal>
    <!--Assign checklist failure-->
    <info-modal modal-id="assign-checklist-failure" modal-title="Failed to assign checklist"></info-modal>
    <!--Duplicate checklist-->
    <modal-new submit-button="tableCtrl.cloneChecklist()" modal-id="duplicate-checklist"
               modal-title="Duplicate Checklist">
        <div class="clearfix col-md-12" ng-show="tableCtrl.displayData.selectedChecklist">
            <div class="form-group" show-errors>
                <span class="help-block"
                      validator-message="required">
                </span>
                <label for="duplicateChecklistName">Checklist Name</label>
                <input type="text" class="form-control" name="duplicateChecklistName" id="duplicateChecklistName"
                       ng-model="tableCtrl.displayData.duplicateChecklistName" required>
            </div>
        </div>
    </modal-new>
    <!--Failed to duplicate checklist-->
    <info-modal modal-id="duplicate-checklist-failure" modal-title="Failed to duplicate checklist"></info-modal>
    <!--Duplicate checklist success-->
    <info-modal modal-id="duplicate-checklist-success" modal-title="Checklist duplicated"></info-modal>
    <!--Add question to checklist-->
    <modal-new submit-button="tableCtrl.addQuestion()" modal-id="add-question"
               modal-title="Add Question to Checklist">
        <div class="clearfix col-md-12">
            <div class="form-group" show-errors>
                <span class="help-block"
                      validator-message="required">
                </span>
                <label for="addQuestion">Add Question</label>
                <input type="text" class="form-control" name="addQuestion" id="addQuestion"
                       ng-model="tableCtrl.displayData.questionTitle" required>
            </div>
        </div>
    </modal-new>
    <!--Add question failure-->
    <info-modal modal-id="add-question-failure" modal-title="Failed to add question"></info-modal>
    <!--Update question failure-->
    <info-modal modal-id="question-update-failure" modal-title="Failed to update checklist"></info-modal>
    <!--Delete question-->
    <modal-new submit-button="tableCtrl.deleteQuestion()" modal-id="delete-question" modal-title="Delete question?"></modal-new>
    <!--Failed to delete question-->
    <info-modal modal-id="delete-question-failure" modal-title="Failed to delete question"></info-modal>
    <!--Add new checklist-->
    <modal-new submit-button="tableCtrl.addChecklist()" modal-id="add-new-checklist" modal-title="Add New Checklist">
        <div class="clearfix col-md-12">
            <div class="form-group" show-errors>
                <span class="help-block"
                      validator-message="required">
                </span>
                <label for="addChecklist">Checklist Name</label>
                <input type="text" class="form-control" name="addChecklist" id="addChecklist"
                       ng-model="tableCtrl.displayData.newChecklistName" required>
            </div>
        </div>
    </modal-new>
</div>
