// Dashboard Styles


.dashboard-table{

  thead{

    .text-center{

      label{
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 0px;
        font-size: 10px;
      }
    }
  }
}

.table-btn{
  &.edit-btn{

    width: 35px;
    float: left;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

 // Menu style

.dashboard-resp-menu{
  width: 100%;
  float: left;
  height: 53px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: table;

  .as-button{
    margin-bottom: 0px;
    margin-top: 0px;

    &:first-child{
      margin-left: calc( 50% - 80px );
    }


    span{
      color: rgba(0, 0, 0, 0.5) !important;
      font-size: 14px;
      line-height: 34px;
      text-transform: uppercase;
    }
  }

  a{
    width: calc( ( 100% - 180px ) / 3 ) ;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    height: 100%;
    color: #67605a;
    border: 1px solid #ececec;
    font-size: 18px;
    cursor: pointer;
    text-align: left;

    &.active,
    &:hover,
    &:focus{
      text-decoration: none;
      color: #0fa3df;
      border: 1px solid #2f99cb;
      background-color: #f2fafd;

      h3{
        color: #17a1e5;
      }
      span{
        color: #17a1e5;
      }
    }

    &:last-child{
      width: 180px;
      margin-right: 5px;
      cursor: default;

      &:hover,
      &:focus{
        text-decoration: none;
        color: #67605a;
        border: 1px solid #ececec;
        background-color: transparent;
      }

    }

    h3{
      margin: 0;
      color: #4a585d;
      line-height: 18px;
      font-family: "Proxima Nova regular";
      font-size: 18px;
      margin-top: 5px;
    }

    span{
      font-size: 10px;
      line-height: 1.2;
      font-family: "Proxima Nova regular";
      margin-bottom: 5px;
      display: inline-block;
      text-transform: uppercase;
      color: #7f7f7f;
    }

  }

}
// Tab menu style

.tab {

  .tab-menu{
    margin-bottom: 0px;

    .title-small{
      float: left;
    }

    .tabs{
      float: right;

      li{
        list-style: none;
        color: #7f7f7f;

        &.active{
          font-weight: 600;
          color: #717e83;
          border-color: #abb5b8;
        }
      }
    }

    .as-button{
      float: right;
      margin-right: 10px;
    }
  }
}

info-modal,
modal-new{

  .modal-body{
    border: 1px solid rgb(229, 229, 229);
    margin: 3px;
    border-radius: 10px;
    padding: 0;

    h4{
      font-family: Proxima Nova Light;
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      padding: 0;
    }

    .col-md-12{
      //      padding: 0;
    }

    .form-group{
      position: relative;

      label{
        font-family: Proxima Nova Light;
        line-height: 15px;
      }

      span.help-block{
        position: absolute;
        width: 60%;
        top: 5px;
        right: 5px;
        text-align: right;
      }
    }
  }
}

.nav-tabs-section.tablet-view{
  display: none;
}

.dashboard-left-area.col-lg-12.col-el-8.col-ml-7{

  .dashboard-menu.orders-menu ul li{
    min-width: 10%;
  }
}

// Max width 1430px

@media ( max-width: 1430px ){

  .dashboard-menu.orders-menu ul li{
      min-width: 14.285%;
    }
}

// Max width 1270px

@media ( max-width: 1270px ){

  .auth-divider.col-12 .form-group {
    border-right: none;
    float: left;
    width: 100%;
  }

  .base-body.active{
    padding-top: 140px;
  }

  .nav-tabs-section.desktop-view{
    display: none;
  }

  .nav-tabs-section.tablet-view{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
    text-align: center;
    z-index: -1;


    ul li ul{
      display: none;
    }


    ul li{

      a{

        div.dashed{
          font-size: 25px;
          margin-top: 12px;
          letter-spacing: 2px;
          line-height: 5px;
          text-indent: 15%;
        }

        span.menu-title{
          text-indent: 15%;
          width: 100%;
          display: block;
        }

      }
    }

    ul li.open {

      a{
        background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
        color: #ffffff;

        div.dashed{
          font-size: 25px;
          margin-top: 12px;
          letter-spacing: 2px;
          line-height: 5px;
        }

        &:after{
          border-bottom: 6px solid #5f7077;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          bottom: 0;
          content: "";
          left: 57.4%;
          margin-left: -6px;
          position: absolute;
        }

        &:before{
          background: #4cc600 none repeat scroll 0 0;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      ul{
        display: table;
        background: #5f7077;

        li{

          &.active{
            background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
            color: #ffffff;
            line-height: 2em;
            position: relative;
            text-decoration: none;

            a:before{
              background: #4cc600 none repeat scroll 0 0;
              content: "";
              height: 2px;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }

            a:after{
              border-bottom: 6px solid #fff;
              left: 50%;
            }
          }

          a{
            background: transparent;
            position: initial;
            color: rgba(255, 255, 255, 0.5);

            &:hover{
              background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
              color: #ffffff;
            }

          }
        }
      }
    }
  }
}


// Max width 1050px

@media ( max-width: 1050px ){

  .nav-tabs-section.tablet-view{

    ul li{

      a{

        div.dashed{
          font-size: 25px;
          margin-top: 12px;
          letter-spacing: 2px;
          line-height: 5px;
          text-indent: 20%;
        }

        span.menu-title{
          text-indent: 20%;
          width: 100%;
          display: block;
        }

      }
    }

    ul li.open {

      a{

        &:after{
          left: 60%;
        }
      }
    }
  }
}

nav.nav-header.mobile-view{display: none;}
.menu-mobile-view{display:none;}
.auth-divider.dashboard-resp-menu.mobile-view{display: none;}

// Max width 700px

@media ( max-width: 700px ){

  nav.nav-header.normal-view{display: none;}

  nav.nav-header.mobile-view{
    display: block;
  }

  .dashboard-resp-menu {

    .as-button {

      &:first-child {
        margin-left: calc(50% - 40px);
        margin-right: 5px;
      }
    }
  }

  .nav-tabs-section.tablet-view {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 70px;
    width: calc( 100% - 240px );
    float: left;
    overflow: visible;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;

    ul li{
      a{
        div.dashed{
          text-indent: 0%;
        }
        span.menu-title{
          text-indent: 0%;
        }
      }
    }
    ul li.open a:after {
      left: 50%;
    }
  }

  .column-item{
    .graph-list{
      .graph-line{
        .graph{
          width: 50%;
        }
      }
    }
  }

  .auth-divider.dashboard-resp-menu.desktop-view {
    display: none;
  }

  .auth-divider.dashboard-resp-menu.mobile-view{
    display: block;

    .small-menu{
      height: 88%;
      width: 60%;
      padding: 0;
      position: relative;
      display: table-cell;
      margin: 0;

      a{
        background-image: url("/assets/images/icons/arrows2.svg");
        background-position: 96% center;
        background-repeat: no-repeat;
        display: block;
        float: left;
        text-align: left;
        width: 100%;
      }

      &.open ul{
        display: block;
      }

      ul{
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 52px;
        z-index: 100;
        background: #fff;
        width:100%;

        li{
          width:100%;

          a{
            width: 100%;
            display: block;
            background: #fff;
            padding-left: 10px;
            cursor:pointer;

            &:hover{
              background-color: #f2fafd;
              border: 1px solid #2f99cb;
              color: #0fa3df;
              text-decoration: none;
            }
          }
        }
      }
    }
    a:last-child {
      min-width: 90px;
      width: 12%;
    }
  }

  .dashboard-columns{
    .tab{
      .tab-menu{

      .title-small{
        line-height: 35px;
        margin: 0;
        text-align: center;
        width: 100%;
      }

      .tabs{
        float: left;
        padding-left: 10px;
      }
      }
    }
  }

  .paginator .pages a,
  .paginator .pages span {
    padding: 0 5px;
  }

  .menu-mobile-view.modal{

    display: block;

    background: #5f7076 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
    min-height: 550px;

    a.close-btn{
      background: transparent url("../assets/images/mobile-menu-close.png") no-repeat scroll center center/27px auto;
      display: block;
      float: left;
      height: 40px;
      width: 100%;
    }

    .blockline{
      float: left;
      width: 100%;

      &.first{

        .nav-profile-section{
          width: calc( 100% - 70px );
        }
      }

      &.second{
        border-top: 1px solid #78d440;

        .nav-notifications-section{
          width: 50%;

          a{
            width: 99%;
          }
        }
        .nav-messages-section{
          width: 50%;

          a{
            width: 99%;
          }
        }
      }

      &.third{
        height: auto;

        .nav-tabs-section{
          left: 0;
          width: 100%;
          height: auto;
          right: 0;
          position: relative;

          ul{
            display: block;
            float: left;
            height: auto;
            width: 100%;
            margin: 0;

            li{
              display: block;
              float: left;
              width: 33.3333% !important;
              border-right: medium none;

              &.active a::before{
                background: transparent none repeat scroll 0 0;
              }

              &.active a::after{
                border-bottom: medium none;
              }
            }
          }
        }
      }

      &.fourth{

        .nav-user-section{
          width: 100%;
        }

        .dropdown-menu{
          top: -50%;
          left: calc( 50% - 80px )
        }
      }

    }
  }
}













