/*******************************
 * Admin users
 ******************************/
// Link to select a user from a company
.company-user-result {
  cursor: pointer;
}

// Details pane tabs
.admin-users-details-tabs-container {
  cursor: pointer;
}

.ng-scope .table-responsive tbody td input.form-control {
  padding: 0% 1%;
}

