/*******************************
 * Admin accounting
 ******************************/
// tabs container
.admin-users-tabs-container {
  margin-bottom: 10px;
}

// Tab widths
.appraisal-menu .admin-users-menu {
  min-width: 1px;
  width: 10%;
}

.admin-accounting-tabs {
  position: fixed;
  background-color: white;
  opacity: 1;
  z-index: 100;
  top: 70px;
}

.admin-accounting-search {
  background-color: white;
  opacity: 1;
  z-index: 10;
}

.admin-accounting-ctrl-pad {
  padding-bottom: 400px;
  background-color: white;
  opacity: 1;
  top: 1px;
  z-index: 10;
}

.admin-accounting-header {
  position: fixed;
  margin-top: 180px;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

// Quickbooks special case
.quickbook-left, .quickbook-right {
  top: 150px;
}
