// Job Type Styles

.job-type-menu{
  width: 100%;
  float: left;
  height: 48px;
  margin-top: 10px;
  display: table;

  a{
    width: 33.7%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 11px;
    height: 100%;
    color: #67605a;
    border: 1px solid #ececec;
    font-size: 14px;
    font-family: Proxima Nova Light;
    cursor: pointer;

    &:hover{
      text-decoration: none;
      color: #0fa3df;
      border: 1px solid #2f99cb;
      background-color: #f2fafd;
    }
    &:focus{
      text-decoration: none;
      color: #0fa3df;
      border: 1px solid #2f99cb;
      background-color: #f2fafd;
    }
    &.active{
      text-decoration: none;
      color: #0fa3df;
      border: 1px solid #2f99cb;
      background-color: #f2fafd;
    }

  }

}

.job-type-table{

  thead{

    label{
      padding-top: 20px;
      padding-bottom: 5px;
      padding-left: 0px;
      font-size: 10px;
    }
  }

  tbody {
    td{
      text-align: left;

      .form-control{
        padding: 5% 5%;
      }

      .job-type-doc-wrapp{
        float: left;
        margin-right: 17px;
        width: auto;
      }

      span{
        font-size: 12px;
        font-weight: 400;
      }

      label{
        color: #17A1E5;
        font-size: 12px;
        font-weight: 400;
      }

      a{
        font-size: 12px;
        color: #17A1E5;
        font-weight: 400;
        cursor: pointer;

        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
      }

      &.actions{

        a{
          float: left;
        }
      }
    }
  }
}

 // modal Add new type style

  .new-type{

    .modal-dialog{
      width: 730px;
    }

    .as-select-container{
      float: left;
    }

    h4.title{
      width: 100%;
      text-align: center;
      color: #7f7d7e;
      font-size: 14px;
      padding-top: 12px;
      padding-bottom: 9px;
      text-transform: uppercase;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0;
    }

    form{

      .auth-divider{
        float: left;
        width: 100%;
        padding-top: 0px;

        span{
          height: 10px;
          float: right;
          margin: 5px;
        }

        &.first{
          border-bottom: 1px solid #eee;
        }
        &.second{
          border-bottom: none;

          .form-group {
            float: left;
            width: 30%;
            margin-top: 16px;
            border: none;

            &:first-child{
              width: 20%;
            }
            &:last-child{
              width: 20%;
            }
          }
        }
        .form-group{

          input[type="email"],
          input[type="password"],
          input[type="text"]{
            float: left;
            width: 80%;
            font-size: 12px;
            padding-left: 2px;
            padding-top: 27px;
            padding-bottom: 13px;
          }

          .as-checkable-container{
            float: left;
//            margin-left: 13px;
            margin-left: 0px;
            margin-top: 3px;
          }

          .control-label{
            color: #7e7e80;
            float: left;
            padding-top: 4px;
            display: block;
            padding-left: 9px;
          }

          &.with-title{
            input[type="email"],
            input[type="password"],
            input[type="text"]{
              padding-top: 15px;
            }

            .control-label{
              color: #7e7e80;
              float: left;
              padding-top: 5px;
              width: 80%;
              line-height: 15px;
              display: block;
              padding-left: 0px;
            }
          }
        }
      }
      .wrap-footer{
        border-top: none;
        padding-bottom: 18px;
      }
    }
  }

  // modal Set Addon style
  .set-addon{

    .modal-dialog{
      width: 805px;
    }

    h4{
      width: 100%;
      text-align: center;
      color: #7f7d7e;
      font-size: 14px;
      padding-top: 12px;
      padding-bottom: 9px;
      text-transform: uppercase;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0;
    }

    .overlay-form{
      float: left;
      width: 100%;

      .form-group{
        float: left;
        width: 25%;
        border: none;
        height: 100px;
        margin-top: 5px;

        .as-checkable-container{
          margin-left: 5px;
        }

        input[type="checkbox"] {
          &:checked +label{
            font-weight: 600;
          }
        }

        label{
          padding-left: 5px;
        }
      }

      .wrap-footer{
        border: none;
      }
    }
  }



// Job Type List Style

.listing-search{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  float: left;
  width: 100%;

  div.col-sm-3{
    border-right: 1px solid #eaeaea;

    label{
      text-transform: uppercase;
      font-size: 10px;
      color: #c4c1bc;
      margin-bottom: 0px;
      margin-top: 10px;

      .as-select-container{
        color: #64605d;
        font-weight: 600;
      }
    }
  }
}


// Job Type Mapping Style

.job-type-mapping{
  float: left;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #eee;

  .form-group{
    border-bottom: 1px solid #eaeaea;
    height: 50px;
    margin: 0px;

    label{
      line-height: 10px;
    }

    .as-select-container{
      height: 15px;
    }

    span{
      top: 0;
    }
  }
}