.tab-contents {
  padding: 0px;

  .displayNone {
    display: none;
  }

  .page-wrapper {
    border: 1px solid #E5E5E5;
    padding: 0px;
    border-radius: inherit;
    background: none repeat scroll 0% 0% #FFF;
  }

  .active {
    display: inherit;
  }
}

.table-btn{
  &.edit-btn{
    width: 34px;
    float: left;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-right: 5px;
    margin-left: 5px;

      img{
        width: 100%;
        height: 100%;
      }
  }
}

.report-page {

  .report-page-header {

    .report-page-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        float: left;
        padding: 5px;
        padding-right: 15px;
        border: 1px solid white;
        cursor: pointer;
      }

      li:hover {
        background: none repeat scroll 0% 0% #F2FAFD;
        border: 1px solid #2E99C9;
        color: #2E99C9;
      }

      li.report-page-button-disabled {
        border: 1px solid white;
        cursor: not-allowed;
        color: rgba(131, 131, 131, 0.44);
      }

      li.report-page-button-disabled:hover {
        border: 1px solid white;
        cursor: not-allowed;
        color: rgba(131, 131, 131, 0.44);
        background: inherit;
      }
    }
  }

  .report-page-body {
    .table-responsive {
      overflow: inherit;
    }

    .table-responsive {
      margin: 0px;

      thead{

        label{
          padding-top: 20px;
          padding-bottom: 5px;
          padding-left: 0px;
          font-size: 10px;
        }

        .as-checkable-container{
          margin-top: 10px;
        }
      }

      tbody {

        tr.tbody-headers{

          td{
            background: #777777;
            color: #fff;
            padding: 5px;
            height: auto;

            div{
              color: #fff;
            }
          }
        }

        td{
          text-align: left;

          .form-control{
            padding: 5% 5%;
          }

          div{
            color: #a09696;
            font-family: "Proxima Nova regular";
          }

          .job-type-doc-wrapp{
            float: left;
            margin-right: 17px;
            width: auto;
          }

          span{
            font-size: 12px;
            font-weight: 400;
          }

          label{
            color: #17A1E5;
            font-size: 12px;
            font-weight: 400;
          }

          a{
            font-size: 12px;
            color: #17A1E5;
            font-weight: 400;
            cursor: pointer;

            &:hover{
              text-decoration: none;
            }
            &:focus{
              text-decoration: none;
            }
          }

          &.actions{

            a{
              float: left;
            }
          }
        }
      }
    }

    .table-responsive {
      border: none;

      .dashboard-table {
        border-top: none;
        border-right: none;
        border-left: none;

        thead {
          tr {
            th.table-header {
              div.menu-open-button.open {
                display: block;
              }
              div.menu-open-button {
                text-align: center;
                width: 15px;
                height: 22px;
                margin-top: -1px;
                margin-bottom: -1px;
                border-left: 1px solid rgb(229, 229, 229);
                float: right;
                background: transparent url('/assets/images/checkable.png') no-repeat -213px 0;
                display: none;
              }

              &:hover {
                div.menu-open-button {
                  display: block;
                }
              }

              ul.menu.open {
                display: block;
              }

              ul.menu {
                top: 22px;
                right: 0px;
                padding: 0;
                background-color: white;
                border: 1px solid #E5E5E5 !important;
                border-top: none !important;
                position: absolute;
                list-style: none;
                white-space: nowrap;
                text-align: left;
                display: none;

                li.menu-specific-option {
                  padding: 0px;
                }
                li {
                  margin: 0px;
                  border: 1px solid #FFF;
                  padding: 0px 30px 0px 0px;

                  .option-menu {
                    width: 20px;
                    height: 20px;
                  }

                  .check-able-option {
                    background: transparent url('/assets/images/checkable.png') no-repeat -196px 0;
                  }

                  .rename-column-option {
                    background: transparent url('/assets/images/edit.png') no-repeat 0 0;
                  }

                  .remove-column-option {
                    background: transparent url('/assets/images/delete.png') no-repeat 0 0;
                  }

                  a {
                    cursor: pointer;
                    padding: 3px 0 3px 0;
                    color: #A09696;
                    text-decoration: none;
                    &:hover {
                      text-decoration: none;
                    }
                  }
                }

                li:hover, li.isChecked {
                  background: none repeat scroll 0% 0% #F2FAFD;
                  border: 1px solid #2E99C9;
                  color: #2E99C9;
                }

                li:active {
                  background: none repeat scroll 0% 0% #c6e1ef;
                }

                li.isChecked {

                  .check-able-option {
                    background: transparent url('/assets/images/checkable.png') no-repeat -178px 0;
                  }

                }

              }
            }
          }
        }

        tbody {
          tr {

            td:nth-child(3), td:nth-child(6), td:nth-child(2) {
              color: inherit;
              font-family: inherit;
            }

            td.grouper-group-aggregator {
              border: none;
            }

            td.grouper-group-title {
              border: none;
              padding-left: 20px;
              font-weight: bold;

              span.grouper-state {
                width: 9px;
                height: 15px;
                margin-right: 10px;
                margin-top: 5px;
                float: left;
              }
              span.grouper-state-close {
                background: transparent url('/assets/images/group-expand.gif') no-repeat;
              }
              span.grouper-state-open {
                background: transparent url('/assets/images/group-collapse.gif') no-repeat;
              }
              span.grouper-title {
                float: left;
              }
            }

            .aggregator-name {
              font-weight: bold;
            }
          }

          tr.no-hover-change {
            background: inherit !important;
            border: inherit !important;
          }

          tr.sg-selected {
            background-color: #9CD6F3;
          }

          tr.grouper-line-spacer {
          }
        }

      }
    }

    .report-page-mt-5 {
      margin-top: 5px;
    }

    .report-page-mt-10 {
      margin-top: 10px;
    }

    .report-page-mb-10 {
      margin-bottom: 10px;
    }

    .report-page-mr-10 {
      margin-right: 10px;
    }

    .report-page-mr-5 {
      margin-right: 5px;
    }

    .report-page-pt-10 {
      padding-top: 10px;
    }

    .report-page-pb-10 {
      padding-bottom: 10px;
    }

    .report-page-pr-10 {
      padding-right: 10px;
    }

    .report-page-pl-10 {
      padding-left: 10px;
    }

    .report-page-pr-5 {
      padding-right: 5px;
    }

    .report-page-pl-5 {
      padding-left: 5px;
    }

    .report-page-red-text {
      color: red;
    }

    .report-page-ta-right {
      text-align: right;
    }
    .report-page-separator {
      border-top: 1px solid #E5E5E5;
    }

    .report-page-alerts-preview {
      margin: 0px;
      padding: 0px;
      list-style: none;
      width: 100%;
    }

    .report-page-alerts-preview li {
      padding: 5px 15px;
      border: 1px solid white;
      &:hover {
        background: none repeat scroll 0% 0% #F2FAFD;
        border: 1px solid #2E99C9;
        color: #2E99C9;
      }
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .report-page-footer {

  }

  .report-page-clear {
    clear: both;
  }

  .report-page-mb-10 {
    margin-bottom: 10;
  }

  .report-page-border {
    border: 1px solid #E5E5E5;
  }

  .report-page-bt {
    border-top: 1px solid #E5E5E5;
  }

  .report-page-bb {
    border-bottom: 1px solid #E5E5E5;
  }

  .report-page-br {
    border-right: 1px solid #E5E5E5;
  }

  .report-page-bl {
    border-left: 1px solid #E5E5E5;
  }

  .appraisal-btn span {
    top: -3px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .auth-divider.col-2 .form-group, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .signup-form-1 .form-group, .signup-form-2 .form-group, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .auth-wrapper-titles ul li, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .notification-window .wrapper-titles ul li, .desktop-assign-overlay .wrapper-titles ul li, .col-md-6, .wrapper-titles ul li, .signin-form .form-group, .auth-divider.col-6 .form-group, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .auth-divider.col-12 .form-group, .notification-window .dashboard-table .form-group, .desktop-assign-overlay .dashboard-table .form-group, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .table-modifiers {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      padding: 3px 0;
      border: 1px solid white;
    }

    li.modifier {
      margin-right: 10px;
      padding: 3px 10px;
      border: 1px solid #E5E5E5;
      cursor: move;
      &:hover {
        background: none repeat scroll 0% 0% #F2FAFD;
        border: 1px solid #2E99C9;
        color: #2E99C9;
      }
    }
  }

  .tree-view-wrap {
    max-height: 500px;
    overflow: auto;
  }
  .tree-view {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .drop-sorters,
  .drop-groupers,
  .drop-columns,
  .tree-view{
    .gu-transit{
      &:not(.modifier) {
        display:none;
      }
    }
  }

  .tree-view-folder {
  }
  .tree-view-file {
    margin-left: 20px;
    white-space: nowrap;
  }

  .dnd-enabled {
    cursor: move;
  }

  .dnd-disabled {
    cursor: auto;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }
}
