//Dashboard 75
.menu-box-outer {
  ul {
    li {
      max-width: 11.1%;
      overflow: hidden;
      white-space: nowrap;
      min-height: 50px;
      @media (min-width: $screen-ml-min) {
        height: 50px;
        overflow: hidden;
      }
      @media (min-width: $screen-el-min) {
        min-height: auto;
      }

      a {
        h3 {
          font-weight: 600;
        }
      }
    }
  }
}

.no-edit {
  background: #FFFFFF;
  border: none;
  font-size: 14px;
  padding: 7.5px 0 7.5px 0;
  width: 100%;
  box-shadow: none;
  color: #4A585D;
  white-space: nowrap;
  overflow: hidden;
}

.orders-search {

  .form-group {
    height: 60px;
    :first-child {
      border-top: none;
    }
    input {
      margin: 0;
    }
    .as-select-container {
      height: 25px;
    }
    label {
      width: 100%;
    }
  }
}

.orders-super-search {
  @extend .orders-search;

  .form-group {
    border-top: 1px solid $gray-lighter;
  }
}

.border-top-none {
  border-top: none !important;
}

.order-info-menu {
  text-align: center;
  padding: 0 0 10px 0;

  h3 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .btn-order-menu {
    padding: 4px 8px 4px 8px;
    border: none;
    font-size: 10px;
    color: $gray-light;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: none;
    &.active {
      color: $gray;
      border: 1px solid $gray-light;
      background: $white-color;
      font-weight: bold;
    }
  }
}

/* Order info for dashboard */
.order-info-tabs {
  ul {
    table-layout: fixed;
    width: 100%;
    display: table;
    margin-bottom: 0;
    li {
      float: left;
      width: auto;
      border: 1px solid $gray-lighter;
      padding: 14px 8px 0px 8px;
      text-transform: uppercase;
      min-width: 14.285%;
      a {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 11px;
        span {
          width: 100%;
        }
      }
    }
    .active {
      background: #F2FAFD !important;
      border: 1px solid #17A1E5 !important;
      a {
        color: #17A1E5 !important;
      }
    }
  }
}


.dashboard-table{
  thead  tr th:nth-child(8),
  thead  tr th:nth-child(3){
    width: 250px;
  }
  tbody{
    tr:nth-last-child(-n+3){
      .tooltips{
        div.tooltip-info{
          bottom:25px;
        }
      }
    }
    tr:nth-last-child(n+4){
      .tooltips{
        div.tooltip-info{
          top:25px;
        }
      }
    }
  }
}


.tooltips{
  position: relative;

  &.other-ico{
    display: inline-block;
    width: 17px;
    margin-left: 3px;

    img{
      width: 100%;
    }
  }

  &.left-ico{
    display: inline-block;
    width: 17px;
    margin-left: 0;
    margin-right: 3px;

    img{
      width: 100%;
    }
  }

  &:hover{
    div.tooltip-info{
      display: block;
    }
  }

  &.bell-ico{

    div.tooltip-info{
      min-width: 100px;

      span{
        i{
          color: #fa514e;
          text-transform: capitalize;
        }
      }
    }
  }

  div.tooltip-info{
    display: none;
    position: absolute;
    height: auto;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
//    top: 25px;
    right: 0px;
    z-index: 10;
    box-shadow: 1px 1px 1px #dcdcdc;
    padding: 14px;
    width: auto;
    min-width: 250px;

    span{
      color: #5a504e;

      i{
        color: #51c606;
        width: 100%;
        font-weight: 600;
        font-style: normal;
        line-height: 25px;
        font-size: 14px;
        display: block;
        text-transform: capitalize;
      }
    }
  }

  div.tooltip-info-left{
    left: 0px;
    right: auto;
  }
}

.order-actions-panel{
  text-align: center;
  font-size: 0;

  .other-ico {
    display: inline-block;
    margin: 0 3px;
  }
}

@media (max-width: 1850px) {
  .dashboard-table tbody tr td{
    font-size: 12px;
  }
}

@media (max-width: 1750px) {
  .dashboard-table tbody tr td{
    font-size: 11px;
  }
}

@media (max-width: 1650px) {
  .dashboard-table tbody tr td{
    font-size: 10px;
  }
  .dashboard-table tbody tr td:nth-child(7) {
    font-size: 12px;
  }
}

@media (max-width: 1600px) {
  .dashboard-table tbody tr td{
    font-size: 14px;
  }
}
