//Settings Window Overlay
.setting-window-overlay {

  .modal-body {
    border: 1px solid rgb(229, 229, 229);
    margin: 3px;
    border-radius: 10px;
    padding: 0;
  }
  .modal-content {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 13px !important;
  }
  .modal-backdrop {
    background-color: white !important;
    .in {
      opacity: 0.73 !important;
    }
  }
  .selectpicker {
    height: inherit;
  }
  .title {
    color: $base-color;
  }
  ul {
    li {
      margin-bottom: 10px !important;
      margin-top: -3px;
      padding: 0;
      margin: 0;
    }
  }
  .col-12 {
    .wrapper {
      border: 0 none !important;
      clear: both;
      padding: 25px !important;
    }
  }
  .overlay-area {
    padding: 20px;
    .wrapper-one {
      border: solid #CDCDCD 2px;
      border-radius: 15px;
      padding: 10px 0 0 13px;
      div {
        margin-bottom: 12px;
      }
    }
    .wrapper-two {
      border: 2px dashed #cdcdcd;
      border-radius: 15px;
      padding: 10px 0 0 13px;
      div {
        margin-bottom: 12px;
      }
    }
  }
  @media (min-width: $screen-el-min) {
    .modal-lg {
      width: 40%;
    }
  }
}

/*Seeting Option Page*/
.setting-option-page {

  .white-space {
    padding: 5px !important;
  }
  li {
    border-right: solid #F1F1F1 1px;
    border-top: solid #F1F1F1 1px;
    border-left: 1px solid $gray-lighter;
    margin-bottom: 0px;
    padding: 11px;
    margin-left: 4px;
    textarea {
      height: auto !important;
    }
    .title {
      color: $web-gray-base;
      display: inline;
      font-weight: normal;
      text-transform: uppercase;
    }
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }

    h3 {
      margin: 0;
    }
    .form-group {
      margin: 0;
      padding: 0;
      input[type="text"], input[type="password"] {
        background: none repeat scroll 0 0 #fff;
        border: medium none;
        box-shadow: none;
        font-size: 18px;
        height: 42px;
        padding: 4px 0 0;
        width: 100%;
      }
    }

  }
  .dropdown-menu li {
    margin: 0;
    padding: 0;
  }
}

.setting-divider {
  overflow: hidden;
  .form-control {
    height: inherit !important;
  }
  label {
    font-weight: normal !important;
    margin-bottom: 0 !important;
  }
  li {
    border: medium none;
    &:last-child {
      border-left: 1px solid #eeeeee;
    }
  }
  .col-md-6 {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.center-block {
  float: none !important;
}

.right-side {
  float: right;
  padding-right: 15px;
}


// Settings Company Information Styles

#companyInformation {

  .info-block{
    border: 1px solid #eee;
    padding: 0px;

    .form-group{
      border: 1px solid #eee;
      min-height: 55px;
      border-left: 0;
      margin-bottom: 0;
      border-bottom: 0;

      &:first-child{
        border-top: 0px;
      }

      span.help-block {
        position: absolute;
        width: 60%;
        top: 5px;
        right: 5px;
        text-align: right;
      }
    }
  }
}
