@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss"
@import "variables"
@import "mixins"

$red: #fc4e4d
$text: rgba(0, 0, 0, .5)
$border: #ebebeb

.spanning
  min-height: 100%

.column-3x
  width: 33.333333333%
  height: 100%
  +box-sizing()
  overflow: hidden
  overflow-y: scroll
  float: left

.column-left
  padding-right: 5px
  .column-item
    border-right: 1px solid $border

.column-right
  padding-left: 5px
  .column-item
    border-left: 1px solid $border

.column-center
  padding: 0 5px
  .column-item
    border-left: 1px solid $border
    border-right: 1px solid $border

.column-item
  min-height: 100%
  padding: 10px 0
  +box-sizing()

.title
  font-size: 18px
  line-height: 34px
  color: $text
  margin: 0 15px 0
  float: left

.title-small
  font-size: 14px
  text-transform: uppercase

.view-all
  font-size: 14px
  line-height: 34px
  color: $text
  border: 1px solid rgba(0, 0, 0, 0.25)
  +border-radius(17px)
  height: 32px
  margin: 0 10px 0 0
  padding: 0 15px
  float: right
  svg
    margin: 0 10px 4px 0
    display: inline-block
    vertical-align: middle

.view-link
  text-align: center
  line-height: 32px
  border: 1px solid rgba(0, 0, 0, 0.25)
  +border-radius(50%)
  width: 32px
  height: 32px
  margin: 0 10px 10px 0
  float: right
  svg
    margin: 0 auto 1px
    display: inline-block
    vertical-align: middle

.graph-list
  margin-bottom: 11px
  clear: both

.graph
  width: 33.333333333%
  height: 80px
  +box-sizing()
  border: 1px solid $border
  border-right: 0
  border-top: 0
  position: relative
  overflow: hidden
  float: left
  &first-child
    border-left: 0
  .peity
    position: absolute
    bottom: 0
    left: 0
    right: 0
  h2
    font-size: 20px
    line-height: 1.2
    color: #4A585D
    position: absolute
    left: 10px
    right: 10px
    top: 6px
    z-index: 5
  span
    font-size: 10px
    line-height: 1.2
    display: inline-block
    margin-left: 10px
  em
    font-size: 13px
    margin-right: 3px
  h3
    font-size: 10px
    line-height: 1.2
    color: $text
    position: absolute
    left: 10px
    right: 10px
    top: 31px
    z-index: 5

.graph-up span
  color: $green-base

.graph-down span
  color: $red

.graph-line:first-child
  .graph
    border-top: 1px solid $border

.tabs
  margin: 5px 11px 0 0
  float: right
  li
    font-size: 11px
    line-height: 25px
    font-weight: 300
    height: 24px
    border: 1px solid transparent
    +border-radius(12px)
    padding: 0 10px
    cursor: pointer
    float: left
  .active
    cursor: default
    border-color: #ABB5B8

.tabs-list
  clear: both

.box
  display: none
  table
    width: 100%
    margin: 0 0 20px
    th, td
      border: 0
    th
      font-size: 12px
      line-height: 1.25
      font-weight: 300
      vertical-align: bottom
      color: rgba(0, 0, 0, .25)
      border-top: 1px solid $border
      border-left: 1px solid $border
      width: 20%
      a
        color: rgba(0, 0, 0, .25)
      &:first-child
        border-left: 0
    td
      padding: 0 11px
      width: 20%
    thead th
      height: 50px
    tbody td
      color: rgba(0, 0, 0, .25)
      font-weight: 300
      border: 1px solid $border
      text-align: center
      height: 20px
      vertical-align: middle
      &:last-child
        border-right: 0
      &:first-child
        border-left: 0
      a
        color: rgba(0, 0, 0, .25)
      span
        display: inline-block
        vertical-align: middle
    tfoot
      td
        font-size: 12px
        line-height: 1.25
        color: rgba(0, 0, 0, .50)
        vertical-align: top
        padding: 12px 11px
        a
          color: rgba(0, 0, 0, .50)
      tr
        border-bottom: 1px solid $border
      tr:hover
        background: rgba(23, 161, 229, 0.05)
        cursor: pointer

.box.visible
  display: block

.it-box
  height: 100%
  position: relative

.it-box span
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  cursor: pointer
  padding: 26px 11px 9px
  +transition(0.2s)

.it-box.active span
  font-size: 10px
  padding-top: 12px
  font-weight: 700
  color: #17A1E5
  padding-bottom: 0

.it-box
  .input-text
    font-size: 12px
    color: #4A585D
    height: 20px
    margin: 25px 0 0
    padding: 0 11px
    width: 100%
    border: 0
    +box-sizing()
    display: none

.it-box.active .input-text
  display: inline-block

.paginator
  font-size: 11px
  line-height: 23px
  font-weight: 300
  text-align: center
  margin: 0 0 20px
  clear: both
  a, span
    color: $text
    display: inline-block
    vertical-align: top
    border: 1px solid transparent
    height: 22px
  .pages
    padding: 0 17/766*100%
    a, span
      padding: 0 12px
  .current
    border: 1px solid #ABB5B8
    +border-radius(12px)

.prev-page
  margin-left: 35/766*100%

.next-page
  margin-right: 35/766*100%

.activities-list
  clear: both

.month
  font-size: 12px
  line-height: 32px
  text-transform: uppercase
  color: $text
  padding: 0 11px
  border-top: 1px solid $border
  span
    float: left
  p
    font-size: 10px
    font-weight: 700
    float: right

.al-box
  padding: 8px 11px
  clear: both
  border-top: 1px solid $border
  h2
    font-size: 12px
    line-height: 15px
    color: #4A585D
    font-weight: 700
    margin: 0 10px 5px 0
    float: left
    a
      color: #4A585D
  .date
    font-size: 10px
    line-height: 15px
    color: rgba(0, 0, 0, .4)
    float: left
  p
    font-size: 12px
    line-height: 1.25
    clear: both

.status
  font-size: 10px
  line-height: 18px
  color: $white-color
  text-transform: uppercase
  margin: -1px 0 4px
  padding: 0 8px
  +border-radius(8px)
  height: 17px
  float: right

.status-admin
  background: #F86354

.status-staff
  background: #17A1E5

.status-client
  background: $green-base

.big-graph
  clear: both
  border-top: 1px solid $border
  border-bottom: 1px solid $border
  padding: 16px 0 10px
  .tabs
    margin-top: 18px
    margin-bottom: 40px

.bg-place
  clear: both
  position: relative

.graph-info
  margin: 0 0 20px
  float: left

.bg-info
  margin: 0 0 0 22px
  width: 158px
  float: left
  h2
    font-size: 40px
    line-height: 1.225
    font-weight: 300
    color: #4A585D
    margin: 0 0 -2px
  p
    font-size: 10px
    line-height: 1.2
    color: $text
    text-transform: uppercase

.bg-procent
  margin: 9px 0 20px
  width: 100px
  float: left
  h2
    font-size: 20px
    line-height: 1.2
    margin: 0 0 2px
  p
    font-size: 10px
    line-height: 1.2
    color: $text
    text-transform: uppercase
  span
    text-align: center
    line-height: 15px
    width: 16px
    height: 16px
    +border-radius(50%)
    border: 1px solid $black-color
    display: inline-block
    vertical-align: middle
    margin: 0 0 2px
    em
      font-size: 16px

.procent-up
  h2
    color: $green-base
  span
    border-color: $green-base

.procent-down
  h2
    color: $red
  span
    border-color: $red

.pie-box
  width: 50%
  height: 330px
  +box-sizing()
  border-bottom: 1px solid $border
  margin: 0 0 10px
  padding: 10px 0 0
  float: left
  .view-link
    margin-bottom: 16px

.pb-border
  border-left: 1px solid $border

.peity
  margin: 0 auto
  clear: both
  display: block

.pie-info
  clear: both

.pi-box
  text-align: center
  width: 50%
  height: 70px
  +box-sizing()
  padding: 21px 10px
  float: left
  h2
    font-size: 20px
    line-height: 1.2
    color: #4A585D
    margin: 0 0 1px
    span
      font-size: 10px
    em
      font-size: 14px
      margin-right: 3px
  p
    font-size: 10px
    color: $text
    text-align: left

.align-text-left
  display: inline-block

.pi-unpaid
  color: $red

.pi-paid
  color: $green-base

.popup-bg
  background: rgba(255, 255, 255, .95)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 998
  display: none

.popup
  background: $white-color
  width: 600px
  height: 370px
  position: fixed
  top: 50%
  left: 50%
  margin: -185px 0 0 -300px
  +box-shadow(0 0 8px rgba(0, 0, 0, .3))
  +box-sizing()
  +border-radius(10px)
  padding: 20px
  z-index: 999
  display: none
  &:before
    border: 1px solid $border
    position: absolute
    top: 2px
    left: 2px
    right: 2px
    bottom: 2px
    +border-radius(10px)
    content: ''
  .close
    margin-top: 3px
  .title
    margin: 0 0 10px
  h2
    font-size: 14px
    color: $text
    clear: both
    margin: 0 0 10px
  select
    font-size: 16px
    color: $text
    display: block
    clear: both
    width: 100%
    height: 100px
    border: 1px solid $border
    margin: 0 0 20px
    option
      line-height: 1.5
      margin: 0 0 5px

.popup-content
  position: relative
  z-index: 5
