// Staff Styles

.ng-scope .table-responsive {
//  border: 0px;
//  border-radius: 0px;
//  border-color: transparent;
  margin: 0px;

  thead{

    label{
      padding-top: 20px;
      padding-bottom: 5px;
      padding-left: 0px;
      font-size: 10px;
    }
  }

  tbody {
    td{
      text-align: left;

      .form-control{
        padding: 5% 5%;
      }

      div{
        color: #a09696;
        font-family: "Proxima Nova regular";
      }

      .job-type-doc-wrapp{
        float: left;
        margin-right: 17px;
        width: auto;
      }

      span{
        font-size: 12px;
        font-weight: 400;
      }

      label{
        color: #17A1E5;
        font-size: 12px;
        font-weight: 400;
      }

      a{
        font-size: 12px;
        color: #17A1E5;
        font-weight: 400;
        cursor: pointer;

        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
      }

      &.actions{

        a{
          float: left;
        }
      }
    }
  }
}

.staff-modal{

  .modal-body{
    border: 1px solid rgb(229, 229, 229);
    margin: 3px;
    border-radius: 10px;
    padding: 0;

    h4{
      font-family: Proxima Nova Light;
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      padding: 0;
    }

    .col-md-12{
//      padding: 0;
    }

    .form-group{
      position: relative;

      label{
        font-family: Proxima Nova Light;
        line-height: 15px;
      }

      span.help-block{
        position: absolute;
        width: 60%;
        top: 5px;
        right: 5px;
        text-align: right;
      }
    }

    tbody tr{
      background: none;
    }

    .table-responsive{
      border: none;
    }

    ng-transclude {
      h4{
        padding-bottom: 10px;
        color: #000;
        font-family: Proxima Nova Light;
        font-size: 14px;
      }

      p{
        text-align: center;
      }
    }
  }

  &.assign{

    .col-12.header-btn{
      text-align: right;
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      position: relative;
      padding-right: 25px;
    }

    .col-md-4{
      &.middle{
        text-align: center;
      }
    }
  }
}


.new-type.modal-new{

  form{

    .auth-divider{

      .form-group{
        width: 50%;
        border: 1px solid #eee;

        span.help-block{
          position: absolute;
          top: 0;
          right: 0;
          width: 60%;
          text-align: right;
        }

        input.form-control{
          width: 100%;
        }
      }
    }
  }

}


.prem-set.set-addon {

  &.new-window-overlay .title {
    color: #7f7d7e;
  }

  .overlay-form{

    .form-group {
      float: left;
      width: 25%;
      border: none;
      min-height: 50px;
      height: auto;
      margin-top: 5px;
    }
  }

  .wrap-footer {
    clear: both;
    padding: 21px 0;
    border-top: 0px solid #eeeeee;
  }
}


#staff-table{
  tbody tr{
    background: none;
  }
}