/* alert */
.alert-box {
  position: absolute;
  right: 10px;
  top: 120px;
  width: 550px;
  @media (max-width: $screen-xs-mini) {
    width: auto;
  }
  svg {
    @media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
      width: 41px;
    }
  }
}

.alert {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 4px !important;
  background-clip: padding-box;
  padding: 2px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 999;
}

.alert-success {
  background-color: #fcfef9;
  color: #53bf09;
  .alert-content {
    border: 2px solid #5db722;
  }
}

.alert-danger {
  background-color: #fffcfd;
  color: #ec6b56;
  .alert-content {
    border: 2px solid #e16c62;
  }
}

.alert-info {
  background-color: #f9fdff;
  color: #18a3e8;
  .alert-content {
    border: 2px solid #2f99cb;
  }
}

.alert-warning {
  background-color: #fefffa;
  color: #d2b30d;
  .alert-content {
    border: 2px solid #c9b02f;
  }
}

.alert-content {
  border-radius: 4px;
  padding: 10px 10px 5px;
  float: left;
  height: auto;
  width: 100%;
}

.alert-icon {
  float: left;
  width: 50px;
}

.alert-text {
  float: left;
  margin: 0px 0px 0px 10px;
  text-transform: uppercase;
  width: 88%;
  margin-top: 5px;
  font-size: 12px;
  h4 {
    margin: 0px 0px 4px;
    font-weight: bold;
  }
  @media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
    float: none;
  }
}

.alert-dismissable .close, .alert-dismissible .close {
  position: absolute;
  top: 17%;
  right: 15px;
  font-size: 40px;
  opacity: 1;
}

/* alert */
