// This is the .scss based on the css of the angular-ui-tree sample
// from https://github.com/angular-ui-tree/angular-ui-tree/tree/master/examples/css

// colors
$color_white_lilac_approx: #f8faff;
$color_geyser_approx: #dae2ea;
$color_bali_hai_approx: #7c9eb2;
$color_boston_blue_approx: #438eb9;
$color_black_haze_approx: #f4f6f7;
$color_mercury_approx: #dce2e8;
$color_alice_blue_approx: #f0f9ff;
$color_tiara_approx: #bed2db;
$color_nevada_approx: #687074;
$white: #fff;

// Changes from Serg
#groupers-tree-root {
  .angular-ui-tree-node {
    width: 20%;
  }
}
#sorters-tree-root {
  .angular-ui-tree-node {
    width: 20%;
  }
}

// Changes from Serg
#tree-root {
  .angular-ui-tree-node {
    width: 100%;
  }
}

.angular-ui-tree {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.angular-ui-tree-handle {
  background: $color_white_lilac_approx;
  color: $color_bali_hai_approx;
  padding: 2px;
  &:hover {}
}

.angular-ui-tree-placeholder {
  background: $color_alice_blue_approx;
  border: 2px dashed $color_tiara_approx;
  // Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}

.angular-ui-tree-node {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.angular-ui-tree-nodes {
  display: inline-block;
  vertical-align: top;
  // Changes from Serg
  width: 100%;
}

.group-title {
  background-color: $color_nevada_approx !important;
  color: $white !important;
}

.tree-node {
  border: 1px solid $color_geyser_approx;
  background: $color_white_lilac_approx;
  color: $color_bali_hai_approx;
  // Changes from Serg
  min-height: 44px;
}

.tree-node-content {
  margin: 2px;
}

.tree-handle {
  padding: 2px;
  background: $color_boston_blue_approx;
  color: $white;
  margin-right: 10px;
}