//Record Details Page CSS
.shadow-null {
  box-shadow: none !important;
}

.record-details {
  margin-left: 4px;
}

.desktop-record-section {
  width: 100%;

  .form-group {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid $gray-lighter;
    border-left: 0px;
    margin-bottom: 0px;
    border-bottom: 0;
    label {
      font-size: 12px !important;
      font-weight: normal !important;
      margin: 0px !important;
      text-transform: uppercase;
    }
    &:first-child {
      border-top: 0px !important;
    }
    &:last-child {
      border-right: 0px !important;
    }
  }
  .innner-box {
    background: none repeat scroll 0px 0px rgb(242, 250, 253) ! important;
    border: 3px dashed rgb(46, 153, 201) ! important;
    border-radius: 8px;
    padding: 28px;
    h4 {
      color: #17A1E5 !important;
      font-weight: 600;
      padding: 6px !important;
    }
  }
  .form-group {
    border-right: none;
    border-left: none;
  }
}

.table {
  margin-bottom: 0;
}

//Desktop Record Left Sidebar
.desktop-record-left-sidebar {

  .col-3 {
    .form-group {
      @media (min-width: $screen-el-min) {
        min-height: 56px !important;
      }

    }
  }

  .page-wrapper {
    width: 100%;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 100% !important;
    }

  }

}

// Desktop Record column fixes for the preview window
.desktop-record-preview-window {
  .list-unstyled li {
    margin-left: 0 !important;
  }
  .list-unstyled .form-group {
    border: none !important;
  }
}

//Desktop Record Columns
.desktop-record-columns {
  padding: 0;
  width: 100%;
  .dropdown-menu {
    padding-top: 4px;
    li {
      padding: 0 !important;
      border-bottom: 0;
      padding: 0px;
      margin: 0;

    }
  }

  .white-space {
    padding: 5px !important;
  }
  li {
    border-right: solid #F1F1F1 1px;
    border-top: solid #F1F1F1 1px;
    border-left: 1px solid $gray-lighter;
    margin-bottom: 0px;
    padding: 11px;
    margin-left: 4px;

    @media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
      margin-left: inherit;
    }

    .date-time {
      padding-left: 6px;
    }

    textarea {
      height: auto !important;
    }
    label {
      color: $web-gray-base;
      display: inline;
      font-weight: normal;
      text-transform: uppercase;
    }
    div {
      color: $black-color;
      padding-top: 13px;
    }
    .mail {
      color: #17A1E5;
    }
    .green {
      background: #4CC600;
    }
    .blue {
      background: #17A1E5;
    }
    .red {
      background: #F86354;
    }
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
    .divider.col-6 {
      /*.test {
			  @extend .col-md-6;
			  border-bottom:0px;
			  }*/
    }
  }
  .tag {
    border-radius: 17px;
    font-size: 10px;
    padding: 3px;
    text-transform: uppercase;
    width: 50px;
  }
  textarea {
    background: #fff;
    border: none;
    color: $base-color;
    font-size: $font-size-h4;
    height: 42px;
    padding: 10px 0px;
    width: 100%;
    box-shadow: none;
  }
  .desktop-record-sub-columns {
    .form-group {
      color: #7d7e76;
      font-weight: bold;
      &:first-child {
        margin: 0;
        height: 84px;
        border-right: 1px solid $gray-lighter;
      }

      h4 {
        font-size: 16px;
      }

    }
  }
}

//Desktop Record Sidebar Button
.records-sidebar-btn {
  position: absolute;
  right: -39px;
  top: 248px;
  -webkit-transform: translate(0px, 100%) rotate(90deg);
  -moz-transform: translate(0px, 100%) rotate(90deg);
  -o-transform: translate(0px, 100%) rotate(90deg);
  &:hover {
    text-decoration: none;
  }
}

.recordssidebar-btn-close {
  display: inline-block;
  left: -76px;
  top: 11.6em;
  position: absolute;
  -webkit-transform: translate(0px, 100%) rotate(90deg);
  -moz-transform: translate(0px, 100%) rotate(90deg);
  -o-transform: translate(0px, 100%) rotate(90deg);
  white-space: nowrap;
  &:hover {
    text-decoration: none !important;
  }
}

//Desktop Record Masonary CSS
.masonrybox-one {
  width: 715px;
  margin-bottom: 10px;
  @media (min-width: $screen-xs-mini) and (max-width: $screen-xs-max) {
    width: 100% !important;
  }
  @media (min-width: 900px) and (max-width: $screen-sm-max) {
    width: 60% !important;
  }
  @media (min-width: 768px) and (max-width: 889px) {
    width: 100% !important;
  }
}

.masonrybox-two {
  width: 350px;
  margin-bottom: 10px;

  @media (min-width: $screen-xs-mini) and (max-width: $screen-xs-max) {
    width: 100% !important;
  }

}

//Desktop Record Page Table
.desktop-record-tbl {
  color: #A09696;
  tr {
    th {
      border-bottom: medium none !important;
      border-right: 1px solid $gray-lighter;
    }
  }
  td {
    border-bottom: none !important;
    font-size: 12px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    color: $black-color;
  }
}
