/*Appraisal Version 2*/

.radius-cloud-btn {
  height: 35px;
  padding: 6px 9px 0px 5px;
}

.help-form {
  .bootstrap-select {
    height: inherit;
  }
}

.overlay-form-2 {
  .innner-box {
    background: none repeat scroll 0 0 #f2fafd !important;
    border: 2px dashed #17A1E5 !important;
    border-radius: 8px;
    padding: 45px 0px;
    margin-top: 8px;
  }
}

.overlay-form-2 {
  .innner-box h4 {
    color: #17A1E5 !important;
    font-weight: 600;
    padding: 6px !important;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.overlay-form-2 {
  .wrap-footer {
    border-top: medium none;
  }
}

.overlay-form-2 {
  .drop-bottom-txt {
    padding: 12px 0 0px;
    border: 0 none;
    color: black;
  }
}

.order-details-tabs {
  ul {
    li {
      border-bottom: none !important;
      border-right: none !important;
      min-width: 25% !important;
      text-align: center !important;
    }
  }
}

.order-details-map {
  height: 290px;
}
