@import "variables"
@import "mixins"

$radio-tab-height: 52px

.radio-tabs
  height: $radio-tab-height
  padding: 0
  margin: 0
  +box-sizing()

.radio-tab
  display: inline-block
  height: $radio-tab-height
  vertical-align: middle
  +box-sizing()
  position: relative

  &:before
    content: ""
    border: 1px solid $border-color-black-10-per
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: transparent
    margin: 0px -1px -1px 0px
    pointer-events: none

  &.last:before
    margin: 0px 0px -1px 0px

  a
    text-decoration: none
    color: $font-color-black-50-per
    font-size: 10px
    text-transform: uppercase
    display: block
    height: $radio-tab-height
    position: relative

    span
      position: absolute
      left: 8px
      bottom: 8px
      overflow: hidden

.radio-tab-selected
  background-color: $background-color-blue-theme
  color: $color-blue-theme
  z-index: 1

  &:before
    border-color: $border-color-blue-theme
