/***********
 * AS-TABLE
 ***********/
// Grand total row
.grand-total {
  position: fixed;
  bottom: 35px;
  width: 100%;
  z-index: 10;
  opacity: 1 !important;
  background-color: white;
}

// Total row
.page-total {
  position: fixed;
  bottom: 70px;
  width: 100%;
  z-index: 10;
  opacity: 1 !important;
  background-color: white;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

// Page numbering
.page-numbers {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  opacity: 1 !important;
  background-color: white;
}

.page-numbers a {
  cursor: pointer;
}

//list numbering
ol.close-nums {
  width: 28%;
}

/**
 * Display pointer for table pagination
 */
[st-pagination] a {
  cursor: pointer;
}

// Modal file upload input styling
.modal-file-upload {
  position: absolute;
  right: 0;
  top: 0;
  height: 90%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%
}

// Use a pointer when hovering over a table function
.table-function {
  cursor: pointer;
}
