.as-select-container {
  position: relative;
  width: 100%;
  height: 31px;
  margin: 0;
  background: transparent url('/assets/images/icons/arrows2.svg') no-repeat right;

  .form-control[disabled],
  select[disabled],
  select {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    z-index: 999;
    cursor: pointer;

    &[disabled]{
      cursor: not-allowed;
    }

    + span {
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
}
