.as-checkable-container {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;

  input[type="radio"],
  input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;

    + div {
      background: transparent url('/assets/images/checkable.png') no-repeat 0 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;

      div {
        display: none;
        width: 100%;
        height: 100%;
        background: transparent url('/assets/images/checkable.png') no-repeat -178px 0;
      }
    }
  }

  input[type="radio"] {
    + div {
      background-position: -80px 0;
      div {
        background-position: -160px 0;
      }
    }
  }

  input[type="checkbox"]:hover {
    + div {
      background-position: -20px 0;
    }
  }

  input[type="radio"]:hover {
    + div {
      background-position: -100px 0;
    }
  }

  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    + div {
      background-position: -40px 0;
      div {
        display: block;
      }
    }
  }

  input[type="radio"]:checked {
    + div {
      background-position: -120px 0;
    }
  }

  input[type="checkbox"]:checked:hover {
    + div {
      background-position: -60px 0;
    }
  }

  input[type="radio"]:checked:hover {
    + div {
      background-position: -140px 0;
    }
  }
}
