//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.

// [converter] Asset helpers such as Sprockets and Node.js Mincer do not resolve relative paths
$icon-font-path: "../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/" !default;

//** File name for all font files.
$icon-font-name: "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id: "glyphicons_halflingsregular" !default;

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

// Core variables and mixins
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";
