/* button */

.auth-signin-btn-green {
  border: 1px solid $green-base;
  background: $white-color;
  color: $green-base;
  text-transform: uppercase;
  font-size: 17px;

  padding: 9px 20px 0 1px;
  border-radius: 50px;
  img {
    margin-left: -6px;
    margin-right: 11px;
  }
  span {
    left: 9px;
    position: relative;
    top: -4px;
  }
  svg {
    position: relative !important;
    right: -8px !important;
    top: -2px !important;
  }
  &:hover .svgicn {
    fill: $black-color;
  }
}

.auth-signin-btn {
  border: 1px solid $green-base;
  background: #f6fcfc;
  color: $green-base;
  text-transform: uppercase;
  font-size: 17px;

  padding: 9px 20px 0 1px;
  border-radius: 50px;
  img {
    margin-left: -6px;
    margin-right: 11px;
  }
  span {
    left: 9px;
    position: relative;
    top: -4px;
  }
  svg {
    position: relative !important;
    right: -8px !important;
    top: -2px !important;
  }
  &:hover .svgicn {
    fill: $black-color;
  }
}

.cancel-btn {

  padding: 0 15px;
  background: #fcfcfc;
  color: #7D7C81;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 32px;

  //padding: 9px 20px 0 1px;
  border-radius: 50px;
  //img {
  //  margin-left: -6px;
  //  margin-right: 11px;
  //}
  //span {
  //  left: 9px;
  //  position: relative;
  //  top: -4px;
  //}
  &-icon {
    vertical-align: middle;
    margin-top: -1px;
  }
  &:hover .svgicn {
    fill: $black-color;
  }

}

//Export Button
.export-btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-right: 5px;
  padding: 7px 15px 0 6px;
  text-transform: uppercase;

  svg {
    height: 20px !important;
    margin: 2px 2px 0 0;
    width: 23px !important;
  }
  span {
    position: relative;
    top: -6px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &:hover .svgicn {
    fill: #3A3A3A;
  }
}

/* button */

/* buttons */

.signin-btn {
  border: 1px solid $green-base;
  background: none repeat scroll 0 0 #f6fcfc;

  color: $green-base;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 22px 3px 8px;
  border-radius: 50px;
  img {
    margin-left: -6px;
    margin-right: 11px;
  }
  span {
    left: 3px;
    position: relative;
    top: -4px;
    font-size: 16px;
  }
  &:hover .svgicn {
    fill: $black-color;
  }
}

.appraisal-btn {
  background: #F6FCFC !important;
  margin-right: 5px;
  padding: 7px 19px 0 10px;

  svg {
    height: 22px;
    margin-top: 1px;
    width: 19px !important;
  }
  span {
    top: -6px;
  }
  &:hover .svgicn {
    fill: black !important;
  }
}

//Radius Small Wrapper Button
.radius-btn {
  border: 1px solid #BCBCBC;
  background: #FCFCFC;
  padding: 7px 11px 0 9px;
  border-radius: 50px;
  &:hover .svgicn {
    fill: #3A3A3A;
  }
}

.import-btn {
  background: url(../images/icons/import.svg) no-repeat;
  width: 35px;
  height: 35px;
  border: none;
}

.print-btn {
  background: url(../images/icons/print.svg) no-repeat;
  width: 35px;
  height: 35px;
  border: none;
}

/******************************
 * Margin bottom for select box and stacked buttons
 ******************************/
.select-margin-bottom {
  margin-bottom: 1em;
}

/******************************
 * Button positioning
 ******************************/
// search buttons
.as-button-pad-top {
  margin-top: 8px;
}

.button-padding {
  margin-bottom: 5px;
}

.as-button-push-down {
  top: 18px;
}

/* buttons */

.overlay-simple-btn {
  border-radius: 50px;
  background: none !important;
  font-weight: inherit !important;
  padding: 4px 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  span {
    top: -5px !important;
  }
}

.overlay-simple-small-btn {
  border-radius: 50px;
  background: none !important;
  font-weight: inherit !important;
  padding: 4px 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
}

.simple-btn-small-span {
  font-size: 12px;
}
