/*Variables*/
// Medium Large screen / wide desktop
//** Deprecated `$screen-ml` as of v3.0.1
$screen-ml: 1600px !default;
$screen-ml-min: $screen-ml !default;
//** Deprecated `$screen-ml-desktop` as of v3.0.1
$screen-ml-desktop: $screen-ml-min !default;

// Extra large screen / wide desktop
$screen-el: 1920px !default;
$screen-el-min: $screen-el !default;
//** Deprecated `$screen-el-desktop` as of v3.0.1
$screen-el-desktop: $screen-el-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max: ($screen-ml-min - 1) !default;
$screen-ml-max: ($screen-el-min - 1) !default;

//Grid
// Generate the Medium large columns
@mixin make-ml-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

@mixin make-ml-column-offset($columns) {
  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    margin-left: percentage(($columns / $grid-columns));
  }
}

@mixin make-ml-column-push($columns) {
  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    left: percentage(($columns / $grid-columns));
  }
}

@mixin make-ml-column-pull($columns) {
  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the Extra large columns
@mixin make-el-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-el-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

@mixin make-el-column-offset($columns) {
  @media (min-width: $screen-el-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}

@mixin make-el-column-push($columns) {
  @media (min-width: $screen-el-min) {
    left: percentage(($columns / $grid-columns));
  }
}

@mixin make-el-column-pull($columns) {
  @media (min-width: $screen-el-min) {
    right: percentage(($columns / $grid-columns));
  }
}

/* Grid Framework */
// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-ml-#{$i}, .col-el-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-ml-#{$i}, .col-el-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

//Responsive Utilities

@include responsive-invisibility('.visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-ml, .visible-el');

@media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
  @include responsive-visibility('.visible-ml');
}

.visible-ml-block {
  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    display: block !important;
  }
}

.visible-ml-inline {
  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    display: inline !important;
  }
}

.visible-ml-inline-block {
  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-el-min) {
  @include responsive-visibility('.visible-el');
}

.visible-el-block {
  @media (min-width: $screen-el-min) {
    display: block !important;
  }
}

.visible-el-inline {
  @media (min-width: $screen-el-min) {
    display: inline !important;
  }
}

.visible-el-inline-block {
  @media (min-width: $screen-el-min) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-el-min) {
  @include responsive-invisibility('.hidden-el');
}

@media (min-width: $screen-ml-min) {
  @include responsive-invisibility('.hidden-ml');
}

//Bootstrap Grid

@media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
  @include make-grid(ml);
}

@media (min-width: $screen-el-min) {
  @include make-grid(el);
}

/********************************************************************
 * Additional column width definitions
 ********************************************************************/

/******************************
  * 3 column layout
  ******************************/
.col-xs-3rds,
.col-sm-3rds,
.col-md-3rds,
.col-lg-3rds {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-3rds {
  width: 33%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-3rds {
    width: 33%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-3rds {
    width: 33%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-3rds {
    width: 33%;
    float: left;
  }
}

/******************************
  * 5 column layout
  ******************************/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

/******************************
  * 7 column layout
  ******************************/
.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-7ths {
  width: 14.2%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-7ths {
    width: 14.2%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-7ths {
    width: 14.2%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-7ths {
    width: 14.2%;
    float: left;
  }
}

/******************************
  * 8 column layout
  ******************************/
.col-xs-8ths,
.col-sm-8ths,
.col-md-8ths,
.col-lg-8ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-8ths {
  width: 12.5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-8ths {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-8ths {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-8ths {
    width: 12.5%;
    float: left;
  }
}

/******************************
  * 9 column layout
  ******************************/
.col-xs-9ths,
.col-sm-9ths,
.col-md-9ths,
.col-lg-9ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-9ths {
  width: 11.1%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-9ths {
    width: 11.1%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-9ths {
    width: 11.1%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-9ths {
    width: 11.1%;
    float: left;
  }
}

/******************************
  * 11 column layout
  ******************************/
.col-xs-11ths,
.col-sm-11ths,
.col-md-11ths,
.col-lg-11ths {
  position: relative;
  min-height: 1px;
  min-width: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-11ths {
  width: 9%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-11ths {
    width: 9%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-11ths {
    width: 9%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-11ths {
    width: 9%;
    float: left;
  }
}

@media only screen and (min-device-width: 768px) {
  //Record Page Left Sidebar
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .arrow-icon {
    display: none;
  }
  .dashboard-menu {
    ul {
      li {
        width: 11.1%;
      }
    }
  }
  //Dashboard Sidebar
  .sidebarbtn-close {
    left: 26%;
    top: 25em;
  }
  .sidebar-btn {
    top: 30em !important;
    left: 92.7%;
  }
}

@media (min-width: $screen-el-min) {
  .dashboard-sidebar {
    .page-wrapper {
      box-shadow: none;
    }
  }

}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .records-sidebar-btn {
  }
  .recordssidebar-btn-close {
    right: 94%;
    top: 12.6em;
  }
}

@media (min-width: $screen-el-min) {
  .records-sidebar-btn {
    right: 585px;
    top: 12.5em;
  }
  .recordssidebar-btn-close {
    right: 585px !important;
    top: 12.5em !important
  }
}

@media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
  //Navigation
  .аnavbar-nav li a {
    text-align: left;
    span {
      float: left;
      width: 40px;
      margin: -3px 0px 0px;
    }
  }
  .header-submenu {
    ul {
      .active {
        height: 79px;
      }
    }
    li {
      border-left: 1px solid #eeeeee;
    }
  }
  //Dashboard Area
  .dashboard-menu {
    ul {
      li {
        min-width: 50% !important;
//        height: 75px !important;
      }
    }
  }
  .dashboard-search {
    ul {
      text-align: center;
      li {
        width: 100%;
        margin-top: 7px;
      }
    }
  }
  //Dashboard Sidebar Area
  .dashboard-sidebar {
    .head {
      p {
        line-height: inherit;
        text-align: center;
      }
    }
    .page-wrapper {
      .top-area {
        border-bottom: 1px solid rgb(238, 238, 238);
        overflow: hidden;
        padding: 0;
        text-align: center;
        .list-inline {
          text-align: center;
        }
      }
    }
  }
  .desktop-record-columns {
    padding: 0;
    width: 100%;
  }
  .desktop-record-left-sidebar {
    .page-wrapper {
      width: 100%;
    }
  }
  //Record Page Sidebar
  .sidebar {
    display: block !important;
    position: inherit !important;

    //position: absolute !important;
    //top: 72px;
    //right: 0px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .dashboard-menu {
    ul {
      li {
        margin: 0;
      }
    }
  }
}
