//Dashboard Main Page CSS
//Dashborad SVG Icons Size

.svg-small {
  width: 12px;
  height: 8px;
}

//Dashboard Sidebar
.sidebar-area {
  overflow: visible;
  position: absolute !important;
  right: 0;
  top: 20%;
  width: auto;
  z-index: 20;
}

.sidebar-shadow {
  background-color: #fff;
  box-shadow: 1px 2px 7px 1px #888888;
  right: 0 !important;
}

/* dashboard menu */

@media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
  .dashboard-left-area {
    padding-right: 0;
  }
}

.appraisal-menu {
  ul {
    li {
      float: left;
      width: auto;
      min-width: 20%;
    }
  }
}

@media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
  .appraisal-menu {
    ul {
      li {
        float: left;
        width: 50%;
      }
    }
  }
}

/* dashboard menu */

//Dashboard Search
.dashboard-search {
  clear: both;
  border-top: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
  border-left: 1px solid $gray-lighter;
  img {
    height: 16px;
    margin-top: 13px;
    position: absolute;
    width: 16px;
  }
  .step-1 {
    padding: 10px 13px 10px 15px;
  }
  .step-2 {
    margin-bottom: -18px;
    margin-top: 13px;
    @media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
      margin-bottom: 18px;
      padding: 0;
      text-align: center;
    }

  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    background: $white-color;
    border: none;
    color: $base-color;
    font-size: 14px;
    height: 42px;
    padding: 10px 0px;
    width: 100%;
    font-family: $proximanova-light;
    box-shadow: none;
    margin-left: 19px;
  }
  ul {
    li {
      padding: 0;
      @media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
        padding: 4px 0;
      }

    }
  }
}

//Dashboard Table
.dashboard-table {
  //border: 1px solid $gray-lighter;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #a09696;

  thead tr th {
    vertical-align: top;
    padding: 5px 10px;
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: 14px;
    }
    .bootstrap-select > .btn {
      padding: 0 18px 0 0 !important;
    }
    .form-group {
      label {
        white-space: nowrap;
      }
      .as-select-container {
        overflow: hidden;
        background: none;
        font-weight: normal;
        color: $base-color;
        span {
          top: 4px !important;
        }
      }
    }
  }

  tbody tr:nth-child(1) th {
    padding: 1px;
  }

  tbody tr td:nth-child(7) {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }

  tbody tr td:nth-child(3), tbody tr td:nth-child(6), tbody tr td:nth-child(2) {
    color: rgba(74, 88, 93, 1);
    font-family: $proximanova-semibold;
  }

  tr {
    .active {
      background: none repeat scroll 0 0 #f2fafd !important;
      border: solid #9CD6f3 1px !important;
      input[type="text"] {
        background: none repeat scroll 0 0 #f2fafd !important;
        color: $gray-bitdarker;
        font-weight: bold;
        font-size: 14px;
      }
      label {
        color: #17A1E5;
      }
    }
  }

  thead tr:hover{
    background: none !important;
    border: none !important;
  }

  tbody tr.active ,
  tbody tr:hover {
    background: #f2fafd !important;
    border: 1px solid #a6d3ea !important;

    td{
      background: #f2fafd !important;
      border-top: 1px solid #a6d3ea !important;
      border-bottom: 1px solid #a6d3ea !important;
    }
  }
  label {
    color: #999999;
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
  }
  &.table-striped > tbody > tr:nth-of-type(odd){
    background-color: transparent;
  }
  th {
    border: 1px solid $gray-lighter;
    border-right: 0 !important;
    border-bottom: none !important;
    width: 153px;
    input[type="text"], input[type="email"], input[type="password"], textarea {
      background: $white-color;
      color: $base-color;
      font-size: 15px;
      height: 28px;
      padding: 0px;
      width: 100%;
      box-shadow: none;
      border: none;
      font-weight: normal;
      font-size: 17px;
    }
    .filter-option {
      font-weight: bold;
      color: $base-color;
    }
  }
  .form-group {
    margin-bottom: 0px;
  }
}

//Dashboard Pagination
.indexing {
  .pagination {
    border: solid;
    margin: 0;
    .last-index {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 12px;
    }
    .next-index {
      color: rgba(0, 0, 0, 0.5);
    }

  }
  ul {
    border: none !important;
    li
    a {
      color: rgba(113, 126, 131, 1);
      font-size: 13px;
      border: medium solid $white-color !important;
      background: none !important;
    }
    li .active {
      border-radius: 12px;
      border: 1px solid #ABB5BB !important;
      background: none !important;
      margin-right: 1px;
      margin-top: 6px;
      padding: 3px 15px 2px !important;
      font-family: $proximanova-semibold;
    }
  }
}

//TODO delete
.action {
  width: 20%;
  vertical-align: middle !important;
  text-align: center;
  @media (min-width: $screen-ml-min) {
    width: 23%;
  }
  img {
    height: 36px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      height: 34px;
    }
    @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
      height: 30px;
    }
  }

}

/* sidebar */
.sidebar {
  z-index: 99;
  position: absolute !important;
  top: 70px;
  right: 0px;
}

.dashboard-sidebar {
  width: 100%;

  .page-wrapper {
    .fixed-header {
      position: fixed;
      z-index: 999999;
      background: $white-color;
    }
    .fixed-position {
      position: fixed;
      overflow-y: scroll;
      z-index: 99999;
      background: $white-color;
      margin-top: 110px;

      &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px white;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-lighter;
        outline: none;
      }
    }
    .top-area {
      border-bottom: 1px solid rgb(238, 238, 238);
      overflow: hidden;
      padding: 11px 0px 4px;
      border-top: 1px solid $gray-lighter;
      border-left: 1px solid $gray-lighter;
      background: $white-color;
    }
    border: 1px solid #e5e5e5;
    border-radius: inherit;
    padding: 0;
    float: right;
    background: $white-color;
  }
  .head {
    div {
      font-size: 16px;
      span {
        font-family: $proximanova-light;
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
      }

      line-height: 45px !important;
      font-family: $proximanova-regular;
      color: $base-color;

    }
  }
  form {
    .col-12 {
      .form-group {
        border-bottom: none !important;
        clear: both;
      }
    }
    iframe {
      border: none;
      width: 100%;
      height: 290px;
      display: block;
    }
    .carousel-inner {
      .item {
        img {
          height: 290px;
          width: 100%;
        }
      }
    }
    .form-group {
      border: 1px solid $gray-lighter;
      min-height: 55px;
      border-left: 0px;
      margin-bottom: 0px;
      border-bottom: 0;

      @media (min-width: $screen-el-min) {
        min-height: 56px;
      }

      label {
        font-size: 11px !important;
        color: rgba(0, 0, 0, 0.4);
        font-weight: normal !important;
        margin: 0px !important;
        position: relative;
        text-transform: uppercase;
        top: 6px;
        z-index: 99;
      }
      input[type="text"], input[type="email"], input[type="password"], textarea {
        background: $white-color;
        border: none;
        font-size: 14px;
        padding: 10px 0px;
        width: 100%;
        box-shadow: none;
        color: $base-color;
      }
      textarea {
        height: auto !important;
      }
      h4 {
        font-family: $proximanova-light;
        font-size: 16px;
        line-height: 35px;
        color: rgba(0, 0, 0, 0.5);
      }
      #ds_fha {
        font-family: $proximanova-light;
        font-size: 12px;
      }
    }
    &.with-border {
      border-left: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;
    }
  }
}

//Help Table
.help-table thead tr th:nth-child(3) {
  min-width: 30%;
}

.help-sidebar {
  .title {
    color: $gray-bitdarker !important;
    font-size: 16px !important;
  }
  .profile-img {
    width: 33px;
    border-radius: 50%;
  }
  .blue-base {
    color: $green-base;
  }
  .help-sidebar-header {
    margin: -10px 0 11px;
  }
  .attechment-section {
    margin-top: 5px;
  }

  p {
    font-size: 15px;
    line-height: 19px;
    margin-top: 7px;
  }

  .docx-link {
    font-size: 17px;
  }
  .docx-date {
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px !important;
    font-weight: normal !important;
    margin: 0 !important;
    position: relative;
  }

}

.sidebar-footer {
  padding: 11px 0 0 11px;
  img {
    border-radius: 50%;
    float: left;
    height: 100%;
    width: 35px;
  }

  p {
    font-size: 11px;
    line-height: 15px;
  }
  .text-content {
    width: 94%;
    strong {
      font-size: 11px;
    }
    span {
      font-size: 11px;
    }
  }
}

.ticket-date {
  min-height: 35px !important;
  line-height: 22px !important;
}

.sidebar-btn {
  display: inline-block;
  top: 25.3em;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
  -ms-transform: rotate(90deg);
  right: 0;
  white-space: nowrap;
  left: 94.3%;

  &:hover {
    text-decoration: none;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    left: 92.3% !important;

  }

}

.sidebarbtn-close {
  display: inline-block;
  right: 97%;
  top: 14px;
  position: absolute;
  -webkit-transform: translate(0px, 100%) rotate(90deg);
  -moz-transform: translate(0px, 100%) rotate(90deg);
  -o-transform: translate(0px, 100%) rotate(90deg);
  white-space: nowrap;
  border: none;
  z-index: 99;
  background: none;
  &:hover {
    text-decoration: none !important;
  }
  img {
    width: 50px;
  }

}

.sidebarbtn-close {
  display: inline-block;
  right: 94.8%;
  top: 20.5em;
  position: absolute;
  -webkit-transform: translate(0px, 100%) rotate(90deg);
  -moz-transform: translate(0px, 100%) rotate(90deg);
  -o-transform: translate(0px, 100%) rotate(90deg);
  white-space: nowrap;
  &:hover {
    text-decoration: none !important;
  }
}

/******************************
 * Set dashboard sidebar back to relative positioning for Admin Users
 ******************************/
.dashboard-sidebar {
  .no-top-border {
    border-top: none;
  }

  .page-wrapper {
    .top-area {
      position: relative;
    }
  }
}

/* sidebar */

.dashboard-search {
  .form-group {
    margin-bottom: 0px;
  }
}

.dashboard-table thead tr:nth-child(2) th {
  padding: 1px;
}

.dashboard-search .pad-t-20 {
  padding-top: 20px;
}

.dashboard-search .pad-b-20 {
  padding-bottom: 20px;
}
