//Desktop Assign Overlay
.desktop-assign-overlay {

  .wrapper-titles {
    ul {
      overflow: hidden;
      .active {
        overflow: hidden;
      }
      li {
        @extend .col-sm-6;
        padding: 0;

      }
    }
  }

  .dashboard-search {
    border: none;
  }
  .active {
    background: none repeat scroll 0 0 #f2fafd !important;
    border-color: #17A1E5 !important;
    border-style: solid !important;
    border-width: 1px !important;
  }
  .dashboard-table {
    border-bottom: medium none !important;
    border-left: none;
    border-right: none;
    border-top: 1px solid #eeeeee;
    color: #a09696;
    th:first-child {
      border-left: none;
    }
    th:last-child {
      border-right: none;
    }
    .discripton-width {
      width: 35%;
    }
    .form-group {
      @extend .col-md-12;
      padding: 0;
      border: none !important;
    }
  }
  @media (min-width: $screen-el-min) {
    .modal-lg {
      width: 70%;
    }
  }

  .modal-body {
    border: 1px solid rgb(229, 229, 229);
    margin: 3px;
    border-radius: 10px;
    padding: 0;
  }
  .modal-content {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 13px !important;
  }
  .modal-backdrop {
    background-color: white !important;
    .in {
      opacity: 0.73 !important;
    }
  }
  .selectpicker {
    height: inherit;
  }
  .title {
    color: $base-color;
  }

  .licence-wrap {
    width: 10%;
  }
}
