//Dividers
.divider {
  .divider-break {
    border-top: 1px solid rgb(238, 238, 238);
    clear: both;
    height: 9px;
  }
  &.col-3 {
    .form-group:nth-child(4n+4) {
      border-right: none;
    }
  }
  &.col-6 {
    .form-group {
      border-bottom: 0px;
    }
    .form-group:last-child {
      border-right: none !important;
    }
  }
  &.col-4 {
    .form-group {
      border-bottom: 0px;
    }
  }
  &.col-9 {
    .form-group {
      border-bottom: 0px;
      border-right: solid $gray-lighter 1px !important;
    }

  }
  &.col-12 {
    .form-group {
      border-right: none;
      padding: 5px 10px !important;
    }
  }
}
