@import "variables"
@import "bootstrap-variables"
@import "mixins"

$form-group-left-offset-10px: 10px
$form-font-size-9px: 9px
$form-top-offset-11px: 11px
$form-group-height-50px: 50px

.form
  .form-row-1
    .form-group
      width: 100%
  .form-row-2
    .form-group
      width: (100% /2 )
  .form-row-3
    .form-group
      width: (100% / 3)
  .form-row-4
    .form-group
      width: (100% / 4)

  .form-group
    display: inline-block
    margin-bottom: 0
    height: $form-group-height-50px
    vertical-align: middle
    position: relative
    +transition(0.5s linear color)
    +transition(0.5s linear background)

    &:before
      content: ""
      border: $border-width-1px solid $border-color-black-10-per
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: transparent
      margin: 0 -1px -1px 0
      +transition(0.5s linear border-color)

    &.last:before
      margin: 0 0 -1px 0

    .help-block
      color: $has-error-color
      text-transform: uppercase
      float: none
      position: absolute
      right: 10px
      top: $form-top-offset-11px
      visibility: hidden
      margin: 0

    .control-label
      font-size: $form-font-size-9px
      text-transform: uppercase
      color: $font-color-black-50-per
      font-weight: normal
      margin-left: $form-group-left-offset-10px
      margin-top: $form-top-offset-11px
      margin-bottom: 0
      opacity: 0
      +box-sizing()
      +transition(0.5s linear color)
      +transition(0.5s linear opacity)

    .form-control
      background-color: transparent
      font-family: $proximanova-regular
      border: none
      color: $font-color-black-50-per
      font-size: 12px
      height: 25px
      padding: 0 $form-group-left-offset-10px 0
      width: 100%
      box-shadow: none
      margin-top: -5px
      position: relative
      z-index: 1

    &.input-has-value
      .control-label
        opacity: 1
      .form-control
        font-weight: bold
        color: $input-color
        font-size: 14px


    &.has-error.ng-dirty,
    &.has-error.force-validation
      background-color: $has-error-background-color
      z-index: 1

      .help-block
        visibility: visible

      .control-label
        color: $has-error-color

      .form-control
        color: $has-error-color
        +placeholder
          color: $has-error-color

      &:before
        border-color: $has-error-border-color

