/******************************
 * 3 column layout
 ******************************/
.col-xs-3rds,
.col-sm-3rds,
.col-md-3rds,
.col-lg-3rds {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-3rds {
  width: 33%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-3rds {
    width: 33%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-3rds {
    width: 33%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-3rds {
    width: 33%;
    float: left;
  }
}

/******************************
 * 5 column layout
 ******************************/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

/******************************
 * 7 column layout
 ******************************/
.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-7ths {
  width: 14.28%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-7ths {
    width: 14.28%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-7ths {
    width: 14.28%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-7ths {
    width: 14.28%;
    float: left;
  }
}

/******************************
 * 9 column layout
 ******************************/
.col-xs-9ths,
.col-sm-9ths,
.col-md-9ths,
.col-lg-9ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-9ths {
  width: 11.11%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-9ths {
    width: 11.11%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-9ths {
    width: 11.11%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-9ths {
    width: 11.11%;
    float: left;
  }
}

/******************************
 * 11 column layout
 ******************************/
.col-xs-11ths,
.col-sm-11ths,
.col-md-11ths,
.col-lg-11ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-11ths {
  width: 9%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-11ths {
    width: 9%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-11ths {
    width: 9%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-11ths {
    width: 9%;
    float: left;
  }
}
