//Header

#header-area {
  padding: 8px;
  background: $blue-base;
}

.header-scope-menu {
  line-height: 20px;
  font-size: 17px;
  padding: 5px 10px !important;
  width: 162px;
  i {
    margin-top: 10px;
  }
  img {
    height: 20px !important;
    margin-top: 10px;
    width: 13px !important;
  }
}

.header-note-icon {
  padding: 0px 20px !important;
  text-align: center;
  .notification {
    font-size: 20px;
    text-align: center;
    img {
      width: 25px !important;
      height: 25px !important;
    }
  }
}

#header-right {
  .navbar-collapse {
    padding: 0px;
  }
  //Navigation
  .navbar-left {
    width: 63%;
    @media (min-width: 2500px) {
      width: 75%;
    }
  }
  .navbar-nav {
    width: 100%;
    display: table;
    float: none;
  }
  .navbar-nav li {
    display: table-cell;
    float: inherit;
    &.active a, a:hover, a:focus, a:active {
      background: $web-gray-dark;
      border-top: 2px solid $green-base;
      color: $white-color;
      &:after {
        @media (min-width: $screen-el-min) {
          right: 46%;
        }
        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
          right: 48%;
          border-bottom: 0px;
        }
        border-bottom: 10px solid white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        right: 44%;
        bottom: -2px;
      }
    }
    a {
      font-size: 13px;
      text-align: center;
      padding: 10px 16px 10px;
      border-top: 2px solid $web-gray-base;
      border-right: 1px solid #67767d;
      color: rgba(255, 255, 255, .5);
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        padding: auto;
      }
      span {
        img {
          height: 25px;
          width: 25px;
        }
        width: 100%;
        display: block;
        font-size: $font-size-h3;
        margin-bottom: 3px;
      }
    }
    &:last-child a {
      border-right: none;
    }
  }
  .navbar-right {
    background: #5a6970;
    .dropdown-menu {
      right: 0px !important;
      left: auto !important;
    }
  }
  .navbar-right li {
    float: right;
    &.bar a {
      padding: 19px 15px;
      font-size: $font-size-h3;
      border-right: 1px solid #67767d;
      @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        padding: 16px 15px;

      }
    }
    a {
      background: transparent;
      color: #98a5ad;
      padding: 9px 15px;
      float: left;
      &:focus {
        background: #5a6970;
      }
      @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
        padding: 8px 15px;
      }
    }
    &.active a, a:hover {
      background: #5a6970;
      color: $white-color !important;
    }
    .img {
      img {
        width: 40px;
        height: 40px;
        margin-top: 7px;
      }
      float: left;
    }
    .uname {
      color: $white-color;
      font-size: 18px;
      padding: 3px 10px;
      span {
        font-size: 14px;
        float: left;
      }
    }
    .r-caret {
      margin: 15px 5px;
    }
    ul li {
      float: left;
      text-align: left;
      width: 100%;
    }
    ul li a {
      background: none;
      color: $gray !important;
      width: 100%;
      text-align: left !important;
      height: auto;
    }
  }
  .arrow-icon {
    position: absolute;
    right: 42%;
    top: 89%;
    width: 14%;
    background: url(../images/header-menu-ico.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  }
}

.dashboard-left-area {
  padding-left: 0px;
  padding-right: 0px;
}

/* header */
