.base-body {
  padding-top: $nav-header-height-70;
}

//TODO Remove
#header-logo {
  width: 346px;
  background: $green-base;
  padding: 11px 0px;
  float: left;
  ul li {
    padding-right: 2px;
    margin-left: 7px;
    float: left;
    margin: -1px;
    border-right: 1px solid $green-light;
    color: $white-color;
    position: relative;
    &:last-child {
      border: none;
    }
    img {
      height: 47px;
      width: 47px;

    }
    a {
      color: $white-color;
    }
    ul {
      padding: 0px;
      top: 120%;
      li {
        width: 100%;
        padding: 0px 0px;
        font-size: $font-size-base;
        height: auto;
        border: none;
      }
      a {
        color: $gray !important;
        padding: 10px 10px;
      }
    }
  }

  @media (min-width: $screen-xs-mini) and (max-width: $screen-xs-max) {
    width: auto;
    ul li {
      border-right: 0px;
      margin-right: 8px;
    }
  }
}

#admin_users_tabs,
#admin_accounting_tabs {
  ul{
    li{
      @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
        width: 10% !important;
        height: 52px;
        min-width: 10%;
      }
    }
  }
}

.dashboard-menu {
  border-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;

  ul {
    table-layout: fixed;
    width: 100%;
    display: table;
    margin: 0px;
    li {
      min-width: 10%;
      float: left;
      border: 1px solid $gray-lighter;
      padding: 6px 4px 6px 10px;
      height: 52px;
      text-transform: uppercase;

      &:hover{
        background: #f2fafd;
        color: #17A1E5;
        border: 1px solid #a6d3ea;
        cursor: pointer;
        a{
          color: #17A1E5;
        }
        h3{
          color: #17A1E5;
        }
      }
      &:focus{
        background: #f2fafd;
        color: #17A1E5;
        border: 1px solid #17A1E5;
        cursor: pointer;
        a{
          color: #4888b8;
        }
        h3{
          color: #17A1E5;
        }
      }


      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        margin: 0;
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 11.1% !important;
        height: 78px;
      }

      @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
        width: 103px;
      }
      a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
        font-size: 12px;
        text-transform: none;
        h3 {
          margin: 0;
          line-height: 22px;
          font-size: 18px;
        }
        span {
          width: 100%;
        }
      }
      &:first-child {
        border-left: 1px solid $gray-lighter;
      }
    }
    .active {
      background: #F2FAFD !important;
      border: 1px solid #17A1E5 !important;
      a {
        color: #17A1E5 !important;
        h3 {
          color: #17A1E5 !important;
        }
      }
    }
  }
}

.mar-r15 {
  margin-right: 15px;
}

.schedule-menu {
  border-bottom: 0px;
  ul {
    table-layout: fixed;
    width: 100%;
    display: table;
    margin: 0px;
    li {
      float: left;
      border: 1px solid $gray-lighter;
      padding: 6px 10px 6px 10px;
      text-transform: uppercase;
      h3 {
        margin: 0px;
      }
      &.calendar-stuffs {
        padding: 0px;
        border-left: 0px;
        float: right !important;
      }
      ul {
        list-style: none;
        padding: 0px;
        li {
          border: none;
          border-right: 1px solid $gray-lighter;
          &:last-child {
            border: none;
          }
        }
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        margin: 0;
      }

      height: 53px;

      a {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 12px;
        h3 {
          margin: 0;
          color: $gray-bitdarker;
          font-size: 22px;
        }
        span {
          width: 100%;
        }
      }
      &:first-child {
        border-left: 1px solid $gray-lighter;
      }
    }
    .active {
      background: #F2FAFD !important;
      border: 1px solid #17A1E5 !important;
      a {
        color: #17A1E5 !important;
        h3 {
          color: #17A1E5 !important;
        }
      }
    }
  }
}

.dashboard-menu-two {
  border-bottom: 0px;
  ul {
    table-layout: fixed;
    width: 100%;
    display: table;
    margin: 0px;
    li {

      min-width: 12.5%;
      padding: 28px 9px 5px;
      float: left;
      border: 1px solid $gray-lighter;
      text-transform: uppercase;

      @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
        height: 55px;
        min-width: 6.1%;
        padding: 28px 10px 6px;
      }

      @media (min-width: $screen-el-min) {
        min-width: 158.9px;
      }

      @media (max-width: $screen-xs-min) {
        width: 50% !important;
        height: 69px;
      }

      @media (max-width: $screen-sm-max) {
        min-width: 19.9%;
      }

      a {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 12px;
        h3 {
          margin: 0;
          color: $gray-bitdarker;
          font-size: 22px;
        }
        span {
          width: 100%;
        }
      }
      &:first-child {
        border-left: 1px solid $gray-lighter;
      }
    }
    .active {
      background: #F2FAFD !important;
      border: 1px solid #17A1E5 !important;
      a {
        color: #17A1E5 !important;
        h3 {
          color: #17A1E5 !important;
        }
      }
    }
  }
}

.dashboard-two-table {

  float: left;
  width: 49.8%;

  @media (min-width: $screen-xs-mini) and (max-width: $screen-sm-max) {
    width: 100%;
  }

  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    width: 49.9%;
  }

  th {
    &:nth-child(1) {
      width: 14%
    }

    &:nth-child(2) {
      width: 27%;
    }

    &:nth-child(3) {
      width: 44%;
    }
    &:nth-child(4) {
      width: 25%;
    }

  }

  tr {
    &:last-child td {
      padding: 22px 0;
    }

    &:hover {
      background: none !important;
      border: none !important;
    }
  }

}

.dashboard-two-table-last {
  margin-left: 4px;

  @media (min-width: $screen-ml-min) and (max-width: $screen-ml-max) {
    margin-left: 4px;
  }

}

// Tab widths
.appraisal-menu .admin-users-menu {
  min-width: 1px;
  width: 10%;
}

/******************************
 * Bold
 ******************************/
.font-bold-table {
  font-weight: bold;
  color: #4a585d;
  font-family: $proximanova-semibold;
}

.dlinks li {
  font-size: 12px;
  text-transform: uppercase;
  a {
    padding: 7px 10px;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      text-decoration: none;
    }
  }
  &.current a {
    border: 1px solid #ccc !important;
    border-radius: 50px !important;
    font-weight: bold;
  }
}

//Bootstrap Select
.bootstrap-select {
  height: inherit !important;
  span {
    font-size: 14px !important;
    border: red;
  }
  .btn {
    font-size: inherit !important;
  }

}

.page-wrapper {
  border: 2px solid rgb(229, 229, 229);
  border-radius: 10px;
  padding: 0px 0px 20px;
  float: left;
}

// import tab styles
@import "tabs";
