.tab-content {
  .appraisal-preview-tabs {
    li {
      white-space: normal;
      padding: 10px 10px 0 10px;
      cursor: hand;
    }
  }
}

.three-quarter-width {
  width: 75% !important;
}

.appraisal-preview-close-button {
  position: fixed;
  z-index: 10000;
  margin-top: -5px;
  margin-left: 0px;

  img {
    width: 18px;
    height: auto;
  }

  a {
    color: $gray;
    text-decoration: none;
    :hover :focus {
      text-decoration: none;
    }
  }
}
