@function svg-url($name) {
  @return url(#{$assets_path}/images/icons/#{$name})
}

@mixin logo-img {
  height: 47px;
  width: 47px;
  @include vertical-align;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//mixins for placeholder styling
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin box-sizing($box: border-box) {
  -moz-box-sizing: $box;
  -webkit-box-sizing: $box;
  box-sizing: $box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity: 1) {
  -moz-opacity: $opacity;
  -webkit-opacity: $opacity;
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: "alpha(opacity=${opacity-ie})";
}

@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin calc($property, $expression...){
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
