@import "variables"
@import "mixins"

=nav-header-section($width)
  width: $width
  height: $nav-header-height-70
  background-color: $green-base
  float: left
  +box-sizing()

.nav-header
  height: $nav-header-height-70
  width: 100%
  background: $web-gray-base
  position: fixed
  z-index: 1030
  top: 0
  +box-sizing()

$separator-width-1: 1px
$logo-section-width-70: 70px
$profile-section-width-170: 170px
$notifications-section-width-70: 70px
$messages-section-width-70: 70px
$user-section-width-235: 235px
$left-sections-width-380: $logo-section-width-70 + $profile-section-width-170 + $notifications-section-width-70 + $messages-section-width-70

.nav-logo-section
  +nav-header-section($logo-section-width-70)
  background-image: svg-url('logo.svg')
  background-repeat: no-repeat
  background-position: center

  a
    display: block
    height: $nav-header-height-70

.nav-profile-section
  +nav-header-section($profile-section-width-170)
  position: relative

  h2
    font-size: 14px
    line-height: 1.4
    color: $white-color
    width: 120px
    padding-top: 20px
    overflow: hidden
    white-space: nowrap
    margin: 0 0 0 18px
  h3
    margin: 0 0 0 18px
    font-size: 10px
    line-height: 1.2
    color: rgba(255, 255, 255, .6)
    width: 120px
    overflow: hidden
    white-space: nowrap

  .open-popup
    @extend %open-popup

.nav-notifications-section
  +nav-header-section($notifications-section-width-70)
  text-align: center
  a
    font-size: 11px
    line-height: 1.1818181818
    width: $notifications-section-width-70 - $separator-width-1
    height: $nav-header-height-70
    padding-top: 16px
    float: left
    text-decoration: none
  img
    display: block
    margin: 0 auto 5px

.nav-messages-section
  +nav-header-section($notifications-section-width-70)
  text-align: center
  a
    font-size: 11px
    line-height: 1.1818181818
    width: $messages-section-width-70 - $separator-width-1
    height: $nav-header-height-70
    padding-top: 16px
    float: left
    text-decoration: none
  img
    display: block
    margin: 0 auto 5px

.nav-tabs-section
  position: absolute
  left: $left-sections-width-380
  right: $user-section-width-235
  height: $nav-header-height-70
  overflow: hidden
  +box-sizing()
  text-align: center
  ul
    display: table
    width: 100%
    height: 70px
    padding: 0
  li
    display: table-cell
    height: 100%
    vertical-align: top
    border-right: 1px solid rgba(255, 255, 255, .05)
  a
    font-size: 11px
    color: rgba(255, 255, 255, .5)
    display: block
    padding-top: 15px
    +box-sizing()
    height: 70px
    text-decoration: none
    line-height: 2em
    &:hover
      background: rgba(0, 0, 0, 0.10)
      color: $white-color
      img
        +opacity(1)
  .active a
    background: rgba(0, 0, 0, 0.10)
    color: $white-color
    position: relative
    text-decoration: none
    line-height: 2em
    img
      +opacity(1)
    &:before
      background: #4CC600
      position: absolute
      content: ''
      width: 100%
      height: 2px
      top: 0
      left: 0
    &:after
      position: absolute
      content: ''
      border-bottom: 6px solid $white-color
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      bottom: 0
      left: 50%
      margin-left: -6px
  img
    display: block
    margin: 0 auto
    +opacity(.5)

.nav-tabs-section.tablet-view

  .open-popup
  @extend %open-popup

.nav-user-section
  height: $nav-header-height-70
  width: $user-section-width-235
  float: right
  +box-sizing()
  background: $nav-user-section-background
  padding: 0 0 0 15px
  position: relative
  &-thumb
    width: 40px
    height: 40px
    +border-radius(50%)
    overflow: hidden
    position: relative
    margin: 15px 12px 0 0
    float: left
    &:before
      position: absolute
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      border: 1px solid rgba(255, 255, 255, .5)
      +border-radius(50%)
  .open-popup
    @extend %open-popup

  h2
    font-size: 14px
    line-height: 1.4
    color: rgba(255, 255, 255, .8)
    width: 130px
    white-space: nowrap
    margin: 20px 0 0 0
  h3
    font-size: 10px
    line-height: 1.2
    color: rgba(255, 255, 255, .6)
    width: 130px
    white-space: nowrap
    margin: 0

.nav-header-counter
  color: $white-color
  font-weight: bold

.nav-toggle-arrows
  background: svg-url('arrows-header.svg') no-repeat
  background-size: 13px 19px
  width: 13px
  height: 19px
  margin: 27px 18px 0 0
  float: right

.nav-separator
  $margin-top-bottom-15: 15px
  float: left
  width: $separator-width-1
  height: $nav-header-height-70 - ($margin-top-bottom-15 * 2)
  margin: $margin-top-bottom-15 0
  background: $separator-background

%open-popup
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
