//New Window Overlay
.new-window-overlay {

  .modal-body {
    border: 1px solid rgb(229, 229, 229);
    margin: 3px;
    border-radius: 10px;
    padding: 0;
  }
  .modal-content {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 13px !important;
  }
  .modal-backdrop {
    background-color: white !important;
    .in {
      opacity: 0.73 !important;
    }
  }
  .selectpicker {
    height: inherit;
  }
  .title {
    color: $base-color;
  }
  .innner-box {
    background: none repeat scroll 0px 0px rgb(242, 250, 253) ! important;
    border: 3px dashed rgb(46, 153, 201) ! important;
    border-radius: 8px;

    padding: 28px;
    h4 {
      color: #17A1E5 !important;
      font-weight: 600;
      @extend .text-center;
      padding: 6px !important;
    }
  }
  .tagline {
    span {
      color: $base-color;
      font-size: 13px;
    }
    clear: both;

    .download-csv {
      color: #2E99C9 !important;
    }
  }
  //input[type="text"],

  .filter-option {
    color: #C2C2C2 !important;
  }
}
