.notification-window {

  .wrapper-titles {
    ul {
      overflow: hidden;
      .active {
        overflow: hidden;
      }
      li {
        @extend .col-sm-6;
        padding: 0;
      }
    }
  }

  .dashboard-search {
    border: none;
  }
  .active {
    background: none repeat scroll 0 0 #f2fafd !important;
    border-color: #17A1E5 !important;
    border-style: solid !important;
    border-width: 1px !important;
  }
  .dashboard-table {
    border-bottom: medium none !important;
    border-left: none;
    border-right: none;
    border-top: 1px solid #eeeeee;
    color: #a09696;
    th:first-child {
      border-left: none;
    }
    th:last-child {
      border-right: none;
    }
    .discripton-width {
      width: 35%;
    }
    .form-group {
      @extend .col-md-12;
      padding: 0;
      border: none !important;
    }
  }

}

.notification-window h4 {
  font-size: 18px;
  margin: 20px 0px;
}
