.appraisal-overlay {
  .modal-body {
    border: 1px solid rgb(229, 229, 229);
    margin: 3px;
    border-radius: 10px;
    padding: 0;
  }
  .modal-content {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border-radius: 13px !important;
  }
  .modal-backdrop {
    background-color: white !important;
    .in {
      opacity: 0.73 !important;
    }
  }
  .selectpicker {
    height: inherit;
  }
  .title {
    color: $base-color;
    padding: 10px 0px;
  }
}

.overlay-form {
  .col-12 {
    .form-group {
      border-bottom: none !important;
      padding: 18px !important;
    }
    .btn-export {
      font-weight: normal;
      padding: 7px 34px 1px 10px
    }
  }
  .form-group {
    padding: 4px 10px;
    border: 1px solid $gray-lighter;
    border-left: 0px;
    margin-bottom: 0px;
    border-bottom: 0;
    label {
      font-size: 12px !important;
      font-weight: normal !important;
      margin: 0px !important;
      text-transform: uppercase;
      color: $base-color;
    }
    &:last-child {
      border-right: 0px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea {
      background: $white-color;
      border: none;
      color: $base-color;
      font-size: 14px;
      height: 30px;
      padding: 5px 0px;
      width: 100%;
      box-shadow: none;
    }
    select {
      font-size: 14px;
    }
    textarea {
      height: 122px;
      resize: none;
    }
  }
  .bootstrap-select > .btn {
    font-size: 14px;
  }
}
