@import "bootstrap-variables";

//to secure correct behavior in older browsers
header, section, aside, nav, main, article, details, figure, figcaption, mark, summary, time {
  display: block;
}

html{
  position: relative;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $proximanova-regular !important;
  margin-bottom: 60px;
  min-height: 100%;
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active, input, button, select, textarea {
  outline: none;
}

input[type="text"], textarea {
  outline: 0 !important;
  -webkit-appearance: none !important;
}

.marg-null {
  margin: 0;
}

.pad-null {
  padding: 0 !important;
}

.border-null {
  border: none !important;
}

.clear {
  clear: both;
}

.dropdown-menu li a {
  outline: 0 !important;
  -webkit-appearance: none !important;
}

.wrap-footer {
  clear: both;
  padding: 21px 0;
  border-top: 1px solid #eeeeee;
}

.title {
  h4 {
    margin: 0;
    font-weight: bold;
  }
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

//Removed Shadow
textarea, input, button {
  outline: 0 !important;
  -webkit-appearance: none !important;
}

.dropdown-menu li a {
  outline: 0 !important;
  -webkit-appearance: none !important;
}
