.schedule-col {
  margin: 0px;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  .form-group {
    border: none !important;
  }
}

.schedule-action {
  margin-top: 35px;
}

.calendar {
  tr:hover, tr:focus {
    background: none !important;
    border: none !important;
  }
  thead th {
    font-weight: normal;
    color: #000;
    height: 50px;
    vertical-align: bottom;
  }
  .table-bg {
    background: #f7f7f7 !important;
    z-index: -1;
    position: relative;
  }
  tbody td {
    height: 125px;
    color: #999 !important;
    font-weight: normal !important;
    border-right: 1px solid $gray-lighter;
    width: 14%;
    z-index: 1;
  }
  .calendar-lable {
    color: #475a60 !important;
  }
  .b-current {
    border-right: 0px;
  }
  .current {
    background: #f2fafd !important;
    border: 1px solid #3397c8 !important;
    border-left: 1px solid #3397c8 !important !important;
    z-index: 999;
  }
}

.calendar-week {
  .week-calendar {
    position: relative;
    width: 100%;
  }
  .week-calendar td {
    padding: 0px !important;
    height: auto !important;
    position: relative;
    div {
      display: table-row;
    }
    .time {
      padding: 24px 5px;
      vertical-align: middle;
      height: 70px;
      float: left;
      text-align: center;
    }
    .pad-null {
      padding: 0px;
    }
    .line {
      position: absolute;
      top: 15px;
      left: 0px;
      width: 705%;
      margin-left: -100%;
      height: 1px;
      float: left;
      background: #f76450;
      z-index: 999;
      .label {
        top: -9px;
        left: 5px;
        margin-top: 0px;
        padding: 3px 10px;
        border-radius: 50px;
      }
    }
    .label {
      position: absolute;
      left: 10px;
      top: 10px;
      border-radius: 8px;
      padding: 5px 10px;
      line-height: 13px;
    }
    .top-row {
      border-bottom: 1px solid #eee;
      width: 100%;
      float: left;
      height: 35px;
      &:last-child {
        border: none;
      }
    }
  }
}

.calendar-day {
  .line {
    width: 100%;
  }
}

.label {
  text-shadow: none !important;
  font-weight: normal;
  padding: 3px 10px;
  border-radius: 50px;
  margin-top: 5px;
  display: inline-block;
  max-width: 100%;
}

.label-red {
  background: #f76450;
}

.label-blue {
  background: #16a1e4;
}

.label-green {
  background: #49c703;
}

.label-orange {
  background: #f5a623;
}
