

// Tab styles - tabs with no subtext

.appraisal-menu.without-subtext,
.dashboard-menu.without-subtext {
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;

  .dashboard-menu {
    border: 1px solid #eeeeee;
    width: 100%;
    margin: 0px;

    .back-btn-wrapp{
      min-width: 12.5%;
      max-width: 15%;
      float: left;
      margin-top: 10px;
      margin-left: 8px;
    }


    ul {
      width: 100%;

      li{
        display: table;
        height: 55px;
        min-width: 20%;
        width: auto;

        a{
          display: table-cell;
          vertical-align: middle;
          font-size: 14px;
          padding-right: 8px;
          padding-left: 1px;
          text-transform: capitalize;
        }

        &:hover{
          cursor: pointer;
        }

        &:focus{
          background: #f2fafd;
          color: #17A1E5;
          border: 1px solid #17A1E5;
          cursor: pointer;

          a{
            color: #4888b8;
          }

        }

      }
    }
  }
}


// Tab styles - staff tabs style

.appraisal-menu.without-subtext .dashboard-menu.staff_menu {
  margin: 0px;
  border: 0px;

  ul{
    width: 100%;

    li{
      width: 20%;
    }
  }
}