//Validation
.validate-box {
  background: none repeat scroll 0 0 #fffcfc;
  border: 1px solid #fc634f !important;
  height: 62px;
  label {
    color: #fc634f !important;
  }

  input {
    background: none repeat scroll 0 0 #fffcfc !important;
    color: #fc634f !important;

  }

  span.require {
    color: #fc634f;
    float: right;
    font-size: 10px;
    right: -6px;
    position: relative;
    text-transform: uppercase;
    top: 8px;
  }

}

.help-block{
  visibility: hidden;
}

//show-errors directive classes
.has-error {
  //background: #fffcfd;
  border-color: #e3796d;
  .help-block {
    font-size: 11px;
    float: right;
    margin: 0;
    visibility: visible;
  }
  .form-control {
    //background: #fffcfd;
    //@include placeholder {
    //  color: #e3796d;
    //}
  }
}
