$assets_path: "../../../assets";

$green-base: #4cc600 !default;
$green-light: lighten($green-base, 33.5%) !default;

$separator-background: rgba(255, 255, 255, .25);

$web-gray-base: #5f7077 !default;
$web-gray-dark: darken($web-gray-base, 10%) !default;

$blue-base: #16a1e4 !default;
$blue-light: lighten($blue-base, 33.5%) !default;

$black-color: #000000;
$white-color: #FFFFFF;

$border-width-1px: 1px;

$nav-user-section-background: rgba(89, 105, 111, 1);
$nav-header-height-70: 70px;

$input-color: rgba(74, 88, 93, 1);
$font-color-black-50-per: rgba(0, 0, 0, .5);
$border-color-black-10-per: rgb(229, 229, 229);

$color-blue-theme: rgba(23, 161, 229, 1);
$border-color-blue-theme: $color-blue-theme;
$background-color-blue-theme: rgba(23, 161, 229, 0.05);

$has-error-color: rgba(248, 99, 84, 1);
$has-error-border-color: $has-error-color;
$has-error-background-color: rgba(248, 99, 84, .02);
