<div class="table-responsive">
  <!-- create profile search section -->
  <div class="col-el-12 col-ml-12 pad-null">
    <div class="dashboard-sidebar" >
      <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
        <!--Sidebar Form-->
        <form enctype="multipart/form-data" role="form">
          <div class="row divider">
            <div class="col-md-8 col-xs-8">
              <div class="form-group col-md-4">
                <label for="profileList">Profile Name</label>
                <select class="profileList form-control" id="profileList"
                        ng-model="adminStaffReviewerRuleProfileCtrl.displayData.details.profile.id"
                        ng-options='option.id as option.name for option in adminStaffReviewerRuleProfileCtrl.displayData.profiles'
                        as-select>
                </select>
              </div>
            </div>
          <!--</div>-->
          <!--<div class="row divider">-->
            <div class="col-md-4 col-xs-4">
              <!-- search and clear buttons -->
              <div class="col-md-12  as-button-pad-top">
                <div class="text-left">
                  <as-button  icon="new" click="adminStaffReviewerRuleProfileCtrl.newProfileModal()">Add New Profile</as-button>
                  <as-button  icon="details" click="adminStaffReviewerRuleProfileCtrl.updateProfileModal()">Edit Profile Name</as-button>
                  <as-button  icons="close" click="adminStaffReviewerRuleProfileCtrl.deleteProfileModal()">Delete Profile</as-button>
                  <as-button icon="search" click="adminStaffReviewerRuleProfileCtrl.refresh()" icon="cancel"></as-button>
                </div>
              </div>
              <!-- search and clear buttons end-->
            </div>
          </div>
        </form>
        <!--END-->
      </div>

    </div>
  </div>
  <!-- profile search section ends -->

  <!-- custom function buttons -->

  <div class="col-el-12 col-ml-12 pad-null">
    <div class="dashboard-sidebar">
      <div class="col-md-12 col-xs-12 as-button-pad-top">
        <admin-staff-profile-add-branch></admin-staff-profile-add-branch>
        <admin-staff-profile-add-broker></admin-staff-profile-add-broker>
        <!-- add Company -->
        <div class="form-group col-md-2">
          <admin-staff-profile-add-company></admin-staff-profile-add-company>
        </div>
        <!-- add Job Type -->
        <div class="form-group col-md-2">
          <admin-staff-profile-add-job-type></admin-staff-profile-add-job-type>
        </div>
        <!-- add Paid Status -->
        <div class="form-group col-md-2">
          <admin-staff-profile-add-paid-status></admin-staff-profile-add-paid-status>
        </div>
        <!-- add Add State -->
        <div class="form-group col-md-2">
          <admin-staff-profile-add-state></admin-staff-profile-add-state>
        </div>
        <!-- add Process Status -->
        <div class="form-group col-md-2">
          <admin-staff-profile-add-status></admin-staff-profile-add-status>
        </div>
      </div>

    </div>
  </div>
  <!-- as-table for all Rule Profile Logic -->
  <!--Table Started-->
  <div class="col-el-12 col-ml-12">
    <!-- client -->
    <div class="col-md-2">

      <as-table ng-controller="AdminStaffReviewerRuleProfileClientCtrl as tableCtrl" totals="false" bold-columns="2"
                table-id="reviewer-rule-profile-client-table"  no-heading="true" infinite-scroll="false" overflow-x="hidden"
        ></as-table>
    </div>
    <!-- job types -->
    <div class="col-md-2">
      <as-table ng-controller="AdminStaffReviewerRuleProfileJobTypeCtrl as tableCtrl" totals="false" bold-columns="2"
                table-id="reviewer-rule-profile-job-type-table" no-heading="true" infinite-scroll="false" overflow-x="hidden"
        ></as-table>
    </div>
    <!-- paid status -->
    <div class="col-md-2">
      <as-table ng-controller="AdminStaffReviewerRuleProfilePaidStatusCtrl as tableCtrl" totals="false" bold-columns="2"
                table-id="reviewer-rule-profile-paid-status-table" no-heading="true" infinite-scroll="false" overflow-x="hidden"
        ></as-table>
    </div>
    <!-- location -->
    <div class="col-md-2">
      <as-table ng-controller="AdminStaffReviewerRuleProfileLocationCtrl as tableCtrl" totals="false" bold-columns="2"
                table-id="reviewer-rule-profile-states-table" no-heading="true" infinite-scroll="false" overflow-x="hidden"
        ></as-table>
    </div>
    <!-- process status -->
    <div class="col-md-2">
      <as-table ng-controller="AdminStaffReviewerRuleProfileProcessStatusCtrl as tableCtrl" totals="false" bold-columns="2"
                table-id="reviewer-rule-profile-process-status-table" no-heading="true" infinite-scroll="false" overflow-x="hidden"
        ></as-table>
    </div>
  </div>
  <!--as-table for Rule Profile Logic ends -->
</div>

<!-- new admin rule profile -->
<!--New company-->
<info-modal modal-id="new-profile-successful" modal-title="New profile successfully created"></info-modal>
<info-modal modal-id="new-profile-failure" modal-title="Failed to create new profile"></info-modal>
<!--Delete-->
<info-modal modal-id="delete-success" modal-title="Successfully deleted a profile"></info-modal>
<info-modal modal-id="delete-failure" modal-title="Failed to delete profile"></info-modal>
<!--Confirm delete profile-->
<modal-new modal-id="delete-profile-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deleteProfile()" modal-title="Delete Profile?" class="staff-modal">
  <div class="col-md-12">
    <p>Are you sure to delete this profile?</p>
  </div>
</modal-new>
<!--New company modal-->
<modal-new submit-button="adminStaffReviewerRuleProfileCtrl.submitProfile()"  modal-id="new-profile" modal-title="{{adminStaffReviewerRuleProfileCtrl.displayData.contentTitle}}" class="staff-modal">
  <!--<div class="col-md-12">-->
    <div class="form-group col-md-12" show-errors>
      <label for="profile-name">Profile name</label>
            <span class="help-block"
                  validator-message="required">
            </span>
      <input type="text" id="profile-name"
             ng-model="adminStaffReviewerRuleProfileCtrl.selectedProfile.name"
             name="profile-name"
             class="form-control"
             required />
    </div>
  <!--</div>-->
</modal-new>

<!--Confirm delete subdata-->
<modal-new modal-id="delete-company-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deletecompany()" modal-title="Delete company?" class="staff-modal">
  <p>Are you sure to delete this company?</p>
</modal-new>
<!--Delete subdata modal-->
<info-modal modal-id="delete-company-success" modal-title="Deleted company" button-text="OK">
</info-modal>
<info-modal modal-id="delete-company-failure" modal-title="Failed to delete company" button-text="OK">
</info-modal>

<!--Confirm delete company-->
<modal-new modal-id="reviewer-rule-profile-delete-company-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deleteCompany()" modal-title="Delete Company?" class="staff-modal">
  <div class="col-md-12">
    <p>Are you sure you want to delete this client?</p>
  </div>
</modal-new>

<!--Confirm delete job type-->
<modal-new modal-id="reviewer-rule-profile-delete-job-type-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deleteJobType()" modal-title="Delete Job Type?" class="staff-modal">
  <div class="col-md-12">
    <p>Are you sure you want to delete this job type?</p>
  </div>
</modal-new>
<!-- delete job type failure -->
<info-modal modal-id="delete-job-type-failure" modal-title="Failed to delete job type"></info-modal>

<!--Confirm delete paid status-->
<modal-new modal-id="reviewer-rule-profile-delete-paid-status-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deletePaidStatus()" modal-title="Delete Paid Status?" class="staff-modal">
  <div class="col-md-12">
    <p>Are you sure you want to delete this paid status?</p>
  </div>
</modal-new>
<!-- delete paid status failure -->
<info-modal modal-id="delete-paid-status-failure" modal-title="Failed to delete paid status"></info-modal>

<!--Confirm delete state-->
<modal-new modal-id="reviewer-rule-profile-delete-state-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deleteState()" modal-title="Delete State?" class="staff-modal">
  <div class="col-md-12">
    <p>Are you sure you want to delete this state?</p>
  </div>
</modal-new>
<!-- delete state failure -->
<info-modal modal-id="delete-state-failure" modal-title="Failed to delete state"></info-modal>


<!--Confirm delete process status-->
<modal-new modal-id="reviewer-rule-profile-delete-process-status-confirm" submit-button="adminStaffReviewerRuleProfileCtrl.deleteProcessStatus()" modal-title="Delete Process Statuse?" class="staff-modal">
  <div class="col-md-12">
    <p>Are you sure you want to delete this process status?</p>
  </div>
</modal-new>
<!-- delete process status failure -->
<info-modal modal-id="delete-process status-failure" modal-title="Failed to delete process status"></info-modal>
