
<div class="appraisal-menu dashboard-menu" >
  <div class="dashboard-menu tab-pane" id="app_menu">
    <ul class="list-unstyled marg-null">
      <li class="col-xs-6"
          ng-repeat="(key, tab) in tabs.collection"
          ng-class="{'active': tabs.isActive(tab.id)}"
          ng-click="tabs.select(tab.id)">

        <a href="javascript:;">
          <h3 ng-show="!tab.closeAble">&nbsp;</h3>
          <h3 ng-show="tab.closeAble">
            <span class="pull-right">
              <div class="pull-right" ng-click="tabs.remove(tab)">x</div>
            </span>
          </h3>
          <div>{{tab.label}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="clearfix"></div>


<div class="col-lg-12 col-el-12 pad-null">
  <ul class="tab-contents">
    <li class="displayNone page-wrapper col-el-12 pad-null"
        ng-repeat="(key, tab) in tabs.collection"
        ng-class="{'active': tabs.isActive(tab.id)}"
        as-report-tab="{{tab.type}}"
        as-attr-model="tab">
    </li>
  </ul>
</div>

<admin-reports-tabs>
  <!-- Place the directive name on the scope to conditionally load
  once the section is selected -->
</admin-reports-tabs>







