<div class="admin-user-details">
    <div class="top-area">
        <!--First and last name for users-->
        <div class="col-md-8 col-xs-12 head" ng-hide="['amc', 'amc-directory', 'company'].indexOf(type) !== -1">
            <p>First Name: <strong>{{ctrl.displayData.details.firstName}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;Last Name:
                <strong>{{ctrl.displayData.details.lastName}}</strong></p>
        </div>
        <!--Company name for AMC-->
        <div class="col-md-8 col-xs-12 head" ng-show="['amc', 'amc-directory', 'company'].indexOf(type) !== -1">
            <p>Company: <strong>{{ctrl.displayData.details.companyName}}</strong></p>
        </div>
        <div class="col-md-4" ng-show="ctrl.displayData.details.id && ['manager'].indexOf(type) === -1">
            <div class="text-left as-button-pad-top pull-right">
                <as-button click="ctrl.showAdditionalDetails(type)" icon="plus">
                    {{type | replaceChar:'-directory':'' | replaceChar:'-':' '}} details
                </as-button>
            </div>
        </div>
    </div>
    <!--Sidebar Form-->
    <form enctype="multipart/form-data" role="form">
        <div class=" divider col-6 clearfix col-xs-12 pad-null">
            <div class="form-group pad-null col-md-6">
                <div data-ride="carousel" class="carousel slide" id="user_sidebar_el">
                    <ol class="carousel-indicators">
                        <li data-target="#user_sidebar_el" data-slide-to="0" class="active"></li>
                        <li data-target="#user_sidebar_el" data-slide-to="1"></li>
                        <li data-target="#user_sidebar_el" data-slide-to="2"></li>
                        <li data-target="#user_sidebar_el" data-slide-to="3"></li>
                    </ol>
                    <div role="listbox" class="carousel-inner">
                        <div class="item active"> <img src="/assets/images/dash-slide-1.jpg" alt="" ></div>
                        <div class="item "> <img src="/assets/images/dash-slide-1.jpg" alt="" ></div>
                        <div class="item "> <img src="/assets/images/dash-slide-1.jpg" alt="" ></div>
                        <div class="item "> <img src="/assets/images/dash-slide-1.jpg" alt="" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider">
            <div class="divider-break"></div>
        </div>
        <!--Client view buttons-->
        <div class="col-md-12" ng-show="['user', 'company'].indexOf(type) !== -1">
            <div class="col-md-12 col-xs-12 text-right pad-null marg-null">
                <as-button click="ctrl.emailSignupLink()" ng-show="type === 'company'" icon="upload">
                    Email Signup Link
                </as-button>
                <!--Company statistics-->
                <as-button click="ctrl.showCompanyScorecard()" ng-if="type === 'company'">Scorecard</as-button>
                <!--Quickbooks Sync-->
                <as-button click="ctrl.qbSync()" ng-show="type === 'company'" icon="upload">
                    QB Sync
                </as-button>
                <!--User permissions-->
                <as-button click="ctrl.displayPermissions()" ng-show="type === 'user'" icon="settings">
                    Permissions
                </as-button>
                <!--Set user active-->
                <as-button click="ctrl.changeActiveStatus()" ng-show="type === 'user'">
                    Set {{ctrl.displayData.details.isActive ? 'Inactive' : 'Active'}}
                </as-button>
                <!--Delete record-->
                <as-button click="ctrl.confirmDelete()" ng-if="type !== 'branch'" icon="close">Delete</as-button>
            </div>
            <div class="col-md-12 text-right pad-null marg-null">
                <!--Details functions-->
                <as-button click="ctrl.showLoginCredentialsConfirmation()" ng-show="type === 'user'" icon="upload">
                    Send Login Info
                </as-button>
                <!--User settings summary-->
                <as-button click="ctrl.displaySettingsSummary()" ng-show="type === 'user'" icon="settings">
                    Settings Summary
                </as-button>
            </div>
        </div>
        <!--Function buttons-->
        <div class="col-md-12" ng-hide="['user', 'company'].indexOf(type) !== -1">
            <div class="col-md-12 col-xs-12 text-right pad-null marg-null"
                 ng-show="ctrl.displayData.details.id && type === 'appraiser'">
                    <as-button click="ctrl.approvedDnu()" icon="file">Approved/DNU Lists</as-button>
                    <as-button click="ctrl.toggleVacation()">{{ctrl.vacationButtonText()}}</as-button>
                    <as-button click="ctrl.displayStatistics()" ng-show="type === 'appraiser'" icon="file">Statistics</as-button>
            </div>
            <!--Statistics-->
            <div class="col-md-12 col-xs-12 text-right pad-null marg-null" ng-show="ctrl.displayData.details.id">
                <as-button click="ctrl.displayW9()"
                           ng-show="['appraiser', 'inspector', 'realtor'].indexOf(type) !== -1" icon="file">
                    W9
                </as-button>
                <as-button click="ctrl.showRatings()"
                           ng-show="['appraiser', 'inspector', 'realtor', 'amc'].indexOf(type) !== -1" icon="file">
                    Ratings
                </as-button>
                <as-button click="ctrl.showCertificationDetails()" icon="file"
                           ng-hide="['manager', 'appraiser-company'].indexOf(type) !== -1">Certification Details
                </as-button>
                <as-button click="ctrl.showReports()"
                           ng-show="['appraiser', 'inspector', 'realtor'].indexOf(type) !== -1" icon="details">
                    Reports
                </as-button>
                <as-button click="ctrl.downloadDocument('resume')"
                           ng-show="['appraiser', 'inspector', 'realtor', 'asc'].indexOf(type) !== -1" icon="file">
                    Resume
                </as-button>
                <!--Invite appraiser from directory-->
                <!--@todo Invite/register is not in complete-->
                <!--@link https://github.com/ascope/manuals/issues/153-->
                <as-button click="ctrl.inviteAppraiserConfirm()"
                           ng-show="['appraiser-directory', 'asc'].indexOf(type) !== -1"
                           disabled="ctrl.recordRegistered()">Invite placeholder
                </as-button>
                <!--Register AMC from directory-->
                <as-button click="ctrl.registerConfirm()"
                           ng-show="['amc-directory', 'appraiser-directory', 'asc'].indexOf(type) !== -1"
                           icon="cancel">
                    Register placeholder
                </as-button>
                <!--Record registered-->
                <as-button disabled="true"
                           ng-show="['amc-directory', 'appraiser-directory', 'asc'].indexOf(type) !== -1
                               && ctrl.recordRegistered() === ctrl.displayData.registerStatus.registered" icon="apply">
                    Registered
                </as-button>
            </div>
        </div>
        <div class="divider col-12 clearfix">
            <div class="form-group col-md-12">
                <h4 class="text-uppercase text-center">{{type | replaceChar:'-directory':'' | replaceChar:'-':' '}} Information</h4>
            </div>
        </div>
        <div class="divider col-6" ng-if="['amc', 'amc-directory', 'company', 'user', 'appraiser-company'].indexOf(type) === -1">
            <!--Name-->
            <div class="form-group col-md-6">
                <label for="detailsFirstName">First Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.firstName"
                       id="detailsFirstName"/>
            </div>
            <div class="form-group col-md-6">
                <label for="detailsLastName">Last Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.lastName"
                       id="detailsLastName"/>
            </div>
            <!--Username-->
            <div class="form-group col-md-6" ng-hide="['asc', 'appraiser-directory'].indexOf(type) !== -1">
                <label for="detailsUsername">Username</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.username"
                       id="detailsUsername"/>
            </div>
            <!--Email-->
            <div class="form-group" ng-class="{'col-md-6': type !== 'asc', 'col-md-12': type === 'asc'}">
                <label for="detailsEmail">Email</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.email"
                       id="detailsEmail"/>
            </div>
            <!--Phone-->
            <div class="form-group col-md-6">
                <label for="detailsPhone">Phone</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.phones.primary.number"
                       id="detailsPhone"/>
            </div>
            <!--Cell-->
            <div class="form-group col-md-6" ng-class="{'col-md-12': ['appraiser-directory'].indexOf(type) !== -1}">
                <label for="detailsCell">Cell Phone</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.phones.cell"
                       id="detailsCell"/>
            </div>
        </div>
        <!--Appraiser company specific-->
        <div class="divider col-6" ng-if="type === 'appraiser-company'">
            <!--Company name-->
            <div class="form-group col-md-6">
                <label for="detailsCompany">Company Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.name"
                       id="detailsCompany"/>
            </div>
            <!--Phone-->
            <div class="form-group col-md-6">
                <label for="detailsPhone">Phone</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.phones.primary.number"
                       id="detailsPhone"/>
            </div>
            <!--Name-->
            <div class="form-group col-md-6">
                <label for="detailsFirstName">Contact first Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.firstName"
                       id="detailsFirstName"/>
            </div>
            <div class="form-group col-md-6">
                <label for="detailsLastName">Contact last Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.lastName"
                       id="detailsLastName"/>
            </div>
            <!--Email-->
            <div class="form-group col-md-6">
                <label for="detailsEmail">Email</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.email"
                       id="detailsEmail"/>
            </div>
            <!--Phone-->
            <div class="form-group col-md-6">
                <label for="detailsPhone">Phone</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.phones.primary.number"
                       id="detailsPhone"/>
            </div>
            <!--Fax-->
            <div class="form-group col-md-6">
                <label for="detailsFax">Fax</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.phones.fax"
                       id="detailsFax"/>
            </div>
            <!--Reg date-->
            <div class="col-md-6 form-group">
                <label for="detailsRegistered">Registered Date</label>
                <input type="text" class="form-control" name="detailsRegistered"
                       ng-model="ctrl.displayData.details.registered"
                       id="detailsRegistered"
                       validator="date"
                       placeholder="{{ctrl.displayData.details.joinedAt}}"
                       datetimepicker/>
            </div>
        </div>
        <!--AMC specific-->
        <div class="divider col-6" ng-if="['amc', 'amc-directory'].indexOf(type) !== -1">
            <!--Phone-->
            <div class="form-group col-md-6">
                <label for="detailsPhone">Phone</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.phone"
                       id="detailsPhone"/>
            </div>
            <!--Fax-->
            <div class="form-group col-md-6">
                <label for="detailsFax">Fax</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.fax"
                       id="detailsFax"/>
            </div>
            <!--Reg date-->
            <div class="col-md-12 form-group" ng-if="type !== 'amc-directory'">
                <label for="detailsRegistered">Registered Date</label>
                <input type="text" class="form-control" name="detailsRegistered"
                       ng-model="ctrl.displayData.details.registered"
                       id="detailsRegistered"
                       validator="date"
                       placeholder="{{ctrl.displayData.details.registered}}"
                       datetimepicker/>
            </div>
        </div>
        <div class="divider" ng-hide="['amc', 'amc-directory', 'company', 'user', 'appraiser-company'].indexOf(type) !== -1">
            <div class="divider-break"></div>
        </div>
        <div class="divider col-6" ng-if="['amc', 'amc-directory', 'company', 'user', 'appraiser-company'].indexOf(type) === -1">
            <!--Company name-->
            <div class="form-group col-md-6">
                <label for="detailsCompany">Company Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.company.name"
                       id="detailsCompany"/>
            </div>
            <!--Fax-->
            <div class="form-group col-md-6">
                <label for="detailsFax">Fax</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.phones.fax"
                       id="detailsFax"/>
            </div>
            <!-- Appraiser company manager -->
            <div ng-show="type === 'manager'">
                <!--Branch-->
                <div class="form-group col-md-6">
                    <label for="detailsBranch">Branch</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.branch.name"
                           id="detailsBranch"/>
                </div>
                <!--Branch Permissions-->
                <!-- @todo Waiting on backend -->
                <div class="form-group col-md-6">
                    <label for="detailsBranchPermissions">Branch permissions</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.branchPermissions"
                           id="detailsBranchPermissions"/>
                </div>
            </div>
            <!--Vendor Status-->
            <div class="form-group col-md-6" ng-hide="['manager', 'appraiser-directory'].indexOf(type) !== -1">
                <label for="detailsStatus">Vendor Status</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.vendorStatus"
                       id="detailsStatus"/>
            </div>
            <!--Max Orders-->
            <div class="form-group col-md-6" ng-hide="['manager'].indexOf(type) !== -1"
                 ng-class="{'col-md-12': ['appraiser-directory'].indexOf(type) !== -1}">
                <label for="detailsMaxOrders">Max Orders</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.maxOrders"
                       id="detailsMaxOrders"/>
            </div>
            <!--Tax ID-->
            <div class="form-group col-md-6" ng-hide="['manager', 'appraiser-directory'].indexOf(type) !== -1">
                <label for="detailsTaxId">Tax ID</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.company.taxId"
                       id="detailsTaxId"/>
            </div>
            <!--SSN-->
            <div class="form-group col-md-6" ng-hide="['manager', 'appraiser-directory'].indexOf(type) !== -1">
                <label for="detailsSsn">SSN</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.w9.taxPayer.ssn"
                       id="detailsSsn"/>
            </div>
            <!--Registered Date-->
            <div class="col-md-12 form-group" ng-if="['asc', 'appraiser-directory'].indexOf(type) === -1">
                <label for="detailsRegistered">Registered Date</label>
                <input type="text" class="form-control" name="detailsRegistered"
                       ng-model="ctrl.displayData.details.joinedAt"
                       id="detailsRegistered"
                       validator="date"
                       placeholder="{{ctrl.displayData.details.joinedAt}}"
                       datetimepicker/>
            </div>
        </div>
        <div class="divider"  ng-hide="['user', 'company'].indexOf(type) !== -1">
            <div class="divider-break"></div>
        </div>
        <!--Office Address-->
        <div class="divider col-12 clearfix"  ng-hide="['user', 'company', 'appraiser-company'].indexOf(type) !== -1">
            <div class="form-group col-md-12">
                <h4 class="text-uppercase text-center">Office Address</h4>
            </div>
        </div>
        <div class="divider col-6" ng-hide="['user', 'company', 'appraiser-company'].indexOf(type) !== -1">
            <!--Address 1-->
            <div class="form-group col-md-6">
                <label for="detailsOfficeAddress1">Address 1</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.address1"
                       id="detailsOfficeAddress1"/>
            </div>
            <!--Address 2-->
            <div class="form-group col-md-6">
                <label for="detailsOfficeAddress2">Address 2</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.address2"
                       id="detailsOfficeAddress2"/>
            </div>
        </div>
        <div class="divider col-4"  ng-hide="['user', 'company', 'appraiser-company'].indexOf(type) !== -1">
            <!--City-->
            <div class="form-group col-md-4">
                <label for="detailsOfficeCompany">City</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.city"
                       id="detailsOfficeCompany"/>
            </div>
            <!--State-->
            <div class="form-group col-md-4">
                <label for="detailsOfficeState">State</label>
                <select class="selectpicker form-control" id="detailsOfficeState"
                        ng-model="ctrl.displayData.details.state"
                        ng-options='option.code as option.name for option in ctrl.displayData.states'
                        as-select>
                </select>
            </div>
            <!--Zip-->
            <div class="form-group col-md-4">
                <label for="detailsOfficeZip">Zip</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.zip"
                       id="detailsOfficeZip"/>
            </div>
        </div>
        <div class="divider" ng-hide="['amc', 'amc-directory', 'company', 'user', 'appraiser-company'].indexOf(type) !== -1">
            <div class="divider-break"></div>
        </div>
        <!--Address for assignments-->
        <div class="divider col-12 clearfix"
             ng-hide="['amc', 'amc-directory', 'appraiser-directory', 'asc', 'user', 'company', 'appraiser-company']
            .indexOf(type) !== -1">
            <div class="form-group col-md-12">
                <h4 class="text-uppercase text-center">Address for assignments</h4>
            </div>
        </div>
        <div class="divider col-6"
             ng-if="['amc', 'amc-directory', 'appraiser-directory', 'asc', 'user', 'company', 'appraiser-company']
            .indexOf(type) === -1">
            <!--Address 1-->
            <div class="form-group col-md-6">
                <label for="detailsAssignmentsAddress1">Address 1</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.locations.assignments.address1"
                       id="detailsAssignmentsAddress1"/>
            </div>
            <!--Address 2-->
            <div class="form-group col-md-6">
                <label for="detailsAssignmentsAddress2">Address 2</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.locations.assignments.address2"
                       id="detailsAssignmentsAddress2"/>
            </div>
        </div>
        <div class="divider col-4"
             ng-if="['amc', 'amc-directory', 'appraiser-directory', 'asc', 'user', 'company', 'appraiser-company']
            .indexOf(type) === -1">
            <!--City-->
            <div class="form-group col-md-4">
                <label for="detailsAssignmentsCompany">City</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.locations.assignments.city"
                       id="detailsAssignmentsCompany"/>
            </div>
            <!--State-->
            <div class="form-group col-md-4">
                <label for="detailsAssignmentsState">State</label>
                <select class="selectpicker form-control" id="detailsAssignmentsState"
                        ng-model="ctrl.displayData.details.locations.assignments.state.code"
                        ng-options='option.code as option.name for option in ctrl.displayData.states'
                        as-select>
                </select>
            </div>
            <!--Zip-->
            <div class="form-group col-md-4">
                <label for="detailsAssignmentsZip">Zip</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.locations.assignments.zip"
                       id="detailsAssignmentsZip"/>
            </div>
        </div>
        <div class="divider"
             ng-hide="['amc', 'amc-directory', 'appraiser-directory', 'asc', 'company', 'user', 'appraiser-company']
             .indexOf(type) !== -1">
            <div class="divider-break"></div>
        </div>
        <!--E&O Details-->
        <div class="divider col-12 clearfix" ng-if="['appraiser', 'appraiser-directory', 'asc'].indexOf(type) !== -1">
            <div class="form-group col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="text-uppercase text-center">E&O Details</h4>
                </div>
                <div class="col-md-4 text-left">
                  <as-button click="ctrl.eoInsurance()" icon="money">E&O Insurance</as-button>
                </div>
            </div>
        </div>
        <div class="divider col-6" ng-if="['appraiser', 'appraiser-directory', 'asc'].indexOf(type) !== -1">
            <!--Carrier-->
            <div class="form-group col-md-6">
                <label for="detailsEoCarrier">E&O Carrier</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.eo.carrier"
                       id="detailsEoCarrier"/>
            </div>
            <!--Expiration date-->
            <div class="col-md-6 form-group">
                <label for="detailsEoExpirationDate">E&O Expiration Date</label>
                <input type="text" class="form-control" name="detailsEoExpirationDate"
                       ng-model="ctrl.displayData.details.eoExpireAt"
                       id="detailsEoExpirationDate"
                       validator="date"
                       placeholder="{{ctrl.displayData.details.eoExpireAt}}"
                       datetimepicker/>
            </div>
            <!--@todo missing from backend-->
            <!--@link https://github.com/ascope/manuals/issues/151-->
            <div class="col-md-12 form-group" ng-show="['appraiser-directory', 'asc'].indexOf(type) !== -1">
                <label for="detailsEoCoverageAmount">E&O Coverage Amount</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.eo.coverageAmount"
                       id="detailsEoCoverageAmount"/>
            </div>
        </div>
        <!--Appraiser only-->
        <div class="divider col-4" ng-if="type === 'appraiser'">
            <!--Per claim amount-->
            <div class="form-group col-md-6">
                <label for="detailsEoPerClaimAmount">E&O per claim amount</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.eoClaimAmount"
                       id="detailsEoPerClaimAmount"/>
            </div>
            <!--Per aggregate amount-->
            <div class="form-group col-md-6">
                <label for="detailsEoPerAggregateAmount">E&O per aggregate amount</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.eoAggregateAmount"
                       id="detailsEoPerAggregateAmount"/>
            </div>
        </div>
        <div class="divider" ng-show="['appraiser', 'appraiser-directory', 'asc'].indexOf(type) !== -1">
            <div class="divider-break"></div>
        </div>
        <!--ACH Info-->
        <div class="divider col-12 clearfix"
             ng-hide="['amc', 'amc-directory', 'company', 'user', 'manager', 'appraiser-company', 'appraiser-directory'].indexOf(type) !== -1">
            <div class="form-group col-md-12">
                <h4 class="text-uppercase text-center">ACH Info</h4>
            </div>
        </div>
        <div class="divider col-6"
             ng-if="['amc', 'amc-directory', 'company', 'user', 'manager', 'appraiser-company', 'appraiser-directory'].indexOf(type) === -1">
            <!--Bank Name-->
            <div class="form-group col-md-4">
                <label for="detailsBankName">Bank Name</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.ach.bank"
                       id="detailsBankName"/>
            </div>
            <!--Account Number-->
            <div class="form-group col-md-4" ng-hide="['appraiser-directory', 'asc'].indexOf(type) !== -1">
                <label for="detailsAccountNumber">Account Number</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.ach.account"
                       id="detailsAccountNumber"/>
            </div>
            <!--Routing-->
            <div class="form-group col-md-4">
                <label for="detailsRouting">Routing</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.ach.routing"
                       id="detailsRouting"/>
            </div>
        </div>
        <div class="divider"
             ng-hide="['amc', 'amc-directory', 'company', 'user', 'manager', 'appraiser-company', 'appraiser-directory'].indexOf(type) !== -1">
            <div class="divider-break"></div>
        </div>

        <!--Appraiser company specific-->
        <div class="divider col-12 clearfix" ng-show="type === 'appraiser-company'">
            <div class="form-group col-md-12">
                <h4 class="text-uppercase text-center">Office Address</h4>
            </div>
        </div>
        <div class="divider col-6" ng-if="type === 'appraiser-company'">
            <!--Address 1-->
            <div class="form-group col-md-6">
                <label for="detailsOfficeAddress1">Address 1</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.locations.office.address1"
                       id="detailsOfficeAddress1"/>
            </div>
            <!--Address 2-->
            <div class="form-group col-md-6">
                <label for="detailsOfficeAddress2">Address 2</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.locations.office.address2"
                       id="detailsOfficeAddress2"/>
            </div>
            <!--City-->
            <div class="form-group col-md-4">
                <label for="detailsAssignmentsCompany">City</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.locations.office.city"
                       id="detailsAssignmentsCompany"/>
            </div>
            <!--State-->
            <div class="form-group col-md-4">
                <label for="detailsAssignmentsState">State</label>
                  <select class="selectpicker form-control" id="detailsAssignmentsState"
                          ng-model="ctrl.displayData.details.contact.locations.office.state.code"
                          ng-options='option.code as option.name for option in ctrl.displayData.states'
                          as-select>
                  </select>
            </div>
            <!--Zip-->
            <div class="form-group col-md-4">
                <label for="detailsAssignmentsZip">Zip</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.locations.office.zip"
                       id="detailsAssignmentsZip"/>
            </div>
            <!--Postal code for assignments-->
            <div class="form-group col-md-6">
                <label for="detailsPostalCodeForAssignments">Postal code for assignments</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.contact.locations.assignments.zip"
                       id="detailsPostalCodeForAssignments"/>
            </div>
            <!--Address 2-->
            <div class="form-group col-md-6">
                <label for="detailsTaxId">Tax ID</label>
                <input type="text" class="form-control" ng-model="ctrl.displayData.details.taxId"
                       id="detailsTaxId"/>
            </div>
        </div>





        <!--@todo Everything below here is for client view. Need to refactor in to the main view. No need for a separate section-->
        <div ng-show="['user', 'company'].indexOf(type) !== -1">
            <div class="divider col-6">
                <div class="form-group col-md-6">
                    <label for="detailsCompanyName">Company Name</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.companyName"
                           id="detailsCompanyName"/>
                </div>
                <!-- Company account type -->
                <div class="form-group col-md-6" ng-if="type === 'company'">
                    <label for="account-type">Account type</label>
                    <select class="selectpicker form-control" id="account-type"
                            ng-model="ctrl.displayData.details.accountType"
                            ng-options='option.id as option.value for option in ctrl.displayData.accountTypeOptions.company'
                            as-select>
                    </select>
                </div>
                <!-- Employee account type -->
                <div class="form-group col-md-6" ng-if="type === 'user'">
                    <label for="account-type">Account type</label>
                    <select class="selectpicker form-control" id="account-type"
                            ng-model="ctrl.displayData.details.type"
                            ng-options='option.id as option.value for option in ctrl.displayData.accountTypeOptions.user'
                            as-select>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="detailsFirstName">{{ctrl.displayData.type === 'user' ? 'First Name' : 'Contact First Name'}}</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.firstName"
                           id="detailsFirstName"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="detailsLastName">{{ctrl.displayData.type === 'user' ? 'Last Name' : 'Contact Last Name'}}</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.lastName"
                           id="detailsLastName"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="detailsEmail">Email</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.email"
                           id="detailsEmail"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="detailsJoinDate">Join Date</label>
                    <input type="text" class="form-control" name="detailsJoinDate"
                           ng-model="ctrl.displayData.details.joinedAt"
                           id="detailsJoinDate"
                           validator="date"
                           placeholder="{{ctrl.displayData.details.joinedAt}}"
                           datetimepicker/>
                </div>
                <div ng-if="ctrl.displayData.type === 'user'">
                    <div class="form-group col-md-6">
                        <label for="detailsUsername">Username</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.username"
                               id="detailsUsername"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="detailsBranch">Branch</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.branch.name"
                               id="detailsBranch"/>
                    </div>
                </div>
                <div ng-if="ctrl.displayData.type === 'user'">
                    <div class="form-group col-md-6">
                        <label for="detailsBranchPermission">Branch Permission</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.branchPermission"
                               id="detailsBranchPermission"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="detailsUserType">User Type</label>
                        <select class="selectpicker form-control" id="detailsUserType"
                                ng-model="ctrl.displayData.details.role"
                                ng-options='option.id as option.value for option in ctrl.displayData.userTypeOptions'
                                as-select>
                        </select>
                    </div>
                </div>
            </div>
            <!--Office Address-->
            <div class="divider col-12 clearfix" ng-show="['user', 'company'].indexOf(type) !== -1">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">Office Address</h4>
                </div>
            </div>
            <div class="divider col-4 ">
                <div class="form-group col-md-6">
                    <label for="detailsAddress">Address 1</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.location.address1"
                           id="detailsAddress"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="detailsAddress2">Address 2</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.location.address2"
                           id="detailsAddress2"/>
                </div>
            </div>
            <div class="divider col-3">
                <div class="form-group col-md-3">
                    <label for="detailsCity">City</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.location.city"
                           id="detailsCity"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="detailsState">State</label>
                    <select class="selectpicker form-control" id="detailsState"
                            ng-model="ctrl.displayData.details.location.state.code"
                            ng-options='option.code as option.name for option in ctrl.displayData.states'
                            as-select>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="detailsZip">Zip</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.location.zip"
                           id="detailsZip"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="detailsPhone">Phone</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.phone"
                           id="detailsPhone"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="detailsFax">Fax</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.fax"
                           id="detailsFax"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="detailsOrdersPerMonth">Est. Orders Per Month</label>
                    <input type="text" class="form-control" ng-model="ctrl.displayData.details.ordersPerMonth"
                           id="detailsOrdersPerMonth"/>
                </div>
            </div>
            <!--UCDP-->
            <div ng-if="ctrl.displayData.type === 'company'">
                <div class="divider col-12 ">
                    <div class="form-group col-md-12">
                        <h4 class="text-uppercase text-center">UCDP Account Information</h4>
                    </div>
                </div>
                <div class="divider col-6 ">
                    <div class="form-group col-md-6">
                        <label for="detailsLenderName">Lender Name</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.ucdp.lender"
                               id="detailsLenderName"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="detailsBusinessUnit">Business Unit</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.ucdp.businessUnit"
                               id="detailsBusinessUnit"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="detailsFannieMaeSn">Fannie Mae S/N</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.ucdp.fannieMaeSerialNumber"
                               id="detailsFannieMaeSn"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="detailsFreddieMacId">Freddie Mac Identification Number</label>
                        <input type="text" class="form-control" ng-model="ctrl.displayData.details.ucdp.freddieMacIdentification"
                               id="detailsFreddieMacId"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--No document available-->
<info-modal modal-id="no-document" modal-title="Document not available" button-text="Cancel">
</info-modal>

<!--Register appraiser or AMC-->
<modal-new modal-id="register-record" submit-button="ctrl.registerRecord()" modal-title="Register {{ctrl.displayData.sectionText}}?">
</modal-new>
<!--Register success-->
<info-modal modal-id="register-record-success" modal-title="{{ctrl.displayData.sectionText}} registered" button-text="OK">
</info-modal>
<!--Register failure-->
<info-modal modal-id="register-record-failure" modal-title="Failed to register {{ctrl.displayData.sectionText}}" button-text="OK">
</info-modal>

<!--Invite appraiser-->
<modal-new modal-id="invite-appraiser" submit-button="ctrl.inviteAppraiser()" modal-title="Invite appraiser">
    <form enctype="multipart/form-data" role="form">
        <div class="col-md-12 form-group" show-errors>
            <span class="help-block"
                  validator-message="required">
            </span>
            <label for="inviteAppraiserEmail">Email</label>
            <input type="text" class="form-control" id="inviteAppraiserEmail" name="inviteAppraiserEmail"
                   ng-model="ctrl.displayData.details.email" required>
        </div>
    </form>
</modal-new>
<!--Invite success-->
<info-modal modal-id="invite-appraiser-success" modal-title="Invite sent" button-text="OK">
</info-modal>
<!--Invite failure-->
<info-modal modal-id="invite-appraiser-failure" modal-title="Failed to send invite" button-text="OK">
</info-modal>
</info-modal>
<!--General update failure-->
<info-modal modal-id="general-update-failure" modal-title="Failed to update data" button-text="OK">
</info-modal>
<!--Could not find E&O insurance-->
<info-modal modal-id="eo-insurance-fail" modal-title="Unable to find E&O insurance document" button-text="OK">
</info-modal>
