<!-- Select Broker -->
<modal-new modal-id="admin-rule-profile-add-broker" modal-title="Add Brokers" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Brokers</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffProfileAddBrokerCtrl.addBrokersToRuleProfile()" bold-columns="2" table-id="stuff-profile-broker-table"
                ng-controller="AdminStaffProfileBrokerCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
