<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="col-md-12">
                    <h4 class="text-uppercase text-center">Client on report</h4>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <div class="divider col-3">
                            <div class="form-group notification-window text-center">
                                <div class="col-md-12">
                                    <label>Set client displayed on report</label>
                                    <div class="as-button-push-down col-md-12">
                                        <ul class="list-inline clear marg-null pad-null">
                                            <li>
                                                <button type="button" class="btn btn-default overlay-simple-btn"
                                                        ng-class="{active: ctrl.displayData.defaultClient.isActive}"
                                                        ng-click="ctrl.updateCompanyOnReport(ctrl.displayData.defaultClient.id)">
                                                    <span>Default: {{ctrl.displayData.defaultClient.name}}</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Additional companies-->
                        <div class="col-md-6 col-md-offset-3">
                            <h3 class="text-uppercase text-center">Choose Companies</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 text-left" ng-repeat="key in [1,2,3] track by key">
                            <div class="form-group notification-window">
                                <div class="col-md-12 button-padding"
                                     ng-repeat-start="company in ctrl.displayData.splitCompanies[key] track by $index">
                                    <ul class="list-inline clear marg-null pad-null">
                                        <li>
                                            <as-button click="ctrl.displayClientSettings(company.id)"
                                                       ng-show="company.isActive && !massUpdate"
                                                       icon="settings"></as-button>
                                            <button type="button" class="btn btn-default overlay-simple-btn"
                                                    ng-class="{active: company.isActive}"
                                                    ng-click="ctrl.updateCompanyOnReport(company.id)">
                                                <span>{{company.name}}</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12" ng-repeat-end></div>
                            </div>
                        </div>
                    </div>
                    <!--Client settings modal-->
                    <modal-new submit-button="ctrl.updateClientSettings()" modal-id="client-settings" modal-title="Client Settings">
                        <div class="form-group col-md-12 text-center">
                            <ul class="list-inline as-button-pad-top">
                                <as-button click="ctrl.checkAll()">Check All</as-button>
                                <as-button click="ctrl.uncheckAll()">Uncheck All</as-button>
                            </ul>
                        </div>
                        <form enctype="multipart/form-data" role="form">
                            <!--Checklist-->
                            <div class="form-group col-md-12">
                                <label for="checklist">Checklist</label>
                                <select class="selectpicker form-control" id="checklist"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.checklist"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Instructions-->
                            <div class="form-group col-md-12">
                                <label for="instructions">Instructions</label>
                                <select class="selectpicker form-control" id="instructions"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.instructions"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Approved panel-->
                            <div class="form-group col-md-12">
                                <label for="approved">Approved panel</label>
                                <select class="selectpicker form-control" id="approved"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.appraisersList.approved"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Do not use panel-->
                            <div class="form-group col-md-12">
                                <label for="doNotUse">Do not use panel</label>
                                <select class="selectpicker form-control" id="doNotUse"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.appraisersList.doNotUse"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Fee schedule (aka jobtypes list)-->
                            <div class="form-group col-md-12">
                                <label for="feeSchedule">Fee schedule</label>
                                <select class="selectpicker form-control" id="feeSchedule"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.jobtypesList"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--UCDP-->
                            <div class="form-group col-md-12">
                                <label for="ucdp">UCDP</label>
                                <select class="selectpicker form-control" id="ucdp"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.ucdp"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Payment options-->
                            <!--@todo NOT IN BACKEND YET-->
                            <div class="form-group col-md-12">
                                <label for="paymentOptions">Payment options</label>
                                <select class="selectpicker form-control" id="paymentOptions"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.paymentOptions"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Merge documents-->
                            <div class="form-group col-md-12">
                                <label for="mergeDocuments">Merge documents</label>
                                <select class="selectpicker form-control" id="mergeDocuments"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.settings.reports.merging"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Email borrower appraiser-->
                            <div class="form-group col-md-12">
                                <label for="emailBorrower">Email borrower appraiser</label>
                                <select class="selectpicker form-control" id="emailBorrower"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.settings.reports.emailBorrowerByDefault"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Auto assign settings-->
                            <div class="form-group col-md-12">
                                <label for="autoAssign">Auto assign</label>
                                <select class="selectpicker form-control" id="autoAssign"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.autoAssign"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--E&O Coverage-->
                            <!--@todo not in backend-->
                            <div class="form-group col-md-12">
                                <label for="eoCoverage">E&O Coverage</label>
                                <select class="selectpicker form-control" id="eoCoverage"
                                        ng-model="ctrl.safeData.selectedClient.inheritance.eoCoverage"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                            <!--Job type fee margin-->
                            <div class="form-group col-md-12">
                                <label for="jobTypeFeeMargin">Job type fee margin</label>
                                <select class="selectpicker form-control" id="jobTypeFeeMargin"
                                        ng-model="ctrl.displayData.selectedClient.inheritance.jobTypeFeeMargin"
                                        ng-options='option.id as option.value for option in ctrl.displayData.yesNoDropdown'
                                        as-select>
                                </select>
                            </div>
                        </form>
                    </modal-new>
                    <!--Failed to update client on report-->
                    <info-modal modal-id="update-client-on-report-failure" modal-title="Failed to update client on report"></info-modal>
                    <!--Failed to update client settings-->
                    <info-modal modal-id="client-settings-failure" modal-title="Failed to update client settings"></info-modal>
                </div>
            </form>
        </div>
    </div>
</div>
