<!-- Select Job Type -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffSetCommissionCtrl.addCommissionModal()" icon="apply" >Set Commissions For Selected</as-button>
</div>
<modal-new modal-id="set-commission-company" modal-title="Set Company Commission" >
  <h4 class="text-uppercase text-center">Select Commission for all selected company branches</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffSetCommissionCtrl.setCommission()" bold-columns="2" table-id="set-company-commission"
                ng-controller="AdminStaffSetCommissionTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" >
      </as-table>
    </div>
  </div>
</modal-new>
