<!--Email users table-->
<div class="">
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-3 col-sm-6 step-1 col-el-6 text-right">
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="emailUsersCtrl.filterAllCompanies">
            </div>
        </div>
        <div class="col-lg-6 col-sm-8 step-2 col-xs-12 text-right col-ml-7">
            <as-button click="emailUsersCtrl.composeEmail()">Compose new email</as-button>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Table-->
    <div class="form-group">
        <as-table totals="false" hide-page-numbers="true" table-id="admin-users-pending-users-table"
                  ng-controller="AdminUsersEmailUsersTableCtrl as tableCtrl"
                  bold-columns="1,4" infinite-scroll="false" overflow-x="hidden"></as-table>
    </div>
</div>

<!--New email-->
<modal-new modal-id="compose-email" submit-button="emailUsersCtrl.sendEmail()" modal-title="Compose new email" disabled="emailUsersCtrl.disableSendEmail()">
    <form enctype="multipart/form-data" role="form" name="emailUsersCtrl.sendEmailForm">
        <!--From-->
        <div class="col-md-12 form-group">
            <label for="emailFrom">{{emailUsersCtrl.displayData.email.sender.length > 1 ? 'Enter only a single email address' : 'From'}}</label>
            <tags-input ng-model="emailUsersCtrl.displayData.email.sender" id="emailFrom" placeholder="Start typing an email to search" key-property="name" display-property="name" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="emailUsersCtrl.searchSenders($query)" min-length="1"></auto-complete>
            </tags-input>
        </div>
        <!--To-->
        <div class="col-md-12 form-group">
            <label for="emailRecipients">Recipients</label>
            <tags-input ng-model="emailUsersCtrl.displayData.email.receiver" id="emailRecipients" name="emailRecipients" placeholder="Start typing an email to search" key-property="name" display-property="name" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="emailUsersCtrl.searchRecipients($query)" min-length="1"></auto-complete>
            </tags-input>
        </div>
        <div class="col-md-12 form-group" show-errors>
            <span class="help-block" validator-message="required"></span>
            <label for="emailSubject">Subject</label>
            <input type="text" class="form-control" id="emailSubject" name="emailSubject"
                   ng-model="emailUsersCtrl.displayData.email.subject" required>
        </div>
        <div class="divider">
            <div class="divider-break"></div>
        </div>
        <!--Email body-->
        <div class="col-md-12">
            <textarea ckeditor="editorOptions" ng-model="emailUsersCtrl.displayData.email.content" ckeditor-modal></textarea>
        </div>
    </form>
</modal-new>
<!--Failed to send email-->
<info-modal modal-id="send-email-failure" modal-title="Failed to send email" button-text="OK">
</info-modal>

<!--Email details-->
<info-modal modal-id="email-details" modal-title="Email details" button-text="OK">
    <form enctype="multipart/form-data" role="form">
        <div class="col-md-12">
            <label>From: {{emailUsersCtrl.displayData.emailDetails.sentBy}}</label>
        </div>
        <div class="col-md-12">
            <label>To: {{emailUsersCtrl.displayData.emailDetails.sentTo}}</label>
        </div>
        <div class="col-md-12">
            <label>Sent On: {{emailUsersCtrl.displayData.emailDetails.sentAt}}</label>
        </div>
        <div class="col-md-12">
            <label>Status: {{emailUsersCtrl.displayData.emailDetails.status}}</label>
        </div>
        <div class="col-md-12">
            <label>Subject: {{emailUsersCtrl.displayData.emailDetails.subject}}</label>
        </div>
        <div class="col-md-12">
            <label>Message: {{emailUsersCtrl.displayData.emailDetails.message | stripTags}}</label>
        </div>
    </form>
</info-modal>