<div class="table-responsive">
  <!-- create order track search section -->
  <div class="col-el-12 col-ml-12 pad-null">
    <div class="dashboard-sidebar" >
      <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
        <!--Sidebar Form-->
        <form enctype="multipart/form-data" role="form">
          <div class="row divider">
            <div class="col-md-12 col-xs-10">
              <div class="form-group col-md-3">
                <label for="trackingId">Tracking ID</label>
                <input type="text" class="form-control"
                       ng-model="adminStaffMercuryFailureOrderCtrl.searchTrackId" id="trackingId"
                       value=""/>
              </div>
              <!-- search and clear buttons -->
              <div class="col-md-2  as-button-pad-top">
                <div class="text-left">
                  <as-button class="green-theme" icon="search" click="adminStaffMercuryFailureOrderCtrl.search()">Search</as-button>
                  <as-button click="adminStaffMercuryFailureOrderCtrl.clear()" icon="cancel">Clear</as-button>
                </div>
              </div>
              <!-- search and clear buttons end-->
            </div>
          </div>
        </form>
        <!--END-->
      </div>
    </div>
  </div>
  <!-- order track search sectionends -->

  <!-- as-table for all Mercury Failure Orders -->
  <!--Table Started-->
  <!--<div class="col-md-12 col-sm-12">-->
    <!--order list table-->
    <as-table ng-controller="AdminStaffMercuryFailureOrderTableCtrl as tableCtrl" totals="false" bold-columns="2"
              table-id="mercury-failure-order-table" infinite-scroll="false" overflow-x="hidden"
              ></as-table>
  <!--</div>-->
  <!--as-table for Mercury Failure Orders  ends -->
</div>
<!-- modals -->
<!--Confirm process order-->
<modal-new modal-id="process-order-confirm" submit-button="adminStaffMercuryFailureOrderCtrl.processOrder()" modal-title="Process Order?">
</modal-new>
<!--Process order failure-->
<info-modal modal-id="process-order-failure" modal-title="Failed to process mercury order" button-text="OK">
</info-modal>
