<!-- Select Job Type -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffRecalcCommissionBrokerCtrl.addRecalcCommissionModal()" icon="apply" >Recalc Commission Broker</as-button>
</div>
<modal-new modal-id="recalc-commission-broker-modal" modal-title="Set Company Commission" >
  <div class="auth-divider col-12">
    <div class="col-md-6 form-group" show-errors>
      <label>From (Ordered Date):</label>
      <input type="text" class="form-control" name="w9Date"
             ng-model="adminStaffRecalcCommissionCtrl.displayData.fromDate"
             validator="date"
             placeholder="{{adminStaffRecalcCommissionBrokerCtrl.displayData.fromDate}}"
             datetimepicker/>
    </div>
    <div class="col-md-6 form-group" show-errors>
      <label>To (Ordered Date):</label>
      <input type="text" class="form-control" name="w9Date"
             ng-model="adminStaffRecalcCommissionCtrl.displayData.toDate"
             validator="date"
             placeholder="{{adminStaffRecalcCommissionBrokerCtrl.displayData.toDate}}"
             datetimepicker/>
    </div>
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffRecalcCommissionBrokerCtrl.setCommission()" bold-columns="2" table-id="recalc-commission-broker"
                ng-controller="AdminStaffRecalcCommissionBrokerTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
