<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">ACH Information</h4>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <!--Bank name-->
                <div class="form-group col-md-12" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="bankName">Bank name</label>
                    <input type="text" class="form-control" ng-model="achCtrl.displayData.ach.bank"
                    name="bankName" id="bankName" required/>
                </div>
                <!--Account number-->
                <div class="form-group col-md-12" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="accountNumber">Account number</label>
                    <input type="text" class="form-control" ng-model="achCtrl.displayData.ach.account"
                           name="accountNumber" id="accountNumber" required/>
                </div>
                <!--Routing number-->
                <div class="col-md-12 form-group" show-errors>
                    <span class="help-block" validator-message="required"></span>
                    <label for="routing">routing</label>
                    <input type="text" class="form-control" ng-model="achCtrl.displayData.ach.routing"
                    name="routing" id="routing" required/>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Load failed-->
<info-modal modal-id="ach-load-failed" modal-title="Failed to load ACH information" button-text="OK">
</info-modal>
<!--Update failed-->
<info-modal modal-id="ach-update-failed" modal-title="Failed to update ACH information" button-text="OK">
</info-modal>