
<div class="appraisal-menu dashboard-menu without-subtext" >
    <div class="dashboard-menu tab-pane staff_menu" id="staff_menu">

        <!--<div class="back-btn-wrapp">-->
            <!--<as-button icon="back" class="blue-theme" type="submit">back to list of staff</as-button>-->
        <!--</div>-->


        <ul class="list-unstyled marg-null">
            <li ng-class="::adminStaffTabsCtrl.tabClass(tab)" class="col-xs-6 col-md-3"
                ng-repeat="tab in adminStaffTabsCtrl.tabs track by $index">

                <a href="staff/{{tab.tab}}{{tab.query}}">
                    {{tab.value}}
                </a>
            </li>

        </ul>
    </div>
</div>
