<!--Dashboard For XS EL ML Sidebar-->
<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">Auto Assign</h4>
                </div>
            </div>

            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <div class="divider col-4 clearfix">
                    <!--Auto assign all-->
                    <div class="form-group col-md-4">
                        <label for="enableAll">Enable auto assign for all orders</label>
                        <select class="selectpicker form-control" id="enableAll"
                                ng-model="tableCtrl.safeData.autoAssign.options.enabledForAllOrders"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <!--Auto assign per order-->
                    <div class="form-group col-md-4">
                        <label for="enablePerOrder">Enable auto assign per order</label>
                        <select class="selectpicker form-control" id="enablePerOrder"
                                ng-model="tableCtrl.safeData.autoAssign.options.enabledPerOrder"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <!--Notify when assigned-->
                    <div class="form-group col-md-4">
                        <label for="notifyClient">Notify client when assigned</label>
                        <select class="selectpicker form-control" id="notifyClient"
                                ng-model="tableCtrl.safeData.autoAssign.options.notifyClient"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                </div>
            </form>
            <div class="divider">
                <div class="divider-break"></div>
            </div>
            <!--Auto assign values-->
            <form enctype="multipart/form-data" role="form">
                <!--Max distance-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableMaxDistance">Enable</label>
                        <select class="selectpicker form-control" id="enableMaxDistance"
                                ng-model="tableCtrl.safeData.autoAssign.maxDistance.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="maxDistance">Max distance value</label>
                        <input type="text" class="form-control" id="maxDistance" name="maxDistance"
                               ng-model="tableCtrl.safeData.autoAssign.maxDistance.value">
                    </div>
                </div>
                <!--Min rating-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableMinRating">Enable</label>
                        <select class="selectpicker form-control" id="enableMinRating"
                                ng-model="tableCtrl.safeData.autoAssign.minRating.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="minRating">Minimum rating</label>
                        <select class="selectpicker form-control" id="minRating"
                                ng-model="tableCtrl.safeData.autoAssign.minRating.value"
                                ng-options='option.id as option.val for option in tableCtrl.displayData.minRatingDropdown'
                                as-select>
                        </select>
                    </div>
                </div>
                <!--Max pending orders-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableMaxPending">Enable</label>
                        <select class="selectpicker form-control" id="enableMaxPending"
                                ng-model="tableCtrl.safeData.autoAssign.maxPendingOrders.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="maxPendingOrders">Maximum pending orders (assigned, accepted, scheduled, or
                            inspection complete)</label>
                        <input type="text" class="form-control" id="maxPendingOrders" name="maxPendingOrders"
                               ng-model="tableCtrl.safeData.autoAssign.maxPendingOrders.value">
                    </div>
                </div>
                <!-- Profit Margin Percentage -->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableProfitMargin">Enable</label>
                        <select class="selectpicker form-control" id="enableProfitMargin"
                                ng-model="tableCtrl.safeData.autoAssign.profitMargin.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="profitMargin">Profit margin percentage</label>
                        <input type="text" class="form-control" id="profitMargin" name="profitMargin"
                               ng-model="tableCtrl.safeData.autoAssign.profitMargin.value">
                    </div>
                </div>
                <div class="form-group col-md-12 divider col-4">
                    <!--Exclude if open order is max allowed-->
                    <div class="col-md-4">
                        <label for="enableOpenOrdersLimit">Exclude appraiser if open orders equals or exceeds max orders allowed</label>
                        <select class="selectpicker form-control" id="enableOpenOrdersLimit"
                                ng-model="tableCtrl.safeData.autoAssign.isOpenOrdersLimit"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <!--Approved list-->
                    <div class="col-md-4">
                        <label for="approvedList">Approved list</label>
                        <select class="selectpicker form-control" id="approvedList"
                                ng-model="tableCtrl.safeData.autoAssign.isApprovedList"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <!--Coverage only-->
                    <div class="col-md-4">
                        <label for="coverage">Coverage only</label>
                        <select class="selectpicker form-control" id="coverage"
                                ng-model="tableCtrl.safeData.autoAssign.isCoverage"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12 divider col-4">
                    <!--FHA approved-->
                    <div class="col-md-4">
                        <label for="fhaApproved">FHA Approved</label>
                        <select class="selectpicker form-control" id="fhaApproved"
                                ng-model="tableCtrl.safeData.autoAssign.fhaApproved.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <!--Job type provided by appraiser-->
                    <div class="col-md-4">
                        <label for="jobtypePresence">Job type provided by appraiser</label>
                        <select class="selectpicker form-control" id="jobtypePresence"
                                ng-model="tableCtrl.safeData.autoAssign.isJobtypePresence"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <!--Prevent auto-assign on additional comment-->
                    <div class="col-md-4">
                        <label for="preventAutoComment">Prevent auto assign on additional comment</label>
                        <select class="selectpicker form-control" id="preventAutoComment"
                                ng-model="tableCtrl.safeData.autoAssign.isPreventAutoAssignWhenComment"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                </div>

                <!--Appraiser types-->
                <!--General-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enabledGeneralOnly">Enable</label>
                        <select class="selectpicker form-control" id="enabledGeneralOnly"
                                ng-model="tableCtrl.safeData.autoAssign.generalOnly.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="generalOnly">General appraiser</label>
                        <select class="selectpicker form-control" id="generalOnly"
                                ng-model="tableCtrl.safeData.autoAssign.generalOnly.priority"
                                ng-options='option.id as option.val for option in tableCtrl.displayData.appraiserOrderDropdown'
                                as-select>
                        </select>
                    </div>
                </div>
                <!--Certified-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableCertifiedOnly">Enable</label>
                        <select class="selectpicker form-control" id="enableCertifiedOnly"
                                ng-model="tableCtrl.safeData.autoAssign.certifiedOnly.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="certifiedOnly">Licensed appraiser</label>
                        <select class="selectpicker form-control" id="certifiedOnly"
                                ng-model="tableCtrl.safeData.autoAssign.certifiedOnly.priority"
                                ng-options='option.id as option.val for option in tableCtrl.displayData.appraiserOrderDropdown'
                                as-select>
                        </select>
                    </div>
                </div>
                <!--Certified-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableLicensedOnly">Enable</label>
                        <select class="selectpicker form-control" id="enableLicensedOnly"
                                ng-model="tableCtrl.safeData.autoAssign.licensedOnly.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <label for="licensedOnly">Certified appraiser</label>
                        <select class="selectpicker form-control" id="licensedOnly"
                                ng-model="tableCtrl.safeData.autoAssign.licensedOnly.priority"
                                ng-options='option.id as option.val for option in tableCtrl.displayData.appraiserOrderDropdown'
                                as-select>
                        </select>
                    </div>
                </div>
                <!--Manage approved lists-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                            <label for="enableApprovedList">Enable</label>
                        <select class="selectpicker form-control" id="enableApprovedList"
                                ng-model="tableCtrl.safeData.autoAssign.prioritizeApprovedLists.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <as-button click="tableCtrl.manageApprovedList()"
                                   disabled="tableCtrl.disableButtons('prioritizeApprovedLists')">
                            Manage approved list
                        </as-button>
                    </div>
                </div>
                <!--Job types-->
                <div class="form-group col-md-12 divider col-2">
                    <div class="col-md-2">
                        <label for="enableJobTypes">Prioritize job types</label>
                        <select class="selectpicker form-control" id="enableJobTypes"
                                ng-model="tableCtrl.safeData.autoAssign.jobTypesRange.isEnabled"
                                ng-options='option.id as option.value for option in tableCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <as-button click="tableCtrl.selectJobType()"
                                   disabled="tableCtrl.disableButtons('jobTypesRange')">
                            Select job types
                        </as-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--General write failure-->
    <info-modal modal-id="auto-assign-write-failure" modal-title="Failed to update value"></info-modal>
    <!--Reorder approved list-->
    <modal-new submit-button="reorderApprovedList('approved-list-order')" modal-id="approved-list-order-modal" modal-title="Drag and drop to reorder approved list">
        <form enctype="multipart/form-data" role="form">
            <div class="divider col-4 clearfix" id="approved-list-order">
                <!--Auto assign all-->
                <div class="form-group col-md-12"
                     ng-repeat="listItem in tableCtrl.safeData.approvedList track by $index"
                     id="approved-list-{{listItem.id}}">
                    <h5 class="text-uppercase text-center">{{listItem.value}}</h5>
                </div>
            </div>
        </form>
    </modal-new>
</div>
