<div>
    <div class="col-el-12 col-ml-12 pad-null">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                <!--Sidebar Form-->
                <form enctype="multipart/form-data" role="form">
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1">
                                <label for="borrowerName">Name</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.borrowerName" id="borrowerName"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" ng-model="tableCtrl.searchModels.address"
                                       id="address" value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="fileNumber">File Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.fileNumber" id="fileNumber" value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="checkNumber">Check Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.checkNumber" id="checkNumber"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="client">Client</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.client" id="client"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="clientBranch">Client Branch</label>
                                <select class="selectpicker form-control" id="clientBranch"
                                        ng-model="tableCtrl.searchModels.clientBranch"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.clientBranch'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraiser">Appraiser</label>
                                <input type="text" class="form-control" ng-model="tableCtrl.searchModels.appraiser" id="appraiser" value="" />
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraiserCompany">Appraiser Company</label>
                                <select class="selectpicker form-control" id="appraiserCompany"
                                        ng-model="tableCtrl.searchModels.appraiserCompany"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraiserCompany'
                                        as-select>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1">
                                <label for="paymentStatus">Payment Status</label>
                                <select class="selectpicker form-control" id="paymentStatus"
                                        ng-model="tableCtrl.searchModels.paymentStatus"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.paymentStatus'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraisalStatus">Appraisal Status</label>
                                <select class="selectpicker form-control" id="appraisalStatus"
                                        ng-model="tableCtrl.searchModels.appraisalStatus"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraisalStatus'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="state">State</label>
                                <select class="selectpicker form-control" id="state"
                                        ng-model="tableCtrl.searchModels.state"
                                        ng-options='option.code as option.title for option in tableCtrl.selects.state'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="days">Days (Ordered Date)</label>
                                <select class="selectpicker form-control" id="days"
                                        ng-model="tableCtrl.searchModels.days"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.days'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="month">Month (Ordered Date)</label>
                                <select class="selectpicker form-control" id="month"
                                        ng-model="tableCtrl.searchModels.month"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.month'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="year">Year (Ordered Date)</label>
                                <select class="selectpicker form-control" id="year"
                                        ng-model="tableCtrl.searchModels.year"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.year'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateFrom">From (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateFrom"
                                       ng-model="tableCtrl.searchModels.dateFrom"
                                       id="dateFrom"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateTo">To (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateTo"
                                       ng-model="tableCtrl.searchModels.dateTo"
                                       id="dateTo"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div ng-include="'/components/admin/accounting/directives/partials/search-buttons.html'" include-replace></div>
                        </div>
                    </div>
                </form>
                <!--END-->
            </div>
        </div>
        <!--Grouping-->
        <group-by></group-by>
        <div class="dashboard-search admin-accounting-search">
            <filter-all></filter-all>
            <!--Function buttons-->
            <div class="col-sm-7 step-2 text-right" >
                <as-button click="tableCtrl.deleteRecordsConfirm()" icon="close" disabled="tableCtrl.deleteDisabled()">
                    Delete
                </as-button>
                <as-button click="tableCtrl.exportData()" icon="download">Export</as-button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-el-12 pad-null">
    <as-table infinite-scroll="false"></as-table>
</div>

<!--Confirm delete modal-->
<modal-new submit-button="tableCtrl.deleteRecords()" modal-id="confirm-delete"
           modal-title="Are you sure you want to delete selected records?">
</modal-new>
<!--Delete failure-->
<info-modal modal-id="delete-failure" modal-title="Failed to delete selected records"></info-modal>
