<!-- Select State -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffProfileAddStateCtrl.addStatesModal()" icon="apply" >Add States</as-button>
</div>
<modal-new modal-id="admin-rule-profile-add-state" submit-button="adminStaffProfileAddStateCtrl.addStatesToRuleProfile()" modal-title="Add State" class="staff-modal">
  <h4 class="text-uppercase text-center">Select State(s)</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="stuff-profile-state-table"
                ng-controller="AdminStaffStateCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true">
      </as-table>
    </div>
  </div>
</modal-new>
