<div ng-controller="AdminImportFeeCtrl as importCtrl">

	<h3>Import Type</h3>

  <select as-select
          class="form-control"
          ng-model="importCtrl.type"
          ng-options="type.id as type.title for type in importCtrl.importTypes">
    <option value=''>Import Default Fee</option>
  </select>

	<h3>Required Columns</h3>

	<ol>
		<li>Jobtype name</li>

		<li ng-if="importCtrl.type === importCtrl.locationTypes.state || importCtrl.type === importCtrl.locationTypes.county">State ( Abbreviations are required, example: AL)</li>

		<li ng-if="importCtrl.type === importCtrl.locationTypes.county">County</li>

		<li ng-if="importCtrl.type === importCtrl.locationTypes.zip">Zip Code</li>
		
		<li>Client fee</li>
		<li>Appraiser fee</li>
		<li>Managment fee</li>
	</ol>

</div>