<div ng-controller="AdminJobTypeListCtrl as listCtrl">

    <div class="auth-divider col-4 job-type-menu">

        <a ui-sref="main.jobType.listing">
            JobType Main
        </a>

        <a ui-sref="main.jobType.jobTypeList">
            JobType Lists
        </a>

        <a  ui-sref="main.jobType.jobTypeMapping">
            JobType Mapping
        </a>

    </div>

    <div class="dashboard-search admin-accounting-search listing-search">

        <div class="col-sm-3">
            <label for="jobList">Job List</label>
            <select as-select id="jobList"
                    class="form-control"
                    ng-model="listCtrl.selectedJobTypeList"
                    ng-change="listCtrl.selectList()"
                    ng-options="id as jobTypeList.name for (id, jobTypeList) in listCtrl.jobTypeLists">
                <option value=''>- Select Job List -</option>
            </select>
        </div>

        <div class="col-sm-1 text-right step-2">
            <as-button icon="plus" click="listCtrl.newJobType = true" class="green-theme">Add JobType List</as-button>
        </div>

    </div>

    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-6 col-sm-4 step-1 col-ml-5">
            <div class="pull-left"><a href="#">
                <img ng-src="/assets/images/icons/as-button/btn-search.svg" width="" height="" alt=""></a>
            </div>
            <div class="col-md-12 col-xs-12">
                <input ng-model="search.all" type="text" placeholder="Search for any kind of details">
            </div>
        </div>
        <div class="col-lg-6 col-sm-8 step-2 col-xs-12 text-right col-ml-7">
            <a href="" ng-click="jobTypeCtrl.newJobTypeModal = true">
                <as-button icon="plus" class="green-theme" type="submit" click="listCtrl.addJobTypeToList(listCtrl.selectedJobTypeList)">Add New JobType to List</as-button>
            </a>
            <as-button click="listCtrl.editJobTypeList(listCtrl.selectedJobTypeList)" icon="plus">Edit</as-button>
            <as-button confirm-click="listCtrl.deleteJobTypeList(listCtrl.selectedJobTypeList)" icon="close">Delete</as-button>
            <as-button click="listCtrl.openMassUpdateModal(listCtrl.selectedJobTypeList)" icon="upload">Mass Update</as-button>
            <as-button ui-sref="jobType.import" icon="upload">Import Fee</as-button>
            <as-button icon="settings"></as-button>
        </div>
        <div class="clearfix"></div>
    </div>

  <div class="auth-divider col-12 table-responsive job-type-table" data-pattern="priority-columns job-type-table" ng-if="listCtrl.selectedJobTypeList">
  <!--<div class="auth-divider col-12 table-responsive job-type-table" data-pattern="priority-columns" >-->

    <table class="table dashboard-table">

      <thead>
        <tr>
          <th>
            <div class="form-group">
              <label>Appraisal Form</label>
            </div>
          </th>

          <th>
            <label>Client Fee</label>
          </th>

          <th>
            <label>Managment Fee</label>
          </th>

          <th>
            <label>App. Fee</label>
          </th>

          <th>
            <label>Location</label>
          </th>

          <th>
            <label>FHA</label>
          </th>

          <th>
            <label>Commercial</label>
          </th>

          <th>
            <label>Action</label>
          </th>
        </tr>
      </thead>

      <tr class="text-center">
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
      </tr>

      <tr class="text-center" ng-repeat="(key, jobType) in listCtrl.jobTypes">

        <td>

            <span ng-hide="listCtrl.editJobType[jobType.id]">{{ jobType.appraisalForm }}</span>

            <div ng-show="listCtrl.editJobType[jobType.id]">
                <input type="text"
                       class="form-control"
                       ng-model="listCtrl.appraisalForm"/>
            </div>

        </td>

        <td>

          <a href="#" ng-click="$event.preventDefault(); $event.stopPropagation" ng-hide="listCtrl.editJobType[jobType.id]">{{ jobType.clientFee }}</a>

          <div ng-show="listCtrl.editJobType[jobType.id]">
            <input type="text"
                   class="form-control"
                   ng-model="jobType.clientFee"/>
          </div>

        </td>

        <td>

          <a href="#" ng-click="$event.preventDefault(); $event.stopPropagation" ng-hide="listCtrl.editJobType[jobType.id]">{{ jobType.managmentFee }}</a>

          <div ng-show="listCtrl.editJobType[jobType.id]">
            <input type="text"
                   class="form-control"
                   ng-model="jobType.managmentFee"/>
          </div>

          <div ng-hide="listCtrl.editJobType[jobType.id]">
            <input type="checkbox"
                   class="form-control"
                   ng-model="jobType.isManagmentFee"
                   ng-change="listCtrl.updateJobType(jobType.id)"
                   ng-hide="listCtrl.editJobType[jobType.id]"
                   checkable />
          </div>

        </td>


        <td>

          <a href="#" ng-click="$event.preventDefault(); $event.stopPropagation" ng-hide="listCtrl.editJobType[jobType.id]">{{ jobType.appraiserFee }}</a>

          <div ng-show="listCtrl.editJobType[jobType.id]">
            <input type="text"
                   class="form-control"
                   ng-model="jobType.appraiserFee"/>
          </div>

          <div ng-hide="listCtrl.editJobType[jobType.id]">
            <input type="checkbox"
                 class="form-control"
                 ng-model="jobType.isAppraiserFee"
                 ng-change="listCtrl.updateJobType(jobType.id)"
                 checkable />
          </div>

        </td>

        <td>

          <select as-select
                  class="form-control"
                  ng-model="jobType.feeSetFor"
                  ng-change="listCtrl.updateJobType(jobType.id)"
                  ng-options="location.id as location.title for location in listCtrl.locations">
            <option value=''>Default</option>
          </select>

        </td>

          <td>
              <a href="#" ng-click="$event.preventDefault(); $event.stopPropagation" ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.fha !== false ? "ON" : "OFF" }}</a>
              <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="jobType.fha"
                         ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                         checkable />
              </div>
          </td>

          <td>
              <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.commercial !== false ? "ON" : "OFF" }}</a>
              <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="jobType.commercial"
                         ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                         checkable />
              </div>
          </td>

          <td class="actions">

              <a ng-click="listCtrl.editJobType[jobType.id] = true" ng-hide="listCtrl.editJobType[jobType.id]">
                  <as-button icon="file" class="" type="submit"></as-button>
              </a>

              <a ng-click="listCtrl.updateJobType(jobType.id)" ng-show="listCtrl.editJobType[jobType.id]">
                  <as-button icon="check" class="green-theme" type="submit"></as-button>
              </a>

              <a class="" confirm-click="listCtrl.deleteJobType(jobType.id)">
                  <img ng-src="/assets/images/icons/decline.svg" alt="" class="pull-right">
              </a>


          </td>
      </tr>

    </table>
  </div>




  <!-- Add JobType to List Modal -->
  <modal visible="listCtrl.addToListModal">

    <h4 class="text-uppercase text-center title">Add JobType to List</h4>

    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table">
          <thead>
            <tr>
              <td>
                <input type="checkbox"
                       class="form-control"
                       ng-change="listCtrl.addAllToList(listCtrl.ifAddAllToList)"
                       ng-model="listCtrl.ifAddAllToList"
                       checkable />
              </td>
              <td>Local Appraisal Form</td>
              <td>FHA</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, jobType) in listCtrl.notUsedJobTypes">
              <td>
                <input type="checkbox"
                       class="form-control"
                       ng-model="listCtrl.jobTypeToList[jobType.id]"
                       ng-change="listCtrl.addToList(jobType.id, listCtrl.jobTypeToList[jobType.id])"
                       checkable />
              </td>
              <td>{{ jobType.appraisalForm }}</td>
              <td>{{ jobType.fha ? "Yes" : "No" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>

  <!-- Edit JobType List Modal -->
  <modal visible="listCtrl.editJobTypeListModal">
    <h4 class="text-uppercase text-center title">Edit JobType List Name</h4>

    <form name="frm" class="overlay-form" role="form" as-submit="listCtrl.updateJobTypeList(selectedJobTypeList)">

      <!-- Job List Name -->
      <div class="form-group" show-errors>
        <label for="inputJobListNewName" class="control-label">Job List Name</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'job list name'}"></span>

        <input type="text"
               name="name"
               id="inputJobListNewName"
               class="form-control"
               ng-model-options="{ updateOn: 'submit'}"
               ng-model="listCtrl.jobTypeLists[listCtrl.selectedJobTypeList].name"
               placeholder="New name"
               required/>
      </div>

      <div class="row text-center">
        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
      </div>
    </form>
  </modal>

  <!-- JobType Mass Update -->
  <modal visible="listCtrl.massUpdateModal" size="large">
    <h4 class="text-uppercase text-center title">JobType Mass Update</h4>

    <form name="frm" class="overlay-form" role="form" as-submit="listCtrl.massUpdateJobType(listCtrl.massUpdate)">

      <div class="row">
        <div class="col-sm-4">
          <!-- Client Fee -->
          <div class="form-group" show-errors>
            <label for="inputClientFee" class="control-label">Client Fee</label>
            <span class="help-block"
                  validator-message="required"
                  placeholder="{'field': 'client fee'}"></span>

            <input type="text"
                   name="name"
                   id="inputClientFee"
                   class="form-control"
                   ng-model-options="{ updateOn: 'submit'}"
                   ng-model="listCtrl.massUpdate.clientFee"
                   required
                   placeholder="Client Fee"/>
          </div>

          <!-- Managment Fee -->
          <div class="form-group" show-errors>
            <label for="inputManagmentFee" class="control-label">Managment Fee</label>
            <span class="help-block"
                  validator-message="required"
                  placeholder="{'field': 'managment fee'}"></span>

            <input type="text"
                   name="name"
                   id="inputManagmentFee"
                   class="form-control"
                   ng-model-options="{ updateOn: 'submit'}"
                   ng-model="listCtrl.massUpdate.managmentFee"
                   required
                   placeholder="Managment Fee"/>

            <input type="checkbox"
                   class="form-control"
                   ng-model-options="{ updateOn: 'submit'}"
                   ng-model="listCtrl.massUpdate.isManagmentFee"
                   checkable/>
          </div>

          <!-- Appraiser Fee -->
          <div class="form-group" show-errors>
            <label for="inputAppraiserFee" class="control-label">Appraiser Fee</label>
            <span class="help-block"
                  validator-message="required"
                  placeholder="{'field': 'appraiser fee'}"></span>

            <input type="text"
                   name="name"
                   id="inputAppraiserFee"
                   class="form-control"
                   ng-model="listCtrl.massUpdate.appraiserFee"
                   required
                   placeholder="Appraiser Fee"/>

            <input type="checkbox"
                   class="form-control"
                   ng-model="listCtrl.massUpdate.isAppraiserFee"
                   checkable/>
          </div>

          <!-- Apply To All Counties -->
          <div class="form-group">
            <input type="checkbox"
                   class="form-control"
                   id="applyToCounties"
                   ng-model="listCtrl.massUpdate.applyToCounties"
                   checkable/>

            <label for="applyToCounties" class="control-label">Apply State Fees to All Counties</label>
          </div>

          <!-- Apply To All ZipCodes -->
          <div class="form-group">
            <input type="checkbox"
                   class="form-control"
                   id="applyToZipCodes"
                   ng-model="listCtrl.massUpdate.applyToZipCodes"
                   checkable/>

            <label for="applyToZipCodes" class="control-label">Apply State Fees to All Zips</label>
          </div>
        </div>

        <div class="col-sm-4">
          <!-- States -->
          <table class="table">
            <tr>
              <th>
                <input type="checkbox"
                       class="form-control"
                       ng-change="listCtrl.selectAllStates(listCtrl.allStatesSelected)"
                       ng-model="listCtrl.allStatesSelected"
                       checkable/>
              </th>
              <th>
                <label>States</label>
              </th>
            </tr>
            <tr ng-repeat="(key, state) in listCtrl.states">
              <td>
                <input type="checkbox"
                       class="form-control"
                       id="state{{key}}"
                       ng-model="listCtrl.massUpdate.states[key]"
                       checkable/>
              </td>
              <td>
                <label for="state{{key}}">{{ state.title }}</label>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-4">
          <table class="table">
            <tr>
              <th>
                <input type="checkbox"
                       class="form-control"
                       ng-change="listCtrl.selectAllJobTypes(listCtrl.allJobTypesSelected)"
                       ng-model="listCtrl.allJobTypesSelected"
                       checkable/>
              </th>
              <th>
                <label>Job Types</label>
              </th>
            </tr>
          </table>

          <!-- JobTypes -->
          <table class="table">
            <tr ng-repeat="(key, jobType) in listCtrl.jobTypes">
              <td>
                <input type="checkbox"
                       class="form-control"
                       id="jobType{{key}}"
                       ng-model="listCtrl.massUpdate.jobTypes[key]"
                       checkable/>
              </td>
              <td>
                <label for="jobType{{key}}">{{ jobType.appraisalForm }}</label>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row text-center">
        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
      </div>
    </form>
  </modal>

  <!-- New JobType modal -->
  <modal visible="listCtrl.newJobType" class="new-type">
    <h4 class="text-uppercase text-center title">Create new job type list</h4>

    <form name="frm" class="signup-form-2" role="form" as-submit="listCtrl.addNewJobTypeList()">

      <div class="auth-divider col-12">

        <!-- Job List Name -->
        <div class="form-group col-md-12 with-title" show-errors>

          <label for="inputJobListName" class="control-label title">Job List Name</label>

          <span class="help-block"
                validator-message="required"
                placeholder="{'field': 'job list name'}"></span>

          <input type="text"
                 name="name"
                 id="inputJobListName"
                 class="form-control"
                 ng-model="listCtrl.newJobList.name"
                 placeholder="List name"
                 required/>

        </div>

        <!-- Clone Existing Job List -->
        <div class="form-group">
          <input type="checkbox"
                 class="form-control"
                 id="inputIfCloneList"
                 ng-model="listCtrl.ifCloneList"
                 checkable />
          <label for="inputIfCloneList" class="control-label">Clone Existing Job List</label>
        </div>

        <!-- Job List to Clone -->
        <div class="form-group" ng-if="listCtrl.ifCloneList">
          <label for="inputJobListName" class="control-label">Select Clone List</label>
          <select as-select
                  class="form-control"
                  ng-model="listCtrl.jobTypeListToClone"
                  ng-options="id as jobTypeList.name for (id, jobTypeList) in listCtrl.jobTypeLists">
            <option value=''>- Select Job List -</option>
          </select>

          <a ng-show="listCtrl.jobTypeListToClone" ng-click="listCtrl.showRelatedJobTypes(jobTypeListToClone)">View Related Jobtypes</a>
        </div>

      </div>

      <!-- Form Buttons -->
      <div class="col-12 text-center wrap-footer">

        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
        <as-button click="jobTypeCtrl.newJobTypeModal = false" data-dismiss="modal" icon="cancel">Cancel</as-button>

      </div>

    </form>

  </modal>

  <!-- Related Job Types Modal -->
  <modal visible="listCtrl.relatedJobTypesModal">
    <h4 class="text-uppercase text-center title">JobType List</h4>

    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table dashboard-table">
          <thead>
            <tr>
              <td>S.No</td>
              <td>Job Title</td>
              <td>FHA</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(jobTypeKey, relatedJobType) in listCtrl.relatedJobTypes">
              <td>{{ $index + 1 }}</td>
              <td>{{ relatedJobType.appraisalForm }}</td>
              <td>{{ relatedJobType.fha ? "Yes" : "No" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>

</div>
