<div ng-controller="AdminJobTypeCtrl as jobTypeCtrl">

  <div class="auth-divider col-4 job-type-menu">

      <a ui-sref="main.jobType.listing">
          JobType Main
      </a>

      <a ui-sref="main.jobType.jobTypeList">
          JobType Lists
      </a>

      <a  ui-sref="main.jobType.jobTypeMapping">
          JobType Mapping
      </a>

  </div>

    <div class="dashboard-search">

        <div class="col-lg-6 col-sm-4 step-1 col-ml-5">
            <div class="pull-left"><a href="#">
                <img ng-src="/assets/images/icons/as-button/btn-search.svg" width="" height="" alt=""></a>
            </div>
            <div class="col-md-12 col-xs-12">
                <input ng-model="search.all" type="text" placeholder="Search for any kind of details">
            </div>
        </div>

        <div class="col-lg-6 col-sm-8 step-2 col-xs-12 text-right col-ml-7">
            <a href="" ng-click="jobTypeCtrl.newJobTypeModal = true">
                <as-button icon="plus" class="green-theme" type="submit">Add New Jobtype</as-button>
            </a>
            <as-button icon="settings"></as-button>
        </div>

        <div class="clearfix"></div>

    </div>

  <div class="table-responsive job-type-table" data-pattern="priority-columns">

    <form enctype="multipart/form-data" action="">

      <table class="table dashboard-table">

        <thead>

          <tr>

            <th>
              <label>Appraisal Form</label>
            </th>

            <th>
              <label>FHA</label>
            </th>

            <th>
              <label>Display to app.</label>
            </th>

            <th>
              <label>Mapping</label>
            </th>

            <th>
              <label>Appraised Value</label>
            </th>

            <th>
              <label>Commercial</label>
            </th>

            <th>
              <label>Document</label>
            </th>

            <th>
              <label>Addon</label>
            </th>

            <th>
              <label>Action</label>
            </th>
          </tr>

        </thead>

        <tbody>

            <tr class="text-center">
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
              <th class="text-center"> <a href="#"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
            </tr>

            <tr class="text-center" ng-repeat="(key, jobType) in jobTypeCtrl.jobTypes">

              <td>
                <span ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.appraisalForm }}</span>

                <div ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="jobType.appraisalForm"/>
                </div>
              </td>

              <td>
                <a href="#" ng-click="$event.preventDefault(); $event.stopPropagation" ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.fha !== false ? "ON" : "OFF" }}</a>
                <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="jobType.fha"
                         ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                         checkable />
                </div>
              </td>

              <td>
                <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.display !== false ? "ON" : "OFF" }}</a>
                <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="jobType.display"
                         ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                         checkable />
                </div>
              </td>

              <td>
                  <a href="#">{{ jobType.mappedId !== null ? "Mapped" : "Unmapped" }}</a>
              </td>

              <td>
                  <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.appraisedValue !== false ? "ON" : "OFF" }}</a>
                  <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="jobType.appraisedValue"
                         ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                         checkable />
                </div>
              </td>

              <td>
                  <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">{{ jobType.commercial !== false ? "ON" : "OFF" }}</a>
                  <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="jobType.commercial"
                         ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                         checkable />
                </div>
              </td>

              <!-- Document -->

              <td>

                <div class="auth-divider col-2">

                    <div class="job-type-doc-wrapp">
                        <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">PDF - {{ jobType.doc.pdf !== false ? "ON" : "OFF" }}</a>
                        <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                            <label>PDF - </label>
                            <input type="checkbox"
                                   class="form-control"
                                   ng-model="jobType.doc.pdf"
                                   ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                                   checkable />
                        </div>
                    </div>

                    <div class="job-type-doc-wrapp">
                        <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">ACI - {{ jobType.doc.xml !== false ? "ON" : "OFF" }}</a>
                        <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                            <label>XML - </label>
                            <input type="checkbox"
                                   class="form-control"
                                   ng-model="jobType.doc.xml"
                                   ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                                   checkable />
                        </div>
                    </div>

                    <div class="job-type-doc-wrapp">
                        <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">ACI - {{ jobType.doc.aci !== false ? "ON" : "OFF" }}</a>
                        <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                            <label>ACI - </label>
                            <input ng-show="jobTypeCtrl.editJobType[jobType.id]"
                                   type="checkbox"
                                   class="form-control"
                                   ng-model="jobType.doc.aci"
                                   ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                                   checkable />
                        </div>
                    </div>

                    <div class="job-type-doc-wrapp">
                        <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">ZAP - {{ jobType.doc.zap !== false ? "ON" : "OFF" }}</a>
                        <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                            <label>ZAP - </label>
                            <input ng-show="jobTypeCtrl.editJobType[jobType.id]"
                                   type="checkbox"
                                   class="form-control"
                                   ng-model="jobType.doc.zap"
                                   ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                                   checkable />
                        </div>
                    </div>

                    <div class="job-type-doc-wrapp">
                        <a href="#" ng-hide="jobTypeCtrl.editJobType[jobType.id]">ENV - {{ jobType.doc.env !== false ? "ON" : "OFF" }}</a>
                        <div class="form-group" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                            <label>ENV - </label>
                            <input ng-show="jobTypeCtrl.editJobType[jobType.id]"
                                   type="checkbox"
                                   class="form-control"
                                   ng-model="jobType.doc.env"
                                   ng-change="jobTypeCtrl.updateJobType(jobType.id)"
                                   checkable />
                        </div>
                    </div>

                </div>

              </td>

              <td>

                <a ng-click="jobTypeCtrl.openAddonModal(jobType.id)">
                  Show
                </a>

              </td>

              <td class="actions">

                <a class="edit-btn table-btn" ng-click="jobTypeCtrl.editJobType[jobType.id] = true" ng-hide="jobTypeCtrl.editJobType[jobType.id]">
                    <img ng-src="/assets/images/icons/edit-ico.svg" alt="" class="pull-right">
                </a>

                <a ng-click="jobTypeCtrl.updateJobType(jobType.id)" ng-show="jobTypeCtrl.editJobType[jobType.id]">
                    <as-button icon="check" class="green-theme" type="submit"></as-button>
                </a>

                <a class="" confirm-click="jobTypeCtrl.deleteJobType(jobType.id)">
                    <img ng-src="/assets/images/icons/decline.svg" alt="" class="pull-right">
                </a>


              </td>

            </tr>

        </tbody>

      </table>

    </form>

  </div>



      <!--<shared-pagination pagination-meta="jobTypeCtrl.tableData.pagination"-->
                         <!--change-page="jobTypeCtrl.changePage(newPage)">-->
      <!--</shared-pagination>-->



        <!-- Sample pagination -->

        <nav class="text-center indexing">

            <ul class="pagination">

                <li class="" style="">
                    <a href="#"  class="">First</a>
                </li>

                <li  class="" style="">
                    <a href="#"  class="">Prev</a>
                </li>

            <li class="ng-scope">
                <a href="#" class="ng-binding">1</a>
            </li>
            <li class="ng-scope">
                <a href="#" class="ng-binding active">2</a>
            </li>
            <li class="ng-scope">
                <a href="#" class="ng-binding">3</a>
            </li>
            <li class="ng-scope">
                <a href="#" class="ng-binding">4</a>
            </li>
            <li class="ng-scope">
                <a href="#" class="ng-binding">5</a>
            </li>
            <li class="ng-scope">
                <a href="#" class="ng-binding">6</a>
            </li>

                <li class="" style="">
                    <a href="#" class="next-index">Next</a>
                </li>

                <li class="" style="">
                    <a href="#" class="last-index">Last</a>
                </li>

            </ul>

        </nav>


  <!-- JobType addons modal -->
  <modal visible="jobTypeCtrl.addonModal" class="set-addon">

    <h4 class="text-uppercase text-center title">Set Addon</h4>

    <!-- Addons -->
    <div class="overlay-form">

      <div class="form-group" ng-repeat="(key, jobType) in jobTypeCtrl.jobTypes" ng-if="jobTypeCtrl.addonJobType.id !== jobType.id">

        <input type="checkbox" id="addon-{{jobType.id}}"
               class="form-control"
               ng-checked="jobTypeCtrl.addonJobType.addons.indexOf(jobType.id) !== -1"
               ng-change="jobTypeCtrl.selectAddon(jobType.id, jobTypeCtrl.selectedAddon[key])"
               ng-model="jobTypeCtrl.selectedAddon[key]"
               checkable />
        <label for="addon-{{jobType.id}}">{{ jobType.appraisalForm }}</label>

      </div>

      <div class="col-12 text-center wrap-footer">

          <as-button icon="apply" class="green-theme" type="submit">Done</as-button>

      </div>

    </div>

  </modal>

  <!-- JobType mapping modal -->
  <modal visible="jobTypeCtrl.mapModal">
    <h4 class="text-uppercase text-center title">JobType mapping</h4>

    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table">
          <thead>
            <tr>
              <td>Local Appraisal Form</td>
              <td>Directory Appraisal Form</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, jobType) in jobTypeCtrl.jobTypes">
              <td>{{ jobType.appraisalForm }}</td>
              <td>
                <select as-select
                        class="form-control"
                        ng-model="jobType.mappedId"
                        ng-options="dirJobType.id as dirJobType.appraisalForm for dirJobType in jobTypeCtrl.dirJobTypes">
                  <option value=''>- Unmapped -</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>

  <!-- New JobType modal -->
  <modal visible="jobTypeCtrl.newJobTypeModal" class="new-type">

    <h4 class="text-uppercase text-center title">Add new jobtype</h4>

    <form class="signup-form-2" name="newJobType" enctype="multipart/form-data" role="form" ng-submit="newJobType.$valid && jobTypeCtrl.addNewJobType()" novalidate>

      <div class="auth-divider col-12 first">

        <div class="form-group" show-errors>

          <span class="help-block"
                validator-message="required"
                placeholder="{'field': 'appraisal form'}"></span>
          <input type="text"
                 name="appraisalForm"
                 id="inputAppraisalForm"
                 class="form-control"
                 ng-model="jobTypeCtrl.newJobType.appraisalForm"
                 placeholder="Appraisal Form"
                 required/>

        </div>

      </div>

      <div class="auth-divider col-6 second">

        <div class="form-group" show-errors>
          <input type="checkbox"
                 name="fha"
                 id="inputFha"
                 class="form-control"
                 ng-model="jobTypeCtrl.newJobType.fha"
                 checkable />
          <label for="inputFha" class="control-label">FHA</label>
        </div>

        <div class="form-group" show-errors>
          <input type="checkbox"
                 name="commercial"
                 id="inputCommercial"
                 class="form-control"
                 ng-model="jobTypeCtrl.newJobType.commercial"
                 checkable/>
          <label for="inputCommercial" class="control-label">Commercial</label>
        </div>

        <div class="form-group">
          <input type="checkbox"
                 name="pdf"
                 id="inputDocumentPDF"
                 class="form-control"
                 ng-model="jobTypeCtrl.newJobType.pdf"
                 checkable/>
          <label for="inputDocumentPDF" class="control-label">PDF</label>
        </div>

        <div class="form-group">
          <input type="checkbox"
                 name="xml"
                 id="inputDocumentXML"
                 class="form-control"
                 ng-model="jobTypeCtrl.newJobType.xml"
                 checkable/>
          <label for="inputDocumentXML" class="control-label">XML</label>
        </div>

      </div>

      <div class="col-12 text-center wrap-footer">

        <as-button icon="apply" class="green-theme" type="submit">Add new JobTYpe</as-button>
        <as-button icon="cancel" data-dismiss="modal">Cancel</as-button>

      </div>

    </form>

  </modal>

</div>
