<div ng-controller="AdminJobTypeCtrl as jobTypeCtrl">

  <div class="auth-divider col-4 job-type-menu">

      <a ui-sref="main.jobType.listing">
          JobType Main
      </a>

      <a ui-sref="main.jobType.jobTypeList">
          JobType Lists
      </a>

      <a ui-sref="main.jobType.jobTypeMapping">
          JobType Mapping
      </a>

  </div>

  <div class="job-type-mapping listing-search">

      <div class="col-sm-3 form-group " ng-repeat="(key, jobType) in jobTypeCtrl.jobTypes">

          <label for="job-{{jobType.id}}">{{ jobType.appraisalForm }}</label>

          <div>
              <select as-select id="job-{{jobType.id}}"
                      class="form-control ng-pristine ng-untouched ng-valid"
                      ng-model="jobType.mappedId"
                      ng-options="dirJobType.id as dirJobType.appraisalForm for dirJobType in jobTypeCtrl.dirJobTypes">
                  <option value=''>- Unmapped -</option>
              </select>
          </div>

      </div>

  </div>


</div>
