<div ng-controller="AdminSetFeesByLocation as setFeeCtrl">

  <div class="col-sm-4 form-group">
    <label for="inputJobList" class="control-label">Job List</label>
    <select as-select
            class="form-control"
            id="inputJobList"
            ng-model="setFeeCtrl.selectedJobTypeList"
            ng-change="setFeeCtrl.selectList(setFeeCtrl.selectedJobTypeList)"
            ng-options="id as jobTypeList.name for (id, jobTypeList) in setFeeCtrl.jobTypeLists">
      <option value=''>- Select Job List -</option>
    </select>
  </div>

  <div class="col-sm-4 form-group" ng-show="setFeeCtrl.selectedJobTypeList">
    <label for="inputJobType" class="control-label">Job Type</label>
    <select as-select
            class="form-control"
            id="inputJobType"
            ng-model="setFeeCtrl.selectedJobType"
            ng-change="setFeeCtrl.selectJobType(setFeeCtrl.selectedJobType, setFeeCtrl.selectedJobTypeList)"
            ng-options="id as jobType.appraisalForm for (id, jobType) in setFeeCtrl.jobTypes">
      <option value=''>- Select JobType -</option>
    </select>
  </div>


  <div class="table-responsive" data-pattern="priority-columns" ng-if="setFeeCtrl.selectedJobTypeList && setFeeCtrl.selectedJobType">
    <table class="table dashboard-table">
      <thead>
        <tr>
          <th>
            <label>S. No.</label>
          </th>

          <th>
            <label>State Name</label>
          </th>

          <th>
            <label>State Abbr</label>
          </th>

          <th>
            <label>Client Fee</label>
          </th>

          <th>
            <label>Managment Fee</label>
          </th>

          <th>
            <label>Appraiser Fee</label>
          </th>

          <th>
            <label>Edit</label>
          </th>

          <th>
            <label>Action</label>
          </th>
        </tr>
      </thead>

      <tr class="text-center">
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
        <th class="text-center"> <a href="#"><img src="../../../../../assets/images/icons/arrows.svg" class="svg-small" alt=""></a></th>
      </tr>

      <tr class="text-center" ng-repeat="(key, state) in setFeeCtrl.stateFees">
        <td>
          <span>{{ $index + 1 }}</span>
        </td>

        <td>
          <span>{{ state.name }}</span>
        </td>

        <td>
          <span>{{ state.abbr }}</span>
        </td>
        <td>
          <span>{{ state.clientFee }}</span>
        </td>
        <td>
          <span>{{ state.managmentFee }}</span>

          <input type="checkbox"
                 class="form-control"
                 ng-model="state.isManagmentFee"
                 ng-change="setFeeCtrl.updateStateFee(state)"
                 checkable />
        </td>
        <td>
          <span>{{ state.appraiserFee }}</span>

          <input type="checkbox"
                 class="form-control"
                 ng-model="state.isAppraiserFee"
                 ng-change="setFeeCtrl.updateStateFee(state)"
                 checkable />
        </td>

        <td>
          <a ng-click="setFeeCtrl.editStateFee(state)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a ng-click="setFeeCtrl.setByCounty(setFeeCtrl.selectedJobType, setFeeCtrl.selectedJobTypeList, state.abbr)">Set By County</a>
          |
          <a ng-click="setFeeCtrl.setByZipCode(setFeeCtrl.selectedJobType, setFeeCtrl.selectedJobTypeList, state.abbr)">Set By Zipcode</a>
        </td>
      </tr>

    </table>
  </div>

  <!-- Edit State Fee Modal -->
  <modal visible="setFeeCtrl.editStateFeeModal">
    <h4 class="text-uppercase text-center title">Edit State Fee: {{ selectedState.name }}</h4>

    <form name="frm" class="overlay-form" role="form" as-submit="setFeeCtrl.updateStateFee(setFeeCtrl.selectedState)">

      <!-- Client Fee -->
      <div class="form-group" show-errors>
        <label for="inputClientFee" class="control-label">Client Fee</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'client fee'}"></span>

        <input type="text"
               name="name"
               id="inputClientFee"
               class="form-control"
               ng-model-options="{ updateOn: 'submit'}"
               ng-model="setFeeCtrl.selectedState.clientFee"
               required/>
      </div>

      <!-- Managment Fee -->
      <div class="form-group" show-errors>
        <label for="inputManagmentFee" class="control-label">Managment Fee</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'managment fee'}"></span>

        <input type="text"
               name="name"
               id="inputManagmentFee"
               class="form-control"
               ng-model-options="{ updateOn: 'submit'}"
               ng-model="setFeeCtrl.selectedState.managmentFee"
               required/>

        <input type="checkbox"
               class="form-control"
               ng-model-options="{ updateOn: 'submit'}"
               ng-model="setFeeCtrl.selectedState.isManagmentFee"
               checkable/>
      </div>

      <!-- Appraiser Fee -->
      <div class="form-group" show-errors>
        <label for="inputAppraiserFee" class="control-label">Appraiser Fee</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'appraiser fee'}"></span>

        <input type="text"
               name="name"
               id="inputAppraiserFee"
               class="form-control"
               ng-model-options="{ updateOn: 'submit'}"
               ng-model="setFeeCtrl.selectedState.managmentFee"
               required/>

        <input type="checkbox"
               class="form-control"
               ng-model-options="{ updateOn: 'submit'}"
               ng-model="setFeeCtrl.selectedState.isAppraiserFee"
               checkable/>
      </div>

      <!-- Apply To All Counties -->
      <div class="form-group">
        <label for="applyToCounties" class="control-label">Apply State Fees to All Counties</label>

        <input type="checkbox"
               class="form-control"
               id="applyToCounties"
               ng-model="setFeeCtrl.selectedState.applyToCounties"
               checkable/>
      </div>

      <!-- Apply To All ZipCodes -->
      <div class="form-group">
        <label for="applyToZipCodes" class="control-label">Apply State Fees to All Zips</label>

        <input type="checkbox"
               class="form-control"
               id="applyToZipCodes"
               ng-model="setFeeCtrl.selectedState.applyToZipCodes"
               checkable/>
      </div>

      <div class="text-center">
        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
      </div>
    </form>
  </modal>

  <!-- County Fee Modal -->
  <modal visible="setFeeCtrl.setByCountyModal"  size="large">
    <h4 class="text-uppercase text-center title">State County Fee</h4>

    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table dashboard-table">
          <thead>
            <tr>
              <th>
                <label>S. No.</label>
              </th>

              <th>
                <label>County Name</label>
              </th>

              <th>
                <label>Client Fee</label>
              </th>

              <th>
                <label>Managment Fee</label>
              </th>

              <th>
                <label>Appraiser Fee</label>
              </th>

              <th>
                <label>Edit</label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, county) in setFeeCtrl.countyFees">
              <td>{{ $index + 1 }}</td>
              <td>{{ county.name }}</td>
              <td>
                <span ng-hide="setFeeCtrl.editCountyFee[county.id]">{{ county.clientFee }}</span>

                <div ng-show="setFeeCtrl.editCountyFee[county.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="county.clientFee"/>
                </div>
              </td>
              <td>
                <span ng-hide="setFeeCtrl.editCountyFee[county.id]">{{ county.managmentFee }}</span>

                <div ng-show="setFeeCtrl.editCountyFee[county.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="county.managmentFee"/>
                </div>

                <div ng-hide="setFeeCtrl.editCountyFee[county.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="county.isManagmentFee"
                         ng-change="setFeeCtrl.updateCountyFee(county)"
                         ng-hide="setFeeCtrl.editCountyFee[county.id]"
                         checkable />
                </div>
              </td>
              <td>
                <span ng-hide="setFeeCtrl.editCountyFee[county.id]">{{ county.appraiserFee }}</span>

                <div ng-show="setFeeCtrl.editCountyFee[county.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="county.appraiserFee"/>
                </div>

                <div ng-hide="setFeeCtrl.editCountyFee[county.id]">
                  <input type="checkbox"
                       class="form-control"
                       ng-model="county.isAppraiserFee"
                       ng-change="setFeeCtrl.updateCountyFee(county)"
                       checkable />
                </div>
              </td>
              <td>
                <a ng-click="setFeeCtrl.editCountyFee[county.id] = true" ng-hide="setFeeCtrl.editCountyFee[county.id]">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a ng-click="setFeeCtrl.updateCountyFee(county)" ng-show="setFeeCtrl.editCountyFee[county.id]">
                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>

  <!-- ZipCode Fee Modal -->
  <modal visible="setFeeCtrl.setByZipCodeModal" size="large">
    <h4 class="text-uppercase text-center title">State Zip Fee</h4>

    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table dashboard-table">
          <thead>
            <tr>
              <th>
                <label>S. No.</label>
              </th>

              <th>
                <label>Zipcode</label>
              </th>

              <th>
                <label>Client Fee</label>
              </th>

              <th>
                <label>Managment Fee</label>
              </th>

              <th>
                <label>Appraiser Fee</label>
              </th>

              <th>
                <label>Edit</label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, zipCode) in setFeeCtrl.zipCodeFees">
              <td>{{ $index + 1 }}</td>
              <td>{{ zipCode.code }}</td>
              <td>
                <span ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]">{{ zipCode.clientFee }}</span>

                <div ng-show="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="zipCode.clientFee"/>
                </div>
              </td>
              <td>
                <span ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]">{{ zipCode.managmentFee }}</span>

                <div ng-show="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="zipCode.managmentFee"/>
                </div>

                <div ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <input type="checkbox"
                         class="form-control"
                         ng-model="zipCode.isManagmentFee"
                         ng-change="setFeeCtrl.updateZipCodeFee(zipCode)"
                         ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]"
                         checkable />
                </div>
              </td>
              <td>
                <span ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]">{{ zipCode.appraiserFee }}</span>

                <div ng-show="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <input type="text"
                         class="form-control"
                         ng-model="zipCode.appraiserFee"/>
                </div>

                <div ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <input type="checkbox"
                       class="form-control"
                       ng-model="zipCode.isAppraiserFee"
                       ng-change="setFeeCtrl.updateZipCodeFee(zipCode)"
                       checkable />
                </div>
              </td>
              <td>
                <a ng-click="setFeeCtrl.editZipCodeFee[zipCode.id] = true" ng-hide="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a ng-click="setFeeCtrl.updateZipCodeFee(zipCode)" ng-show="setFeeCtrl.editZipCodeFee[zipCode.id]">
                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>
</div>
