<div>
    <div class="col-el-12 col-ml-12 pad-null">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                <!--Sidebar Form-->
                <form enctype="multipart/form-data" role="form">
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1">
                                <label for="borrowerName">Name</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.borrowerName" id="borrowerName"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="fileNumber">File Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.fileNumber" id="fileNumber" value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="invoiceNumber">Invoice Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.invoiceNumber" id="invoiceNumber"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="checkNumber">Check Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.invoiceNumber" id="checkNumber"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="client">Client</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.client" id="client"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="clientBranch">Client Branch</label>
                                <select class="selectpicker form-control" id="clientBranch"
                                        ng-model="tableCtrl.searchModels.clientBranch"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.clientBranch'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraiser">Appraiser</label>
                                <input type="text" class="form-control" ng-model="tableCtrl.searchModels.appraiser" id="appraiser" value="" />
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraiserCompany">Appraiser Company</label>
                                <select class="selectpicker form-control" id="appraiserCompany"
                                        ng-model="tableCtrl.searchModels.appraiserCompany"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraiserCompany'
                                        as-select>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1">
                                <label for="appraisalStatus">Appraisal Status</label>
                                <select class="selectpicker form-control" id="appraisalStatus"
                                        ng-model="tableCtrl.searchModels.appraisalStatus"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraisalStatus'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="state">State</label>
                                <select class="selectpicker form-control" id="state"
                                        ng-model="tableCtrl.searchModels.state"
                                        ng-options='option.code as option.title for option in tableCtrl.selects.state'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="days">Days (Ordered Date)</label>
                                <select class="selectpicker form-control" id="days"
                                        ng-model="tableCtrl.searchModels.days"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.days'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="month">Month (Ordered Date)</label>
                                <select class="selectpicker form-control" id="month"
                                        ng-model="tableCtrl.searchModels.month"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.month'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="year">Year (Ordered Date)</label>
                                <select class="selectpicker form-control" id="year"
                                        ng-model="tableCtrl.searchModels.year"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.year'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateFrom">From (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateFrom"
                                       ng-model="tableCtrl.searchModels.dateFrom"
                                       id="dateFrom"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateTo">To (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateTo"
                                       ng-model="tableCtrl.searchModels.dateTo"
                                       id="dateTo"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" ng-model="tableCtrl.searchModels.address"
                                       id="address" value=""/>
                            </div>
                            <div ng-include="'/components/admin/accounting/directives/partials/search-buttons.html'" include-replace></div>
                        </div>
                    </div>
                </form>
                <!--END-->
            </div>
        </div>
        <!--Grouping-->
        <group-by></group-by>
        <div class="dashboard-search admin-accounting-search">
            <filter-all></filter-all>
            <div class="col-sm-7 step-2 text-right" >
                    <as-button click="tableCtrl.exportData()" class="export" icon="download">Export</as-button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-el-12 pad-null">
    <!--Define table, as well as non-data columns-->
    <as-table infinite-scroll="false"></as-table>
</div>

<!--Change status modal-->
<modal-new submit-button="tableCtrl.changeStatus()" modal-id="change-status-modal"
           modal-title="Change Status" modal-class="desktop-assign-overlay">
    <!-- Tabs -->
    <as-tabs tab-config="tableCtrl.changeStatusTabConfig" tabs="tableCtrl.changeStatusTabs" tab-width="3rds"
             selected-tab="tableCtrl.selectedChangeStatusTab" change-tab="tableCtrl.changeStatusTab(tab)"></as-tabs>
    <!--Change status-->
    <div class="divider col-12 text-center clear" ng-if="tableCtrl.selectedChangeStatusTab === 'unpaid'">
        <div class="form-group col-md-12">
            <div>&nbsp;</div>
            <h5 class="text-uppercase">Change status to unpaid</h5>
        </div>
        <div>&nbsp;</div>
    </div>
    <!--Charge input-->
    <div class="divider form-group col-md-12 clear"
         ng-if="tableCtrl.selectedChangeStatusTab === 'refund' || tableCtrl.selectedChangeStatusTab === 'rebill'"
         show-errors>
        <label for="charge-amount">Charge</label>
        <span class="help-block"
              validator-message="decimal"
              placeholder="{'field': 'Amount'}">
                </span>
        <input type="text" class="form-control" name="charge-amount"
               ng-model="tableCtrl.displayData.changeStatus.amount"
               id="charge-amount"
               validator="number:'decimal'"
               placeholder="100.00"
               required />
    </div>
    <!--Credit card number-->
    <div class="divider form-group col-md-4"
         ng-if="tableCtrl.selectedChangeStatusTab === 'rebill'" show-errors>
        <span class="help-block" validator-message="ccNumber" placeholder="{'field': 'credit card number field'}"></span>
        <label for="credit-card-expiration">Credit card number</label>
        <input type="text" id="credit-card-number"
               placeholder="0000000000000000"
               ng-model="tableCtrl.displayData.changeStatus.cc.number"
               name="credit-card-number"
               class="form-control"
               required
               validator="number|min:12" />
    </div>
    <!--Credit card expiration date-->
    <div class="form-group col-md-4"
         ng-if="tableCtrl.selectedChangeStatusTab === 'rebill'" show-errors>
        <span class="help-block" validator-message="ccExpiration"></span>
        <label for="credit-card-expiration">Expiration date</label>
        <input type="text" class="form-control" ng-model="tableCtrl.displayData.changeStatus.cc.expiration"
               name="credit-card-expiration" id="credit-card-expiration" validator="monthYear" required/>
    </div>
    <!--Credit card code-->
    <div class="form-group col-md-4" ng-if="tableCtrl.selectedChangeStatusTab === 'rebill'" show-errors>
        <span class="help-block" validator-message="custom" placeholder="{'custom': 'A valid card code is required'}"></span>
        <label for="credit-card-code">Card code</label>
        <input type="text" id="credit-card-code"
               validator="min:3|number"
               ng-model="tableCtrl.displayData.changeStatus.cc.code"
               name="credit-card-code"
               class="form-control"
               required />
    </div>
</modal-new>
<!--Export data failure-->
<info-modal modal-id="export-data-error" modal-title="Failed to export data"></info-modal>
<info-modal modal-id="set-unpaid-success" modal-title="Appraisal changed to unpaid"></info-modal>
<info-modal modal-id="set-unpaid-error" modal-title="Failed to set appraisal as unpaid"></info-modal>
<info-modal modal-id="rebill-error" modal-title="Failed to rebill"></info-modal>
<info-modal modal-id="rebill-success" modal-title="Appraisal rebilled"></info-modal>
<info-modal modal-id="refund-error" modal-title="Failed to issue refund"></info-modal>
<info-modal modal-id="refund-success" modal-title="Refund issued"></info-modal>
