@import "../mixins"

$margin-right: 10px
$tabs: 3

.authentication-layout
  max-width: 723px
  width: 100%

  .radio-tabs
    .radio-tab
      @include calc(width, #{"100% / #{$tabs}"})


.authentication-ui-view
  float: left
  width: 100%

  .has-error
    .help-block
      font-size: 9px
      text-align: right
      width: 60%

  .as-select-container
    margin-left: 10px
    @include calc(width, #{"95% - #{$margin-right}"})
    margin-right: 10px

    .form-control[disabled]
      opacity: 0


  .textarea
    .form-group
      height: auto
      min-height: 50px

      textarea
        resize: vertical


  .authentication-form-header
    float: left
    width: 100%

  .form-group
    float: left


.authentication-submit-center-section
  width: auto

.authentication-submit-panel
  overflow: visible
  height: auto
  min-height: 76px
  float: left
  width: 100%


.clearfix:after
  content: ''
  height: 0
  display: table
  overflow: hidden
  visibility: hidden
  clear: both
