@import "../variables"
@import "../mixins"

$form-vertical-offset-90: 90px
$frame-width: 723px
$welcomeHeader-height: 70px
$formHeader-height: 60px
$form-header-vertical-offset-from-center-10:  10


.authentication-header
  height: $nav-header-height-70
  background: $green-base
  margin-bottom: $form-vertical-offset-90 - $nav-header-height-70

.authentication-header-logo
  @include logo-img

.authentication-layout
  width: $frame-width
  margin: 0 auto
  +box-sizing()

.authentication-welcome-header
  text-align: center
  line-height: $welcomeHeader-height
  height: $welcomeHeader-height
  text-transform: uppercase
  color: $font-color-black-50-per
  font-size: 14px
  +box-sizing()
  border: $border-width-1px solid $border-color-black-10-per
  border-bottom: none
  +border-radius(10px 10px 0 0)

.authentication-ui-view

.authentication-footer
  position: absolute
  text-align: center
  bottom: 0
  left: 0
  right: 0
  font-size: 10px

.authentication-form-header
  text-align: center
  line-height: $formHeader-height + $form-header-vertical-offset-from-center-10
  height: $formHeader-height
  text-transform: uppercase
  color: $font-color-black-50-per
  font-size: 14px
  border-left: $border-width-1px solid $border-color-black-10-per
  border-right: $border-width-1px solid $border-color-black-10-per
  +box-sizing()
