@import "../mixins"

$small-size: 550px
$big-size: 750px

@media screen and ( max-width: $small-size )

  .authentication-layout

    .radio-tabs
      .radio-tab
        width: 100%


@media screen and ( max-width: $big-size )

  .authentication-layout

    .radio-tabs
      height: auto
      min-height: 52px

    .authentication-ui-view .reset-password-form,
    .authentication-ui-view .sign-in-form

      .form-group
        width: 100%

      .authentication-submit-left-section
        width: 100%
        float: left
        text-align: center
        margin-bottom: 10px
        margin-top: 10px
        padding: 0

      .authentication-submit-center-section
        float: left
        width: 100%
        text-align: center

      .authentication-submit-right-section
        width: 100%
        float: left
        text-align: center
        margin-bottom: 10px
        margin-top: 10px
        padding: 0

    .authentication-ui-view .client-sign-up-form .form-group
      width: 100%

    .authentication-ui-view .form .form-group
      width: 100%
