@import "../variables"
@import "../mixins"

$submit-panel-height: 76px
$submit-panel-edge-offset: 19px

.authentication-submit-panel
  white-space: nowrap
  text-align: center
  overflow: hidden
  height: $submit-panel-height
  border: $border-width-1px solid $border-color-black-10-per
  +border-radius(0 0 10px 10px)
  border-top: none
  +box-sizing()

%authentication-submit-section
  display: inline-block
  width: (100% / 3)
  font-size: 11px
  color: $font-color-black-50-per
  +box-sizing()
  vertical-align: middle

  a
    color: $font-color-black-50-per
    text-decoration: none

.authentication-submit-left-section
  @extend %authentication-submit-section
  padding-left: $submit-panel-edge-offset
  text-align: left

.authentication-submit-center-section
  @extend %authentication-submit-section
  line-height: $submit-panel-height - $border-width-1px

.authentication-submit-right-section
  @extend %authentication-submit-section
  padding-right: $submit-panel-edge-offset
  text-align: right
