<div class="appraisal-menu dashboard-menu" >
  <!--Second Tab-->
  <div class="dashboard-menu tab-pane" id="app_menu" role="tabpanel">
    <h1>Your Profile</h1>
    <ul class="list-unstyled marg-null" ng-controller="ClientProfileTabCtrl as tabCtrl">
      <li class="col-xs-6"
          ng-class="tabCtrl.tabClass(tab)"
          ng-repeat="tab in tabCtrl.tabs"
          ui-sref="{{tab.link}}"
          ng-click="tabCtrl.setSelectedTab(tab)">

        <a href="#">
          <h3>&nbsp;</h3>
          <div>{{tab.label}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="clearfix"></div>
<!--Search Area-->
<!--END-->
<div ui-view></div>
