 <div ng-controller="ClientProfileCtrl as profileCtrl" class="signin-area col-md-12"> 
  <simple-spinner ng-hide="profileCtrl.dataLoaded"></simple-spinner>
  <div ng-show="profileCtrl.dataLoaded" >
    <form name="frm" class="form-horizontal" role="form" as-submit="profileCtrl.update()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Authentication credentials</h3>
        </div>

        <div class="panel-body">
          <!-- Username & Password -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors show-backend-errors>
                <label for="inputUsername" class="col-sm-4 control-label">Username</label>

                <div class="col-sm-8">
                  <input type="text"
                         name="username"
                         id="inputUsername"
                         class="form-control"
                         ng-model="profileCtrl.profile.username"
                         validator="username"
                         required/>
                    <span class="help-block"
                          validator-message="required"
                          ng-show="frm.username.$error.required"
                          placeholder="{'field': 'username'}"></span>
                    <span class="help-block"
                          ng-show="frm.username.$error.validatorUsername"
                          validator-message="username"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputPassword" class="col-sm-4 control-label">Password</label>

                <div class="col-sm-8">
                  <input type="password"
                         name="password"
                         id="inputPassword"
                         class="form-control"
                         validator="password"
                         ng-model="profileCtrl.profile.password"/>
                  <span class="help-block"
                        validator-message="password"></span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">General Information</h3>
        </div>
        <div class="panel-body">

          <!-- First Name & Last Name -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputFirstName" class="col-sm-4 control-label">First Name</label>

                <div class="col-sm-8">
                  <input type="text"
                         name="firstName"
                         id="inputFirstName"
                         class="form-control"
                         ng-model="profileCtrl.profile.firstName"
                         validator="name"
                         required/>

                    <span class="help-block"
                          validator-message="required"
                          ng-show="frm.firstName.$error.required"
                          placeholder="{'field': 'first name'}"></span>

                    <span class="help-block"
                          validator-message="name"
                          ng-show="frm.firstName.$error.validatorName"
                          placeholder="{'field': 'first name'}"></span>

                    <span class="help-block"
                          validator-message="nameMax"
                          ng-show="frm.firstName.$error.validatorNameMax"
                          placeholder="{'field': 'first name'}"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputLastName" class="col-sm-4 control-label">Last Name</label>

                <div class="col-sm-8">
                  <input type="text"
                         name="lastName"
                         id="inputLastName"
                         class="form-control"
                         validator="name"
                         ng-model="profileCtrl.profile.lastName"
                         required/>

                    <span class="help-block"
                          validator-message="required"
                          ng-show="frm.lastName.$error.required"
                          placeholder="{'field': 'last name'}"></span>

                    <span class="help-block"
                          validator-message="name"
                          ng-show="frm.lastName.$error.validatorName"
                          placeholder="{'field': 'last name'}"></span>

                    <span class="help-block"
                          validator-message="nameMax"
                          ng-show="frm.lastName.$error.validatorNameMax"
                          placeholder="{'field': 'last name'}"></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Phone & Fax -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputPhone" class="col-sm-4 control-label">Phone</label>

                <div class="col-sm-8 form-inline s-form-group-phone">

                  <input type="text"
                         name="phone"
                         id="inputPhone"
                         class="form-control"
                         ng-model="profileCtrl.profile.phone"
                         autofill="phone"
                         validator="phone"
                         required/>

                  <input type="text"
                         name="phoneExt"
                         class="form-control"
                         ng-model="profileCtrl.profile.phoneExt"
                         placeholder="Ext."/>

                  <span class="help-block"
                        ng-show="frm.phone.$error.required"
                        validator-message="required"
                        placeholder="{'field': 'phone'}"></span>
                  <span class="help-block"
                        ng-show="frm.phone.$error.validatorPhone"
                        validator-message="phone"
                        placeholder="{'field': 'phone'}"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputFax" class="col-sm-4 control-label">Fax</label>

                <div class="col-sm-8">
                  <input type="text"
                         name="fax"
                         id="inputFax"
                         class="form-control"
                         validator="phone"
                         autofill="phone"
                         ng-model="profileCtrl.profile.fax"/>
                  <span class="help-block"
                        ng-show="frm.fax.$error.validatorPhone"
                        validator-message="phone"
                        placeholder="{'field': 'fax'}"></span>
                </div>
              </div>
            </div>
          </div>

          <!-- Email -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputEmail" class="col-sm-4 control-label">Email</label>

                <div class="col-sm-8">
                  <input type="email" name="email" id="inputEmail" class="form-control" ng-model="profileCtrl.profile.email"
                         required>
                  <span class="help-block"
                        ng-show="frm.email.$error.required"
                        validator-message="required"
                        placeholder="{'field': 'email'}"></span>
                  <span class="help-block"
                        ng-show="frm.email.$error.email"
                        validator-message="email"></span>
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <!-- Order Amount & Join Date -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputEstimatedOrderAmount" class="col-sm-4 control-label">Estimated Amount of orders in a
                  month</label>

                <div class="col-sm-8">
                  <input
                    type="text"
                    name="estimatedOrderAmount"
                    id="inputEstimatedOrderAmount"
                    class="form-control"
                    validator="amount"
                    ng-model="profileCtrl.profile.estimatedOrderAmount"/>
                  <span class="help-block" validator-message="amount"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputJoinDate" class="col-sm-4 control-label">Join Date</label>

                <div class="col-sm-8">
                  <input
                    datetimepicker
                    validator="date"
                    name="joinDate"
                    id="inputJoinDate"
                    class="form-control"
                    ng-model="profileCtrl.profile.joinDate"/>
                  <span class="help-block" validator-message="date"></span>
                </div>
              </div>
            </div>
          </div>
          <hr/>

          <!-- Address Line 1 & Address Line 2 -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputAddress1" class="col-sm-4 control-label">Address Line 1</label>

                <div class="col-sm-8">
                  <input
                    type="text"
                    name="address1"
                    id="inputAddress1"
                    class="form-control"
                    ng-model="profileCtrl.profile.addressLine1"
                    required/>
                  <span class="help-block"
                        validator-message="required"
                        placeholder="{'field': 'address line 1'}"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-5">
              <div class="form-group">
                <label for="inputAddress2" class="col-sm-4 control-label">Address Line 2</label>

                <div class="col-sm-8">
                  <input
                    type="text"
                    name="address2"
                    id="inputAddress2"
                    class="form-control"
                    ng-model="profileCtrl.profile.addressLine2"/>
                </div>
              </div>
            </div>
          </div>

          <!-- City & State -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors>
                <label for="inputCity" class="col-sm-4 control-label">City</label>

                <div class="col-sm-8">
                  <input
                    type="text"
                    name="city"
                    id="inputCity"
                    class="form-control"
                    validator="city"
                    ng-model="profileCtrl.profile.city"/>

                    <span class="help-block"
                          validator-message="city"
                          ng-show="frm.city.$error.validatorCity"></span>

                    <span class="help-block"
                          validator-message="cityMax"
                          ng-show="frm.city.$error.validatorCityMax"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-5">
              <div class="form-group">
                <label class="col-sm-4 control-label">State</label>

                <div class="col-sm-8">
                  <select as-select
                          class="form-control"
                          ng-model="profileCtrl.state"
                          name="state"
                          ng-options="state.code as state.name for state in profileCtrl.states.data"
                          require>
                    <option value="">- Choose -</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Postal Code -->

          <div class="row">
            <div class="col-sm-6 col-md-5">
              <div class="form-group" show-errors show-backend-errors>
                <label for="inputPostalCode" class="col-sm-4 control-label">Postal Code</label>

                <div class="col-sm-8">
                  <input
                    type="text"
                    name="zip"
                    id="inputPostalCode"
                    class="form-control"
                    validator="zip"
                    autofill="zip"
                    ng-model="profileCtrl.profile.postalCode"/>

                  <span class="help-block"
                        ng-show="frm.zip.$error.validatorZip"
                        validator-message="zip"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-inline">
        <as-button type="submit" icon="submit" green="true">Save Changes</as-button>
      </ul>
    </form>
  </div>
</div>