<div ng-controller="ClientProfileCtrl as profileCtrl" class="signin-area col-md-12">
  <simple-spinner ng-hide="profileCtrl.dataLoaded"></simple-spinner>

  <div ng-show="profileCtrl.dataLoaded" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">General Information</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">Name</div>
          <div class="col-md-3">{{profileCtrl.profile.firstName}} {{profileCtrl.profile.lastName}}</div>
          <div class="col-md-2">Company Name</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.companyName"></div>
        </div>

        <div class="row">
          <div class="col-md-2">Phone</div>
          <div class="col-md-3">
            <span bind-or-na="profileCtrl.profile.phone"></span> <span ng-if="profileCtrl.profile.phoneExt">Ext. {{profileCtrl.profile.phoneExt}}</span>
          </div>
          <div class="col-md-2">Fax</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.fax"></div>
        </div>

        <div class="row">
          <div class="col-md-2">Email</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.email"></div>
          <div class="col-md-2">Join Date</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.joinDate"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-2">Estimated Amount of orders in a month</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.estimatedOrderAmount"></div>
          <div class="col-md-2">Account Type</div>
          <div class="col-md-3" bind-or-na="profileCtrl.accountTypes.find(profileCtrl.profile.accountTypeId).title"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-2">Address 1</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.addressLine1"></div>
          <div class="col-md-2">Address 2</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.addressLine2"></div>
        </div>

        <div class="row">
          <div class="col-md-2">City</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.city"></div>
          <div class="col-md-2">State</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.state"></div>
        </div>

        <div class="row">
          <div class="col-md-2">Postal Code</div>
          <div class="col-md-3" bind-or-na="profileCtrl.profile.postalCode"></div>
        </div>
      </div>
    </div>
  </div>
</div>