<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">User Settings</h4>
                    </div>
                </div>
            </div>
            <!--Function buttons-->
            <form enctype="multipart/form-data" role="form">
                <div class="col-md-12 form-group">
                    <div class="text-left as-button-pad-top">
                        <!--Email notifications permissions-->
                        <as-button click="userSettingsCtrl.displayEmailPermissions()" icon="settings">
                            Email Notification Permissions
                        </as-button>
                        <!--Email permissions-->
                        <as-button click="userSettingsCtrl.toggleLockValue('emailPermissions')">
                            {{userSettingsCtrl.safeData.settings.events.internal.canEdit ? 'Lock' : 'Unlock'}} user's ability to change
                            email permissions
                        </as-button>
                        <!--Documents-->
                        <as-button click="userSettingsCtrl.toggleLockValue('documents')" icon="file">
                            {{userSettingsCtrl.safeData.settings.appraisals.documents.canUpload ? 'Lock' : 'Unlock'}} documents
                        </as-button>
                        <!--New appraisal report-->
                        <as-button click="userSettingsCtrl.toggleLockValue('appraisals')" icon="plus">
                            {{userSettingsCtrl.safeData.settings.appraisals.canCreate ? 'Lock' : 'Unlock'}} new appraisal requests
                        </as-button>
                        <!--Further payment form options-->
                        <as-button click="userSettingsCtrl.paymentFormOptions()"
                                   ng-if="userSettingsCtrl.safeData.settings.payment.source === 3">Payment form options
                        </as-button>
                    </div>
                </div>
                <!--Instructions-->
                <div class="col-md-4 form-group">
                    <label for="instructions">Instructions</label>
                    <select class="selectpicker form-control" id="instructions"
                            ng-model="userSettingsCtrl.safeData.settings.instructions.source"
                            ng-options='option.id as option.name for option in userSettingsCtrl.displayData.sourceEnum'
                            as-select>
                    </select>
                </div>
                <!--Approve Appraiser-->
                <div class="col-md-4 form-group">
                    <label for="approveAppraiser">Approve appraiser</label>
                    <select class="selectpicker form-control" id="approveAppraiser"
                            ng-model="userSettingsCtrl.safeData.settings.approvedAppraiserList.source"
                            ng-options='option.id as option.name for option in userSettingsCtrl.displayData.sourceEnum'
                            as-select>
                    </select>
                </div>
                <!--Checklist-->
                <div class="col-md-4 form-group">
                    <label for="checklist">Checklist</label>
                    <select class="selectpicker form-control" id="checklist"
                            ng-model="userSettingsCtrl.safeData.settings.checklist.source"
                            ng-options='option.id as option.name for option in userSettingsCtrl.displayData.sourceEnum'
                            as-select>
                    </select>
                </div>
                <!--Client on report-->
                <div class="col-md-4 form-group">
                    <label for="clientOnReport">Client on report</label>
                    <select class="selectpicker form-control" id="clientOnReport"
                            ng-model="userSettingsCtrl.safeData.settings.clientsOnReport.source"
                            ng-options='option.id as option.name for option in userSettingsCtrl.displayData.sourceEnum'
                            as-select>
                    </select>
                </div>
                <!--Fee Schedule-->
                <div class="col-md-4 form-group">
                    <label for="feeSchedule">Fee Schedule</label>
                    <select class="selectpicker form-control" id="feeSchedule"
                            ng-model="userSettingsCtrl.safeData.settings.jobtypesList.source"
                            ng-options='option.id as option.name for option in userSettingsCtrl.displayData.sourceEnum'
                            as-select>
                    </select>
                </div>
                <!--Payment form-->
                <div class="col-md-4 form-group">
                    <label for="paymentForm">Payment Form</label>
                    <select class="selectpicker form-control" id="paymentForm"
                            ng-model="userSettingsCtrl.safeData.settings.payment.source"
                            ng-options='option.id as option.name for option in userSettingsCtrl.displayData.sourceEnum'
                            as-select>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <!--Email notification permissions-->
    <info-modal modal-id="email-notification-permissions" modal-title="Email notification permissions" button-text="Cancel">
        <form enctype="multipart/form-data" role="form">
            <div class="col-md-12 button-padding"
                 ng-repeat="permission in userSettingsCtrl.displayData.emailPermissions track by $index">
                <ul class="list-inline clear marg-null pad-null">
                    <li>
                        <button type="button" class="btn btn-default overlay-simple-btn"
                                ng-class="{active: userSettingsCtrl.safeData.settings.events.internal.allowable.indexOf(permission.id) !== -1}"
                                ng-click="userSettingsCtrl.toggleEmailPermissions(permission.id)">
                            <span>{{permission.name}}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </form>
    </info-modal>
    <!--Failed to set email permission-->
    <info-modal modal-id="toggle-email-permissions-failure" modal-title="Failed to set email permission" button-text="Cancel">
    </info-modal>
    <!--Failed to update setting-->
    <info-modal modal-id="update-setting-failure" modal-title="Failed to update setting" button-text="Cancel">
    </info-modal>
    <!--Payment form options-->
    <!--@todo When I get the user settings questions answered-->
    <!--@link https://github.com/ascope/manuals/issues/57-->
    <info-modal modal-id="payment-form-options" modal-title="Payment form options" button-text="OK">
        <form enctype="multipart/form-data" role="form">
            <div class="col-md-12 form-group">

            </div>
        </form>
    </info-modal>
</div>
