<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Company Settings</h4>
                    </div>
                </div>
            </div>
            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <!--Basic settings-->
                <div class="form-group col-md-12 text-center">
                      <as-button click="companySettingsCtrl.generalSettings()" icon="settings">General Settings</as-button>
                      <as-button click="companySettingsCtrl.paymentOptions()" icon="money2">Payment Options</as-button>
                      <as-button click="companySettingsCtrl.mergedDocumentTemplates()" icon="all">Merged Document Templates</as-button>
                      <as-button click="companySettingsCtrl.thirdPartyIntegrations()" icon="file">Third Party Integrations</as-button>
                      <as-button click="companySettingsCtrl.setFilename()" icon="apply">Set filename when emailed</as-button>
                      <as-button click="companySettingsCtrl.setFeeMargin()" icon="money2">Set fee margin for job types</as-button>
                </div>
                <!--Non yes/no options-->
                <div class="form-group col-md-12 divider col-2">
                    <!--Merge documents-->
                    <div class="col-md-2 form-group">
                        <label for="mergeDocuments">Merge documents</label>
                        <select class="selectpicker form-control" id="mergeDocuments"
                                ng-model="companySettingsCtrl.safeData.other.mergeDocuments.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.mergeDocuments'
                                as-select>
                        </select>
                    </div>
                    <!--Place merged documents-->
                    <div class="col-md-2 form-group">
                        <label for="mergedDocPlacement">Place merged documents</label>
                        <select class="selectpicker form-control" id="mergedDocPlacement"
                                ng-model="companySettingsCtrl.safeData.other.mergedDocPlacement.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.mergedDocPlacement'
                                as-select>
                        </select>
                    </div>
                    <!--Lock email office-->
                    <div class="col-md-2 form-group">
                        <label for="lockEmailOffice">Lock email office (send message)</label>
                        <select class="selectpicker form-control" id="lockEmailOffice"
                                ng-model="companySettingsCtrl.safeData.other.lockEmailOffice.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.lockEmailOffice'
                                as-select>
                        </select>
                    </div>
                    <!--Send document as-->
                    <div class="col-md-2 form-group">
                        <label for="sendDocumentAs">Send document to client as</label>
                        <select class="selectpicker form-control" id="sendDocumentAs"
                                ng-model="companySettingsCtrl.safeData.other.sendDocumentAs.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.sendDocumentAs'
                                as-select>
                        </select>
                    </div>
                    <!--Admin User as-->
                    <div class="col-md-2 form-group">
                        <label for="adminAs">Admin user as</label>
                        <select class="selectpicker form-control" id="adminAs"
                                ng-model="companySettingsCtrl.safeData.other.adminAs.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.adminAs'
                                as-select>
                        </select>
                    </div>
                    <!--Client as-->
                    <div class="col-md-2 form-group">
                        <label for="clientAs">Client user as</label>
                        <select class="selectpicker form-control" id="clientAs"
                                ng-model="companySettingsCtrl.safeData.other.clientAs.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.clientAs'
                                as-select>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <!--Set E&O Coverage Amount-->
                    <div class="col-md-2 form-group">
                        <label for="minEoCoverageAmount">Minimum E&O coverage amount</label>
                        <input type="text" class="form-control" id="minEoCoverageAmount"
                               ng-model="companySettingsCtrl.safeData.other.minEoCoverageAmount.value">
                    </div>
                    <!--Set PL zero-->
                    <div class="col-md-2">
                        <label for="setPlZero">Set commission to zero if P&L is less than or equal to</label>
                        <select class="selectpicker form-control" id="setPlZero"
                                ng-model="companySettingsCtrl.safeData.other.setPlZero.value"
                                ng-options='option.id as option.name for option in companySettingsCtrl.other.setPlZero'
                                as-select>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="setPlZeroAmount">Amount</label>
                        <input type="text" class="form-control" id="setPlZeroAmount"
                               ng-model="companySettingsCtrl.safeData.other.setPlZeroAmount.value">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--General settings-->
    <info-modal modal-id="general-settings" modal-title="General Company Settings" button-text="OK">
        <div class="form-group col-md-12 divider col-4">
            <div class="col-md-4">
                <div class="col-md-12 button-padding" ng-repeat="setting in companySettingsCtrl.displayData.general track by $index">
                    <ul class="list-inline clear marg-null pad-null">
                        <li>
                            <button type="button" class="btn btn-default overlay-simple-btn"
                                    ng-class="{active: setting.enabled}"
                                    ng-click="companySettingsCtrl.enableSetting('general', setting)">
                                <span>{{setting.name}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </info-modal>
    <!--Third party integrations-->
    <info-modal modal-id="third-party-integrations" modal-title="Third party integrations" button-text="OK">
        <div class="form-group col-md-12 divider col-4">
            <div class="col-md-4">
                <div class="col-md-12 button-padding" ng-repeat="setting in companySettingsCtrl.displayData.integrations track by $index">
                    <ul class="list-inline clear marg-null pad-null">
                        <li>
                            <button type="button" class="btn btn-default overlay-simple-btn"
                                    ng-class="{active: setting.enabled}"
                                    ng-click="companySettingsCtrl.enableSetting('integrations', setting)">
                                <span>{{setting.name}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </info-modal>
    <!--Merged document templates-->
    <info-modal modal-id="merged-document-templates" modal-title="Merged document templates" button-text="OK">
        <div class="form-group col-md-12 divider col-4">
            <div class="col-md-4">
                <div class="col-md-12 button-padding"
                     ng-repeat="setting in companySettingsCtrl.displayData.mergedDocumentTemplates track by $index">
                    <ul class="list-inline clear marg-null pad-null">
                        <li>
                            <button type="button" class="btn btn-default overlay-simple-btn"
                                    ng-class="{active: setting.enabled}"
                                    ng-click="companySettingsCtrl.enableSetting('mergedDocumentTemplates', setting)">
                                <span>{{setting.name}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </info-modal>
    <!--Payment options-->
    <info-modal modal-id="payment-options" modal-title="Payment options" button-text="OK">
        <div class="form-group col-md-12 divider col-4">
            <div class="col-md-4">
                <div class="col-md-12 button-padding"
                     ng-repeat="setting in companySettingsCtrl.displayData.paymentOptions track by $index">
                    <ul class="list-inline clear marg-null pad-null">
                        <li>
                            <button type="button" class="btn btn-default overlay-simple-btn"
                                    ng-class="{active: setting.enabled}"
                                    ng-click="companySettingsCtrl.enableSetting('paymentOptions', setting)">
                                <span>{{setting.name}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Credit card settings-->
            <div class="col-md-4 form-group" ng-if="companySettingsCtrl.safeData.paymentOptions.cc.enabled">
                <label for="creditCardOptions">Credit card settings</label>
                <select class="selectpicker form-control" id="creditCardOptions"
                        ng-model="companySettingsCtrl.ccOptions.selectedOption"
                        ng-options='option.id as option.name for option in companySettingsCtrl.ccOptions.options'
                        as-select>
                </select>
            </div>
            <!--Show capture on client-->
            <div class="col-md-4 form-group" ng-if="companySettingsCtrl.ccOptions.selectedOption === 1">
                <div class="col-md-12 button-padding">
                    <ul class="list-inline clear marg-null pad-null">
                        <li>
                            <button type="button" class="btn btn-default overlay-simple-btn"
                                    ng-class="{active: companySettingsCtrl.ccOptions.captureOnClient}"
                                    ng-click="companySettingsCtrl.enableSetting('captureOnClient', companySettingsCtrl.ccOptions.captureOnClient)">
                                <span>Show capture on client</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </info-modal>
    <!--Set filename when emailed-->
    <modal-new submit-button="companySettingsCtrl.updateFilenameEmailed()" modal-id="set-filename-emailed"
               modal-title="Set filename when emailed">
        <div class="form-group col-md-12 divider col-4">
            <div class="col-md-3">
                <div class="col-md-12 button-padding"
                     ng-repeat="setting in companySettingsCtrl.displayData.setFilename track by $index">
                    <ul class="list-inline clear marg-null pad-null">
                        <li>
                            <button type="button" class="btn btn-default overlay-simple-btn"
                                    ng-click="companySettingsCtrl.setFilenameOption(setting)">
                                <span>{{setting.name}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Generated filename-->
            <div class="col-md-9 form-group">
                <label for="emailedFilename">Filename</label>
                <input type="text" class="form-control" id="emailedFilename" ng-model="companySettingsCtrl.displayedFilename">
            </div>
        </div>
    </modal-new>
    <!--Failed to set new filename-->
    <info-modal modal-id="set-filename-emailed-failure" modal-title="Failed to set updated filename" button-text="Cancel">
    </info-modal>
    <!--Set fee margin-->
    <info-modal modal-id="set-fee-margin" modal-title="Set fee margin by job type" button-text="Cancel">
        <as-table totals="false" hide-page-numbers="true" table-id="fee-margin-table"
                  ng-controller="FeeMarginController as tableCtrl" bold-columns="1,2,3" infinite-scroll="false"
                  overflow-x="hidden" no-heading="true" no-empty="true"></as-table>
    </info-modal>
    <!--Set fee margin by state-->
    <info-modal modal-id="fee-margin-by-state" modal-title="Set fee margin by state" button-text="Cancel">
        <as-table totals="false" hide-page-numbers="true" table-id="fee-margin-by-state-table"
                  ng-controller="FeeMarginByStateController as tableCtrl" bold-columns="1,2,3" infinite-scroll="false"
                  overflow-x="hidden" no-empty="true"></as-table>
    </info-modal>
    <!--Update failure-->
    <info-modal modal-id="fee-margin-by-job-type-failure" modal-title="Failed to update fee margin values" button-text="Cancel">
    </info-modal>
    <!--Options update failure-->
    <info-modal modal-id="update-options-failure" modal-title="Failed to update options" button-text="Cancel">
    </info-modal>
</div>
