<div class="desktop-record-section pad-null container col-md-6 col-el-4">
  <div class="dashboard-sidebar ">
    <div class="page-wrapper col-lg-12 col-sm-8  col-xs-12 col-md-12">
      <form enctype="multipart/form-data" role="form" >
        <div class="divider col-12 clearfix">
          <div class="form-group col-md-12">
            <h4 class="text-uppercase text-center">Appraisal Documents</h4>
          </div>
          <div class="form-group col-md-12">
            <div class="innner-box">
              <div class="text-center">UPLOAD APPRAISAL DOCUMENTS</div>
              <h4 class="text-center" >Drop or click here to upload either an XML or PDF document </h4>
            </div>
          </div>
          <div class="form-group pad-null col-md-12">
            <div data-pattern="priority-columns" class="table-responsive">
              <table class="table desktop-record-tbl">
                <thead>
                <tr>
                  <th> <label>Display To Appraiser</label></th>
                  <th> <label>Display To Client</label></th>
                  <th> <label>Date and Time</label></th>
                  <th> <label>PDF</label></th>
                  <th> <label>XML</label></th>
                  <th> <label>UCDP</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--Second Table-->
          <div class="form-group col-md-12">
            <h4 class="text-uppercase text-center">Additional Appraisal Documents</h4>
          </div>
          <div class="form-group col-md-12">
            <div class="innner-box">
              <div class="text-center">UPLOAD APPRAISAL DOCUMENTS</div>
              <h4 class="text-center" >Drop or click here to upload either an XML or PDF document </h4>
            </div>
          </div>
          <div class="form-group pad-null col-md-12">
            <div data-pattern="priority-columns" class="table-responsive">
              <table class="table desktop-record-tbl">
                <thead>
                <tr>
                  <th> <label >Display To Appraiser</label></th>
                  <th> <label>Display To Client</label></th>
                  <th> <label >Date and Time</label></th>
                  <th> <label>PDF</label></th>
                  <th> <label>XML</label></th>
                  <th> <label>UCDP</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                <tr>
                  <td><strong>Show</strong></td>
                  <td><strong>Hide</strong></td>
                  <td><strong>11/25/2014 11:22 pm</strong></td>
                  <td><strong>Yes</strong></td>
                  <td><strong>No</strong></td>
                  <td><strong>Submit</strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
