<!--Second Colum Notification Log-->
<div class="desktop-record-columns pull-left">
  <ul class="list-unstyled">
    <li>
      <h4 class="text-center text-uppercase">Notification Log</h4>
    </li>
    <li>
      <div class="form-group pad-null marg-null">
        <label for="notify_sort_by" >Sory By</label>
        <form>
          <select class="selectpicker form-control" id="notify_sort_by">
            <option>Show All Logs</option>
            <option>Show All Logs</option>
            <option>Show All Logs</option>
          </select>
        </form>
      </div>
    </li>
    <li class="white-space"></li>
    <li>November 2014 <span class="date-time"><strong>4 Total</strong></span></li>
    <li> <span><strong>Jerry Fisher</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">11/25/2014 11:22 AM</span>
      <div>This order has been marked as paid by the admin</div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09 17 AM</span>
      <div>Appraisal Document(s) has been uploaded.</div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time"> 11/18/201404:37 PM</span>
      <div>This order has been marked as Special Care.</div>
    </li>
    <li>October 2014 <span class="date-time"><strong>12 Total</strong></span></li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li>September 2014 <span class="date-time"><strong>4 Total</strong></span></li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a href="" class="mail">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
  </ul>
</div>
<!--END-->
