<div class="dashboard-sidebar desktop-record-left-sidebar masonrybox">
  <div class="page-wrapper col-md-3 col-xs-12 pull-left shadow-null col-lg-4">
    <form  enctype="multipart/form-data" role="form">
      <div class=" divider col-6 clearfix col-xs-12 pad-null">

        <div class="form-group pad-null col-md-6 col-sm-6">
          <div data-ride="carousel" class="carousel slide" >
            <ol class="carousel-indicators">
              <li data-target="#dash_sidbr" data-slide-to="0" class="active"></li>
              <li data-target="#dash_sidbr" data-slide-to="1"></li>
              <li data-target="#dash_sidbr" data-slide-to="2"></li>
              <li data-target="#dash_sidbr" data-slide-to="3"></li>
            </ol>
            <div role="listbox" class="carousel-inner">
              <div class="item active"><img src="/assets/images/dash-slide-1.jpg" alt=""></div>
              <div class="item"><img src="/assets/images/dash-slide-1.jpg" alt=""></div>
              <div class="item"><img src="/assets/images/dash-slide-1.jpg" alt=""></div>
              <div class="item"><img src="/assets/images/dash-slide-1.jpg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="form-group pad-null col-sm-6">
          <div ng-if="mainCtrl.mapOptions" ui-map="myMap" ui-options="mainCtrl.mapOptions" class="order-details-map">

          </div>
        </div>

      </div>

      <!-- PROPERTY SECTION -->
      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 class="text-uppercase text-center">Property</h4>
        </div>
      </div>

      <div class="divider col-6">

        <!-- PROPERTY TYPE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.type"
             appraisal-form-field>
        </div>

        <!-- LOT -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.lot"
             appraisal-form-field>
        </div>

        <!-- BUILT IN -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.builtIn"
             appraisal-form-field>
        </div>

        <!-- LAST SOLD -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.lastSold"
             appraisal-form-field>
        </div>

        <!-- SOLD FOR -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.soldFor"
             appraisal-form-field>
        </div>

        <!-- FLOOR SIZE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.floorSize"
             appraisal-form-field>
        </div>

        <!-- BATHROOMS -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.bathrooms"
             appraisal-form-field>
        </div>

      </div>
      <!-- END -->

      <!-- GENERAL INFORMATION -->
      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 class="text-uppercase text-center">General Information</h4>
        </div>
      </div>

      <div class="divider col-6">

        <!-- CLIENT -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.client.id"
             appraisal-form-field>
        </div>

        <!-- CLIENT ON REPORT -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.clientOnReport.companyId"
             appraisal-form-field>
        </div>

        <!-- ORDERED FOR -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.client.contact.id"
             appraisal-form-field>
        </div>

        <!-- SUBMITTED BY -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.creator.name"
             appraisal-form-field>
        </div>

        <!-- AMC LICENSE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.amc.licenses.document.file"
             appraisal-form-field>
        </div>

        <!-- LICENSE EXPIRATION DATE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.amc.licenses.expireAt"
             appraisal-form-field>
        </div>

      </div>

      <!-- END -->

      <!-- TITLE FEES -->

      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 class="text-uppercase text-center">Title Fees</h4>
        </div>
      </div>

      <div class="divider col-6">

        <!-- TOTAL SERVICES AND LENDERS TITLE INSURANCE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.totalServicesFee"
             appraisal-form-field>
        </div>

        <!-- SETTLEMENT OR COSING FEE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.settlementOrCostFee"
             appraisal-form-field>
        </div>

        <!-- LENDERS TITLE INSURANCE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.lendersTitleInsurance"
             appraisal-form-field>
        </div>

        <!-- JUDGMENT SEARCH -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.judgmentSearch"
             appraisal-form-field>
        </div>

        <!-- TITLE EXAM -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.titleExam"
             appraisal-form-field>
        </div>

        <!-- ABSTRACT -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.abstract"
             appraisal-form-field>
        </div>

        <!-- WIRE FEE -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.wireFee"
             appraisal-form-field>
        </div>

      </div>

      <!-- OTHER INFORMATION -->
      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 class="text-uppercase text-center">Other Information</h4>
        </div>
      </div>

      <div class="divider col-6">

        <!-- JOB TYPE -->
        <div class="form-group col-md-12"
             field-model="mainCtrl.appraisal.jobType.id"
             appraisal-form-field>
        </div>

        <!-- CLIENT FEE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.payment.receivable.fee"
             appraisal-form-field>
        </div>

        <!-- PAID AMOUNT -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.payment.receivable.amount.paid"
             appraisal-form-field>
        </div>

        <!-- AMOUNT DUE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.payment.receivable.amount.due"
             appraisal-form-field>
        </div>

        <!-- APPRAISER FEE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.payment.payable.fee"
             appraisal-form-field>
        </div>

        <!-- PAID STATUS -->
        <div class="form-group col-md-3"
             appraisal-form-field="paidStatus">
        </div>

        <!-- PAID DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.payment.payable.paidAt"
             appraisal-form-field>
        </div>

        <!-- PAYMENT HISTORY -->
        <div class="form-group col-md-3"
             appraisal-form-field="paymentHistory">
        </div>

        <!-- LAST UPDATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.customStatus"
             appraisal-form-field>
        </div>

        <!-- PROCESS STATUS -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.status"
             appraisal-form-field>
        </div>

        <!-- NOTIFIED USERS -->
        <div class="form-group col-md-3"
             appraisal-form-field="notifiedUsers">
        </div>

        <!-- STAFF USER -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.staff.id"
             appraisal-form-field>
        </div>

        <!-- FHA -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.fha"
             appraisal-form-field>
        </div>

      </div>

      <div class="divider">
        <div class="divider-break"></div>
      </div>

      <div class="divider col-6">

        <!-- FILE NUMBER -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.file"
             appraisal-form-field>
        </div>

        <!-- LOAN NUMBER -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.loan.number"
             appraisal-form-field>
        </div>

        <!-- LOAN AMOUNT -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.loan.amount"
             appraisal-form-field>
        </div>

        <!-- LOAN TYPE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.loan.type"
             appraisal-form-field>
        </div>

        <!-- REFERENCE NUMBER -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.loan.reference"
             appraisal-form-field>
        </div>

        <!-- ORDER DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.createdAt"
             appraisal-form-field>
        </div>

        <!-- DUE DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.dueDate.client"
             appraisal-form-field>
        </div>

        <!-- APPRAISER DUE DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.dueDate.appraiser"
             appraisal-form-field>
        </div>

        <!-- ASSIGNED DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.assignment.assignedAt"
             appraisal-form-field>
        </div>

        <!-- ACCEPTED DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.assignment.acceptedAt"
             appraisal-form-field>
        </div>

        <!-- INSPECTION DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.inspection.startedAt"
             appraisal-form-field>
        </div>

        <!-- ESTIMATED COMPLETION DATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.inspection.estimatedCompletionDate"
             appraisal-form-field>
        </div>

      </div>
      <!-- END -->

      <!-- PROPERTY INFORMATION -->
      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 class="text-uppercase text-center">Property Information</h4>
        </div>
      </div>

      <div class="divider col-6">

        <!-- PROPERTY TYPE -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.type"
             appraisal-form-field>
        </div>

        <!-- LEGAL -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.legal"
             appraisal-form-field>
        </div>

        <!-- ADDRESS -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.location.address1"
             appraisal-form-field>
        </div>

        <!-- ADDITIONAL INFORMATION -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.location.address2"
             appraisal-form-field>
        </div>

        <!-- CITY -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.property.location.city"
             appraisal-form-field>
        </div>

        <!-- STATE -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.property.location.state.code"
             appraisal-form-field>
        </div>

        <!-- ZIP -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.property.location.zip"
             appraisal-form-field>
        </div>

        <!-- COUNTY -->
        <div class="form-group col-md-3"
             field-model="mainCtrl.appraisal.property.location.county"
             appraisal-form-field>
        </div>

      </div>
      <!-- END -->

      <!-- INSPECTION CONTACTS AND ACCESS INFORMATION -->
      <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
          <h4 class="text-uppercase text-center">Inspection contacts and access information</h4>
        </div>
      </div>

      <div class="divider col-6">

        <!-- OCCUPANCY -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.occupancy"
             appraisal-form-field>
        </div>

        <!-- BEST PERSON TO CONTACT -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.personToContact"
             appraisal-form-field>
        </div>

      </div>

      <div class="divider">
        <div class="divider-break"></div>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="order-info-tabs order-details-tabs tab-pane active">
          <div class="menu-box-outer">
            <ul class="list-unstyled">
              <li ng-class="{active: mainCtrl.selectedContact === 'borrower'}">
                <a href="#" ng-click="mainCtrl.selectedContact = 'borrower'">
                  <div>Borrower</div>
                </a>
              </li>
              <li ng-class="{active: mainCtrl.selectedContact === 'co-borrower'}">
                <a href="#" ng-click="mainCtrl.selectedContact = 'co-borrower'">
                  <div>Co-Borrower</div>
                </a>
              </li>
              <li ng-class="{active: mainCtrl.selectedContact === 'owner'}">
                <a href="#" ng-click="mainCtrl.selectedContact = 'owner'">
                  <div>Owner</div>
                </a>
              </li>
              <li ng-class="{active: mainCtrl.selectedContact === 'other'}">
                <a href="#" ng-click="mainCtrl.selectedContact = 'other'">
                  <div>Realtor/Other</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- BORROWER DETAILS -->
      <div class="divider col-6" ng-show="mainCtrl.selectedContact === 'borrower'">

        <!-- BORROWER FIRST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.borrower.firstName"
             appraisal-form-field>
        </div>

        <!-- BORROWER MI -->
        <div class="form-group col-md-2"
             field-model="mainCtrl.appraisal.property.contacts.borrower.mi"
             appraisal-form-field>
        </div>

        <!-- BORROWER LAST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.borrower.lastName"
             appraisal-form-field>
        </div>

        <!-- BORROWER EMAIL -->
        <div class="form-group col-md-6"
             field-model="mainCtrl.appraisal.property.contacts.borrower.email"
             appraisal-form-field>
        </div>

        <!-- BORROWER ENTITY NAME -->
        <div class="form-group col-md-6"
             appraisal-form-field="borrowerEntityName">
        </div>

        <!-- BORROWER WORK NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.borrower.phones.work"
             appraisal-form-field>
        </div>

        <!-- BORROWER PHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.borrower.phones.home"
             appraisal-form-field>
        </div>

        <!-- BORROWER CELLPHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.borrower.phones.cell"
             appraisal-form-field>
        </div>

      </div>
      <!-- END -->

      <!-- CO-BORROWER DETAILS -->
      <div class="divider col-6" ng-show="mainCtrl.selectedContact === 'co-borrower'">

        <!-- CO-BORROWER FIRST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.firstName"
             appraisal-form-field>
        </div>

        <!-- CO-BORROWER MI -->
        <div class="form-group col-md-2"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.mi"
             appraisal-form-field>
        </div>

        <!-- CO-BORROWER LAST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.lastName"
             appraisal-form-field>
        </div>

        <!-- CO-BORROWER EMAIL -->
        <div class="form-group col-md-12"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.email"
             appraisal-form-field>
        </div>

        <!-- CO-BORROWER WORK NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.phones.work"
             appraisal-form-field>
        </div>

        <!-- CO-BORROWER PHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.phones.home"
             appraisal-form-field>
        </div>

        <!-- CO-BORROWER CELLPHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.coBorrower.phones.cell"
             appraisal-form-field>
        </div>

      </div>
      <!-- END -->

      <!-- OWNER DETAILS -->
      <div class="divider col-6" ng-show="mainCtrl.selectedContact === 'owner'">

        <!-- OWNER FIRST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.owner.firstName"
             appraisal-form-field>
        </div>

        <!-- OWNER MI -->
        <div class="form-group col-md-2"
             field-model="mainCtrl.appraisal.property.contacts.owner.mi"
             appraisal-form-field>
        </div>

        <!-- OWNER LAST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.owner.lastName"
             appraisal-form-field>
        </div>

        <!-- OWNER EMAIL -->
        <div class="form-group col-md-12"
             field-model="mainCtrl.appraisal.property.contacts.owner.email"
             appraisal-form-field>
        </div>

        <!-- OWNER WORK NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.owner.phones.work"
             appraisal-form-field>
        </div>

        <!-- OWNER PHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.owner.phones.home"
             appraisal-form-field>
        </div>

        <!-- OWNER CELLPHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.owner.phones.cell"
             appraisal-form-field>
        </div>

      </div>
      <!-- END -->

      <!-- OTHER DETAILS -->
      <div class="divider col-6" ng-show="mainCtrl.selectedContact === 'other'">

        <!-- OTHER FIRST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.other.firstName"
             appraisal-form-field>
        </div>

        <!-- OTHER MI -->
        <div class="form-group col-md-2"
             field-model="mainCtrl.appraisal.property.contacts.other.mi"
             appraisal-form-field>
        </div>

        <!-- OTHER LAST NAME -->
        <div class="form-group col-md-5"
             field-model="mainCtrl.appraisal.property.contacts.other.lastName"
             appraisal-form-field>
        </div>

        <!-- OTHER EMAIL -->
        <div class="form-group col-md-12"
             field-model="mainCtrl.appraisal.property.contacts.other.email"
             appraisal-form-field>
        </div>

        <!-- OTHER WORK NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.other.phones.work"
             appraisal-form-field>
        </div>

        <!-- OTHER PHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.other.phones.home"
             appraisal-form-field>
        </div>

        <!-- OTHER CELLPHONE NUMBER -->
        <div class="form-group col-md-4"
             field-model="mainCtrl.appraisal.property.contacts.other.phones.cell"
             appraisal-form-field>
        </div>
      </div>
      <!-- END -->

      <div class="divider">
        <div class="divider-break"></div>
      </div>

      <div class="divider col-6">

        <!-- INSTRUCTIONS -->
        <div class="form-group col-md-12"
             appraisal-form-field="instructions">
        </div>

        <!-- ADDITIONAL COMMENTS -->
        <div class="form-group col-md-12"
             appraisal-form-field="additionalComments">
        </div>

        <!-- STAFF NOTES -->
        <div class="form-group col-md-12"
             appraisal-form-field="staffNotes">
        </div>

      </div>

      <div class="divider">
        <div class="divider-break"></div>
      </div>

      <div class="divider col-12 clearfix">
        <div class="col-md-12 text-center button-padding">
          <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
          <as-button icon="cancel">Reset</as-button>
        </div>
      </div>

      <div class="divider">
        <div class="divider-break"></div>
      </div>

    </form>

  </div>
</div>
