<!--Sixth Coloum QC Review-->
<div class="desktop-record-columns pull-left">
  <ul class="list-unstyled">
    <li>
      <h4 class="text-center text-uppercase">QC Review</h4>
    </li>
    <li>
      <div class="form-group pad-null marg-null">
        <label for="qc_sortby">Sory By</label>
        <form>
          <select class="selectpicker form-control" id="qc_sortby">
            <option>Show All</option>
          </select>
        </form>
      </div>
    </li>
    <li class="white-space"></li>
    <li>Manual<span class="pull-right"><strong>13 Total</strong></span></li>
    <li>Ice Bank <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Wal-Mart Stores <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Exxon Mobil <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Chevron <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Berkshire Hathaway<span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Apple <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Phillips 66 <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>General Motors <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Ford Motor <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>General Electric <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Valero Energy <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>AT & T <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>CVS Caremark <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>AUTOMATED<span class="pull-right"><strong>2,789 Total</strong></span></li>
    <li>Ice Bank <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Wal-Mart Stores <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Exxon Mobil <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Chevron <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Berkshire Hathaway<span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Apple <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Phillips 66 <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>General Motors <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Ford Motor <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>General Electric <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>Valero Energy <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>AT & T <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
    <li>CVS Caremark <span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal"><img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></a></span></li>
  </ul>
</div>
<!--END-->
