<div class="desktop-record-columns pad-null pull-left">
  <ul class="list-unstyled">
    <li>
      <h4 class="text-center text-uppercase">Request Rivisions</h4>
    </li>
    <li class="clearfix pad-null marg-null">
      <div class="divider col-6 pad-null desktop-record-sub-columns">
        <div  class="form-group col-xs-6 col-md-6 marg-null">
          <h4>RECONSIDERATION <br>
            REQUEST</h4>
        </div>
        <div class="form-group marg-null col-xs-6 col-md-6">
          <h4 class="text-uppercase text-left">SEND A REVISION</h4>
        </div>
      </div>
    </li>
    <li class="white-space"></li>
    <li>November 2014 <span class="date-time"><strong>16 Total</strong></span></li>
    <li> <span><strong>Jerry Fisher</strong></span> <span class="label label-danger text-capitalize pull-right tag red">admin</span> <span class="date-time">11/25/201411:22 AM</span>
      <div>This order has been marked as paid by the admin</div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09 17 AM</span>
      <div>Appraisal Document(s) has been uploaded.</div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time"> 11/18/201404:37 PM</span>
      <div>This order has been marked as Special Care.</div>
    </li>
    <li>October 2014 <span class="date-time"><strong>12 Total</strong></span></li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09 17 AM</span>
      <div>Appraisal Document(s) has been uploaded.</div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time"> 11/18/201404:37 PM</span>
      <div>This order has been marked as Special Care.</div>
    </li>
    <li>October 2014 <span class="date-time"><strong>12 Total</strong></span></li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li>October 2014 <span class="date-time"><strong>97 Total</strong></span></li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
    <li> <span><strong>Mary Mason</strong></span> <span class="label label-success text-capitalize pull-right tag  red">admin</span> <span class="date-time">11/18/2014 04:37 PM</span>
      <div>This order has been marked as Special Care. </div>
    </li>
    <li> <span><strong>Donna Simmons</strong></span> <span class="label label-success text-capitalize pull-right tag blue">Client</span> <span class="date-time">11/25/2014 09:17 AM</span>
      <div>An appraisal Document(s) has been uloaded </div>
    </li>
    <li> <span><strong>Sharon James</strong></span> <span class="label label-success text-capitalize pull-right tag green">staff</span> <span class="date-time">11/19/2014 02:40 PM</span>
      <div>sent invoice to <a class="mail" href="">donna.simmons@company.com</a></div>
    </li>
  </ul>
</div>
