<!--Third  Colum My Updates-->
<div class="desktop-record-columns pull-left">
  <ul class="list-unstyled">
    <li>
      <h4 class="text-center text-uppercase">My Updates</h4>
    </li>
    <li>
      <div class="form-group marg-null pad-null ">
        <label for="upd_change_status" >Change Status</label>
        <form>
          <select class="selectpicker form-control" id="upd_change_status">
            <option>Accepted with Conditions</option>
          </select>
        </form>
      </div>
    </li>
    <li>
      <div class="form-group marg-null pad-null">
        <label for="up_add_notification">Additional Notification</label>
        <form>
          <select class="selectpicker form-control" id="up_add_notification">
            <option>Agreement of Sale</option>
          </select>
        </form>
      </div>
    </li>
    <li>
      <div class="form-group">
        <label for="up_message">Message</label>
        <textarea rows="3" placeholder="please upload the agreement of sale as soon as  possible. This order is on hold until receipt" id="up_message"></textarea>
      </div>
    </li>
    <li class="text-center">
      <div class="form-group pad-null marg-null">
        <label>&nbsp;</label>
        <button class="btn btn-default export-btn" type="submit">
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16" height="26" width="20px">
            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
              <g fill="#BCBCBC" transform="translate(-873.000000, -760.000000)">
                <g transform="translate(599.000000, 90.000000)">
                  <g transform="translate(265.000000, 661.000000)">
                    <path class="svgicn" d="M17.4845473,18.7653727 L14.847,16.141 C14.653,15.948 14.34,15.948 14.147,16.141 C13.953,16.333 13.953,16.645 14.147,16.838 L17.0316433,19.7082297 C17.0543365,19.7510387 17.0837887,19.791162 17.12,19.827 C17.2302489,19.9361182 17.3785367,19.9835432 17.5216698,19.9692751 C17.6411709,19.9640643 17.7590274,19.9159726 17.85,19.825 C17.8821517,19.7930149 17.9089472,19.7576996 17.9303867,19.7201636 L24.848,12.838 C25.042,12.646 25.042,12.332 24.848,12.14 C24.653,11.946 24.339,11.946 24.145,12.14 L17.4845473,18.7653727 Z M24.8765325,15.6539709 C24.9504907,16.0912563 24.989,16.5406198 24.989,16.999 C24.989,21.417 21.41,24.998 16.994,24.998 C12.579,24.998 9,21.417 9,16.999 C9,12.58 12.579,8.999 16.994,8.999 C19.0206793,8.999 20.8710647,9.75325165 22.2801015,10.9966037 L21.561033,11.6957233 C20.3353665,10.6383497 18.7392468,9.999 16.994,9.999 C13.13,9.999 9.997,13.133 9.997,16.999 C9.997,20.865 13.13,23.999 16.994,23.999 C20.858,23.999 23.991,20.865 23.991,16.999 C23.991,16.8412829 23.9857857,16.684784 23.9755202,16.5296666 L24.8765325,15.6539709 L24.8765325,15.6539709 Z"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span>Submit</span></button>
      </div>
    </li>
    <li class="text-uppercase">September 2014 <span class="date-time"><strong>29 Total</strong></span></li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Left message for the borrower. </div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Need additional contact number. </div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Lender requested HOLD.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Waiting for FHA number.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>On Hold - Researching appraisers in the area.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Service Delayed</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>5/3- Borrower not returning calls.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>This order has been marked as paid by the admin.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>TL- Overdue 1. </div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Appraiser Delay.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Agreement of Sale.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>ETA.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>On Hold.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Need additional contact number.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Lender requested HOLD.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Waiting for FHA number.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>On Hold - Researching appraisers in the area.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Service Delayed.</div>
    </li>
    <li> <span><strong>Michael Freeman</strong></span> <span class="label label-danger text-capitalize pull-right tag red" >admin</span> <span class="date-time">09/29/2014 11:22 AM</span>
      <div>Borrower not returning calls.</div>
    </li>
  </ul>
</div>
<!--END-->
