<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Fee Schedule</h4>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <div class="form-group col-md-12">
                    <div class="col-4 divider">
                        <!--Calculate based on percentage-->
                        <div class="col-md-4 form-group">
                            <label for="calculateBasedOnPercentage">Calculate {{feeScheduleCtrl.displayData.section}}
                                fee based on percentage of client fee</label>
                            <select class="selectpicker form-control" id="calculateBasedOnPercentage"
                                    ng-model="feeScheduleCtrl.displayData.feeSchedule.appraiserFeePercentage"
                                    ng-options='option.id as option.value for option in feeScheduleCtrl.displayData.yesNoDropdown'
                                    as-select>
                            </select>
                        </div>
                        <!--Percentage of client fee-->
                        <div class="col-md-4 form-group" ng-show="feeScheduleCtrl.displayData.feeSchedule.appraiserFeePercentage">
                            <label for="percentageClientFee">Percentage of client fee</label>
                            <input type="text" class="form-control" id="percentageClientFee" name="percentageClientFee"
                                   ng-model="feeScheduleCtrl.displayData.feeSchedule.percentageFromClientFees">
                        </div>
                        <!--Tech fee-->
                        <div class="col-md-4 form-group" ng-hide="feeScheduleCtrl.displayData.hideTechService">
                            <label for="techFee">Tech fee</label>
                            <select class="selectpicker form-control" id="techFee"
                                    ng-model="feeScheduleCtrl.displayData.feeSchedule.techFeeEnabled"
                                    ng-options='option.id as option.value for option in feeScheduleCtrl.displayData.yesNoDropdown'
                                    as-select>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
