<div class="dashboard-menu without-subtext admin-reports-tabs-container">

  <div class="dashboard-menu " id="admin_reports_tabs" role="tabpanel">

    <ul class="list-unstyled marg-null">

      <li class="admin-reports-menu"
          ng-class="::adminReportsTabsCtrl.tabClass(tab)"
          ng-repeat="tab in adminReportsTabsCtrl.tabs track by $index">

        <a href="reports/{{tab.tab}}{{tab.query}}">

          {{tab.name}}

          <span>

            <a class="pull-right btn btn-danger btn-xs" ng-if="tab.closeable"
               ng-click="adminReportsTabsCtrl.closeTab(tab)">
              <i class="fa fa-times"></i>
            </a>

          </span>

        </a>

      </li>

    </ul>

  </div>

</div>