<!--Appraiser reports-->
<info-modal modal-id="{{type}}-reports" modal-title="{{type}} reports" button-text="OK">
    <form enctype="multipart/form-data" role="form">
        <div class="col-md-12 text-left">
          <as-button click="ctrl.displayUploadReport()" icon="upload">Upload {{type}} report</as-button>
        </div>
        <div class="col-md-12 form-group" ng-repeat="report in ctrl.displayData.details.reports track by $index">
            <a href="" ng-click="ctrl.downloadReport(report.url)">{{report.file}}</a>
        </div>
    </form>
</info-modal>

<!--Upload appraisal report-->
<!--@todo No backend API specified for upload reports
@link https://github.com/ascope/manuals/issues/94-->
<!--@todo Still waiting 8/11-->
<upload-modal modal-id="upload-{{type}}-report" modal-title="Upload {{type}} report"
              file-model="ctrl.uploadedReport"
              upload-url=""
              success="ctrl.uploadReportSuccess(response)">
    <form enctype="multipart/form-data" role="form">
        <!--Acceptance Message-->
        <div class="col-md-12 form-group" show-errors>
                <span class="help-block"
                      validator-message="required">
                </span>
            <label for="newDocumentName">Document Name</label>
            <input type="text" class="form-control" id="newDocumentName" name="newDocumentName"
                   ng-model="ctrl.newDocumentName" required>
        </div>
    </form>
</upload-modal>
