<!--Pending companies table-->
<div class="col-lg-6 dashboard-left-area">
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-3 col-sm-6 step-1 col-el-9 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="pendingUsersCtrl.filterAllUsers">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Table-->
    <div class="form-group">
        <as-table totals="false" hide-page-numbers="true" table-id="admin-users-pending-companies-table"
                  ng-controller="AdminUsersPendingCompaniesTableCtrl as tableCtrl"
                  bold-columns="1,4" infinite-scroll="false" overflow-x="hidden"></as-table>
    </div>
</div>

<!--Pending appraisers table-->
<div class="col-lg-6 dashboard-left-area">
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-3 col-sm-6 step-1 col-el-9 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="pendingUsersCtrl.filterAllCompanies">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Table-->
    <div class="form-group">
        <as-table totals="false" hide-page-numbers="true" table-id="admin-users-pending-users-table"
                  ng-controller="AdminUsersPendingAppraisersTableCtrl as tableCtrl"
                  bold-columns="1,4" infinite-scroll="false" overflow-x="hidden"></as-table>
    </div>
</div>

<!--Appraiser functions-->
<modal-new modal-id="update-function" submit-button="pendingUsersCtrl.updateRecord()"
           modal-title="{{pendingUsersCtrl.displayData.fnType}} {{pendingUsersCtrl.displayData.recordType}}?">
</modal-new>

<!--General update failure-->
<info-modal modal-id="update-failure" modal-title="Failed to update record" button-text="OK">
</info-modal>