<div ng-controller="ClientContactUsCtrl as contactCtrl">
	<br>
	<simple-spinner ng-hide="contactCtrl.dataLoaded"></simple-spinner>
	<div ng-show="contactCtrl.dataLoaded"> 
		<div class="col-md-12">Team leaders</div>
		<br>&nbsp;
		<div class="col-md-12" ng-repeat="row in contactCtrl.contactData">
			<div class="col-md-12">{{row.post}}:</div>
			<div class="col-md-12">{{row.fullName}}</div>
			<div class="col-md-12">Phone : {{row.phone}}</div>
			<div class="col-md-12">Mobile : {{row.mobile}}</div>
			<div class="col-md-12">Email : 
				<a href="mailto:{{row.email}}">{{row.email}}</a>
			</div>
			<br>&nbsp;<br>
		</div>
	</div>
</div>
