<!--Import Checks modal-->
<info-modal modal-id="{{modalId}}" modal-title="{{modalTitle}}" button-text="cancel">
    <!--File upload area-->
    <div class="divider col-12 ">
        <div class="form-group col-md-12">
            <div class="innner-box">
                <h4 class="text-center">{{modalInstructions}}</h4>
                <input type="file"
                       name="file"
                       ng-file-select
                       ng-model="fileModel"
                       ng-change="uploadFile(fileModel)"
                       class="modal-file-upload"
                       ng-disabled="disabled()">
            </div>
        </div>
    </div>
    <!--Transcluded content-->
    <ng-transclude></ng-transclude>
</info-modal>
<!--Success and failure models-->
<info-modal modal-id="{{modalId}}-success" modal-title="File successfully uploaded"></info-modal>
<info-modal modal-id="{{modalId}}-failure" modal-title="Failed to upload file"></info-modal>