<div test-selector="buttons" ng-repeat="button in vm.buttons">
  <div test-selector="{{theme}}" ng-repeat="theme in vm.buttons_themes">

    <span test-selector="normal">
      <as-button class="{{theme}}" icon="{{button.icon}}">{{button.label}}</as-button>
      <as-button class="{{theme}}" icon="{{button.icon}}" disabled="true">{{button.label}}</as-button>
    </span>

    <span test-selector="without-label">
      <as-button class="{{theme}}" icon="{{button.icon}}"></as-button>
      <as-button class="{{theme}}" icon="{{button.icon}}" disabled="true"></as-button>
    </span>

    <span test-selector="without-icon">
      <as-button class="{{theme}}">{{button.label}}</as-button>
      <as-button class="{{theme}}" disabled="true">{{button.label}}</as-button>
    </span>

  </div>

</div>

<div in-row-left class="text-left">
  <as-button icon="close">close</as-button>
  <as-button icon="cancel">close</as-button>
</div>

<div in-row-right class="text-right">
  <as-button icon="close">close</as-button>
  <as-button icon="cancel">close</as-button>
</div>

<div in-row-center class="text-center">
  <as-button icon="close">close</as-button>
  <as-button icon="cancel">close</as-button>
</div>

<form name="frm" class="form" as-submit="">
  <div class="form-row-2">
    <div form-group="first" show-errors>
      <span validation-control></span>
      <label control-label>Label</label>
      <input form-control
             type="text"
             name="first"
             placeholder="first"
             ng-model="first"
             required
             autofocus>
    </div><!--
 --><div form-group="second" class="last" show-errors>
      <span validation-control></span>
      <label control-label>Label</label>
      <input form-control
             type="text"
             name="second"
             placeholder="second"
             ng-model="second"
             required
             autofocus>
    </div>
  </div>
  <as-button type="submit" icon="apply">submit</as-button>
</form>
