<info-modal modal-id="appraiser-statistics" modal-title="Appraiser Statistics" button-text="OK" modal-class="notification-window" modal-width="90%">
    <as-tabs tab-config="tableCtrl.statisticsTabConfig" tabs="tableCtrl.statisticsTabs" tab-width="6"
             selected-tab="tableCtrl.selectedStatsTab" change-tab="tableCtrl.changeStatsTab(tab)"></as-tabs>
    <form enctype="multipart/form-data" role="form">
        <div class="col-md-12 form-group">
            <div ng-show="tableCtrl.selectedStatsTab === 'statistics'">
                <as-table totals="false" hide-page-numbers="true" table-id="appraiser-statistics-table"
                          bold-columns="1" infinite-scroll="false" overflow-x="hidden"></as-table>
            </div>
            <div ng-show="tableCtrl.selectedStatsTab === 'scorecard'">
                <!--<div class="col-md-12 text-left">-->
                    <!--<as-button click="tableCtrl.toggleWeekends()">Remove weekends</as-button>-->
                <!--</div>-->
                <as-table totals="false" hide-page-numbers="true" table-id="appraiser-scorecard-table"
                          bold-columns="1,2,3" infinite-scroll="false" overflow-x="hidden"
                          ng-controller="AdminUsersAppraiserScorecardCtrl as tableCtrl"></as-table>
            </div>
        </div>
    </form>
</info-modal>
