<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Additional Docs</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <as-button click="tableCtrl.showUploadModal()">Upload appraiser document</as-button>
            </div>
            <form enctype="multipart/form-data" role="form">
                <div class="form-group col-md-12">
                    <as-table totals="false" hide-page-numbers="true" table-id="additional-docs-table"
                              bold-columns="1,2,3" infinite-scroll="false" overflow-x="hidden"></as-table>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Delete doc confirm-->
<modal-new modal-id="delete-doc-confirm" modal-title="Delete document?" submit-button="tableCtrl.deleteDocument()">
</modal-new>
<!--Delete doc failure-->
<info-modal modal-id="delete-doc-failure" modal-title="Failed to delete document" button-text="OK">
</info-modal>
<!--Upload new appraiser document-->
<upload-modal modal-id="upload-appraiser-doc" modal-title="Upload appraiser document"
              file-model="tableCtrl.uploadFile"
              upload-url="appraisement/appraisers/{{tableCtrl.displayData.appraiserId}}/documents"
              success="tableCtrl.uploadFileSuccess(response)"
              method="POST">
    <form enctype="multipart/form-data" role="form">
        Upload appraiser document
    </form>
</upload-modal>