<div class="col-md-6">
    <!--Heading-->
    <div class="col-md-12">
        <h4 class="text-uppercase">{{type}} Mail Permissions</h4>
    </div>
    <!--Buttons-->
    <div class="col-md-5 text-left">
          <as-button click="applyPermissionsToAll()" icon="settings">
              Apply permissions to all {{type}}s
          </as-button>
    </div>
    <div class="col-md-7 text-left">
            <as-button click="autoApplyPermissions()" icon="settings">
                Set automated mail permissions for new {{type}}s
            </as-button>
    </div>
    <!--Select user-->
    <label for="internalUserMailPermissions">Select {{type}}</label>
    <div class="select-margin-bottom">
        <select class="selectpicker form-control" id="internalUserMailPermissions"
                ng-model="selectModel"
                ng-options='option.id as option.name for option in selectOptions'
                as-select>
        </select>
    </div>
    <div class="col-md-12 text-left">
        <div class="col-md-4">
            <div class="col-md-12 button-padding"
                 ng-repeat-start="(setting, val) in permissionTypes track by $index">
                <ul class="list-inline clear marg-null pad-null">
                    <li>
                        <button type="button" class="btn btn-default overlay-simple-btn"
                                ng-class="{active: selectionModels.indexOf(setting) !== -1}"
                                ng-click="updatePermissions({setting: setting})">
                            <span>{{val}}</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-12" ng-repeat-end></div>
        </div>
    </div>
</div>
