<info-modal modal-id="user-permissions" modal-title="Permissions" modal-class="desktop-assign-overlay" modal-width="90%">
    <!--Tabs-->
    <as-tabs tab-config="permissionsCtrl.tabConfig" tabs="permissionsCtrl.tabs" tab-width="4"
             selected-tab="permissionsCtrl.selectedTab"></as-tabs>
    <!--Internal users-->
    <div class="divider col-12 text-center clear" ng-if="permissionsCtrl.selectedTab === 'internalUsers'">
        <div class="form-group col-md-12">
            <div class="col-md-4">
                <h4 class="text-uppercase">Permissions</h4>
                <div class="col-md-12">
                    <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="user-permissions-permissions-table"
                              ng-controller="UserPermissionsPermissionsCtrl as tableCtrl" infinite-scroll="false"
                              overflow-x="hidden" no-heading="true" no-empty="true">
                    </as-table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-6">
                    <h4 class="text-uppercase">Groups</h4>
                </div>
                <div class="col-md-6 text-left">
                    <as-button click="permissionsCtrl.toggleSetting('autoAddNewGroupStatus')">
                        {{permissionsCtrl.displayData.autoAddNewGroupStatus ? 'Remove Auto Add Groups' : 'Auto Add New Groups'}}
                    </as-button>
                </div>
                <div class="col-md-12">
                    <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="user-permissions-groups-table"
                              ng-controller="UserPermissionsGroupsCtrl as tableCtrl" infinite-scroll="false"
                              overflow-x="hidden" no-heading="true" no-empty="true">
                    </as-table>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase">Users</h4>
                <div class="col-md-12">
                    <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="user-permissions-table"
                              ng-controller="UserPermissionsUsersCtrl as tableCtrl" infinite-scroll="false"
                              overflow-x="hidden" no-heading="true" no-empty="true">
                    </as-table>
                </div>
            </div>
        </div>
    </div>
    <!--Broker users-->
    <div class="divider col-12 text-center clear" ng-if="permissionsCtrl.selectedTab === 'brokerUsers'">
        <div class="form-group col-md-12">
            <div class="col-md-4">
                <h4 class="text-uppercase">Broker User Permissions</h4>
                <div class="col-md-12">
                    <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="user-permissions-broker-user-table"
                              ng-controller="BrokerUserPermissionsCtrl as tableCtrl" infinite-scroll="false"
                              overflow-x="hidden" no-heading="true" no-empty="true">
                    </as-table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-6">
                    <h4 class="text-uppercase">Brokers</h4>
                </div>
                <div class="col-md-6 text-left">
                    <as-button click="permissionsCtrl.toggleSetting('autoAddNewBrokerStatus')">
                        {{permissionsCtrl.displayData.autoAddNewBrokerStatus ? 'Remove Auto Add Brokers' : 'Auto Add New Brokers'}}
                    </as-button>
                </div>
                <div class="col-md-12">
                    <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="user-permissions-broker-groups-table"
                              ng-controller="BrokerBrokerPermissionsCtrl as tableCtrl" infinite-scroll="false"
                              overflow-x="hidden" no-heading="true" no-empty="true">
                    </as-table>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase">Broker Users</h4>
                <div class="col-md-12">
                    <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="user-permissions-table-broker"
                              ng-controller="BrokerUsersCtrl as tableCtrl" infinite-scroll="false"
                              overflow-x="hidden" no-heading="true" no-empty="true">
                    </as-table>
                </div>
            </div>
        </div>
    </div>
    <!--Mail permissions-->
    <div class="divider col-12 text-center clear" ng-if="permissionsCtrl.selectedTab === 'mailPermissions'">
        <div class="form-group col-md-12">
            <!--Internal user mail permissions-->
            <mail-permissions type="user"
                              select-model="permissionsCtrl.safeData.userMail.selectedUser"
                              select-options="permissionsCtrl.safeData.userMail.users"
                              permission-types="permissionsCtrl.displayData.mail.types"
                              selection-models="permissionsCtrl.safeData.userMail.selections"
                              update-permissions="permissionsCtrl.updateMailPermissions(setting, 'user')"
                              apply-permissions-to-all="permissionsCtrl.confirmApplyPermissionsToAll('user')"
                              auto-apply-permissions="permissionsCtrl.confirmAutoApplyPermissions('user')">
            </mail-permissions>
            <!--Broker mail permissions-->
            <mail-permissions type="broker"
                              select-model="permissionsCtrl.safeData.brokerMail.selectedBroker"
                              select-options="permissionsCtrl.safeData.brokerMail.brokers"
                              permission-types="permissionsCtrl.displayData.mail.types"
                              selection-models="permissionsCtrl.safeData.brokerMail.selections"
                              update-permissions="permissionsCtrl.updateMailPermissions(setting, 'broker')"
                              apply-permissions-to-all="permissionsCtrl.confirmApplyPermissionsToAll('broker')"
                              auto-apply-permissions="permissionsCtrl.confirmAutoApplyPermissions('broker')">
            </mail-permissions>
        </div>
    </div>
</info-modal>
<!--Document download failure-->
<info-modal modal-id="document-download-failure" modal-title="Failed to download user documents" button-text="Close"></info-modal>
<!--Apply permissions to all-->
<modal-new submit-button="permissionsCtrl.massUpdatePermissions(false)" modal-id="confirm-apply-to-all"
           modal-title="Are you sure you would like to apply permissions to
           all {{permissionsCtrl.displayData.applyAllType}}s?"></modal-new>
<!--Auto apply permissions to new-->
<modal-new submit-button="permissionsCtrl.massUpdatePermissions(true)" modal-id="confirm-auto-apply-permissions"
           modal-title="Are you sure you would like to automatically apply permissions
           to all new {{permissionsCtrl.displayData.applyAllType}}s?"></modal-new>
<!--Response to update permissions en masse-->
<info-modal modal-id="update-mass-permissions-success" modal-title="Mail permissions successfully updated" button-text="Close"></info-modal>
<info-modal modal-id="update-mass-permissions-failure" modal-title="Failed to update permissions" button-text="Close"></info-modal>
