<div class="row form-group" ng-include="'/shared/components/asTreeView/views/search.html'"></div>
<div class="row tree-view-wrap" style="max-height:{{asTreeViewOpts.dynamicHeight}};">
  <ul class="tree-view" as-tree-view-dnd="">
    <li ng-repeat="data in asTreeView track by $index"
        ng-include="'/shared/components/asTreeView/views/tree.html'"
        as-tree-view-repeater></li>
  </ul>
</div>