<div ng-if="recursiveChildFilter(data)">
  <span ng-init="data.isOpened = false"
        ng-click="data.isOpened = !data.isOpened">
  <i class="fa" ng-class="{'fa-folder dnd-disabled' : !data.leaf, 'fa-folder-open': !data.leaf && data.isOpened, 'fa-file dnd-enabled' : data.leaf, }"></i>
  <span class="contentTitle" ng-class="{'dnd-enabled': data.leaf, 'dnd-disabled': !data.leaf}">{{data.text}}</span>
</span>
  <ul class="tree-view" ng-show="data.isOpened" ng-class="{'tree-view-file' : !data.leaf}">
    <li class="tree-view-item" ng-repeat="data in data.children track by $index"
        ng-include="'/shared/components/asTreeView/views/tree.html'" data-leaf="{{data.leaf ? {name:data.id, nameAs : data.text} : null}}"></li>
  </ul>
</div>