<!--Table Started-->
<div class="col-lg-12 col-el-8 col-ml-7 dashboard-left-area">
     <!--Dashboard Search Section-->
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-10 col-sm-10 step-1 col-el-10 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="adminUsersCtrl.filterAll">
            </div>
        </div>
        <!--Function buttons-->
        <div class="col-lg-2 col-sm-2 step-2 col-xs-2 text-right">
              <as-button click="adminUsersCtrl.newCompanyModal()" icon="company">New Company</as-button>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Search results table-->
    <div id="client-table">
        <as-table ng-controller="AdminUsersClientTableCtrl as tableCtrl" totals="false" bold-columns="2"
                  table-id="search-results-table" infinite-scroll="false" overflow-x="hidden"
                  hide-page-numbers="true"></as-table>
    </div>
</div>

<!--Details-->
<admin-users-details type="{{adminUsersCtrl.displayData.type}}" ctrl="adminUsersCtrl"
                     sidebar="enableSidebar"></admin-users-details>
<!--Additional details (conditionally compiled)-->
<admin-users-client-company-additional-details></admin-users-client-company-additional-details>
<admin-users-client-user-additional-details></admin-users-client-user-additional-details>

<!--New company modal-->
<div id="new-company"></div>

<!--Company users-->
<info-modal modal-id="company-users" modal-title="Users" button-text="Cancel">
    <div ng-repeat="user in adminUsersCtrl.displayData.companyUsers track by $index">
        <div class="form-group col-md-12 company-user-result" ng-click="adminUsersCtrl.displayUser(user.id)">
            <div class="col-md-3">
                <a class="text-uppercase">{{user.firstName + ' ' + user.lastName}}</a>
            </div>
            <div class="col-md-9">
                <a class="text-uppercase">{{' (' + user.role + ')' | replaceChar:'-':' '}}</a>
            </div>
        </div>
    </div>
</info-modal>

<!--Company statistics-->
<!--@TODO Column sort-->
<div id="company-scorecard"></div>

<!--Delete company or user-->
<modal-new submit-button="adminUsersCtrl.deleteRecord()" modal-id="delete-record" modal-title="Delete {{adminUsersCtrl.displayData.type}}?">
</modal-new>

<!--Send invite link-->
<modal-new submit-button="adminUsersCtrl.sendInviteLink()" modal-id="invite-link"
           modal-title="Send invite link for {{adminUsersCtrl.displayData.details.companyName}}">
    <div class="divider col-12 clear">
        <!--Note that due to the variable nature of this, validation is handled in the directive-->
        <div class="form-group col-md-12" ng-repeat="key in [1,2,3,4]">
            <div class="col-md-4">
                <h5 class="text-uppercase">Send invite link to</h5>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="adminUsersCtrl.displayData.emailRecipients[key].recipient"
                       validator="email" name="additional_recipient{{key}}" placeholder="email"/>
            </div>
        </div>
    </div>
</modal-new>
<!--Send login credentials-->
<modal-new submit-button="adminUsersCtrl.sendLoginInfo()" modal-id="login-info-confirmation"
           modal-title="Send login info to {{adminUsersCtrl.displayData.details.fullName}}?">
</modal-new>
<!--User settings-->
<div id="admin-users-user-settings-summary"></div>
<info-modal modal-id="user-settings-failure" modal-title="Unable to retrieve user settings"></info-modal>
<!--User permissions-->
<div id="admin-users-user-permissions"></div>
<info-modal modal-id="user-permissions-failure" modal-title="Unable to retrieve user permissions"></info-modal>
<!--New company-->
<info-modal modal-id="new-company-successful" modal-title="New company successfully created"></info-modal>
<info-modal modal-id="new-company-failure" modal-title="Failed to create new company"></info-modal>
<!--Delete-->
<info-modal modal-id="delete-success" modal-title="Successfully deleted {{adminUsersCtrl.displayData.deletedType}}"></info-modal>
<info-modal modal-id="delete-failure" modal-title="Failed to delete {{adminUsersCtrl.displayData.deletedType}}"></info-modal>
<!--Invite link-->
<info-modal modal-id="invite-link-success" modal-title="Successfully sent invite link"></info-modal>
<info-modal modal-id="invite-link-failure" modal-title="Failed to send invite link"></info-modal>
<!--Quickbooks sync-->
<info-modal modal-id="qb-sync-success" modal-title="Quickbooks syncing queued"></info-modal>
<info-modal modal-id="qb-sync-failure" modal-title="Failed to sync to Quickbooks"></info-modal>
<info-modal modal-id="qb-sync-unneeded" modal-title="No data in need of syncing"></info-modal>
<!--Login credentials-->
<info-modal modal-id="login-info-success" modal-title="Login credentials sent successfully"></info-modal>
<info-modal modal-id="login-info-failure" modal-title="Failed to send login credentials"></info-modal>
<!--Update active status-->
<info-modal modal-id="active-status-failure"
            modal-title="Failure to update active status for {{adminUsersCtrl.displayData.details.firstName + ' ' + adminUsersCtrl.displayData.details.lastName}}"></info-modal>
<!--Company statistics failure-->
<info-modal modal-id="company-scorecard-failure" modal-title="Unable to retrieve company statistics"></info-modal>
