<!-- Select Job Type -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffSetCommissionBrokerCtrl.addCommissionModal()" icon="apply" >Add Commission Broker</as-button>
</div>
<modal-new modal-id="set-commission-broker-modal" modal-title="Set Commission By Broker" >
  <h4 class="text-uppercase text-center">Select Commission for all selected company brokeres</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffSetCommissionBrokerCtrl.setCommission()" bold-columns="2" table-id="set-commission-broker"
                ng-controller="AdminStaffSetCommissionBrokerTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
