<div class="authentication-form-header">
  <span>Account Details</span>
</div>

<form name="frm" class="sign-in-form form" as-submit="login(credentials)">

  <div class="alert alert-danger" role="alert" ng-show="invalid_credentials">
      Invalid credentials. Please try again.
  </div>

  <div form-group="username" show-errors>
    <span validation-control></span>
    <label control-label>Username</label>
    <input form-control
           type="text"
           name="username"
           placeholder="Username"
           ng-model="credentials.username"
           required
           autofocus>
  </div>

  <div form-group="password" class="last" show-errors>
    <span validation-control></span>
    <label control-label>Password</label>
    <input type="password" name="password"
           form-control
           ng-model="credentials.password"
           placeholder="Password"
           required>
  </div>

  <div class="authentication-submit-panel">

    <span class="authentication-submit-left-section">
      <div>Don't have a Appraisal Scope account?</div>
      <a ui-sref="auth.client-sign-up">
        <strong>SIGN UP TODAY</strong>
      </a>
    </span>

    <span class="authentication-submit-center-section">
      <as-button icon="apply" class="green-theme" type="submit" disabled="authenticating || frm.$invalid">Sign In
      </as-button>
    </span>

    <span class="authentication-submit-right-section">
      <div>Problems with your Account Details ?</div>
      <a ui-sref="auth.reset-password">
        <strong>REMIND ME ON MY EMAIL </strong>
      </a>
    </span>

  </div>

</form>
