<!-- Select Job Type -->
<modal-new modal-id="admin-rule-profile-add-branch" modal-title="Add Branch" class="staff-modal">
  <h4 class="text-uppercase text-center">Select Branches</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffProfileAddBranchCtrl.addBranchesToRuleProfile()" bold-columns="2" table-id="stuff-profile-branch-table"
                ng-controller="AdminStaffProfileBranchCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
