<as-tabs tab-config="branchSettingsCtrl.detailsTabsConfigBranch" tabs="branchSettingsCtrl.detailsTabsBranch" tab-width="7ths"
         selected-tab="branchSettingsCtrl.selectedDetailsTabBranch" change-tab="branchSettingsCtrl.changeTab(tab)"></as-tabs>
<!--Content-->
<div ng-switch="branchSettingsCtrl.selectedDetailsTabBranch">
    <admin-users-details-content ng-switch-when="details" ctrl="branchSettingsCtrl"></admin-users-details-content>
    <admin-users-client-on-report ng-switch-when="clientOnReport"></admin-users-client-on-report>
    <admin-users-client-appraiser-panel ng-switch-when="appraiserPanel"></admin-users-client-appraiser-panel>
    <admin-users-client-checklist ng-switch-when="addChecklist"></admin-users-client-checklist>
    <admin-users-client-branch-details ng-switch-when="branchSettings"></admin-users-client-branch-details>
    <admin-users-client-instructions ng-switch-when="instructions"></admin-users-client-instructions>
    <admin-users-client-fee-schedule ng-switch-when="feeSchedule"></admin-users-client-fee-schedule>
</div>
<!--Failed to retrieve-->
<info-modal modal-id="branch-settings-failed" modal-title="Failed to retrieve branch settings" button-text="OK">
</info-modal>
<!--Failed to update-->
<info-modal modal-id="branch-settings-update-failed" modal-title="Failed to update branch settings" button-text="OK">
</info-modal>