<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Branch settings</h4>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <!--Payment form-->
                <div class="form-group col-md-12">
                    <label for="branchSettingsPaymentForm">Payment Form</label>
                    <select class="selectpicker form-control" id="branchSettingsPaymentForm"
                            ng-model="branchSettingsCtrl.safeData.branchSettings.payment.enabled"
                            ng-options='option.id as option.name for option in branchSettingsCtrl.displayData.branchSettings.paymentForm'
                            as-select>
                    </select>
                </div>
                <!--Payment form settings-->
                <div class="form-group col-md-12" ng-show="branchSettingsCtrl.safeData.branchSettings.payment.enabled">
                    <!--Payment methods-->
                    <div class="col-md-3">
                        <div class="col-md-12 button-padding"
                             ng-repeat-start="method in branchSettingsCtrl.displayData.branchSettings.paymentMethods track by $index">
                            <ul class="list-inline clear marg-null pad-null">
                                <li>
                                    <button type="button" class="btn btn-default overlay-simple-btn"
                                            ng-class="{active: branchSettingsCtrl.safeData.branchSettings.payment.methods.indexOf(method.id) !== -1}"
                                            ng-click="branchSettingsCtrl.updatePaymentMethod(method.id)">
                                        <span>{{method.name}}</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" ng-repeat-end></div>
                    </div>
                    <!--CC settings-->
                    <div class="col-md-9" ng-show="branchSettingsCtrl.safeData.branchSettings.payment.methods.indexOf(1) !== -1">
                        <div class="col-md-12">
                            <label for="branchSettingsCcSettings">Credit card settings</label>
                            <select class="selectpicker form-control" id="branchSettingsCcSettings"
                                    ng-model="branchSettingsCtrl.safeData.branchSettings.payment.ccSettings"
                                    ng-options='option.id as option.name for option in branchSettingsCtrl.displayData.branchSettings.ccSettings'
                                    as-select>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="branchSettingsCapture">Show capture on client</label>
                            <select class="selectpicker form-control" id="branchSettingsCapture"
                                    ng-model="branchSettingsCtrl.safeData.branchSettings.payment.canCapture"
                                    ng-options='option.id as option.value for option in branchSettingsCtrl.displayData.yesNoDropdown'
                                    as-select>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
