<div ng-controller="AdminSettingsAmcLicenseCtrl as AmcLicenseCtrl">
<br>
	<div class="col-md-12">			
		<div class="table-responsive record-number-prefix">

	    <table class="table dashboard-table">
	      <thead>
		      <tr>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">No.</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">State</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">License #</div>
			        </div>
		        </th>  
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Expiration Date</div>
			        </div>
		        </th> 
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Edit</div>
			        </div>
		        </th> 
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">
				          <div class="as-checkable-container">
					          <input type="checkbox" ng-click="AmcLicenseCtrl.changeAll('DisplayLicense')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
				          </div>
				          Display License
			          </div>
			        </div>
		        </th> 
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">
			            <div class="as-checkable-container">
					          <input type="checkbox" ng-click="AmcLicenseCtrl.changeAll('DisplayExpirationDate')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
				          </div>
			          	Display Expiration Date
			          </div>
			        </div>
		        </th> 
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">
			            <div class="as-checkable-container">
					          <input type="checkbox" ng-click="AmcLicenseCtrl.changeAll('DisplayClientFeeToAppraiser')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
				          </div>
				          Display Client Fee To Appraiser</div>
			        </div>
		        </th> 
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">
			          	<div class="as-checkable-container">
					          <input type="checkbox" ng-click="AmcLicenseCtrl.changeAll('DisplayAppraiserFeeToClient')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
				          </div>
				          Display Appraiser Fee To Client</div>
			        </div>
		        </th>         
		      </tr>
	      </thead>

	      <tbody>
		      <tr ng-repeat="(key, row) in AmcLicenseCtrl.adminAmcLicense">
		        <td>{{row.id}}</td>
		        <td>{{row.State}}</td>
		        <td>
		         	<span ng-hide="AmcLicenseCtrl.editRow[key]">{{row.License}}</span>
		          <div ng-show="AmcLicenseCtrl.editRow[key]" class="form-group">
		            <input type="text"
		                   class="form-control"
		                   ng-model="row.License"
		                   placeholder="{{ row.License }}"/>
		          </div>
		        </td>	
		        <td>
		         	<span ng-hide="AmcLicenseCtrl.editRow[key]">{{row.ExpirationDate}}</span>
		          <div ng-show="AmcLicenseCtrl.editRow[key]" class="form-group">
		            <input type="text"
		                   class="form-control"
		                   ng-model="row.ExpirationDate"
		                   placeholder="{{ row.ExpirationDate }}"/>
		          </div>
		        </td>	
		        <td>
			        <a ng-click="AmcLicenseCtrl.editRow[key] = true" ng-hide="AmcLicenseCtrl.editRow[key]">Edit</a>
	            <a ng-click="AmcLicenseCtrl.updateRow(key, row)" ng-show="AmcLicenseCtrl.editRow[key]">Save</a>
            </td>
		        <td>		        	
			          <div class="as-checkable-container" ng-if="row.DisplayLicense === '1'">
				          <input type="checkbox" ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayLicense')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="" checked>
			          </div>
			          <div class="as-checkable-container" ng-if="row.DisplayLicense === '0'">
				          <input type="checkbox" ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayLicense')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
		        </td>	 
		        <td>		        	
			          <div class="as-checkable-container" ng-if="row.DisplayExpirationDate === '1'">
				          <input ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayExpirationDate')" type="checkbox" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="" checked>
			          </div>
			          <div class="as-checkable-container" ng-if="row.DisplayExpirationDate === '0'">
				          <input ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayExpirationDate')" type="checkbox" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
		        </td>	
		        <td>		        	
			          <div class="as-checkable-container" ng-if="row.DisplayClientFeeToAppraiser === '1'">
				          <input type="checkbox" ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayClientFeeToAppraiser')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="" checked>
			          </div>
			          <div class="as-checkable-container" ng-if="row.DisplayClientFeeToAppraiser === '0'">
				          <input type="checkbox"  ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayClientFeeToAppraiser')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
		        </td>	
		        <td>		        	
			          <div class="as-checkable-container" ng-if="row.DisplayAppraiserFeeToClient === '1'">
				          <input type="checkbox"  ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayAppraiserFeeToClient')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="" checked>
			          </div>
			          <div class="as-checkable-container" ng-if="row.DisplayAppraiserFeeToClient === '0'">
				          <input type="checkbox"  ng-click="AmcLicenseCtrl.changeModel(row, 'DisplayAppraiserFeeToClient')" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
		        </td>	
		      </tr>
	      </tbody>
	    </table>
	  </div>
	</div>
</div>