
<div class="appraisal-menu dashboard-menu without-subtext" >
    <!--Second Tab-->
    <div class="dashboard-menu tab-pane" id="app_menu" role="tabpanel">

        <ul class="list-unstyled marg-null" ng-controller="AdminSettingsTabsCtrl">
            <li class="col-xs-6"
                ng-class="tabClass(tab)"
                ng-repeat="tab in tabs"
                ui-sref="{{tab.link}}"
                ng-click="setSelectedTab(tab)">

                <a href="#">
                    {{tab.label}}
                </a>
            </li>
        </ul>

    </div>
</div>

<div class="clearfix"></div>
<!--Search Area-->
<!--END-->
<div ui-view></div>
