<div ng-controller="AdminSettingsCompanyInformationCtrl as companyInformationCtrl" id="companyInformation">

    <form role="form" class="overlay-form">

    <div class="col-md-4 col-sm-10 col-xs-4">

        <h4 class="text-center text-uppercase">Company Information</h4>

        <div class="col-md-12 col-sm-10 col-xs-12 info-block">

            <div class="form-group col-md-12">
                <label for="company-name">Company Name:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.name" id="company-name" name="company-name" placeholder="Type company name here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-name-color">Company Name Color:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.nameColor" id="company-name-color" name="company-name-color" placeholder="Type company name color here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-address">Address:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.address" id="company-address" name="company-address" placeholder="Type address here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-city">City:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.city" id="company-city" name="company-city" placeholder="Type city here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-city">Company State:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <select class="selectpicker form-control"
                        id="company-state"
                        name="company-state"
                        ng-model="ctrl.displayData.editCompany.state"
                        ng-options=''
                        as-select required>
                    <option value="">Choose your state</option>
                </select>
            </div>

            <div class="form-group col-md-12">
                <label for="company-postal-code">Postal Code:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.postalCode" id="company-postal-code" name="company-postal-code" placeholder="Type postal code here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-country">Country:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.country" id="company-country" name="company-country" placeholder="Type country here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-phone">Phone:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.phone" id="company-phone" name="company-phone" placeholder="Type phone here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-fax">Fax:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.fax" id="company-fax" name="company-fax" placeholder="Type fax here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-email">Email:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.email" id="company-email" name="company-email" placeholder="Type email here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-notification-email">Notification Email:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.notificationEmail" id="company-notification-email" name="company-notification-email" placeholder="Type notification email here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-notification-email-name">Notification Email Name:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.notificationEmailName" id="company-notification-email-name" name="company-notification-email-name" placeholder="Type notification email name here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-email-signature">Email Signature:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.emailSignature" id="company-email-signature" name="company-email-signature" placeholder="Type email signature here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-website">Website:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.website" id="company-website" name="company-website" placeholder="Type website here" required>
            </div>

            <div class="form-group col-md-12">
                <label for="company-federal-tax-ID">Federal Tax ID:</label>
                <span class="help-block" validator-message="required">REQUIRED</span>
                <input type="text" class="form-control" ng-model="ctrl.displayData.editCompany.federalTaxID" id="company-federal-tax-ID" name="company-federal-tax-ID" placeholder="Type federal tax ID here" required>
            </div>

        </div>

    </div>

    <div class="col-md-8 col-sm-10 col-xs-8">

        <h4 class="text-center text-uppercase">Contact Us Information:</h4>

        <textarea ckeditor="editorOptions" ng-model="ctrl.displayData.editCompany.contactUsInfo" ckeditor-modal="" ></textarea>

        <div class="col-12 text-center wrap-footer">

            <as-button icon="apply" class="green-theme" type="submit">Safe Information</as-button>
            <as-button icon="cancel" data-dismiss="modal">Reset</as-button>

        </div>


    </div>

    </form>

</div>
