<div ng-controller="AdminSettingsDocumentUploadCtrl as uploadCtrl">

  <div class="col-md-6">
    <h4>Additional Document Type</h4>

    <a class="text-right" ng-click="uploadCtrl.openNewDocTypeModal()">Add New</a>

    <div class="table-responsive record-number-prefix">
      <table class="table dashboard-table">
        <thead>
          <tr>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Document Label</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Display to Admin</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Display to Client</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Display to Appraiser</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Action</div>
              </div>
            </th>

          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="(key, row) in uploadCtrl.addDocType">
            <td>
              <span ng-hide="uploadCtrl.editAddDocType[row.id]">{{ row.label }}</span>

              <div ng-show="uploadCtrl.editAddDocType[row.id]">
                <input type="text"
                       class="form-control"
                       ng-model="row.label"/>
              </div>
            </td>
            <td>
              <input type="checkbox"
                 class="form-control"
                 id="promptPastDueDate"
                 ng-model="row.displayToAdmin"
                 ng-change="uploadCtrl.updateAddDocType(row.id)"
                 checkable />
            </td>
            <td>
              <input type="checkbox"
                 class="form-control"
                 id="promptPastDueDate"
                 ng-model="row.displayToClient"
                 ng-change="uploadCtrl.updateAddDocType(row.id)"
                 checkable />
            </td>
            <td>
              <input type="checkbox"
                 class="form-control"
                 id="promptPastDueDate"
                 ng-model="row.displayToAppraiser"
                 ng-change="uploadCtrl.updateAddDocType(row.id)"
                 checkable />
            </td>
            <td>
              <a ng-click="uploadCtrl.editAddDocType[row.id] = true" ng-hide="uploadCtrl.editAddDocType[row.id]">Edit</a>
              <a ng-click="uploadCtrl.editAddDocType[row.id] = false; uploadCtrl.updateAddDocType(row)" ng-show="uploadCtrl.editAddDocType[row.id]">Save</a>
              |
              <a confirm-click="uploadCtrl.deleteAddDocType(row.id, key)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>System Documents</h4>
    <div class="table-responsive record-number-prefix">
      <table class="table dashboard-table">
        <thead>
          <tr>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">S.No</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Document</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Delete</div>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="(key, doc) in uploadCtrl.systemDocs">
            <td>{{key + 1}}</td>
            <td>
              <a ng-href="{{doc.href}}">{{doc.label}}</a>
            </td>
            <td>
              <a confirm-click="uploadCtrl.deleteSystemDoc(doc.id, key)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>Templates</h4>
    <div class="table-responsive record-number-prefix">
      <table class="table dashboard-table">
        <thead>
          <tr>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">S.No</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Document</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Action</div>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="(key, template) in uploadCtrl.templates">
            <td>{{key + 1}}</td>
            <td>{{template.label}}</td>
            <td>
              <a ng-click="uploadCtrl.editTemplate(template)">Edit</a>
              |
              <a confirm-click="uploadCtrl.deleteTemplate(template.id, key)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>System Templates</h4>
    <div class="table-responsive record-number-prefix">
      <table class="table dashboard-table">
        <thead>
          <tr>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">S.No</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Document</div>
              </div>
            </th>
            <th>
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="">Edit</div>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="(key, template) in uploadCtrl.sysTemplates">
            <td>{{key + 1}}</td>
            <td>{{template.label}}</td>
            <td>
              <a ng-click="uploadCtrl.editTemplate(template)">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <h4>Upload Document</h4>
    <div class="new-window-overlay">

      <!--File upload area-->
      <div class="divider col-12 ">
          <div class="form-group col-md-12">
              <div class="innner-box">
                  <h4 class="text-center">Drop or click here to upload a file</h4>
                  <input type="file"
                         name="file"
                         ng-file-select
                         ng-model="uploadCtrl.uploadedDoc"
                         ng-change="uploadCtrl.uploadDoc(uploadCtrl.uploadedDoc)"
                         class="modal-file-upload">
              </div>
          </div>
      </div>

      <ul class="list-inline text-center">
      	<as-button icon="plus" type="button" click="uploadCtrl.openNewTemplateModal()">Create Document</as-button>
      </ul>
    </div>
  </div>

  <info-modal modal-id="upload-doc-successful" modal-title="Document successfully uploaded"></info-modal>
  <info-modal modal-id="ipload-doc-failure" modal-title="Failed to upload document"></info-modal>

  <!-- Edit Template Modal -->
  <modal visible="uploadCtrl.editTemplateModal" size="large">
    <h4 class="text-uppercase text-center">Edit Template</h4>

    <form class="signup-form-2 auth-divider col-12" as-submit="uploadCtrl.updateTemplate(uploadCtrl.currentTemplate)">

      <!-- Document Template Name -->
      <div class="form-group" show-errors>
        <label for="templateNameInput" class="control-label">Document Template Name</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'template name'}"></span>
        <input type="text"
               name="name"
               id="templateNameInput"
               class="form-control"
               ng-model="uploadCtrl.currentTemplate.label"
               placeholder="Document Template Name"
               required/>
      </div>

      <div class="form-group">
        <label for="insertTag" class="control-label">Insert a Tag</label>
        <select as-select
                type="text"
                id="insertTag"
                class="form-control"
                ng-model="uploadCtrl.insertTag"
                ng-change="uploadCtrl.addTagtoEditField(uploadCtrl.insertTag)"
                ng-options='tag.code as tag.label for tag in uploadCtrl.templateTags'
                required>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label for="appraiserLoginTAC" class="control-label title">Template</label>
				<textarea ckeditor="editorOptions" ng-model="uploadCtrl.currentTemplate.body" ckeditor-modal></textarea>
      </div>

      <ul class="list-inline text-center">
        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
        <as-button aria-label="Close" data-dismiss="modal" icon="cancel">Cancel</as-button>
      </ul>
    </form>
  </modal>

  <!-- Create New Template Modal -->
  <modal visible="uploadCtrl.createTemaplteModal" size="large">
    <h4 class="text-uppercase text-center">Create New Template</h4>

    <form class="signup-form-2 auth-divider col-12" as-submit="uploadCtrl.storeTemplate(uploadCtrl.newTemplate)">

      <!-- Document Template Name -->
      <div class="form-group" show-errors>
        <label for="newTemplateNameInput" class="control-label">Document Template Name</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'template name'}"></span>
        <input type="text"
               name="name"
               id="newTemplateNameInput"
               class="form-control"
               ng-model="uploadCtrl.newTemplate.label"
               placeholder="Document Template Name"
               required/>
      </div>

      <div class="form-group">
        <label for="newInsertTag" class="control-label">Insert a Tag</label>
        <select as-select
                type="text"
                id="newInsertTag"
                class="form-control"
                ng-model="uploadCtrl.newInsertTag"
                ng-change="uploadCtrl.addTagToNewField(uploadCtrl.newInsertTag)"
                ng-options='tag.code as tag.label for tag in uploadCtrl.templateTags'
                required>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label for="appraiserLoginTAC" class="control-label title">Template</label>
        <textarea ckeditor="editorOptions" ng-model="uploadCtrl.newTemplate.body" ckeditor-modal></textarea>
      </div>

      <ul class="list-inline text-center">
        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
        <as-button aria-label="Close" data-dismiss="modal" icon="cancel">Cancel</as-button>
      </ul>
    </form>
  </modal>


  <!-- Create New Document Type Modal -->
  <modal visible="uploadCtrl.newDocTypeModal" size="large">
    <h4 class="text-uppercase text-center">Create New Document Type</h4>

    <form class="signup-form-2 auth-divider col-12" as-submit="uploadCtrl.storeDocType(uploadCtrl.newDocType)">

      <!-- Document Template Name -->
      <div class="form-group" show-errors>
        <label for="documentLabelInput" class="control-label">Document Label</label>
        <span class="help-block"
              validator-message="required"
              placeholder="{'field': 'document label'}"></span>
        <input type="text"
               name="name"
               id="documentLabelInput"
               class="form-control"
               ng-model="uploadCtrl.newDocType.label"
               placeholder="Document Label"
               required/>
      </div>

      <div class="auth-divider col-4">
        <div class="form-group">
          <input type="checkbox"
                 class="form-control"
                 id="displayToAdminBox"
                 ng-model="newDocType.displayToAdmin"
                 checkable />
          <label for="displayToAdminBox" class="control-label">Display to Admin</label>
        </div>

        <div class="form-group">
          <input type="checkbox"
                 class="form-control"
                 id="displayToClientBox"
                 ng-model="newDocType.displayToClient"
                 checkable />
          <label for="displayToClientBox" class="control-label">Display to Client</label>
        </div>
        <div class="form-group">
          <input type="checkbox"
                 class="form-control"
                 id="displayToAppraiserBox"
                 ng-model="newDocType.displayToAppraiser"
                 checkable />
          <label for="displayToAppraiserBox" class="control-label">Display to Appraiser</label>
        </div>
      </div>

      <ul class="list-inline text-center">
        <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
        <as-button aria-label="Close" data-dismiss="modal" icon="cancel">Cancel</as-button>
      </ul>
    </form>
  </modal>
</div>
