<div ng-controller="AdminSettingsEmailCtrl as emailCtrl">
	<div class="col-md-6">
		<h4>Email Templates For Client</h4>
		<div class="table-responsive record-number-prefix">
	    <table class="table dashboard-table">
	      <thead>
		      <tr>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class=""> No.</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Name</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Action</div>
			        </div>
		        </th>
		      </tr>
	      </thead>

	      <tbody>
		      <tr ng-repeat="template in emailCtrl.clientTemplates">
		        <td>{{template.id}}</td>
		        <td>{{template.title}}</td>
		        <td><a ng-click="emailCtrl.openEditTemplateModal(template, 'client')">Edit</a></td>
		      </tr>
	      </tbody>
	    </table>
	  </div>
	</div>

	<div class="col-md-6">
		<h4>Email Templates For Appraiser</h4>
		<div class="table-responsive record-number-prefix">
	    <table class="table dashboard-table">
	      <thead>
		      <tr>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class=""> No.</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Name</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Action</div>
			        </div>
		        </th>
		      </tr>
	      </thead>

	      <tbody>
		      <tr ng-repeat="template in emailCtrl.appraiserTemplates">
		        <td>{{template.id}}</td>
		        <td>{{template.title}}</td>
		        <td><a ng-click="emailCtrl.openEditTemplateModal(template, 'appraiser')">Edit</a></td>
		      </tr>
	      </tbody>
	    </table>
	  </div>
	</div>

	<div class="col-md-12">
		<h4>Email Templates for Borrower/Contact</h4>
		<div class="table-responsive record-number-prefix">
	    <table class="table dashboard-table">
	      <thead>
		      <tr>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class=""> No.</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Name</div>
			        </div>
		        </th>
		        <th>
			        <div class="form-group">
			          <label>&nbsp;</label>
			          <div class="">Action</div>
			        </div>
		        </th>
		      </tr>
	      </thead>

	      <tbody>
		      <tr ng-repeat="template in emailCtrl.borrowerContactTemplates">
		        <td>{{template.id}}</td>
		        <td>{{template.title}}</td>
		        <td><a ng-click="emailCtrl.openEditTemplateModal(template, 'borrow')">Edit</a></td>
		      </tr>
	      </tbody>
	    </table>
	  </div>
	</div>

	<!-- Add Instructions modal -->
	<modal size="large" visible="emailCtrl.setEditTemplateModal">
		<div class="divider col-12 clearfix">
		  <div class="form-group col-md-12">
		    <h4 class="text-uppercase text-center">Edit Template</h4>
		  </div>
		</div>
	  <div class="container-fluid">
	    <form name="addInstruction" role="form" class="overlay-form" as-submit="emailCtrl.updateTemplate()">
	     		<div class="form-group col-md-12" show-errors>
	            <label for="new-window-legal">From</label>
	            <span class="help-block"
	                  validator-message="required">
	            </span>
	            <input type="text"
	                   ng-model="emailCtrl.currentTemplate.from"
	                   id="instruction-titile"
	                   value=""
	                   name="Title"
	                   class="form-control"
	                   placeholder="From"
	                   required/>
	          </div>
	     		 <div class="divider col-6">
	              <div class="form-group col-md-12" show-errors>
	                <label for="new-window-property-types">Insert Tag</label>
	                <span class="help-block"
	                      validator-message="required">
	                </span>
	                <select id="appraisalInfoPropertyType"
	                        class="col-md-12 form-control"
	                        name="appraisalInfoPropertyType"
	                        ng-model="appraisal.appraisalInfoPropertyType"
	                        ng-options="prop as prop for prop in propertyTypes "
	                        as-select>
	                </select>
	              </div>
	          </div>
	          <div class="divider col-6">
	              <div class="form-group col-md-12" show-errors>
	                <label for="new-window-property-types">Subject</label>
	                <span class="help-block"
	                      validator-message="required">
	                </span>
	                <input type="text"
	                   ng-model="emailCtrl.currentTemplate.subject"
	                   id="instruction-titile"
	                   value=""
	                   name="Title"
	                   class="form-control"
	                   placeholder="Subject"
	                   required/>
	              </div>
	          </div>

	           <div class="divider col-6">
	              <div class="form-group col-md-12">
	                <label for="new-window-property-types">Body</label>
	                <span class="help-block"
	                      validator-message="required">
	                </span>
	                <textarea ckeditor="editorOptions" ng-model="emailCtrl.currentTemplate.template" ckeditor-modal></textarea>
	              </div>
	          </div>


	        <!--Buttons-->
	        <div class="divider col-12 ">
	          <div class="form-group col-md-12">
	            <div class="text-uppercase text-center">
                <as-button icon="apply" class="green-theme" type="submit">Submit</as-button>
                <as-button data-dismiss="modal" icon="close">Cancel</as-button>
	            </div>
	          </div>
	        </div>
	    </form>
	  </div>
	</modal>

</div>
