<div ng-controller="AdminSettingsImportClientCtrl as importCtrl">
<br>
  <div class="col-sm-6 text-center center-block">
    <div class="new-window-overlay">

      <!--File upload area-->
      <div class="divider col-12 ">
          <div class="form-group col-md-12">
              <div class="innner-box">
                  <h4 class="text-center">Drop or click here to upload a CSV file</h4>
                  <input type="file"
                         name="file"
                         ng-file-select
                         ng-model="importCtrl.importClientCSV"
                         ng-change="importCtrl.uploadCSV(importCtrl.importClientCSV)"
                         class="modal-file-upload">
              </div>
          </div>
      </div>

      <div class="divider col-12 clearfix">
          <div class="form-group col-md-12">
              <h5 class="text-uppercase">Required columns:</h5>
              <center>
                <ol class='close-nums'>
                    <li ng-repeat="(key, rule) in importCtrl.rules">{{ rule }}</li>
                </ol>
              </center>
          </div>
      </div>
    </div>
  </div>

  <info-modal modal-id="import-csv-successful" modal-title="Successfully imported CSV file"></info-modal>
  <info-modal modal-id="import-csv-failure" modal-title="Failed to import CVS file."></info-modal>
</div>