<div ng-controller="AdminSettingsInstructionsCtrl as instructionsCtrl">

<div class="col-md-4">
	<h4>Documents  [<a ng-click="instructionsCtrl.openAddDocumentModal()"> Add Document </a>]</h4>
	<div class="table-responsive record-number-prefix">
    <table class="table dashboard-table">
      <thead>
	      <tr>
	        <th>
		        <div class="form-group">
		          <label>&nbsp;</label>
		          <div class=""> Sr.</div>
		        </div>
	        </th>
	        <th>
		        <div class="form-group">
		          <label>&nbsp;</label>
		          <div class="">Document</div>
		        </div>
	        </th>
	        <th>
		        <div class="form-group">
		          <label>&nbsp;</label>
		          <div class="">Action</div>
		        </div>
	        </th>
	      </tr>
      </thead>

      <tbody>
	      <tr ng-repeat="(key, row) in instructionsCtrl.Documents">
	        <td>{{row.id}}</td>
	        <td class="overlay-form">
		        <span ng-hide="instructionsCtrl.editDocument[key]">{{ row.Document }}</span>
	          <div ng-show="instructionsCtrl.editDocument[key]" class="form-group">
	            <input type="text"
	                   class="form-control"
	                   ng-model="row.Document"
	                   placeholder="{{ row.Document }}"/>
	          </div>

	        </td>
	        <td>
	        	<a ng-click="instructionsCtrl.editDocument[key] = true" ng-hide="instructionsCtrl.editDocument[key]">Edit</a>
            <a ng-click="instructionsCtrl.updateDocument(key, row)" ng-show="instructionsCtrl.editDocument[key]">Save</a>
            |
            <a confirm-click="instructionsCtrl.deleteDocument(key, row.id)">Delete</a>
	         </td>
	      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-8">
	<h4>Instruction Template For Client [<a ng-click="instructionsCtrl.openInstructionsModal()"> Add Instruction </a>]</h4>
	<div class="table-responsive record-number-prefix">
    <table class="table dashboard-table">
      <thead>
	      <tr>
	        <th>
		        <div class="form-group">
		          <label>&nbsp;</label>
		          <div class=""> No.</div>
		        </div>
	        </th>
	        <th>
		        <div class="form-group">
		          <label>&nbsp;</label>
		          <div class=""> Name.</div>
		        </div>
	        </th>
	        <th>
		        <div class="form-group">
		          <label>&nbsp;</label>
		          <div class=""> Action.</div>
		        </div>
	        </th>

	      </tr>
      </thead>

      <tbody>
	      <tr ng-repeat="(key, row) in instructionsCtrl.instructionsForClietns">
	        <td>{{row.id}}</td>
	        <td>{{row.Name}}</td>
	        <td>
	        	<a ng-click="instructionsCtrl.openInstructionsModal(row)">Edit</a>
            |
            <a confirm-click="instructionsCtrl.deleteInstruction(key, row.id)">Delete</a>
            |
            <a ng-click="instructionsCtrl.openAssignModal()">Assign</a>
	        </td>
	      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add Documents modal -->
<modal visible="instructionsCtrl.setAddDocumentModal">
	<div class="divider col-12 clearfix">
	  <div class="form-group col-md-12">
	    <h4 class="text-uppercase text-center">Add Document</h4>
	  </div>
	</div>
  <div class="container-fluid">
    <form name="addDocument" role="form" class="overlay-form" as-submit="instructionsCtrl.addDocument(instructionsCtrl.newDocument)">
     		<!--Col 12-->
     		<div class="form-group col-md-12" show-errors>
          <label for="new-window-legal">&nbsp;</label>
          <span class="help-block"
                validator-message="required">
          </span>
          <input type="text"
                 ng-model="instructionsCtrl.newDocument.title"
                 id="document-title"
                 value=""
                 name="document-title"
                 class="form-control"
                 placeholder="Document Title"
                 required/>
        </div>
     		<!--Col 12-->
        <div class="divider col-12 ">
          <div class="form-group col-md-12">
            <div class="innner-box">
              <div class="text-center">UPLOAD DOCUMENT</div>
              <h4 class="text-center">Drop or click here to upload document </h4>
              <input type="file"
                   name="file"
                   ng-file-select
                   ng-model="instructionsCtrl.newDocument.file"
                   ng-change="uploadFile(newDocument.file)"
                   style="position: absolute; right: 0px; top: 0px; font-family: Arial; height: 90%; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;width:100%"
                   >
            </div>
          </div>
        </div>
        <!--Buttons-->
        <div class="divider col-12 ">
          <div class="form-group col-md-12">
            <div class="text-uppercase text-center">
              <as-button icon="apply" type="submit" class="green-theme">Submit</as-button>
              <as-button icon="cancel" data-dismiss="modal">Cancel</as-button>
            </div>
          </div>
        </div>
    </form>
  </div>
</modal>

<!-- Add Instructions modal -->
<modal visible="instructionsCtrl.setAddInstructionsModal">
	<div class="divider col-12 clearfix">
	  <div class="form-group col-md-12">
	    <h4 class="text-uppercase text-center">{{instructionsCtrl.instructionsMode}} Instruction For Clients</h4>
	  </div>
	</div>
  <div class="container-fluid">
    <form name="addInstruction" role="form" class="overlay-form" as-submit="instructionsCtrl.instructionsMode ==='Edit' ? instructionsCtrl.updateInstruction() : instructionsCtrl.addInstruction()">
     		<div class="form-group col-md-12" show-errors>
            <label for="new-window-legal">&nbsp;</label>
            <span class="help-block"
                  validator-message="required">
            </span>
            <input type="text"
                   ng-model="instructionsCtrl.newInstruction.Name"
                   id="instruction-titile"
                   value=""
                   name="Title"
                   class="form-control"
                   placeholder="Title"
                   required/>
          </div>
     		 <div class="divider col-6">
              <div class="form-group col-md-12" show-errors>
                <label for="new-window-property-types">Add Tag</label>
                <span class="help-block"
                      validator-message="required">
                </span>
                <select id="appraisalInfoPropertyType"
                        class="col-md-12 form-control"
                        name="appraisalInfoPropertyType"
                        ng-model="appraisal.appraisalInfoPropertyType"
                        ng-options="prop as prop for prop in propertyTypes "
                        as-select>
                </select>
              </div>
          </div>
           <div class="divider col-6">
              <div class="form-group col-md-12">
                <label for="new-window-property-types">Template</label>
                <span class="help-block"
                      validator-message="required">
                </span>
                <textarea ckeditor="editorOptions" ng-model="instructionsCtrl.newInstruction.template" ckeditor-modal></textarea>
              </div>
          </div>


        <!--Buttons-->
        <div class="divider col-12 ">
          <div class="form-group col-md-12">
            <div class="text-uppercase text-center">
              <as-button icon="apply" type="submit" class="green-theme">Submit</as-button>
              <as-button icon="cancel" data-dismiss="modal">Cancel</as-button>
            </div>
          </div>
        </div>
    </form>
  </div>
</modal>

<!-- Assign modal -->
<modal size = 'large' visible="instructionsCtrl.setAssignModal">
	<div class="divider col-12 clearfix">
	  <div class="form-group col-md-12">
	    <h4 class="text-uppercase text-center">Assign</h4>
	  </div>
	</div>
  <div class="container-fluid">
    <form name="assign" role="form" class="overlay-form" as-submit="instructionsCtrl.assign()">
    	<!-- Client Company -->
    	<div class="col-md-3">
		    <div style="height: 500px; overflow-y: scroll;" class="panel panel-default">
				  <div class="panel-heading">Client Company</div>
				  <div class="panel-body">
						  <div ng-repeat="(key, row) in instructionsCtrl.clientCompanies.data" class="form-group">
			          <div class="as-checkable-container">
				          <input type="checkbox" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
			          <label for="achForm" class="control-label title">{{row.name}}</label>
		          </div>
				  </div>
				</div>
     	</div>
     	<!-- Documents -->
    	<div class="col-md-3">
		    <div style="height: 500px; overflow-y: scroll;" class="panel panel-default">
				  <div class="panel-heading">Documents</div>
				  <div class="panel-body">
				  	 	<div ng-repeat="(key, row) in instructionsCtrl.Documents" class="form-group">
			          <div class="as-checkable-container">
				          <input type="checkbox" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
			          <label for="achForm" class="control-label title">{{row.Document}}</label>
		          </div>
				  </div>
				</div>
     	</div>
     	<!-- States -->
    	<div class="col-md-3">
		    <div style="height: 500px; overflow-y: scroll;" class="panel panel-default">
				  <div class="panel-heading">States</div>
				  <div class="panel-body">
					  	<div ng-repeat="(key, row) in instructionsCtrl.states.data" class="form-group">
			          <div class="as-checkable-container">
				          <input type="checkbox" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
			          <label for="achForm" class="control-label title">{{row.title}}</label>
			        </div>
				  </div>
				</div>
     	</div>
     	<!-- Job Types -->
    	<div class="col-md-3">
		    <div style="height: 500px; overflow-y: scroll;" class="panel panel-default">
				  <div class="panel-heading">Job Types</div>
				  <div class="panel-body">
				    <div ng-repeat="(key, row) in instructionsCtrl.jobTypes" class="form-group">
			          <div class="as-checkable-container">
				          <input type="checkbox" class="form-control ng-valid ng-touched ng-dirty ng-valid-parse" checkable="">
			          </div>
			          <label for="achForm" class="control-label title">{{row.appraisalForm}}</label>
			        </div>
				  </div>
				</div>
     	</div>

        <!--Buttons-->
        <div class="divider col-12 ">
          <div class="form-group col-md-12">
            <div class="text-uppercase text-center">
              <as-button icon="apply" type="submit" class="green-theme">Submit</as-button>
              <as-button icon="cancel" data-dismiss="modal">Cancel</as-button>
            </div>
          </div>
        </div>
    </form>
  </div>
</modal>

</div>
