<div st-table="tableData" st-pipe="loadDataFromServer" class="col-lg-12 col-el-12 pad-null">
  <div class="dashboard-search">
    <form name="newFileForm" ng-attr-auto-clear="autoClear()" role="form" as-submit="saveNewRecordNumber()" >

      <div class="col-lg-8 col-sm-6 step-1 col-el-2" >
        <div class="pull-left" width="23" height="23"></div>
        <div class="form-group col-md-12 col-xs-12" show-errors>
          <span class="help-block"
                validator-message="required"
                placeholder="{'field': 'Invoice Label'}"></span>
          <input id="label" type="text" name="label" ng-model="recordNumber.label" class="form-control" placeholder="Invoice Label" required/>
        </div>
      </div>

      <div class="col-lg-8 col-sm-6 step-1 col-el-2" >
        <div class="pull-left"><a href="#"><img src="" width="23" height="23" alt=""></a></div>
        <div class="form-group col-md-12 col-xs-12" show-errors>
          <span class="help-block"
                ng-show="newFileForm.start_at.$error.required"
                validator-message="required"></span>

          <span class="help-block"
                 ng-show="newFileForm.start_at.$error.validatorNumber"
                 validator-message="number"
                 placeholder="{'field': 'Start At'}"></span>

          <input id="label" type="text" name="start_at" class="form-control" placeholder="Start at"
                 ng-model="recordNumber.startAt"
                 validator="number"
                 required/>
        </div>
      </div>

      <div class="col-lg-8 col-sm-6 step-1 col-el-1 pad-t-20" >
        <div class="pull-left"><a href="#"><img src="" width="23" height="23" alt=""></a></div>
        <label><input type="radio" ng-model="recordNumber.prefix" value="1" checkable> Prefix</label>
        <label><input type="radio" ng-model="recordNumber.prefix" value="0" checkable> Postfix</label>
      </div>

      <div class="col-lg-4 col-sm-6 step-2 col-xs-12 text-right col-el-1" >
        <as-button icon="plus" type="submit">Save</as-button>
      </div>
      <div class="form-group pull-right">
        <label>Per Page:</label>
        <select ng-model="perPage" class="form-control ng-pristine ng-valid ng-touched" ng-options="y.value as y.innerHTML for y in perPageOptions" data-as-select> </select>
      </div>
    </form>

    <div class="clearfix"></div>
  </div>
  <div class="table-responsive record-number-prefix">
    <table class="table dashboard-table">
      <thead>
      <tr>
        <th><div class="form-group">
          <label>&nbsp;</label>
          <div class=""> No.</div>
        </div></th>
        <th><div class="form-group">
          <label>&nbsp;</label>
          <div class=""> Label.</div>
        </div></th>
        <th><div class="form-group">
          <label>&nbsp;</label>
          <div class=""> Prefix/Postfix.</div>
        </div></th>
        <th><div class="form-group">
          <label>&nbsp;</label>
          <div class=""> Start At.</div>
        </div></th>
        <th><div class="form-group">
          <label >&nbsp;</label>
          <div class=""> Next Value.</div>
        </div></th>
        <th><div class="form-group">
          <label>&nbsp;</label>
          <div class=""> Created At.</div>
        </div></th>
      </tr>

      <tr>
        <th class="text-center"></th>
        <th class="text-center" st-sort="label"><img src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></th>
        <th class="text-center" st-sort="prefix"><img src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></th>
        <th class="text-center" st-sort="startAt"><img src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></th>
        <th class="text-center" st-sort="nextValue"><img src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></th>
        <th class="text-center" st-sort="createdAt"><img src="/assets/images/icons/arrows.svg" class="svg-small" alt=""></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="row in tableData">
        <td>{{row.no}}</td>
        <td>{{row.label}}</td>
        <td>{{row.prefix}}</td>
        <td>{{row.startAt}}</td>
        <td>{{row.nextValue}}</td>
        <td>{{row.createdAt | date:'yyyy-MM-dd HH:mm:ss a'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>&nbsp;</div>
    <div class="text-center" st-pagination="" st-items-by-page="perPage"
         st-template="/shared/components/smartTable/views/partials/smart-table-pagination-template.html"></div>
</div>
