<div ng-controller="AdminSettingsNotificationCtrl as notificationCtrl" id="edit-message">
<br>
  <div class="col-md-4"> 
    <form role="form" class="overlay-form" as-submit="notificationCtrl.saveNotification()">

      <div class="form-group col-md-12" show-errors>
        <label class="control-label title">Title</label>
        <span class="help-block"
              validator-message="required">
        </span>
        <input type="text"
               ng-model="notificationCtrl.notification.label"                  
               value=""
               name="titile"
               class="form-control"
               placeholder="Title"
               required/>
      </div>
      
      <div class="form-group" show-errors>
        <label class="control-label title">Message</label>
        <span class="help-block"
              validator-message="required">
        </span>
        <textarea ng-model="notificationCtrl.notification.message" 
                  class="form-control"
                  name="Message"
                  required>
        </textarea>
      </div>

       <!--Buttons-->
      <div class="divider col-12 ">
        <as-button ng-hide="notificationCtrl.notification.id" icon="apply" class="green-theme" type="submit">Add</as-button>
        <as-button ng-show="notificationCtrl.notification.id" icon="apply" class="green-theme" type="submit">Update</as-button>
        <as-button icon="cancel" click="notificationCtrl.resetForm()">Reset</as-button>
      </div>
    </form>
  </div> 

  <div class="col-md-8">
    <as-table totals="false" hide-page-numbers="true" table-id="predefined-message-table"
                ng-controller="AdminSettingsNotificationTableCtrl as tableCtrl" bold-columns="1,2,3"
                infinite-scroll="false" overflow-x="hidden" id="notifications">
    </as-table>
  </div>
</div>