<div ng-controller="AdminSettingsOptionsCtrl as optionsCtrl">

  <!-- First Column -->
  <div class="setting-option-page pull-left pad-null col-md-3 col-xs-12">
    <ul class="list-unstyled">
      <!-- Appraisaer Inspection/Due Date Limit -->
      <li>
        <h4 class="text-center text-uppercase">Appraisaer Inspection/Due Date Limit</h4>
      </li>
      <li>
        <!-- Set Appraisers Due date to subtract by -->
        <div class="form-group">
          <label for="dueDateSubstract" class="control-label title">Set Appraisers Due date to subtract by</label>
          <input type="text"
                 id="dueDateSubstract"
                 class="form-control"
                 ng-model="optionsCtrl.options.appraiserDateLimit.dueDateSubstract"
                 placeholder="0"/>
        </div>
      </li>
      <li>
        <!-- Inspection Date must be scheduled prior to the due date (based on appraisers due date) at least -->
        <div class="form-group">
          <label for="requiredDaysInspectionDate" class="control-label title">Inspection Date must be scheduled prior to the due date (based on appraisers due date) at least</label>
          <input type="text"
                 id="requiredDaysInspectionDate"
                 class="form-control col-sm-6"
                 ng-model="optionsCtrl.options.appraiserDateLimit.requiredDaysInspectionDate"
                 placeholder="0"/>
        </div>
      </li>
      <li>
        <!-- Completion Date must be set prior to the due date (based on appraisers due date) at least -->
        <div class="form-group">
          <label for="requiredDaysCompletionDate" class="control-label title">Completion Date must be set prior to the due date (based on appraisers due date) at least</label>
          <input type="text"
                 name="requiredDaysCompletionDate"
                 class="form-control col-sm-6"
                 ng-model="optionsCtrl.options.appraiserDateLimit.requiredDaysCompletionDate"
                 placeholder="0"/>
        </div>
      </li>
      <li>
        <!-- Prompt appraiser if Inspection Date or Estimated Completion Date is past Due Date -->
        <div class="form-group">
          <label for="promptPastDueDate" class="control-label title">Prompt appraiser if Inspection Date or Estimated Completion Date is past Due Date</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="promptPastDueDate"
                 ng-model="optionsCtrl.options.appraiserDateLimit.promptPastDueDate"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Documents -->
      <li>
        <h4 class="text-center text-uppercase">Documents</h4>
      </li>
      <li>
        <!-- Appraisal Documents -->
        <div class="form-group">
          <label for="appraisalDocument" class="control-label title">Appraisal Documents</label>
          <select as-select
                  class="form-control"
                  id="appraisalDocument"
                  ng-model="optionsCtrl.options.documents.appraisalDocument"
                  ng-options="id as option for (id, option) in optionsCtrl.appraisalDocumentsOptions">
          </select>
        </div>
      </li>
      <li>
        <!-- Additional Documents -->
        <div class="form-group">
          <label for="additionalDocument" class="control-label title">Additional Documents</label>
          <select as-select
                  class="form-control"
                  id="additionalDocument"
                  ng-model="optionsCtrl.options.documents.additionalDocument"
                  ng-options="id as option for (id, option) in optionsCtrl.additionalDocumentsOptions">
          </select>
        </div>
      </li>
      <li>
        <!-- Reports downloadable by appraiser -->
        <div class="form-group">
          <label for="reportDownloadable" class="control-label title">Reports downloadable by appraiser</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="reportDownloadable"
                 ng-model="optionsCtrl.options.documents.reportDownloadable"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Disallow Appraiser to upload Additional Documents until tech fee is paid -->
        <div class="form-group">
          <label for="disallowUpload" class="control-label title">Disallow Appraiser to upload Additional Documents until tech fee is paid</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="disallowUpload"
                 ng-model="optionsCtrl.options.documents.disallowUpload"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Bid Request -->
      <li>
        <h4 class="text-center text-uppercase">Bid Request</h4>
      </li>
      <li>
        <!-- Request for appraisal bid -->
        <div class="form-group">
          <label for="requestAppraisalBid" class="control-label title">Request for appraisal bid</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="requestAppraisalBid"
                 ng-model="optionsCtrl.options.requestAppraisalBid"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Request Rivisions -->
      <li>
        <h4 class="text-center text-uppercase">Request Rivisions</h4>
      </li>
      <li>
        <!-- Request for appraisal bid -->
        <div class="form-group">
          <label for="requestAppraisalBid" class="control-label title">Request for appraisal bid</label>
          <br>
          <a ng-click="optionsCtrl.openRevisionTypeModal()">click here to show popup</a>
        </div>

        <!-- Revision Type -->
        <modal visible="optionsCtrl.revisionTypeModal" size="large">
          <h4 class="text-uppercase text-center">Revision Type</h4>

          <form class="signup-form-2" ng-submit="optionsCtrl.addRevisionType(optionsCtrl.newRevisionType)">
            <div class="auth-divider col-3">

              <!-- Add New Type -->
              <div class="form-group">
                <h4>Add New Type</h4>
              </div>

              <div class="form-group">
                <label for="newRevisionType" class="control-label title"></label>
                <input type="text"
                       id="newRevisionType"
                       class="form-control"
                       ng-model="optionsCtrl.newRevisionType.revisionType"
                       placeholder="Reviewer Type"/>
              </div>

              <!-- Appraiser Fee Edit Behavior -->
              <div class="form-group" ng-init="optionsCtrl.newRevisionType.type = 1">
                <input type="radio"
                       class="form-control"
                       id="feeEditBehavior1"
                       ng-model="optionsCtrl.newRevisionType.type"
                       value="1"
                       checkable />
                <label for="feeEditBehavior1" class="control-label title">As Client Revision</label>
                <br>
                <input type="radio"
                       class="form-control"
                       id="feeEditBehavior0"
                       ng-model="optionsCtrl.newRevisionType.type"
                       value="0"
                       checkable />
                <label for="feeEditBehavior0" class="control-label title">As Reviewer Revision</label>
              </div>

              <div class="form-group text-right">
                <as-button icon="plus" type="submit">Add</as-button>
              </div>
            </div>
          </form>

          <div class="white-space"></div>

          <table class="table">
            <thead>
              <tr>
                <td>Reviewer Type</td>
                <td>As Client Revision</td>
                <td>As Reviewer Revision</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, revisionType) in optionsCtrl.revisionTypes">
                <td>
                  <span ng-hide="optionsCtrl.editRevisionType[key]">{{ revisionType.revisionType }}</span>
                  <div ng-show="optionsCtrl.editRevisionType[key]" class="form-group">
                    <input type="text"
                           class="form-control"
                           ng-model="revisionType.revisionType"
                           placeholder="Revision Type"/>
                  </div>
                </td>
                <td ng-init="revisionType.type = revisionType.asClientRevision ? 1 : 0 ">
                  <input ng-if="revisionType.id > 2"
                         type="radio"
                         class="form-control"
                         ng-model="revisionType.type"
                         value="1"
                         checkable />
                </td>
                <td>
                  <input ng-if="revisionType.id > 2"
                         type="radio"
                         class="form-control"
                         ng-model="revisionType.type"
                         value="0"
                         checkable />
                </td>
                <td>
                  <div ng-if="revisionType.id > 2">
                    <a ng-click="optionsCtrl.editRevisionType[key] = true" ng-hide="optionsCtrl.editRevisionType[key]">Edit</a>
                    <a ng-click="optionsCtrl.updateRevisionType(key, revisionType)" ng-show="optionsCtrl.editRevisionType[key]">Save</a>
                    |
                    <a confirm-click="optionsCtrl.deleteRevisionType(key, revisionType.id)">Delete</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </modal>
      </li>
      <li class="white-space"></li>

      <!-- Reconsideration Request -->
      <li>
        <h4 class="text-center text-uppercase">Reconsideration Request</h4>
      </li>
      <li>
        <!-- Reconsideration of value disclosure  -->
        <div class="form-group">
          <a ng-click="optionsCtrl.openReconsiderationModal()">Reconsideration of value disclosure</a>
        </div>

        <!-- Revision Type -->
        <modal visible="optionsCtrl.reconsiderationModal">
          <h4 class="text-uppercase text-center title">Reconsideration of value disclosure</h4>

          <div class="signup-form-2">
            <div class="auth-divider col-12">

            </div>
          </div>
        </modal>
      </li>
      <li class="white-space"></li>
      <li>
        <h4 class="text-center text-uppercase">Appraiser Terms and Conditions </h4>
      </li>
      <li>
        <!-- Default option for Terms and Conditions on Appraiser Login -->
        <div class="form-group">
          <label for="appraiserTAC" class="control-label title">Default option for Terms and Conditions on Appraiser Login</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="appraiserTAC"
                 ng-model="optionsCtrl.options.appraiserTAC"
                 checkable />
          <br>
          <a ng-show="optionsCtrl.options.appraiserTAC" ng-click="optionsCtrl.openAppraiserLoginTACModal()">Set Terms & Conditions</a>
        </div>

        <!-- Terms & Conditions -->
        <modal visible="optionsCtrl.appraiserLoginTACModal">
          <h4 class="text-uppercase text-center">Set Terms and Conditions on Appraisers Login</h4>

          <form class="signup-form-2 auth-divider col-12" ng-submit="optionsCtrl.saveAppraiserLoginTAC()" novalidate>
            <div class="form-group">
              <label for="appraiserLoginTAC" class="control-label title">Terms & Conditions</label>
              <textarea type="text"
                     id="appraiserLoginTAC"
                     class="form-control"
                     ng-model="optionsCtrl.appraiserLoginTAC"
                     placeholder="Terms & Conditions"
                     required>
              </textarea>
            </div>

            <div class="col-12 text-center wrap-footer">
              <as-button icon="apply" type="submit" class="green-theme">Save</as-button>
              <as-button click="optionsCtrl.setDueDateModal = false" icon="cancel" data-dismiss="modal">Cancel</as-button>
            </div>
          </form>
        </modal>
      </li>
      <li class="white-space"></li>

      <!-- Mercury Integration -->
      <li>
        <h4 class="text-center text-uppercase">Mercury Integration</h4>
      </li>
      <li>
        <!-- Map Mercury Job types for Mercury Integration -->
        <div class="form-group">
          <label for="requestAppraisalBid" class="control-label title">Map Mercury Job types for Mercury Integration</label><br>
          <a ng-click="optionsCtrl.openMapJobTypesModal()">Map Job Types</a>
        </div>

        <!-- Mercury Integration - Job type Mapping -->
        <modal visible="optionsCtrl.mapJobTypesModal">
          <h4 class="text-uppercase text-center">Mercury Integration - Job type Mapping</h4>

          <div class="auth-divider col-12">
            <div class="overlay-form">

              <table class="table">
                <thead>
                  <tr>
                    <td>Local Appraisal Form</td>
                    <td>Mapped Mercury Appraisal Form</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, jobType) in optionsCtrl.localJobTypes">
                    <td>{{ jobType.appraisalForm }}</td>
                    <td>
                      <select as-select
                              class="form-control"
                              ng-model="jobType.mercuryJobTypeId"
                              ng-change="mapMercuryJobType(jobType)"
                              ng-options="merJobType.id as merJobType.appraisalForm for merJobType in optionsCtrl.mercuryJobTypes">
                        <option value=''>- Unmapped -</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </modal>
      </li>
    </ul>
  </div>

  <!--Second Column -->
  <div class="setting-option-page pull-left pad-null col-md-3 col-xs-12">
    <ul class="list-unstyled">
      <li>
        <h4 class="text-center text-uppercase">Appraiser SignUp</h4>
      </li>
      <li>
        <!-- ACH Form -->
        <div class="form-group">
          <label for="achForm" class="control-label title">ACH Form</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="achForm"
                 ng-model="optionsCtrl.options.appraiserSignUp.achForm"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Appraiser Submitted Fees -->
        <div class="form-group">
          <label for="appraiserFee" class="control-label title">Appraiser Submitted Fees</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="appraiserFee"
                 ng-model="optionsCtrl.options.appraiserSignUp.appraiserFee"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Allow appraiser to modify Coverage area -->
        <div class="form-group">
          <label for="modifyCoverage" class="control-label title">Allow appraiser to modify Coverage area</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="modifyCoverage"
                 ng-model="optionsCtrl.options.appraiserSignUp.modifyCoverage"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Allow Appraiser to modify profile information -->
        <div class="form-group">
          <label for="modifyProfile" class="control-label title">Allow Appraiser to modify profile information</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="modifyProfile"
                 ng-model="optionsCtrl.options.appraiserSignUp.modifyProfile"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Require resume on appraiser registration -->
        <div class="form-group">
          <label for="requiereResume" class="control-label title">Require resume on appraiser registration</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="requiereResume"
                 ng-model="optionsCtrl.options.appraiserSignUp.requiereResume"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Lock appraisers ability to modify fees after registration -->
        <div class="form-group">
          <label for="lockFeeModifying" class="control-label title">Lock appraisers ability to modify fees after registration</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="lockFeeModifying"
                 ng-model="optionsCtrl.options.appraiserSignUp.lockFeeModifying"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Client sign up -->
        <div class="form-group">
          <label for="clientSignUp" class="control-label title">Client sign up</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="clientSignUp"
                 ng-model="optionsCtrl.options.appraiserSignUp.clientSignUp"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Appraiser sign up -->
        <div class="form-group">
          <label for="appraiserSignUp" class="control-label title">Appraiser sign up</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="appraiserSignUp"
                 ng-model="optionsCtrl.options.appraiserSignUp.appraiserSignUp"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Unpaid Orders -->
      <li>
        <h4 class="text-center text-uppercase">Unpaid Orders</h4>
      </li>
      <li>
        <!-- Orders that require payment -->
        <div class="form-group">
          <label for="unpaidOrders" class="control-label title">Orders that require payment</label>
          <select as-select
                  class="form-control"
                  id="unpaidOrders"
                  ng-model="optionsCtrl.options.unpaidOrders"
                  ng-options="id as option for (id, option) in optionsCtrl.unpaidOrdersOptions">
          </select>
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Updates -->
      <li>
        <h4 class="text-center text-uppercase">Updates</h4>
      </li>
      <li>
        <!-- Set Updates to automatically notify client/appraiser -->
        <div class="form-group">
          <label for="setUpdatesToNotify" class="control-label title">Set Updates to automatically notify client/appraiser</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="setUpdatesToNotify"
                 ng-model="optionsCtrl.options.setUpdatesToNotify"
                 checkable />
          <br>
          <a ng-show="optionsCtrl.options.setUpdatesToNotify" ng-click="optionsCtrl.openUpdatesModal()">Select Updates</a>
        </div>

        <!-- Select Updates -->
        <modal visible="optionsCtrl.updatesModal">
          <h4 class="text-uppercase text-center">Select Updates</h4>

          <table class="table">
            <thead>
              <tr>
                <td>Update</td>
                <td>Notify Client</td>
                <td>Do Not Notify Client</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, updatesItem) in optionsCtrl.updates">
                <td>{{ updatesItem.update }} </td>
                <td ng-init="updatesItem.notifyClient = updatesItem.notifyClient ? 1 : 0 ">
                  <input type="radio"
                         class="form-control"
                         ng-model="updatesItem.notifyClient"
                         value="1"
                         checkable
                         ng-change="updateUpdates(updatesItem.id, updatesItem)" />
                </td>
                <td>
                  <input type="radio"
                         class="form-control"
                         ng-model="updatesItem.notifyClient"
                         value="0"
                         checkable
                         ng-change="updateUpdates(updatesItem.id, updatesItem)" />
                </td>
              </tr>
            </tbody>
          </table>
        </modal>
      </li>
      <li class="white-space"></li>

      <!-- Payment Form -->
      <li>
        <h4 class="text-center text-uppercase">Payment Form</h4>
      </li>
      <li>
        <!-- Save payment form information from original order while Add Form -->
        <div class="form-group">
          <label for="savePaymentForm" class="control-label title">Save payment form information from original order while Add Form</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="savePaymentForm"
                 ng-model="optionsCtrl.options.savePaymentForm"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Set Terms & Conditions -->
        <div class="form-group">
          <label for="requestTermsAndConditions" class="control-label title">Client Payment Disclosure Terms and Conditions</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="requestTermsAndConditions"
                 ng-model="optionsCtrl.options.requestTermsAndConditions"
                 checkable />
          <br>
          <a ng-show="optionsCtrl.options.requestTermsAndConditions" ng-click="optionsCtrl.openTermsAndConditionsModal()">Set Terms & Conditions</a>
        </div>

        <!-- Terms & Conditions -->
        <modal visible="optionsCtrl.termsAndConditionsModal">
          <h4 class="text-uppercase text-center">Set Terms and Conditions on client payment disclaimer</h4>

          <form class="signup-form-2 auth-divider col-12" ng-submit="optionsCtrl.saveTermsAndConditions()" novalidate>
            <div class="form-group">
              <label for="termsAndConditions" class="control-label title">Terms & Conditions</label>
              <textarea type="text"
                     id="termsAndConditions"
                     class="form-control"
                     ng-model="optionsCtrl.termsAndConditions"
                     placeholder="Terms & Conditions"
                     required>
              </textarea>
            </div>

            <div class="col-12 text-center wrap-footer">
              <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
              <as-button click="optionsCtrl.setDueDateModal = false" data-dismiss="modal" icon="cancel">Cancel</as-button>
            </div>
          </form>
        </modal>
      </li>
      <li>
        <!-- Auto populate payment form with borrower's billing address -->
        <div class="form-group">
          <label for="populatePaymentForm" class="control-label title">Auto populate payment form with borrower's billing address</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="populatePaymentForm"
                 ng-model="optionsCtrl.options.populatePaymentForm"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Platinum Data Solutions Credentials -->
      <li>
        <h4 class="text-center text-uppercase">Platinum Data Solutions Credentials</h4>
      </li>
      <li class="pad-null marg-null setting-divider" style="">
        <ul class="list-unstyled">
          <li class="col-md-6">
            <!-- Username -->
            <div class="form-group">
              <label for="inputUsername" class="control-label">Username</label>
              <input type="text"
                     name="username"
                     id="inputUsername"
                     class="form-control"
                     ng-model="optionsCtrl.options.platinumSolutions.username"
                     placeholder="Username"/>
            </div>
          </li>
          <li class="col-md-6" >
            <!-- Password -->
            <div class="form-group">
              <label for="inputPassword" class="control-label">Password</label>
              <input type="password"
                     name="password"
                     id="inputPassword"
                     class="form-control"
                     ng-model="optionsCtrl.options.platinumSolutions.password"
                     placeholder="Password"/>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!--Third Column -->
  <div class="setting-option-page pull-left pad-null col-md-3 col-xs-12">
    <ul class="list-unstyled">
      <li>
        <h4 class="text-center text-uppercase">New Appraisal Form</h4>
      </li>
      <li>
        <div class="form-group">
          <!-- Due Date -->
          <div class="form-group">
            <label for="dueDate" class="control-label title">Due Date</label>
            <select as-select
                    class="form-control"
                    id="dueDate"
                    ng-model="optionsCtrl.options.newAppraisalForm.dueDate"
                    ng-options="id as option for (id, option) in optionsCtrl.dueDateOptions">
            </select>
          </div>
        </div>
      </li>
      <li>
        <!-- Set Days for Auto Fill Due Date on Each Job Type -->
        <div class="form-group">
          <label class="control-label title">Set Days for Auto Fill Due Date on Each Job Type</label><br>

          <input type="radio"
                 class="form-control"
                 id="lockDueDateReadOnly"
                 ng-model="optionsCtrl.options.newAppraisalForm.lockDueDate"
                 value="1"
                 checkable />
          <label for="lockDueDateReadOnly" class="control-label title">Read Only for Client</label>

          <br>
          <input type="radio"
                 class="form-control"
                 id="lockDueDateEditable"
                 ng-model="optionsCtrl.options.newAppraisalForm.lockDueDate"
                 value="0"
                 checkable />
          <label for="lockDueDateEditable" class="control-label title">Editable for Client</label>

          <br>
          <a ng-click="optionsCtrl.openDueDateModal()">Set Due Date on Appraisal Form</a>
        </div>

        <!-- Set due date by jobtypes modal -->
        <modal visible="optionsCtrl.setDueDateModal">
          <h4 class="text-uppercase text-center">Set Days for Auto Fill Due Date on Appraisal Form</h4>

          <div class="container-fluid">
            <form name="dueDateJobTypes" role="form" as-submit="optionsCtrl.updateDueDateJobTypes(optionsCtrl.jobTypesForDueDates)">

              <!-- JobTypes -->
              <table class="table">
                <tr>
                  <td>JobType</td>
                  <td>Days</td>
                </tr>
                <tr ng-repeat="(key, jobType) in optionsCtrl.jobTypesForDueDates">
                  <td>
                    <label for="jobType{{key}}" class="control-label">{{ jobType.appraisalForm }}</label>
                  </td>
                  <td>
                  <div class="form-group" show-errors>
                    <span class="help-block"
                          ng-show="dueDateJobTypes['jobType{{key}}'].$error.required"
                          validator-message="required"
                          placeholder="{'field': 'years licensed'}"></span>
                    <span class="help-block"
                          ng-show="dueDateJobTypes['jobType{{key}}'].$error.validatorAmount"
                          validator-message="amount"></span>
                    <input type="text"
                           id="jobType{{key}}"
                           name="jobType{{key}}"
                           ng-model="jobType.days"
                           class="form-control"
                           placeholder="0"
                           validator="amount"
                           required/>
                  </div>
                  </td>
                </tr>
              </table>

              <div class="col-12 text-center wrap-footer">
                <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
                <as-button click="optionsCtrl.setDueDateModal = false" data-dismiss="modal" icon="cancel">Cancel</as-button>
              </div>
            </form>
          </div>
        </modal>
      </li>
      <li>
        <!-- Inspection request notification -->
        <div class="form-group">
          <label for="requestNotification" class="control-label title">Inspection request notification</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="requestNotification"
                 ng-model="optionsCtrl.options.newAppraisalForm.requestNotification"
                 checkable />
          <br>
          <a ng-click="optionsCtrl.openAppraisalFormsModal()">Select appraisal forms</a>
        </div>

        <!-- Select appraisal forms -->
        <modal visible="optionsCtrl.appraisalFormsModal">
          <h4 class="text-uppercase text-center">Select Appraisal Forms</h4>

          <div class="auth-divider col-12">
            <div class="overlay-form">

              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <input type="checkbox"
                             class="form-control"
                             ng-change="optionsCtrl.selectAllJobTypes(optionsCtrl.allJobTypesSelected)"
                             ng-model="optionsCtrl.allJobTypesSelected"
                             checkable />
                    </td>
                    <td>Job Type</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, jobType) in optionsCtrl.appraisalForms">
                    <td>
                      <input type="checkbox"
                             class="form-control"
                             ng-model="jobType.val"
                             ng-change="optionsCtrl.selectJobType()"
                             checkable />
                    </td>
                    <td>{{ jobType.appraisalForm }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </modal>
      </li>
      <li>
        <!-- Display Loan Amount -->
        <div class="form-group">
          <label for="displayLoanAmount" class="control-label title">Display Loan Amount</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="displayLoanAmount"
                 ng-model="optionsCtrl.options.newAppraisalForm.displayLoanAmount"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Limit Loan# field to alphanumeric only -->
        <div class="form-group">
          <label for="limitLoanField" class="control-label title">Limit Loan# field to alphanumeric only</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="limitLoanField"
                 ng-model="optionsCtrl.options.limitLoanField"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Mass order import -->
        <div class="form-group">
          <label for="massOrderImport" class="control-label title">Mass order import</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="massOrderImport"
                 ng-model="optionsCtrl.options.massOrderImport"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Fannie Mae 3.2 import -->
        <div class="form-group">
          <label for="fannieMaeImport" class="control-label title">Fannie Mae 3.2 import</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="fannieMaeImport"
                 ng-model="optionsCtrl.options.fannieMaeImport"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Dashboard -->
      <li>
        <h4 class="text-center text-uppercase">Dashboard</h4>
      </li>
      <li>
        <!-- Display Admin Assigned Column on Dashboard -->
        <div class="form-group">
          <label for="adminAssignedCol" class="control-label title">Display Admin Assigned Column on Dashboard</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="adminAssignedCol"
                 ng-model="optionsCtrl.options.adminAssignedCol"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Display Admin and Rule profile filter -->
        <div class="form-group">
          <label for="adminProfileFilter" class="control-label title">Display Admin and Rule profile filter</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="adminProfileFilter"
                 ng-model="optionsCtrl.options.adminProfileFilter"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Job Type Pricing -->
        <div class="form-group">
          <label class="control-label title">Job Type Pricing</label><br>

          <input type="radio"
                 class="form-control"
                 id="jobTypePricingStandard"
                 ng-model="optionsCtrl.options.jobTypePricing"
                 value="0"
                 checkable />
          <label for="jobTypePricingStandard" class="control-label title">Standard</label>

          <input type="radio"
                 class="form-control"
                 id="jobTypePricingTiered"
                 ng-model="optionsCtrl.options.jobTypePricing"
                 value="1"
                 checkable />
          <label for="jobTypePricingTiered" class="control-label title">Tiered</label>
        </div>
      </li>
      <li>
        <!-- Set Due queue to display orders based on -->
        <div class="form-group">
          <label class="control-label title">Set Due queue to display orders based on</label><br>

          <input type="radio"
                 class="form-control"
                 id="dueQueueDd"
                 ng-model="optionsCtrl.options.dueQueue"
                 value="dd"
                 checkable />
          <label for="dueQueueDd" class="control-label title">Due Date</label>

          <input type="radio"
                 class="form-control"
                 id="dueQueueEcd"
                 ng-model="optionsCtrl.options.dueQueue"
                 value="ecd"
                 checkable />
          <label for="dueQueueEcd" class="control-label title">Estimated Completion Date</label>
        </div>
      </li>
      <li>
        <!-- Hide Estimated Completion Date from client view -->
        <div class="form-group">
          <label for="hideCompletionDate" class="control-label title">Hide Estimated Completion Date from client view</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="hideCompletionDate"
                 ng-model="optionsCtrl.options.hideCompletionDate"
                 checkable />
        </div>
      </li>
      <li class="white-space"></li>

      <!-- Order Details -->
      <li>
        <h4 class="text-center text-uppercase">Order Details</h4>
      </li>
      <li>
        <!-- Display Staff member assigned to order on Client View -->
        <div class="form-group">
          <label for="displayStaffMember" class="control-label title">Display Staff member assigned to order on Client View</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="displayStaffMember"
                 ng-model="optionsCtrl.options.displayStaffMember"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Display reviewer, supervisory and admin fees -->
        <div class="form-group">
          <label for="displayReviewer" class="control-label title">Display reviewer, supervisory and admin fees</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="displayReviewer"
                 ng-model="optionsCtrl.options.displayReviewer"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Hide Assigned Date from client view -->
        <div class="form-group">
          <label for="hideAssignment" class="control-label title">Hide Assigned Date from client view</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="hideAssignment"
                 ng-model="optionsCtrl.options.hideAssignment"
                 checkable />
        </div>
      </li>
    </ul>
  </div>

  <!-- Fourth Row-->
  <div class="setting-option-page pull-left pad-null col-md-3 col-xs-12">
    <ul class="list-unstyled">
      <li>
        <h4 class="text-center text-uppercase">Appraisal Assignment</h4>
      </li>
      <li>
        <!-- Display Max Order field to input the max amount of open orders -->
        <div class="form-group">
          <label for="maxOrderField" class="control-label title">Display Max Order field to input the max amount of open orders an appraiser is allowed to be assigned</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="maxOrderField"
                 ng-model="optionsCtrl.options.maxOrderField"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Set Default Appraiser Distance on Appraisal Assignment -->
        <div class="form-group">
          <label for="defaultAppraiserDistance" class="control-label title">Set Default Appraiser Distance on Appraisal Assignment</label><br>
          <input type="text"
                 name="defaultAppraiserDistance"
                 ng-model="optionsCtrl.options.defaultAppraiserDistance"
                 class="form-control col-sm-6"
                 placeholder="0"/>
        </div>
      </li>
      <li>
        <!-- Set Default Sort by option on Manual Appraisal Assignment -->
        <div class="form-group">
          <label class="control-label title">Set Default Sort by option on Manual Appraisal Assignment</label>
          <br>
          <a ng-click="optionsCtrl.openManualSortOrderModal()">Set Sorting Orders</a>
        </div>

        <!-- Select Updates -->
        <modal visible="optionsCtrl.manualSortOrderModal">
          <h4 class="text-uppercase text-center">Set Default Sort by option on Manual Appraisal Assignment</h4>

          <as-sortable ng-model="optionsCtrl.manualSortOrder" ng-change="optionsCtrl.updateManualSortOrder(optionsCtrl.manualSortOrder)"/>
        </modal>
      </li>
      <li>
        <!-- Set Default Sort by option on Auto Assign Appraisal Assignment -->
        <div class="form-group">
          <label class="control-label title">Set Default Sort by option on Auto Assign Appraisal Assignment</label>
          <br>
          <a ng-click="optionsCtrl.openAutoSortOrderModal()">Set Sorting Orders</a>
        </div>

        <!-- Default Sort by option on Auto Assign Appraisal Assignment Modal -->
        <modal visible="optionsCtrl.autoSortOrderModal">
          <h4 class="text-uppercase text-center">Set Default Sort by option on Auto Assign Appraisal Assignment</h4>

          <as-sortable ng-model="optionsCtrl.autoSortOrder" ng-change="optionsCtrl.autoManualSortOrder(optionsCtrl.autoSortOrder)"/>
        </modal>
      </li>
      <li>
        <!-- Appraiser Turn Time Rating -->
        <div class="form-group">
          <label class="control-label title">Appraiser Turn Time Rating</label><br>

          <input type="radio"
                 class="form-control"
                 id="turnTimeRatingAutomatic"
                 ng-model="optionsCtrl.options.appraisalAssignment.turnTimeRating"
                 value="1"
                 checkable />
          <label for="turnTimeRatingAutomatic" class="control-label title">Automatic</label>

          <input type="radio"
                 class="form-control"
                 id="turnTimeRatingManual"
                 ng-model="optionsCtrl.options.appraisalAssignment.turnTimeRating"
                 value="0"
                 checkable />
          <label for="turnTimeRatingManual" class="control-label title">Manual</label>

          <br>
          <a ng-show="optionsCtrl.options.appraisalAssignment.turnTimeRating === '1'" ng-click="optionsCtrl.openTurnTimeRatingModal()">Setting</a>
        </div>

        <!-- Turn Time Rating -->
        <modal visible="optionsCtrl.turnTimeRatingModal">
          <h4 class="text-uppercase text-center">Turn Time Rating</h4>

          <div class="signup-form-2">
            <div class="auth-divider col-12">

              <div class="form-group">
                <label class="control-label">5 stars = 1-{{optionsCtrl.turnTimeRatings.star5}} days turn time </label><br><br>
                <input type="text"
                       id="slider5"
                       ng-model="optionsCtrl.turnTimeRatings.star5"
                       ng-change="optionsCtrl.adjustTurnTimeRatings()"
                       slider
                       options="optionsCtrl.sliderOptions.star5"/>
              </div>

              <div class="form-group">
                <label class="control-label">4 stars = {{optionsCtrl.sliderOptions.star4.from}}-{{optionsCtrl.turnTimeRatings.star4}} days turn time </label><br><br>
                <input type="text"
                       id="slider4"
                       ng-model="optionsCtrl.turnTimeRatings.star4"
                       ng-change="optionsCtrl.adjustTurnTimeRatings()"
                       slider
                       options="optionsCtrl.sliderOptions.star4"/>
              </div>

              <div class="form-group">
                <label class="control-label">3 stars = {{optionsCtrl.sliderOptions.star3.from}}-{{optionsCtrl.turnTimeRatings.star3}} days turn time </label><br><br>
                <input type="text"
                       id="slider3"
                       ng-model="optionsCtrl.turnTimeRatings.star3"
                       ng-change="optionsCtrl.adjustTurnTimeRatings()"
                       slider
                       options="optionsCtrl.sliderOptions.star3"/>
              </div>

              <div class="form-group">
                <label class="control-label">2 stars = {{optionsCtrl.sliderOptions.star2.from}}-{{optionsCtrl.turnTimeRatings.star2}} days turn time </label><br><br>
                <input type="text"
                       id="slider2"
                       ng-model="optionsCtrl.turnTimeRatings.star2"
                       ng-change="optionsCtrl.adjustTurnTimeRatings()"
                       slider
                       options="optionsCtrl.sliderOptions.star2"/>
              </div>

              <div class="form-group">
                <label class="control-label">1 star = {{optionsCtrl.turnTimeRatings.star1}} or more days turn time </label>
              </div>
            </div>
          </div>
        </modal>
      </li>
      <li>
        <!-- Set Default Coverage on Appraisal Assignment -->
        <div class="form-group">
          <label for="defaultCoverage" class="control-label title">Set Default Coverage on Appraisal Assignment</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="defaultCoverage"
                 ng-model="optionsCtrl.options.defaultCoverage"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Attach Document In Assigned Email -->
        <div class="form-group">
          <label for="attachDocumentInEmail" class="control-label title">Attach Document In Assigned Email</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="attachDocumentInEmail"
                 ng-model="optionsCtrl.options.attachDocumentInEmail"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Set Default Sort by option on Manual Appraisal Assignment -->
        <div class="form-group">
          <label class="control-label title">Appraiser Fee Deduction</label>
          <br>
          <a ng-click="optionsCtrl.openDeductionFieldsModal()">Custom Deduction Options</a>
        </div>

        <!-- Appraiser Fee Deduction Fields -->
        <modal visible="optionsCtrl.deductionFieldsModal">
          <h4 class="text-uppercase text-center">Appraiser Fee Deduction Fields</h4>

          <form class="signup-form-2" as-submit="optionsCtrl.updateDeductionFields()">
            <div class="auth-divider col-12">
              <div class="form-group text-center">
                <as-button icon="plus" ng-click="optionsCtrl.addCustomRow()">Add Custom Row</as-button>
              </div>

              <div class="form-group" show-errors ng-repeat="(key, field) in optionsCtrl.deductionFields track by $index">
                <label for="customField{{key}}" class="control-label title">Custom Field</label><br>
                <div class="col-sm-8">
                  <input type="text"
                         name="customField{{key}}"
                         id="customField{{key}}"
                         class="form-control col-sm-8"
                         ng-model="optionsCtrl.deductionFields[$index]"
                         placeholder="value"
                         required />
                </div>

                <div class="col-sm-4 text-right">
                  <as-button click="optionsCtrl.deleteCustomField(key)" icon="close">Delete</as-button>
                </div>
              </div>

              <div class="col-12 text-center wrap-footer">
                <as-button icon="apply" class="green-theme" type="submit">Save</as-button>
                <as-button click="optionsCtrl.setDueDateModal = false" icon="cancel" data-dismiss="modal">Cancel</as-button>
              </div>
            </div>
          </form>
        </modal>
      </li>
      <li>
        <!-- Require License and E&O to be current before assigning -->
        <div class="form-group">
          <label for="requireLicense" class="control-label title">Require License and E&O to be current before assigning</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="requireLicense"
                 ng-model="optionsCtrl.options.requireLicense"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Set Notify Client to be checked by default -->
        <div class="form-group">
          <label for="notifyClient" class="control-label title">Set Notify Client to be checked by default</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="notifyClient"
                 ng-model="optionsCtrl.options.notifyClient"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Accepted with Conditions -->
        <div class="form-group">
          <label for="acceptedWithConditions" class="control-label title">Accepted with Conditions</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="acceptedWithConditions"
                 ng-model="optionsCtrl.options.acceptedWithConditions"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Show Client to Appraiser -->
        <div class="form-group">
          <label for="showClient" class="control-label title">Show Client to Appraiser</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="showClient"
                 ng-model="optionsCtrl.options.showClient"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Set Default Sort by option on Manual Appraisal Assignment -->
        <div class="form-group">
          <label class="control-label title">Appraiser Designation</label>
          <br>
          <a ng-click="optionsCtrl.openAppraiserDesignationModal()">click here to show popup</a>
        </div>

        <!-- Appraiser Designation -->
        <modal visible="optionsCtrl.appraiserDesignationModal">
          <h4 class="text-uppercase text-center">Appraiser Designation</h4>

          <form class="signup-form-2 auth-divider col-12" ng-submit="optionsCtrl.addVenor(optionsCtrl.newVendor)" novalidate>
            <div class="form-group" show-errors>
              <label for="newVendor" class="control-label title">Add New Vendor</label><br>
              <div class="col-sm-8">
                <input type="text"
                       id="newVendor"
                       name="newVendor"
                       class="form-control"
                       ng-model="optionsCtrl.newVendor.status"
                       placeholder="Vendor Status"
                       required />
              </div>

              <div class="col-sm-4 text-right">
                <as-button icon="plus" type="submit" class="green-theme">Add</as-button>
              </div>
            </div>
          </form>

          <div class="white-space"></div>

          <table class="table">
            <thead>
              <tr>
                <td>Vendor Status</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, vendorsItem) in optionsCtrl.vendors">
                <td>
                  <span ng-hide="optionsCtrl.editVendor[key]">{{ vendorsItem.status }}</span>
                  <div ng-show="optionsCtrl.editVendor[key]" class="form-group">
                    <input type="text"
                           class="form-control"
                           ng-model="vendorsItem.status"
                           placeholder="Vendor Status"/>
                  </div>
                </td>
                <td>
                  <a ng-click="optionsCtrl.editVendor[key] = true" ng-hide="optionsCtrl.editVendor[key]">Edit</a>
                  <a ng-click="optionsCtrl.updateVendor(key, vendorsItem)" ng-show="optionsCtrl.editVendor[key]">Save</a>
                  |
                  <a confirm-click="optionsCtrl.deleteVendor(key, vendorsItem.id)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </modal>
      </li>
      <li>
        <!-- Show 'Vendor Status' Column on Appraisal Assignment -->
        <div class="form-group">
          <label for="showVendoStatus" class="control-label title">Show 'Vendor Status' Column on Appraisal Assignment</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="showVendoStatus"
                 ng-model="optionsCtrl.options.showVendoStatus"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Allow Client users to select the AMC/Vendor -->
        <div class="form-group">
          <label for="allowSelectAMC" class="control-label title">Allow Client users to select the AMC/Vendor</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="allowSelectAMC"
                 ng-model="optionsCtrl.options.allowSelectAMC"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Default behavior when both management fee and percentage of client fee are enabled -->
        <div class="form-group">
          <label class="control-label title">Default behavior when both management fee and percentage of client fee are enabled</label><br>

          <input type="radio"
                 class="form-control"
                 id="enabledManagmentBehaviorUse"
                 ng-model="optionsCtrl.options.enabledManagmentBehavior"
                 value="1"
                 checkable />
          <label for="enabledManagmentBehaviorUse" class="control-label title">Use management fee and inputted appraiser fee</label>

          <br>
          <input type="radio"
                 class="form-control"
                 id="enabledManagmentBehaviorDontUse"
                 ng-model="optionsCtrl.options.enabledManagmentBehavior"
                 value="0"
                 checkable />
          <label for="enabledManagmentBehaviorDontUse" class="control-label title">Do not use management fee and calculate appraiser fee by percentage</label>
        </div>
      </li>
      <li>
        <!-- Appraiser Fee Edit Behavior -->
        <div class="form-group">
          <label class="control-label title">Appraiser Fee Edit Behavior</label><br>

          <input type="radio"
                 class="form-control"
                 id="feeEditBehavior1"
                 ng-model="optionsCtrl.options.feeEditBehavior"
                 value="1"
                 checkable />
          <label for="feeEditBehavior1" class="control-label title">Always maintain the same appraisal form fees when appraiser fee is edited by admin</label>

          <br>
          <input type="radio"
                 class="form-control"
                 id="feeEditBehavior0"
                 ng-model="optionsCtrl.options.feeEditBehavior"
                 value="0"
                 checkable />
          <label for="feeEditBehavior0" class="control-label title">Maintain separate appraisal form fees once appraiser fee is edited by admin</label>
        </div>
      </li>
      <li>
        <!-- Set Default Jobtype on Appraisal Assignment -->
        <div class="form-group">
          <label for="defaultJobType" class="control-label title">Set Default Jobtype on Appraisal Assignment</label><br>
          <input type="checkbox"
                 class="form-control"
                 id="defaultJobType"
                 ng-model="optionsCtrl.options.defaultJobType"
                 checkable />
        </div>
      </li>
      <li>
        <!-- Require appraiser ratings prior to order completion -->
        <div class="form-group">
          <label for="requireRatings" class="control-label title">Require appraiser ratings prior to order completion</label>
          <br>
          <input type="checkbox"
                 class="form-control"
                 id="requireRatings"
                 ng-model="optionsCtrl.options.requireRatings"
                 checkable />
        </div>
      </li>
    </ul>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>

</div>
