<div ng-controller="AdminSettingsPredefinedMessagesCtrl as PredefinedMessagesCtrl">
<br>
  <div class="col-md-4">
    <form name="addInstruction" role="form" class="overlay-form" as-submit="PredefinedMessagesCtrl.saveMessage()">
       <input type="hidden" ng-model="PredefinedMessagesCtrl.currentMessage.id" name="id" />
      <div class="form-group col-md-12" show-errors>
          <label  class="control-label title">Title</label>
          <span class="help-block"
                validator-message="required">
          </span>

          <input type="text"
                 ng-model="PredefinedMessagesCtrl.currentMessage.Title"
                 value=""
                 name="titile"
                 class="form-control"
                 placeholder="Title"
                 required/>
      </div>
      <!-- Message Type -->
      <div class="form-group">
        <label class="control-label title">Message Type</label>
        <select as-select
                class="form-control"
                ng-model="PredefinedMessagesCtrl.currentMessage.type"
                ng-options="id as option for (id, option) in PredefinedMessagesCtrl.MessageTypes">
        </select>
      </div>

       <div class="form-group">
        <label class="control-label title">Message</label>
        <textarea ng-model="PredefinedMessagesCtrl.currentMessage.Message"></textarea>
      </div>

       <!--Buttons-->
        <div class="divider col-12 ">
          <div class="form-group col-md-12">
            <div class="text-uppercase text-center">
              <as-button icon="apply" class="green-theme" type="submit">Submit</as-button>
              <as-button click="PredefinedMessagesCtrl.resetForm()" type="reset" icon="close">Reset</as-button>
            </div>
          </div>
        </div>

    </form>
  </div>
  <div class="col-md-8">

      <div class="table-responsive record-number-prefix">
        <table class="table dashboard-table">
          <thead>
            <tr>
              <th>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div class=""> S.No</div>
                </div>
              </th>
              <th>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div class=""> Title</div>
                </div>
              </th>
              <th>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div class=""> Predefined Message</div>
                </div>
              </th>
              <th>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div class=""> Action.</div>
                </div>
              </th>

            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="(key, row) in PredefinedMessagesCtrl.PredefinedMessages">
              <td>{{row.id}}</td>
              <td>{{row.Title}}</td>
              <td>{{row.Message}}</td>
              <td>
                <a ng-click="PredefinedMessagesCtrl.editMessage(row)">Edit</a>
                |
                 <a confirm-click="PredefinedMessagesCtrl.deleteMessage(key, row)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive record-number-prefix">
          <table class="table dashboard-table">
            <thead>
              <tr>
                <th>
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <div class=""> S.No</div>
                  </div>
                </th>
                <th>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div class=""> Title</div>
                </div>
              </th>
                <th>
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <div class=""> Predefined Message for Revision</div>
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <div class=""> Action.</div>
                  </div>
                </th>

              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="(key, row) in PredefinedMessagesCtrl.PredefinedMessagesForRevision">
                <td>{{row.id}}</td>
                <td>{{row.Title}}</td>
                <td>{{row.Message}}</td>
                <td>
                  <a ng-click="PredefinedMessagesCtrl.editMessage(row)">Edit</a>
                  |
                  <a confirm-click="PredefinedMessagesCtrl.deleteMessage(key, row)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

  </div>

</div>
