<div  ng-controller="AdminSettingsQCReviewCtrl as qcReviewCtrl" id="main-review">
  <div ng-if='status == "preview"' class="col-md-12">

    <br>
    <div class="col-md-12">
      <a href="#">Manual Checklist</a> | <a href="#">Automated Checklist</a>
    </div>

    <br>
    <form class="overlay-form" name="addReview" role="form">
      <!--Col 12-->
      <div class="form-group col-md-12" show-errors>
        <label for="new-window-legal">&nbsp;</label>
        <span class="help-block"
              validator-message="required">
        </span>
        <input type="text"
               ng-model="qcReviewCtrl.newReview"
               class="form-control"
               placeholder="QC Review Name:"
               name="newReview"
               value=""
               required
               />
      </div>

      <!--Buttons-->
      <div class="text-left">
        <as-button icon="apply" type="submit" class="green-theme" click="qcReviewCtrl.addNew()">Save</as-button>
        <as-button icon="cancel" type="reset" click="qcReviewCtrl.reset()">Reset</as-button>
      </div>
    </form>
    <modal-new submit-button="qcReviewCtrl.deleteReview()"  modal-id="confirm-delete"
       modal-title="Are you sure you want to delete QC Review?">
    </modal-new>
  </div>

  <div id="reviewEdit" ng-if="status == 'edit'" class="col-md-12">
    <br>
    <div class="col-md-12">
      <form class="overlay-form" >
         <!--Col 12-->
         <div class="form-group col-md-12">
          <label for="new-window-legal">UPDATE THE FORM NAME:</label>
          <input type="text"
                 ng-model="qcReviewCtrl.editLabel"
                 class="form-control"
                 id="reviewName"
                 />
        </div>
        <!--Buttons-->
        <div class="text-left">
          <as-button icon="apply" type="submit" class="green-theme" click="qcReviewCtrl.changeReviewName()">Save</as-button>
          <as-button icon="cancel" type="reset">Reset</as-button>
        </div>
      </form>

      <br>
      <div class="form-group col-md-2">
        <label for="new-window-property-types">Add element:</label>
        <span class="help-block"
              validator-message="required">
        </span>
        <select as-select
                type="text"
                class="form-control"
                ng-model="qcReviewCtrl.addElement"
                ng-options='id as option for (id, option) in elementOptions'>
          <option  value="">- Choose -</option>
        </select>

        <br>
        <div class="text-left">
          <as-button click="qcReviewCtrl.generete()" icon="apply" type="button" class="green-theme">Generate</as-button>
        </div>
      </div>

      <div class="right-side text-left">
          <as-button click="qcReviewCtrl.closeEdit()" icon="close" type="button">Close</as-button>
      </div>

      <div class="col-md-12">
        <as-table totals="false" hide-page-numbers="true" table-id="qc-review-edit-table"
                  ng-controller="AdminSettingsQcReviewEditTableCtrl as tableCtrl" bold-columns="1,2,3"
                  infinite-scroll="false" overflow-x="hidden" id="reviewTables"></as-table>
      </div>
    </div>

    <modal-new submit-button="qcReviewCtrl.addEditTable()"  modal-id="genereted" modal-title="Add {{qcReviewCtrl.modalLabel}} Element">
      <div class="col-md-12">
         <label>Enter {{qcReviewCtrl.modalLabel}} label:</label>
         <div  ng-if="qcReviewCtrl.oneLine" class="form-group col-md-12">
              <label for="new-window-legal"></label>
             <input type='text' class="form-control" ng-model="qcReviewCtrl.reviewLabel" required/>
         </div>
         <textarea ng-if="!qcReviewCtrl.oneLine" class="form-control" ng-model="qcReviewCtrl.reviewLabel" required></textarea>
         <center ng-if='qcReviewCtrl.addChoises'>

          <br>
          <div ng-repeat="(key,value) in qcReviewCtrl.addChoises" class="col-md-11">

            <div class="form-group col-md-12">
              <label for="new-window-legal"></label>
              <input type="text"
                     id="choise{{key}}"
                     ng-model="qcReviewCtrl.addChoises[key].title"
                     class="form-control"
                     required
                     />
              <a ng-if="key > 0" ng-click="qcReviewCtrl.removeChoise(key)">delete</a>
            </div>
          </div>
          <br>
          <as-button type="button" click="qcReviewCtrl.addChoise()" icon="plus">+ Add More Elements</as-button>
          <br>
        </center>
      </div>
    </modal-new>
  </div>

  <div class="col-md-12" ng-if="status == 'preview'">
    <as-table totals="false" hide-page-numbers="true" table-id="qc-review-table"
              ng-controller="AdminSettingsQCReviewCtrl as tableCtrl" bold-columns="1,2,3"
              infinite-scroll="false" overflow-x="hidden" id="reviewsTable">
    </as-table>
  </div>
</div>
