<div ng-controller="AdminSettingsRemindersCtrl as remindersCtrl">

  <form class="signup-form-2" enctype="multipart/form-data" role="form" as-submit="save()" name="frm">

    <!-- Appraisal Due Reminder -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Appraisal Due Reminder</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hours Before Date</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[1].hours"
                ng-change="remindersCtrl.updateReminder(1)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[1].date"
                ng-change="remindersCtrl.updateReminder(1)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.dateOptions1'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Cutoff time</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[1].cutOffTime"
                ng-change="remindersCtrl.updateReminder(1)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.cutOffTimeOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[1].active" ng-click="remindersCtrl.toogleRemider(1, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[1].active" ng-click="remindersCtrl.toogleRemider(1, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Unaccepted Reminder-->
    <div class="auth-divider col-2">
      <div class="form-group">
        <h4>Unaccepted Reminder</h4>
      </div>

      <!-- Hours after assigned date -->
      <div class="form-group">
        <label class="control-label">Hours after assigned date</label>
        <input type="text"
               class="form-control"
               ng-model="remindersCtrl.reminders[2].hours"
               ng-change="remindersCtrl.updateReminder(2)"
               placeholder="Hours after assigned date"
               required/>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[2].active" ng-click="remindersCtrl.toogleRemider(2, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[2].active" ng-click="remindersCtrl.toogleRemider(2, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Update Status Reminder -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Update Status Reminder</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hour After Last Update Time</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[3].hours"
                ng-change="remindersCtrl.updateReminder(3)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <br>
        <a ng-click="remindersCtrl.openAppraisalFormsModal(3)">Select Appraisal Forms</a>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[3].active" ng-click="remindersCtrl.toogleRemider(3, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[3].active" ng-click="remindersCtrl.toogleRemider(3, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Appraisal Late -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Appraisal Late</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hours After Date</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[4].hours"
                ng-change="remindersCtrl.updateReminder(4)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[4].date"
                ng-change="remindersCtrl.updateReminder(4)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.dateOptions1'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Cutoff time</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[4].cutOffTime"
                ng-change="remindersCtrl.updateReminder(4)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.cutOffTimeOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[4].active" ng-click="remindersCtrl.toogleRemider(4, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[4].active" ng-click="remindersCtrl.toogleRemider(4, false)">Deactivate</a>
      </div>    </div>

    <div class="clearfix"></div>


    <!-- Revisions Reminder -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Revisions Reminder</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hours After Revision Sent Date</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[5].hours"
                ng-change="remindersCtrl.updateReminder(5)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[5].active" ng-click="remindersCtrl.toogleRemider(5, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[5].active" ng-click="remindersCtrl.toogleRemider(5, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Invoice Payment Reminder -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Invoice Payment Reminder</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hours After Invoice Date</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[7].hours"
                ng-change="remindersCtrl.updateReminder(7)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[7].active" ng-click="remindersCtrl.toogleRemider(7, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[7].active" ng-click="remindersCtrl.toogleRemider(7, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Clear UCDP Tab -->
    <div class="auth-divider col-2">
      <div class="form-group">
        <h4>Clear UCDP Tab</h4>
      </div>

      <!-- Days after submission date -->
      <div class="form-group">
        <label class="control-label">Days after submission date</label>
        <input type="text"
               class="form-control"
               ng-model="remindersCtrl.reminders[9].days"
               ng-change="remindersCtrl.updateReminder(9)"
               placeholder="Days after submission date"
               required/>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[9].active" ng-click="remindersCtrl.toogleRemider(9, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[9].active" ng-click="remindersCtrl.toogleRemider(9, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Inspection Reminder -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Inspection Reminder</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hours After Date</label>
        <select as-select
                type="text"
                name="certified_state"
                id="inputCertifiedState"
                class="form-control"
                ng-model="remindersCtrl.reminders[11].hours"
                ng-change="remindersCtrl.updateReminder(11)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label"></label>
        <select as-select
                type="text"
                name="certified_state"
                id="inputCertifiedState"
                class="form-control"
                ng-model="remindersCtrl.reminders[11].date"
                ng-change="remindersCtrl.updateReminder(11)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.dateOptions2'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <br>
        <a ng-click="remindersCtrl.openAppraisalFormsModal(11)">Select Appraisal Forms</a>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[11].active" ng-click="remindersCtrl.toogleRemider(11, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[11].active" ng-click="remindersCtrl.toogleRemider(11, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Update Status Reminder (Daily) -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Update Status Reminder (Daily)</h4>
      </div>

      <div class="form-group">
        <label class="control-label">Hours After Last Update Time</label>
        <select as-select
                type="text"
                class="form-control"
                ng-model="remindersCtrl.reminders[12].hours"
                ng-change="remindersCtrl.updateReminder(12)"
                ng-options='id as option for (id, option) in remindersCtrl.availableOptions.hourOptions'>
          <option value="">- Choose -</option>
        </select>
      </div>

      <div class="form-group">
        <br>
        <a ng-click="remindersCtrl.openReminderScheduleModal()">Set Schedule for Reminders</a>
      </div>

      <div class="form-group">
        <br>
        <a ng-click="remindersCtrl.openAppraisalFormsModal(12)">Select Appraisal Forms</a>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[12].active" ng-click="remindersCtrl.toogleRemider(12, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[12].active" ng-click="remindersCtrl.toogleRemider(12, false)">Deactivate</a>
      </div>
    </div>

    <div class="clearfix"></div>


    <!-- Auto Update Inspection Complete -->
    <div class="auth-divider col-2">

      <div class="form-group">
        <h4>Auto Update Inspection Complete</h4>
      </div>

      <div class="form-group">
        <br>
        <a ng-click="remindersCtrl.openAppraisalFormsModal(13)">Select Appraisal Forms</a>
      </div>

      <!-- Notify Client -->
      <div class="form-group">
        <label for="notifyClient" class="control-label title">Notify Client</label><br>
        <input type="checkbox"
               class="form-control"
               id="notifyClient"
               ng-model="remindersCtrl.reminders[13].notifyClient"
               ng-change="remindersCtrl.updateReminder(13)"
               checkable />
      </div>

      <div class="form-group">
        <label class="control-label"></label>
      </div>

      <div class="form-group">
        <br>
        <a ng-hide="remindersCtrl.reminders[13].active" ng-click="remindersCtrl.toogleRemider(13, true)">Activate</a>
        <a ng-show="remindersCtrl.reminders[13].active" ng-click="remindersCtrl.toogleRemider(13, false)">Deactivate</a>
      </div>
    </div>

  </form>

  <!-- Select appraisal forms -->
  <modal visible="remindersCtrl.appraisalFormsModal">
    <h4 class="text-uppercase text-center">Select Appraisal Forms</h4>
    
    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table">
          <thead>
            <tr>
              <td>
                <input type="checkbox"
                       class="form-control"
                       ng-change="remindersCtrl.selectAllJobTypes(remindersCtrl.selectedReminder, remindersCtrl.allJobTypesSelected)"
                       ng-model="remindersCtrl.allJobTypesSelected"
                       checkable />
              </td>
              <td>Job Type</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, jobType) in remindersCtrl.appraisalForms">
              <td>
                <input type="checkbox"
                       class="form-control"
                       ng-model="jobType.val"
                       ng-change="remindersCtrl.selectJobType(remindersCtrl.selectedReminder)"
                       checkable />
              </td>
              <td>{{ jobType.appraisalForm }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>

  <!-- Modal window to set schedule for reminders -->
  <modal visible="remindersCtrl.reminderScheduleModal">
    <h4 class="text-uppercase text-center">Set Schedule for reminder</h4>
    
    <div class="auth-divider col-12">
      <div class="overlay-form">

        <table class="table">
          <thead>
            <tr>
              <td>
                <input type="checkbox"
                       class="form-control"
                       ng-change="remindersCtrl.selectAllSchedulerHours(remindersCtrl.allSchedulerHoursSelected)"
                       ng-model="remindersCtrl.allSchedulerHoursSelected"
                       checkable />
              </td>
              <td>Hour</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, hour) in remindersCtrl.schedulerHours">
              <td>
                <input type="checkbox"
                       class="form-control"
                       ng-model="hour.val"
                       ng-change="remindersCtrl.selectSchedulerHour()"
                       checkable />
              </td>
              <td>{{ hour.label }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </modal>
</div>