<div ng-controller="AdminSettingsUCDPCtrl as UCDPCtrl">

   <form name="addInstruction" role="form" class="overlay-form" as-submit="UCDPCtrl.updateUserData()">
   		<div class="col-md-4">
     		<div class="form-group col-md-12" show-errors>
            <label for="new-window-legal">&nbsp;</label>
            <span class="help-block"
                  validator-message="required">
            </span>
            <input type="text"
                   ng-model="UCDPCtrl.userData.username"
                   value=""
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   required/>
        </div>
        <div class="form-group col-md-12" show-errors>
            <label for="new-window-legal">&nbsp;</label>
            <span class="help-block"
                  validator-message="required">
            </span>
            <input type="text"
                   ng-model="UCDPCtrl.userData.password"
                   value=""
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   required/>
        </div>
       	 <!--Buttons-->
          <div class="text-uppercase text-center">
            <as-button icon="apply" class="green-theme" type="submit">Submit</as-button>
     		 </div>
      </div>
  </form>
</div>
