<modal-new modal-id="staff-permission"
           submit-button="staffPermissionCtrl.submitStaffPermissions()"
           modal-title="Set Report Permission"
           modal-class="notification-window"
           modal-width="70%">
  <table class="table dashboard-table">
    <thead>
      <tr class="text-center">
        <th class="text-center">
          <input type="checkbox"
                 class="form-control"
                 ng-model="staffPermissionCtrl.selectAllStaffs"
                 ng-change="staffPermissionCtrl.toggleAllStaffs()"
                 checkable />
        </th>

        <th class="text-center">
          <label>Sr #</label>
        </th>

        <th class="text-center">
          <label>Name</label>
        </th>
      </tr>
    </thead>

    <tr class="text-center">
      <th class="text-center"></th>
      <th class="text-center">
        <a href="#">
          <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
        </a>
      </th>
      <th class="text-center">
        <a href="#">
          <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
        </a>
      </th>
    </tr>

    <tr ng-repeat="staff in staffPermissionCtrl.staffPermissionTableData track by $index">
      <td class="text-center">
        <input type="checkbox"
               class="form-control"
               ng-checked="staffPermissionCtrl.staffCheckboxCheckedChanged(staff.id)"
               ng-click="staffPermissionCtrl.toggleSelection(staff.id)"
               checkable />
      </td>
      <td class="text-center">
        {{$index + 1}}
      </td>
      <td class="text-left">
        {{staff.name}}
      </td>
    </tr>

  </table>
</modal-new>