<div>
    <div class="col-el-12 col-ml-12 pad-null">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                <!--Sidebar Form-->
                <form enctype="multipart/form-data" role="form">
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1" ng-if="tableCtrl.safeData.grouping === 'receivable'">
                                <label for="fileNumber">File Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.fileNumber" id="fileNumber" value=""/>
                            </div>
                            <div class="form-group col-md-1" ng-if="tableCtrl.safeData.grouping === 'receivable'">
                                <label for="client">Client</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.client" id="client"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1" ng-if="tableCtrl.safeData.grouping === 'receivable'">
                                <label for="clientUser">Client User</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.clientUser" id="clientUser"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1" ng-if="tableCtrl.safeData.grouping === 'payable'">
                                <label for="checkNumber">Check Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.invoiceNumber" id="checkNumber"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1" ng-if="tableCtrl.safeData.grouping === 'payable'">
                                <label for="appraiser">Appraiser</label>
                                <input type="text" class="form-control" ng-model="tableCtrl.searchModels.appraiser" id="appraiser" value="" />
                            </div>
                            <div class="form-group col-md-1" ng-if="tableCtrl.safeData.grouping === 'payable'">
                                <label for="appraiserCompany">Appraiser Company</label>
                                <select class="selectpicker form-control" id="appraiserCompany"
                                        ng-model="tableCtrl.searchModels.appraiserCompany"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraiserCompany'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateFrom">From (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateFrom"
                                       ng-model="tableCtrl.searchModels.dateFrom"
                                       id="dateFrom"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateTo">To (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateTo"
                                       ng-model="tableCtrl.searchModels.dateTo"
                                       id="dateTo"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div ng-include="'/components/admin/accounting/directives/partials/search-buttons.html'" include-replace></div>
                        </div>
                    </div>
                </form>
                <!--END-->
            </div>
        </div>
        <!--Grouping-->
        <div class="col-el-12 col-ml-12 pad-null">
            <div class="dashboard-sidebar" >
                <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                    <!--Sidebar Form-->
                    <form enctype="multipart/form-data" role="form">
                        <div class="row divider">
                            <br>
                            <div class="col-md-12 col-xs-10">
                                <div class="form-group col-md-2">
                                    <label for="transactionSummaryGrouping">Transactions</label>
                                    <select class="selectpicker form-control" id="transactionSummaryGrouping"
                                            ng-model="tableCtrl.safeData.grouping"
                                            ng-options='option.id as option.title for option in tableCtrl.displayData.groupingOptions'
                                            as-select>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--END-->
                </div>
            </div>
        </div>
        <div class="dashboard-search admin-accounting-search">
            <filter-all></filter-all>
            <!--Function buttons-->
            <div class="col-sm-7 step-2 text-right" >
                    <as-button click="tableCtrl.exportData()" icon="download">Export</as-button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-el-12 pad-null">
    <!--Define table, as well as additional, non-data columns-->
    <div id="table-wrapper"><as-table></as-table></div>
</div>
