<div ng-controller="AppraisalMainCtrl as mainCtrl" appraisal-preview-window-size="">

  <div ng-if="mainCtrl.previewMode" ng-include="'/components/appraisal/views/previewHeader.html'"></div>

  <div class="fixed-position"
       ng-class="{'desktop-record-preview-window': mainCtrl.previewMode}">

    <form class="with-border" ng-if="mainCtrl.previewMode">
      <div class="divider clearfix"></div>
      <div class="order-info-menu">
        <h3>Manage this file</h3>
        <button class="btn btn-default btn-order-menu">Admins</button>
        <button class="btn btn-default btn-order-menu">Complete</button>
        <button class="btn btn-default btn-order-menu">Clone</button>
        <button class="btn btn-default btn-order-menu">Prototype (Off)</button>
        <button class="btn btn-default btn-order-menu">Add Appraisal Form</button>
        <button class="btn btn-default btn-order-menu">Print</button>
        <button class="btn btn-default btn-order-menu">Edit</button>
        <button class="btn btn-default btn-order-menu">Assign</button>
        <button class="btn btn-default btn-order-menu">Assign EMC</button>
        <button class="btn btn-default btn-order-menu">Set Reminder</button>
        <button class="btn btn-default btn-order-menu">Check Duplicates</button>
        <button class="btn btn-default btn-order-menu">Cancel</button>
      </div>
    </form>

    <div appraisal-masonry="" id="masonry">

      <div ng-show="mainCtrl.displayTabs['order-details']"
           ng-include="'/components/appraisal/views/partials/orderDetails.html'"
           ng-class="{'masonrybox-one': !mainCtrl.previewMode}">

      </div>

      <div ng-show="mainCtrl.displayTabs['updates']"
           ng-include="'/components/appraisal/views/partials/updates.html'"
           ng-class="{'masonrybox-two': !mainCtrl.previewMode}">

      </div>

      <div ng-show="mainCtrl.displayTabs['documents']"
           ng-include="'/components/appraisal/views/partials/documents.html'"
           ng-class="{'masonrybox-one': !mainCtrl.previewMode}">

      </div>

      <div ng-show="mainCtrl.displayTabs['email-office']"
           ng-include="'/components/appraisal/views/partials/emailOffice.html'"
           ng-class="{'masonrybox-two': !mainCtrl.previewMode}">

      </div>

      <div ng-show="mainCtrl.displayTabs['notification-log']"
           ng-include="'/components/appraisal/views/partials/notificationLog.html'"
           ng-class="{'masonrybox-two': !mainCtrl.previewMode}">

      </div>

      <div ng-show="mainCtrl.displayTabs['qc-review']"
           ng-include="'/components/appraisal/views/partials/qcReview.html'"
           ng-class="{'masonrybox-two': !mainCtrl.previewMode}">

      </div>

      <div ng-show="mainCtrl.displayTabs['request-revision']"
           ng-include="'/components/appraisal/views/partials/requestRevision.html'"
           ng-class="{'masonrybox-two': !mainCtrl.previewMode}">

      </div>

    </div>
  </div>
</div>
