<div class="fixed-header">
  <div class="top-area">
    <div class="col-md-1" ng-click="baseCtrl.selectAppraisal('')">
      <img ng-src="/assets/images/icons/decline.svg" alt="" class="pull-right">
    </div>
    <div class="col-md-5 col-xs-12 head">
      <div><span>File Number:</span> {{mainCtrl.appraisal.file}}</div>
    </div>
    <div class="col-md-6 col-xs-12 text-right pad-null marg-null">
      <as-button icon="apply" class="green-theme" type="submit" ui-sref="main.appraisal({appraisalId: baseCtrl.selectedAppraisal})">Record Details</as-button>
      <as-button icon="settings"></as-button>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="order-info-tabs tab-pane active">
      <div class="menu-box-outer">
        <ul class="list-unstyled appraisal-preview-tabs">
          <li ng-class="{active: baseCtrl.activePreviewTab === 'order-details'}" ng-click="baseCtrl.changePreviewTab('order-details')">
            <a href="#">
              <div>Order Details</div>
            </a>
          </li>
          <li ng-class="{active: baseCtrl.activePreviewTab === 'updates'}" ng-click="baseCtrl.changePreviewTab('updates')">
            <a href="#">
              <div>Updates</div>
            </a>
          </li>
          <li ng-class="{active: baseCtrl.activePreviewTab === 'documents'}" ng-click="baseCtrl.changePreviewTab('documents')">
            <a href="#">
              <div>Documents</div>
            </a>
          </li>
          <li ng-class="{active: baseCtrl.activePreviewTab === 'email-office'}" ng-click="baseCtrl.changePreviewTab('email-office')">
            <a href="#">
              <div>Email Office</div>
            </a>
          </li>
          <li ng-class="{active: baseCtrl.activePreviewTab === 'notification-log'}" ng-click="baseCtrl.changePreviewTab('notification-log')">
            <a href="#">
              <div>Notification Log</div>
            </a>
          </li>
          <li ng-class="{active: baseCtrl.activePreviewTab === 'qc-review'}" ng-click="baseCtrl.changePreviewTab('qc-review')">
            <a href="#">
              <div>QC Review</div>
            </a>
          </li>
          <li ng-class="{active: baseCtrl.activePreviewTab === 'request-revision'}" ng-click="baseCtrl.changePreviewTab('request-revision')">
            <a href="#">
              <div>Request Revisions</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
