<!-- Select Job Type -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffSetCommissionBranchCtrl.addCommissionModal()" icon="apply" >Add Commission Branch</as-button>
</div>
<modal-new modal-id="set-commission-branch-modal" modal-title="Set Commission By Branch" >
  <h4 class="text-uppercase text-center">Select Commission for all selected company branches</h4>

  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffSetCommissionBranchCtrl.setCommission()" bold-columns="2" table-id="set-commission-branch"
                ng-controller="AdminStaffSetCommissionBranchTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-heading="true" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
