<!--TODO-->
<div class="report-page">
  <div class="report-page-body">
    <div class="report-page">
      <div class="report-page-header report-page-bb">
      </div>

      <div class="report-page-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="s in statistics">
            <span class="badge">{{s.value}}</span>
            {{s.content}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="report-page-footer"></div>
</div>