<!--Table Started-->
<div class="col-lg-12 col-el-8 col-ml-7 dashboard-left-area">
    <!--Dashboard Search Section-->
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-4 col-sm-4 step-1 col-el-4 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="adminUsersCtrl.filterAll">
            </div>
        </div>
        <!--Function buttons-->
        <div class="col-lg-8 col-sm-8 step-1 col-el-8 text-right">
            <as-button icon="user" click="appraiserCtrl.sendLoginConfirm()"
                       ng-show="appraiserCtrl.displayData.details.id">Send
                Login
            </as-button>
            <as-button click="appraiserCtrl.toggleActive()" ng-show="appraiserCtrl.displayData.details.id">
                {{appraiserCtrl.activeButtonText()}}
            </as-button>
            <!--@todo Not currently in backend
            @link https://github.com/ascope/manuals/issues/30-->
            <as-button ng-show="appraiserCtrl.displayData.details.id" icon="upload" ng-if="appraiserCtrl.displayData.details._type !== 'manager'">
                Quickbooks Sync {{appraiserCtrl.displayData.details.qbSync.enabled ? 'On' : 'Off'}}
            </as-button>
            <as-button click="appraiserCtrl.newCompanyModal()" icon="company">New Company</as-button>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Search results table-->
    <as-table totals="false" hide-page-numbers="true" table-id="admin-users-appraiser-table"
              ng-controller="AdminUsersAppraiserTableCtrl as tableCtrl" bold-columns="1,2,3" infinite-scroll="false"
              overflow-x="hidden"></as-table>
</div>

<!--Details-->
<admin-users-details type="{{appraiserCtrl.displayData.details._type}}" ctrl="appraiserCtrl"
                     sidebar="enableSidebar"></admin-users-details>
<!--Appraiser additional details-->
<admin-users-appraiser-additional-details></admin-users-appraiser-additional-details>
<!--Company additional details-->
<admin-users-appraiser-company-additional-details></admin-users-appraiser-company-additional-details    >
<!--Update appraiser failure-->
<info-modal modal-id="update-appraiser-failure" modal-title="Failed to update appraiser details" button-text="Cancel">
</info-modal>
<!--Send login confirmation-->
<modal-new modal-id="send-login-confirm" submit-button="appraiserCtrl.sendLogin()" modal-title="Send login credentials?">
</modal-new>
<!--Send login failure-->
<info-modal modal-id="send-login-failure" modal-title="Failed to send login credentials" button-text="Cancel">
</info-modal>
<!--Send login success-->
<info-modal modal-id="send-login-success" modal-title="Login credentials sent" button-text="Cancel">
</info-modal>
<!--Approved list failure-->
<info-modal modal-id="approved-list-failure" modal-title="Failed to load approved/dnu list data" button-text="Cancel">
</info-modal>
<!--Approved/DNU lists-->
<div id="appraiser-approved-dnu"></div>
<!--Statistics-->
<div id="appraiser-statistics"></div>
<!--Appraiser ratings summary, conditionally compiled-->
<div id="admin-users-rating"></div>
<!--Certification details-->
<div id="admin-users-certifications"></div>
<!--Reports-->
<div id="admin-users-reports"></div>
<!--New company modal-->
<div id="appraiser-new-company"></div>
<!--w9-->
<div id="appraiser-w9"></div>