<div class="col-lg-3 col-sm-6 step-1 col-el-5 text-right" >
    <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
    <div class="col-md-12 col-xs-12">
        <input type="text" placeholder="Search within the current result set" ng-model="tableCtrl.filterAll">
    </div>
</div>
