<!--Grouping-->
<div class="col-el-12 col-ml-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
            <!--Sidebar Form-->
            <form enctype="multipart/form-data" role="form">
                <div class="row divider">
                    <br>
                    <div class="col-md-12 col-xs-10">
                        <div class="form-group col-md-1">
                            <label for="groupBy">Group By</label>
                            <select class="selectpicker form-control" id="groupBy"
                                    ng-model="tableCtrl.groupBy"
                                    ng-options='option.value as option.value for option in tableCtrl.selects.groupBy'
                                    as-select>
                            </select>
                        </div>
                        <ng-transclude></ng-transclude>
                    </div>
                </div>
            </form>
            <!--END-->
        </div>
    </div>
</div>