<!--Import Checks modal-->
<modal-new submit-button="tableCtrl.importChecks()" modal-id="import-checks-modal" modal-title="Import Checks">
    <!--File upload area-->
    <div class="divider col-12 ">
        <div class="form-group col-md-12">
            <div class="innner-box">
                <h4 class="text-center">Drop or click here to upload a CSV file</h4>
                <input type="file"
                       name="file"
                       ng-file-select
                       ng-model="tableCtrl.importCheckCsv"
                       ng-change="tableCtrl.uploadCsv(tableCtrl.importCheckCsv)"
                       class="modal-file-upload">
            </div>
        </div>
    </div>
    <div class="divider col-12 clearfix">
        <div class="form-group col-md-12">
            <h5 class="text-uppercase">Required columns:</h5>
            <ol>
                <li>File number</li>
                <li>Check number</li>
                <li>Check date</li>
                <li>Amount</li>
            </ol>
        </div>
    </div>
</modal-new>
<info-modal modal-id="import-checks-successful" modal-title="Successfully imported checks"></info-modal>
<info-modal modal-id="import-checks-failure" modal-title="Failed to import checks"></info-modal>