<modal-new submit-button="tableCtrl.markPaid()" disabled="tableCtrl.paySingleDisabled()" modal-id="pay-single-modal"
           modal-title="Mark as Paid">
    <form enctype="multipart/form-data" role="form" name="tableCtrl.paySingleForm">
        <!-- Amount (hidden in appraiser unpaid view) -->
        <div class="form-group col-md-12" ng-if="hide !== 'amount'" show-errors>
            <span class="help-block" validator-message="decimal" placeholder="{field: 'Amount'}"></span>
            <label for="pay-single-amount">Amount</label>
            <input type="text" class="form-control" name="pay-single-amount"
                   ng-model="tableCtrl.displayData.paySingle.amount"
                   id="pay-single-amount"
                   validator="number:'decimal'"
                   placeholder="100.00"
                   required/>
        </div>
        <div class="divider col-9">
            <div class="form-group col-md-6" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="pay-single-check-number">Check Number</label>
                <input type="text" id="pay-single-check-number"
                       ng-model="tableCtrl.displayData.paySingle.number"
                       name="pay-single-check-number"
                       class="form-control"
                       required/>
            </div>
        </div>
        <div class="form-group col-md-6" show-errors>
            <span class="help-block" validator-message="date" placeholder="{field: 'Date'}"></span>
            <label for="pay-single-date">Date</label>
            <input type="text" class="form-control" name="pay-single-date"
                   ng-model="tableCtrl.displayData.paySingle.date"
                   id="pay-single-date"
                   validator="date"
                   placeholder="Date"
                   datetimepicker
                   required/>
        </div>
    </form>
</modal-new>
