<modal-new submit-button="tableCtrl.payMulti()" modal-id="pay-multi-modal" modal-title="Pay Multi"
           disabled="tableCtrl.payMultiDisabled()">
    <form enctype="multipart/form-data" role="form" name="tableCtrl.payMultiForm">
        <div class="clearfix">
            <div class="divider col-12">
                <div class="col-md-12">
                    <h3>Amount Due: {{tableCtrl.displayData.payMulti.amountDue | currency}}</h3>
                </div>
            </div>
            <!--<div class="divider col-9">-->
            <div class="form-group col-md-6" show-errors>
                <label for="pay-multi-check-number">Check Number</label>
                <input type="text" id="pay-multi-check-number"
                       validator="min:1"
                       ng-model="tableCtrl.displayData.payMulti.number"
                       name="pay-multi-check-number"
                       class="form-control"
                       required />
            </div>
            <!--</div>-->
            <div class="form-group col-md-6" show-errors>
                <label for="pay-multi-date">Date</label>
                <input type="text" class="form-control" name="pay-multi-date"
                       ng-model="tableCtrl.displayData.payMulti.date"
                       id="pay-multi-date"
                       validator="date"
                       placeholder="Date"
                       datetimepicker
                       required />
            </div>
        </div>
    </form>
</modal-new>
