<div class="col-md-2 pull-right as-button-pad-top">
    <div class="text-left">
        <as-button class="green-theme" icon="search" click="tableCtrl.search()">Search</as-button>
        <as-button click="tableCtrl.clear()" icon="cancel">Clear</as-button>
    </div>
</div>
