<div class="appraisal-menu dashboard-menu">
    <div class="dashboard-menu tab-pane" id="admin_accounting_tabs" role="tabpanel">
        <ul class="list-unstyled marg-null">
            <li ng-class="adminAccountingTabsCtrl.tabClass(tab)" ng-repeat="tab in adminAccountingTabsCtrl.tabs track by $index">
                <a href="accounting/{{tab.tab}}/{{tab.page}}">
                    <h3>{{tab.value}}</h3>
                    <div>{{tab.name}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>
