<div ng-hide="token_validated || invalid_token">
  <i class="fa fa-spinner fa-spin"></i> Validating password reset request, please wait...
</div>

<div class="alert alert-danger" role="alert" ng-show="invalid_token">
  The provided reset token is no longer valid. Would you like to <a ui-sref="auth.reset-password">request a new token</a>?
</div>

<div ng-show="token_validated && !password_changed">

  <h3 class="text-uppercase">Get Back Your Account Details</h3>

  <form name="frm" class="signin-form" role="form" ng-submit="reset(credentials)" novalidate>

    <div class="auth-divider col-12">
      <div class="form-group" ng-class="{'has-error': frm.email.$dirty && frm.email.$invalid}">
        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Your email" ng-model="credentials.email" required autofocus>
        <span class="help-block" ng-show="frm.email.$dirty && frm.email.$error.required">The email field is required.</span>
      </div>
    </div>

    <div class="form-group" show-errors>
      <label for="inputPassword">New Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" ng-model="credentials.password" placeholder="New Password" validator='password' required>
      <span class="help-block"
            ng-show="frm.password.$error.required"
            validator-message="required"
            placeholder="{'field': 'new password'}"></span>
      <span class="help-block"
            ng-show="frm.password.$error.validatorPassword"
            validator-message="password"></span>
    </div>

    <div class="form-group" ng-class="{'has-error': frm.password_confirmation.$dirty && frm.password_confirmation.$invalid}" show-errors>
      <label for="inputPasswordConfirmation">New Password Confirmation</label>
      <span class="help-block"
            ng-show="frm.password_confirmation.$error.required"
            validator-message="required"
            placeholder="{'field': 'password'}"></span>
      <span class="help-block"
            ng-show="frm.password_confirmation.$error.validatorCompareTo"
            validator-message="compareTo"
            placeholder="{'field': 'password'}"></span>
      <span class="help-block"
            ng-show="frm.password_confirmation.$error.validatorPassword"
            validator-message="password"></span>

      <input type="password" name="password_confirmation" id="inputPasswordConfirmation" class="form-control" ng-model="credentials.password_confirmation" placeholder="New Password Confirmation"
             validator="compareTo:credentials.password|password" required>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="col-lg-12 text-center">
      <as-button icon="apply" class="green-theme" disabled="processing || frm.$invalid">
        <span ng-hide="processing">Set new password</span>
        <span ng-show="processing"><i class="fa fa-spinner fa-spin"></i> Processing request...</span>
      </as-button>
    </div>

  </form>

</div>

<div ng-show="password_changed">
  Your new password has been set. You may now <a ui-sref="auth.sign-in">sign in</a> using your new credentials.
</div>
