<div class="authentication-form-header">
  <span>Get Back Your Account Details</span>
</div>

<form name="frm" class="reset-password-form form" as-submit="request(email)" ng-hide="emailDispatched">

  <div class="alert alert-danger" role="alert" ng-show="invalid_credentials">
      Invalid credentials. Please try again.
  </div>

  <div form-group="email" class="last" show-errors>
    <span validation-control></span>
    <label control-label>Email</label>
    <input type="email" name="email"
           form-control
           ng-model="email"
           placeholder="Your email"
           required>
  </div>

  <div class="authentication-submit-panel">

    <span class="authentication-submit-left-section">
      <div>Remembered your password?</div>
      <a ui-sref="auth.sign-in">
        <strong>SIGN IN</strong>
      </a>
    </span>

    <span class="authentication-submit-center-section">
      <as-button icon="apply" class="green-theme" type="submit" disabled="sending || frm.$invalid">
        <span ng-hide="sending">Submit</span>
        <span ng-show="sending">Sending email...</span>
      </as-button>
    </span>

    <span class="authentication-submit-right-section">

    </span>

  </div>

</form>


<div ng-show="emailDispatched">
  An message has been dispatched to your email with the password reset instructions.
</div>
