<div>
    <div class="col-el-12 col-ml-12 pad-null">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12 col-sm-10  col-xs-12">
                <!--Sidebar Form-->
                <form enctype="multipart/form-data" role="form">
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1">
                                <label for="borrowerName">Name</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.borrowerName" id="borrowerName"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" ng-model="tableCtrl.searchModels.address"
                                       id="address" value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="fileNumber">File Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.fileNumber" id="fileNumber" value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="invoiceNumber">Invoice Number</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.invoiceNumber" id="invoiceNumber"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="client">Client</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.client" id="client"
                                       value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="clientBranch">Client Branch</label>
                                <select class="selectpicker form-control" id="clientBranch"
                                        ng-model="tableCtrl.searchModels.clientBranch"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.clientBranch'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraiser">Appraiser</label>
                                <input type="text" class="form-control"
                                       ng-model="tableCtrl.searchModels.appraiser" id="appraiser" value=""/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraiserCompany">Appraiser Company</label>
                                <select class="selectpicker form-control" id="appraiserCompany"
                                        ng-model="tableCtrl.searchModels.appraiserCompany"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraiserCompany'
                                        as-select>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-md-12 col-xs-10">
                            <div class="form-group col-md-1">
                                <label for="paymentStatus">Payment Status</label>
                                <select class="selectpicker form-control" id="paymentStatus"
                                        ng-model="tableCtrl.searchModels.paymentStatus"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.paymentStatus'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="appraisalStatus">Appraisal Status</label>
                                <select class="selectpicker form-control" id="appraisalStatus"
                                        ng-model="tableCtrl.searchModels.appraisalStatus"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.appraisalStatus'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="state">State</label>
                                <select class="selectpicker form-control" id="state"
                                        ng-model="tableCtrl.searchModels.state"
                                        ng-options='option.code as option.name for option in tableCtrl.selects.state'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="days">Days (Ordered Date)</label>
                                <select class="selectpicker form-control" id="days"
                                        ng-model="tableCtrl.searchModels.days"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.days'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="month">Month (Ordered Date)</label>
                                <select class="selectpicker form-control" id="month"
                                        ng-model="tableCtrl.searchModels.month"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.month'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="year">Year (Ordered Date)</label>
                                <select class="selectpicker form-control" id="year"
                                        ng-model="tableCtrl.searchModels.year"
                                        ng-options='option.value as option.value for option in tableCtrl.selects.year'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateFrom">From (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateFrom"
                                       ng-model="tableCtrl.searchModels.dateFrom"
                                       id="dateFrom"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="dateTo">To (Ordered Date)</label>
                                <input type="text" class="form-control" name="dateTo"
                                       ng-model="tableCtrl.searchModels.dateTo"
                                       id="dateTo"
                                       validator="date"
                                       placeholder="Due Date"
                                       datetimepicker/>
                            </div>
                            <div ng-include="'/components/admin/accounting/directives/partials/search-buttons.html'" include-replace></div>
                        </div>
                    </div>
                </form>
                <!--END-->
            </div>
        </div>
        <!--Grouping-->
        <group-by></group-by>
        <div class="dashboard-search admin-accounting-search">
            <filter-all></filter-all>
            <!--Function buttons-->
            <div class="col-sm-7 step-2 text-right" >
                  <as-button click="tableCtrl.importChecksConfirm()" icon="upload">Import Checks</as-button>
                  <as-button click="tableCtrl.exportData()" icon="download">Export</as-button>
                  <as-button click="tableCtrl.generateInvoice()" icon="file">Generate Invoice</as-button>
                  <as-button click="tableCtrl.showPayMultiModal()" icon="money">Pay Multi</as-button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-el-12 pad-null">
    <!--Define table, as well as additional, non-data columns-->
    <as-table infinite-scroll="false"></as-table>
</div>

<!--Import Checks modal-->
<import-checks></import-checks>
<!--Generate invoice modal-->
<modal-new submit-button="tableCtrl.submitInvoice()" modal-id="generate-invoice-modal"
           modal-title="Generate Invoice">
    <div class="divider col-12 clearfix">
        <div class="form-group col-md-12" show-errors>
            <h5 class="text-uppercase">Add Description</h5>
            <span class="help-block"
              validator-message="required">
            </span>
            <textarea cols="50" rows="3" placeholder="Description"
                  ng-model="tableCtrl.displayData.generateInvoice.description"
                  validator="min:1"
                  name="invoice_description"
                  class="form-control"
                  required>
            </textarea>
        </div>
    </div>
    <!--If a subset of appraisals have already been invoiced, alert the user-->
    <div class="divider col-12 clearfix" ng-if="tableCtrl.displayData.generateInvoice.alreadyInvoiced.length">
        <div class="form-group col-md-12">
            <h5 class="text-uppercase">Invoices already generated for the following appraisals:</h5>
            <ol>
                <li ng-repeat="invoice in tableCtrl.displayData.generateInvoice.alreadyInvoiced track by $index">
                    Appraisal {{invoice}}
                </li>
            </ol>
        </div>
    </div>
</modal-new>
<!--Pay multi modal-->
<pay-multi></pay-multi>
<!--Pay single modal-->
<mark-paid></mark-paid>
<!--Info modals-->
<info-modal modal-id="select-records" modal-title="Please select one or more records"></info-modal>
<info-modal modal-id="all-have-invoices" modal-title="All selected appraisals already have invoices"></info-modal>
<info-modal modal-id="invoices-successful" modal-title="Invoices created successfully"></info-modal>
<info-modal modal-id="invoices-failure" modal-title="Invoices failed to create"></info-modal>
<info-modal modal-id="export-data-error" modal-title="Failed to export data"></info-modal>
<info-modal modal-id="pay-multi-successful" modal-title="Successfully paid appraisals"></info-modal>
<info-modal modal-id="pay-multi-failure" modal-title="Failed to pay appraisals"></info-modal>
<info-modal modal-id="pay-single-successful" modal-title="Appraisal successfully paid"></info-modal>
<info-modal modal-id="pay-single-failure" modal-title="Failed to pay appraisal"></info-modal>
