<!-- Select Job Type -->
<!--<div class="text-left|text-center|text-right">
  <as-button click="adminStaffSetFeesByBranchCtrl.addFeesBranchModal()" icon="apply" >Add Fees By Branch</as-button>

</div>-->
<p>
  <admin-staff-set-commission-branch></admin-staff-set-commission-branch>
  <admin-staff-recalc-commission-branch></admin-staff-recalc-commission-branch>
</p>

<modal-new modal-id="set-fees-branch-modal" modal-title="Set fees by Branch" >
  <div class="col-md-12 overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffSetFeesByBranchCtrl.setFees()" bold-columns="2" table-id="set-fees-branch"
                ng-controller="AdminStaffSetFeesByBranchTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden">
      </as-table>
  </div>
</modal-new>
