<div ng-controller="OrdersBaseCtrl as baseCtrl" orders-resize-directive="">
    <div class="dashboard-menu tab-pane orders-menu"
         role="tabpanel">

        <ul class="list-unstyled marg-null">
            <li class="col-xs-1"
                ng-repeat="tab in baseCtrl.tabs"
                ng-class="{active: baseCtrl.activeTab === tab.id}"
                ng-click="baseCtrl.changeTab(tab.id)">

                <a href="#">
                    <h3>{{::tab.label}}</h3>
                    <div>{{tab.counter}}</div>
                </a>

            </li>
        </ul>

    </div>
    <div id="dashboardLeftArea" class="dashboard-left-area">

        <div ng-controller="OrdersSearchCtrl as searchCtrl">
            <div class="dashboard-search">
                <div class="col-lg-6 col-sm-4 step-1 col-ml-5">
                    <div class="pull-left"><a href="#">
                        <img ng-src="/assets/images/icons/as-button/btn-search.svg" width="" height="" alt=""></a>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <input ng-model="searchCtrl.filters.all" type="text" placeholder="Search for any kind of details">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-8 step-2 col-xs-12 text-right col-ml-7">
                    <as-button icon="plus" class="green-theme" type="submit">New Appraisal</as-button>
                    <as-button icon="download"></as-button>
                    <as-button icon="settings"></as-button>
                </div>
                <div class="clearfix"></div>
            </div>

            <table class="table dashboard-table"
                   orders-table-row-constant-height
                   orders-table-data="searchCtrl.tableData">
                <thead>
                <tr>
                    <th ng-repeat="column in searchCtrl.tableColumns"
                        lr-drag-data="tableCtrl.tableColumns"
                        lr-drag-src="headers"
                        lr-drop-target="headers"
                        lr-drop-success="reorderColumns(e, item, collection)">

                        <div class="form-group">
                            <label id="label">{{::column.header.label}}</label>

                            <orders-form-fields field-info="column.header">
                            </orders-form-fields>
                        </div>

                    </th>
                </tr>
                <tr>
                    <th class="text-center"
                        ng-repeat="column in searchCtrl.tableColumns"
                        ng-class="{active: searchCtrl.activeSort === column.sort}"
                        ng-click="searchCtrl.updateSort(column.sort)">

                        <a href="#" ng-show="column.sort">
                            <img ng-src="/assets/images/icons/arrows.svg" class="svg-small" alt="" />
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                  <tr orders-table-row columns="searchCtrl.tableColumns"
                      ng-click="baseCtrl.selectAppraisal(appraisal.id)"
                      ng-class="{active: baseCtrl.selectedAppraisal === appraisal.id}"
                      ng-repeat="appraisal in searchCtrl.tableData.appraisals">
                  </tr>
                </tbody>
            </table>

            <shared-pagination pagination-meta="searchCtrl.tableData.pagination"
                               change-page="searchCtrl.changePage(newPage)">
            </shared-pagination>

            <shared-confirm-dialog modal-id="row-action-confirmation">
                <div ng-include="'/components/orders/views/partials/message-actions.html'"></div>
            </shared-confirm-dialog>
        </div>
    </div>

    <div id="dashboardRightArea"
         class="preview-screen col-el-4 col-ml-5 pad-null">

        <div class="dashboard-sidebar">
            <div class="page-wrapper col-md-12 col-sm-10 col-xs-12 no-top-border">

                <div ng-include="'/components/appraisal/views/base.html'"></div>

            </div>
        </div>

    </div>
</div>
<!--
<div ng-controller="OrdersBaseCtrl as baseCtrl" orders-resize-directive="">


</div>
-->
