<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Appraisal Forms</h4>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <div class="form-group col-md-12">
                    <as-table totals="false" hide-page-numbers="true" table-id="appraisal-forms-table"
                              bold-columns="1,2,3" infinite-scroll="false" overflow-x="hidden"></as-table>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Update failure-->
<info-modal modal-id="update-form-failure" modal-title="Failed to update data" button-text="OK">
</info-modal>