<!-- Select Company -->
<div class="text-left|text-center|text-right">
  <as-button click="adminStaffSalesAssignmentCtrl.addAssignmentModal()" icon="apply">Assignment</as-button>
</div>
<info-modal modal-id="staff-add-assignment" submit-button="adminStaffSalesAssignmentCtrl.addAssignment()"
            modal-title="Add Assign" class="staff-modal assign" modal-width="100%">

  <h4 class="text-uppercase text-center">Assign as Sales Person</h4>
  <div class="auth-divider col-12">

    <div class="overlay-form">

      <div class="col-12 header-btn">
        <as-button icon="settings" click="adminStaffSalesAssignmentCtrl.toggleCompanies()">Hide or Remove Companies
        </as-button>
      </div>
      <div class="col-12" ng-show="adminStaffSalesAssignmentCtrl.showCompanies">

        <div class="col-md-4">
          <select class="profileList form-control" id="allCompanies1"
                  ng-model="adminStaffSalesAssignmentCtrl.displayData.details.company.id"
                  ng-options='option.id as option.name for option in adminStaffSalesAssignmentCtrl.displayData.companies'
                  multiple>
          </select>
        </div>

        <div class="col-md-4 middle">
          <a href="">
            <as-button icon="new">Add</as-button>
          </a>
          <a href="">
            <as-button icon="close">Remove</as-button>
          </a>
        </div>

        <div class="col-md-4">
          <select class="profileList form-control" id="selectedCompanies"
                  ng-model="adminStaffSalesAssignmentCtrl.displayData.details.company.id"
                  ng-options='option.id as option.name for option in adminStaffSalesAssignmentCtrl.displayData.companies'
                  multiple>
          </select>
        </div>
      </div>
      <div class="col-12">
        <!-- staff recalc commission testing -->
        <div class="col-md-12 col-xs-12 as-button-pad-top">
          <!-- staff set commission testing -->
          <div class="col-md-2">
            <admin-staff-set-commission></admin-staff-set-commission>
          </div>
          <div class="col-md-2">
            <admin-staff-recalc-commission></admin-staff-recalc-commission>
          </div>
          <div class="col-md-2">
            <admin-staff-set-fees-by-branch></admin-staff-set-fees-by-branch>
           </div>
          <div class="col-md-2">
            <admin-staff-set-fees-by-broker></admin-staff-set-fees-by-broker>
          </div>

        </div>
        <!--companies for sales person-->
        <div class="col-md-12 col-xs-12 as-button-pad-top">
          <as-table totals="false" hide-page-numbers="true" bold-columns="2" table-id="staff-assignment-companies-table"
                    ng-controller="AdminStaffSalesAssignmentTableCtrl as tableCtrl" infinite-scroll="false"
                    overflow-x="hidden">
          </as-table>
        </div>
      </div>

    </div>
  </div>
</info-modal>


