<!--Dashboard For XS EL ML Sidebar-->
<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <!--Approved Lists-->
            <form enctype="multipart/form-data" role="form">
                <div class="divider col-6 clearfix">
                    <div class="form-group col-md-6">
                        <h4 class="text-uppercase text-center">Add Approved List</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4 class="text-uppercase text-center">Add Do Not Use List</h4>
                    </div>
                </div>
                <!--Do Not Use list-->
                <div class="divider col-6 clearfix">
                    <div class="form-group col-md-6">
                        <label for="approvedLists">Approved Lists</label>
                        <select class="selectpicker form-control" id="approvedLists"
                                ng-model="ctrl.displayData.addApprovedList"
                                ng-options='option.id as option.title for option in ctrl.displayData.approvedAll'
                                as-select>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="doNotUseLists">Do Not Use Lists</label>
                        <select class="selectpicker form-control" id="doNotUseLists"
                                ng-model="ctrl.displayData.addDoNotUseList"
                                ng-options='option.id as option.title for option in ctrl.displayData.doNotUseAll'
                                as-select>
                        </select>
                    </div>
                </div>
                <div class="divider col-6 clearfix">
                    <div class="form-group col-md-6">
                        <h4 class="text-uppercase text-center">Approved Lists</h4>
                        <as-table totals="false" hide-page-numbers="true" table-id="approved-lists"
                                  bold-columns="1" infinite-scroll="false" overflow-x="hidden"
                                  ng-controller="AdminUsersClientAppraiserPanelApprovedCtrl as tableCtrl">
                        </as-table>
                    </div>
                    <div class="form-group col-md-6">
                        <h4 class="text-uppercase text-center">Do Not Use Lists</h4>
                        <as-table totals="false" hide-page-numbers="true" table-id="do-not-use-lists"
                                  bold-columns="1" infinite-scroll="false" overflow-x="hidden"
                                  ng-controller="AdminUsersClientAppraiserPanelDoNotUseCtrl as tableCtrl">
                        </as-table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Confirm delete approved list-->
    <modal-new submit-button="ctrl.deleteListItem('approved')" modal-id="delete-approved-list"
               modal-title="Are you sure you want to delete selected list?">
    </modal-new>
    <!--Confirm delete do not use list-->
    <modal-new submit-button="ctrl.deleteListItem('doNotUse')" modal-id="delete-do-not-use-list"
               modal-title="Are you sure you want to delete selected list?">
    </modal-new>
    <!--Confirm add list-->
    <modal-new submit-button="ctrl.addList()" modal-id="add-list"
               modal-title="Are you sure you want to add selected list?">
    </modal-new>
</div>
