<!--W9-->
<modal-new modal-id="appraiser-w9" submit-button="appraiserCtrl.submitW9()" modal-title="W9" disabled="appraiserCtrl.w9SubmitDisabled()">
    <div class="col-md-12 pad-null">
        <div class="col-md-12">
            <as-button click="appraiserCtrl.downloadW9()">View W9 as PDF</as-button>
            <as-button click="appraiserCtrl.displayW9Form()">View W9 form on IRS site</as-button>
        </div>
        <form enctype="multipart/form-data" role="form" name="appraiserCtrl.w9Form">
            <div class="divider col-12 clearfix">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">General information</h4>
                </div>
            </div>
            <!-- Name -->
            <div class="form-group col-md-12" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9Name">Name (as shown in your income tax return)</label>
                <input type="text" class="form-control" id="w9Name" name="w9Name"
                       ng-model="appraiserCtrl.displayData.w9.name" required>
            </div>
            <!-- Business name-->
            <div class="form-group col-md-12" show-errors>
                <label for="w9BusinessName">Business name (if different from above)</label>
                <input type="text" class="form-control" id="w9BusinessName" name="w9BusinessName"
                       ng-model="appraiserCtrl.displayData.w9.business.name">
            </div>
            <!-- Business type-->
            <div class="form-group" ng-class="{'col-md-6': appraiserCtrl.displayData.w9.business.type !== 'other', 'col-md-4': appraiserCtrl.displayData.w9.business.type === 'other'}" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9BusinessType">Business type</label>
                <select class="selectpicker form-control" id="w9BusinessType"
                        name="w9BusinessType"
                        ng-model="appraiserCtrl.displayData.w9.business.type"
                        ng-options='option.id as option.value for option in appraiserCtrl.displayData.w9Options.businessType'
                        as-select required>
                </select>
            </div>
            <!-- If business type is other-->
            <div class="form-group col-md-4" ng-if="appraiserCtrl.displayData.w9.business.type === 'other'" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9BusinessTypeOther">Other (see instructions on IRS site)</label>
                <input type="text" class="form-control" id="w9BusinessTypeOther" name="w9BusinessTypeOther"
                       ng-model="appraiserCtrl.displayData.w9.business.customType" required>
            </div>
            <!-- Business tax classification-->
            <div class="form-group" ng-class="{'col-md-6': appraiserCtrl.displayData.w9.business.type !== 'other', 'col-md-4': appraiserCtrl.displayData.w9.business.type === 'other'}" show-errors>
                <label for="w9TaxClassification">Tax classification</label>
                <span class="help-block" validator-message="required"></span>
                <select class="selectpicker form-control" id="w9TaxClassification"
                        name="w9TaxClassification"
                        ng-model="appraiserCtrl.displayData.w9.business.taxClassification"
                        ng-options='option.id as option.value for option in appraiserCtrl.displayData.w9Options.taxClassification'
                        as-select required>
                </select>
            </div>
            <div class="divider col-12 clearfix">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">Exemptions</h4>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Exempt payee code-->
                <div class="form-group col-md-4">
                    <label for="w9ExemptPayeeCode">Exempt payee code (if any)</label>
                    <input type="text" class="form-control" id="w9ExemptPayeeCode" name="w9ExemptPayeeCode"
                           ng-model="appraiserCtrl.displayData.w9.exemptions.payeeCode">
                </div>
                <!-- Exemptions from FATCA reporting code (if any)-->
                <div class="form-group col-md-4">
                    <label for="w9ExemptionsFatca">Exemptions from FATCA reporting code (if any)</label>
                    <input type="text" class="form-control" id="w9ExemptionsFatca" name="w9ExemptionsFatca"
                           ng-model="appraiserCtrl.displayData.w9.exemptions.fatcaCode">
                </div>
                <!-- Account numbers-->
                <div class="form-group col-md-4">
                    <label for="w9ExemptionsAccountNumbers">List account numbers</label>
                    <input type="text" class="form-control" id="w9ExemptionsAccountNumbers" name="w9ExemptionsAccountNumbers"
                           ng-model="appraiserCtrl.displayData.w9.exemptions.accountNumber">
                </div>
            </div>
            <div class="col-md-12">
                <!-- Address -->
                <div class="form-group col-md-3">
                    <label for="w9ExemptionsAddress">Address (number, street, apt or suite number)</label>
                    <input type="text" class="form-control" id="w9ExemptionsAddress" name="w9ExemptionsAddress"
                           ng-model="appraiserCtrl.displayData.w9.exemptions.address">
                </div>
                <!-- City -->
                <div class="form-group col-md-3">
                    <label for="w9ExemptionsCity">City</label>
                    <input type="text" class="form-control" id="w9ExemptionsCity" name="w9ExemptionsCity"
                           ng-model="appraiserCtrl.displayData.w9.exemptions.city">
                </div>
                <!-- State -->
                <div class="form-group col-md-3">
                    <label for="w9ExemptionsState">State</label>
                    <select class="selectpicker form-control" id="w9ExemptionsState"
                            ng-model="appraiserCtrl.displayData.w9.exemptions.state"
                            ng-options='option.code as option.name for option in appraiserCtrl.displayData.states'
                            as-select>
                    </select>
                </div>
                <!-- ZIP -->
                <div class="form-group col-md-3" show-errors>
                    <span class="help-block" validator-message="zip"></span>
                    <label for="w9ExemptionsZip">Zip</label>
                    <input type="text" class="form-control" id="w9ExemptionsZip" name="w9ExemptionsZip"
                           ng-model="appraiserCtrl.displayData.w9.exemptions.zip">
                </div>
            </div>
            <div class="divider col-12 clearfix">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">Requester's name and address (optional)</h4>
                </div>
            </div>
            <!-- Name -->
            <div class="col-md-6 form-group">
                <label for="w9RequesterName">Name</label>
                <input type="text" class="form-control" id="w9RequesterName" name="w9RequesterName"
                       ng-model="appraiserCtrl.displayData.w9.requester.name">
            </div>
            <!-- Address -->
            <div class="col-md-6 form-group">
                <label for="w9RequesterAddress">Address</label>
                <input type="text" class="form-control" id="w9RequesterAddress" name="w9RequesterAddress"
                       ng-model="appraiserCtrl.displayData.w9.requester.address">
            </div>
            <div class="divider col-12 clearfix">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">Taxpayer identification number (TIN)</h4>
                </div>
            </div>
            <!-- TIN Instructions -->
            <div class="col-md-12 form-group">
                <p>Enter your TIN in the appropriate box. The TIN provided must match the name given on line 1 to avoid backup withholding. For individuals, this is your social security number (SSN). However, for a resident alien, sole proprietor, or disregarded entity, see the Part 1 instructions on page 3. For other entities, it is your employer identification number (EIN). if you do not have a number, see How to get a TIN on page 3.</p>
            </div>
            <!-- EIN -->
            <div class="col-md-12 form-group" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9Ein">Employer identification number (tax ID)</label>
                <input type="text" class="form-control" id="w9Ein" name="w9Ein"
                       ng-model="appraiserCtrl.displayData.w9.taxPayer.taxId" required>
            </div>
            <!-- SSN -->
            <div class="col-md-12 form-group" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9Ssn">SSN</label>
                <input type="text" class="form-control" id="w9Ssn" name="w9Ssn"
                       ng-model="appraiserCtrl.displayData.w9.taxPayer.ssn" required>
            </div>
            <!-- Note on account name-->
            <div class="col-md-12 form-group">
                <p><strong>Note: </strong> If the account is in more than one name, see the chart on page 4 for guidelines on whose Employer identification number to enter.</p>
            </div>
            <!-- Certification note-->
            <div class="col-md-12">
                <p>Under penalties of perjury, I certify that:</p>
                <ol>
                    <li>
                        The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me), and
                    </li>
                    <li>
                        I am not subject to backup withholding because: (a) I am exempt from backup withholding, or(b) I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding, and
                    </li>
                    <li>
                        I am a U.S citizen or other U.S person (defined below).
                    </li>
                </ol>
            </div>
            <!-- Cross out item 2-->
            <div class="form-group col-md-12" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9CrossOut">Cross out item 2 per certification instructions below</label>
                <select class="selectpicker form-control" id="w9CrossOut"
                        name="w9CrossOut"
                        ng-model="appraiserCtrl.displayData.w9.taxPayer.isCrossOut"
                        ng-options='option.id as option.value for option in appraiserCtrl.displayData.yesNoDropdown'
                        as-select required>
                </select>
            </div>
            <div class="divider col-12 clearfix">
                <div class="form-group col-md-12">
                    <h4 class="text-uppercase text-center">Certification instructions</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage interest paid, acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payment other than interest and dividends, you are not required to sign the Certification, but you must provide your correct TIN. See the instructions on page 4.</p>
                <p>By entering my name I acknowledge my consent to do business electronically with <strong>BUSINESS NAME</strong>. I accept the terms of the agreements provided above and confirm the information provided is complete and accurate.</p>
            </div>
            <!-- Signature -->
            <div class="col-md-4 form-group" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9Signature">Signature of U.S. person</label>
                <input type="text" class="form-control" id="w9Signature" name="w9Signature"
                       ng-model="appraiserCtrl.displayData.w9.signature" required>
            </div>
            <!-- Application initials-->
            <div class="col-md-4 form-group" show-errors>
                <span class="help-block" validator-message="required"></span>
                <label for="w9Initials">Applicant initials</label>
                <input type="text" class="form-control" id="w9Initials" name="w9Initials"
                       ng-model="appraiserCtrl.displayData.w9.initials" required>
            </div>
            <!-- Date -->
            <div class="col-md-4 form-group" show-errors>
                <span class="help-block" validator-message="date"></span>
                <label for="w9Date">Date</label>
                <input type="text" class="form-control" name="w9Date"
                       ng-model="appraiserCtrl.displayData.w9.signedAt"
                       id="w9Date"
                       validator="date"
                       placeholder="{{appraiserCtrl.displayData.w9.signedAt}}"
                       datetimepicker/>
            </div>
        </form>
    </div>
</modal-new>

<!--Failure-->
<info-modal modal-id="appraiser-w9-failure" modal-title="Failed to update w9" button-text="OK">
</info-modal>
<!--Success-->
<info-modal modal-id="appraiser-w9-success" modal-title="W9 updated" button-text="OK">
</info-modal>