<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="submitForm($event)" ng-class="{'report-page-button-disabled' : inProgress}">
        <i class="fa fa-bar-chart-o"></i><span class="contentTitle">Save Alert</span>
      </li>
      <li ng-click="deleteSelected()" ng-class="{'report-page-button-disabled' : inProgress}">
        <i class="fa fa-bar-chart-o"></i><span class="contentTitle">Delete Selected Alert</span>
      </li>
      <li ng-click="cancel()" ng-class="{'report-page-button-disabled' : inProgress}">
        <i class="fa fa-bar-chart-o"></i><span class="contentTitle">Cancel</span>
      </li>
    </ul>
    <div class="report-page-clear"></div>
  </div>

  <form name="reportAlert" as-submit="saveSelected()" >
    <div class="report-page-body">
      <div class="row">
        <div class="col-md-12 report-page-mb-10">
          <h3 class="report-page-alert-top report-page-mt-10 report-page-mb-10 report-page-mr-10 pull-left">
            Select Existing Or Create New Alert
          </h3>
          <h4 class="report-page-alert-top report-page-mt-10 report-page-mb-10 pull-left">
            <select class="form-control" ng-change="selectAlert()" ng-options="item.id as item.name for item in alerts"
                    ng-model="chosenAlert">
              <option value=""> New Alert </option>
            </select>
          </h4>
        </div>
      </div>

      <div class="row report-page-separator report-page-pt-10">
        <div class="col-md-1"><h4 class="report-page-mt-5 report-page-ta-right">Generate On:</h4></div>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" class="form-control"
                   ng-model="alert.alertDate"
                   name="alertDate"
                   placeholder="Generate On"
                   datetimepicker/>
          <span class="input-group-btn">
            <span class="btn btn-default">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
          </p>
        </div>

        <div class="col-md-1">
          <h4 class="report-page-mt-5 report-page-red-text">» AND/OR</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"><h4 class="report-page-mt-5 report-page-ta-right">Generate every:</h4></div>
        <div class="col-md-2">
          <h4 class="report-page-mr-10 pull-left ">
            <select class="form-control" ng-options="item for item in dayOfMonth" ng-model="alert.monthDate">
              <option value="">--</option>
            </select>
          </h4>
          <h4 class="pull-left"> of Each Month</h4>
        </div>
        <div class="col-md-1">
          <h4 class="report-page-mt-5 report-page-red-text">» AND/OR</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"><h4 class="report-page-mt-5 report-page-ta-right">Generate Every: </h4></div>
        <div class="col-md-5">
          <h4 class="report-page-mr-10 report-page-mt-5 pull-left ">
            <input type="checkbox"  ng-repeat-start="(key, day) in dayOfWeek" id="{{day}}" ng-model="alert.weekdays[key]">
            <label for="{{day}}" class="report-page-mr-10" ng-repeat-end>{{day}}</label>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"><h4 class="report-page-mt-5 report-page-ta-right">Time:</h4></div>
        <div class="col-md-2">
          <h4 class="report-page-mr-10 report-page-mt-5 pull-left form-group" show-errors>
            <select class="form-control"  ng-options="item for item in hoursOfDay" ng-model="alert.cmbHour"
                    name="cmbHour" required>
              <option value=""></option>
            </select>
          </h4>
          <h4 class="report-page-mr-10 report-page-mt-5 pull-left form-group" show-errors >
            <select  class="form-control" ng-model="alert.cmbMeridian" name="cmbMeridian" required>
              <option value=""></option>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>

          </h4>
        </div>
        <div class="col-md-1">
          <h4 class="report-page-mt-5 report-page-red-text">» AND</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1" ng-repeat-start="(key, filter) in filters"><h4 class="report-page-ta-right">
          {{filter.fieldLabel}}</h4></div>
        <div class="col-md-3" ng-repeat-end>
          <h4 class="report-page-mr-10 report-page-mt-5 pull-left col-md-5">
            <input type="text" readonly="readonly" class="form-control" ng-model="filter.condition" /></h4>
          <h4 ng-if="filter.fieldType == 'datefield'"
              class="input-group report-page-mr-10 report-page-mt-5 pull-left col-md-6">
            <input type="text" class="form-control"
                   ng-model="alert[filter.fieldName]"
                   datetimepicker />
          <span class="input-group-btn">
            <span class="btn btn-default">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
          </h4>

          <h4 ng-if="filter.fieldType != 'datefield'" class="report-page-mr-10 report-page-mt-5 pull-left col-md-6">
            <input type="text" class="form-control" ng-model="alert[filter.fieldName]">
          </h4>
        </div>
      </div>


      <div class="row report-page-separator">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h2>Alerts Preview: </h2>
          <ul class="report-page-alerts-preview report-page-mt-10">
            <li ng-if="alert.alertDate && alert.cmbHour && alert.cmbMeridian">
              Generate Report on {{alert.alertDate | date : 'MM/dd/yyyy'}}, {{alert.cmbHour}}:00 {{alert.cmbMeridian}}</li>
            <li ng-if="alert.monthDate && alert.cmbHour && alert.cmbMeridian">
              {{getMonthDate(alert.monthDate)}} of Each Month, {{alert.cmbHour}}:00 {{alert.cmbMeridian}}</li>
            <li ng-repeat="(key, day) in dayOfWeek"
                ng-if="alert.weekdays[key] && alert.cmbHour && alert.cmbMeridian">
              {{day}} of a Week, {{alert.cmbHour}}:00 {{alert.cmbMeridian}}</li>
          </ul>
        </div>
      </div>

      <div class="row report-page-separator">
        <div class="col-md-3"><h4 class="report-page-mt-5 report-page-ta-right">
          Comma separated list of email addresses to send report to:</h4></div>
        <div class="col-md-4">
          <h4 class="pull-left col-md-12">
            <textarea ng-model="alert.Emails" rows="5" class="form-control"></textarea>
          </h4>
        </div>
      </div>
    </div>
  </form>


  <div class="report-page-footer">
    footer
  </div>
</div>
