<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="save(tab)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Set Report Permission</span></li>
      <li ng-click="cancel(tab)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Cancel</span></li>
    </ul>
    <div class="report-page-clear"></div>
  </div>

  <div class="report-page-body">
    <div class="col-lg-12 col-el-12 pad-null"
         sg-pipe="grid.loadData"
         sg-state="grid.options"
         sg-table="grid.data"
         sg-number-of-pages="grid.numberOfPages"
         as-grid>
    </div>
  </div>

  <div class="report-page-footer">
    footer
  </div>
</div>