<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="export()"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Export</span></li>
      <li ng-click="regenerate()"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Regenerate</span></li>
    </ul>
    <div class="report-page-clear"></div>
  </div>

  <div class="report-page-body">
    report
  </div>

  <div class="report-page-footer">
    footer
  </div>
</div>