<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="create($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Create new</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="edit($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Edit</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="delete($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Delete</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="copy($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Copy</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="generateView($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Generate view</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="alert($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Alerts</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="staffPermission($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Staff permission</span></li>
      <li ng-class="{'report-page-button-disabled' : !hasSelectedRows()}" ng-click="clientPermission($event)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Client permission</span></li>

    </ul>
    <div class="report-page-clear"></div>
  </div>

  <div class="report-page-body">
    <div class="col-lg-12 col-el-12 pad-null"
         sg-pipe="grid.loadData"
         sg-state="grid.options"
         sg-table="grid.data"
         sg-number-of-pages="grid.numberOfPages"
         as-grid>

    </div>
  </div>
  <div class="report-page-footer">
    footer
  </div>
</div>

<!-- Modal Directives -->

<!-- Client Permission -->
<div id="admin-reports-list-reports-client-permission"></div>
<info-modal modal-id="client-permissions-failure" modal-title="Unable to retrieve client permissions!"></info-modal>

<!-- Staff Permission -->
<div id="admin-reports-list-reports-staff-permission"></div>
<info-modal modal-id="staff-permissions-failure" modal-title="Unable to retrieve staff permissions!"></info-modal>