<info-modal modal-id="admin-report-report" modal-title="{{alerMessage}}"></info-modal>
<div class="report-page">
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="submitForm()" ng-class="{'report-page-button-disabled' : inProgress}"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Save</span></li>
      <li ng-click="cancel(tab)"><i class="fa fa-bar-chart-o"></i><span class="contentTitle">Cancel</span></li>
    </ul>
    <div class="report-page-clear"></div>
  </div>

  <div class="report-page-body">
    <!-- type and filters start -->
    <div class="row report-page-border">
      <div class="col-md-6 report-page-br pad-null">
        <div class="row report-page-bb">
          <div class="col-md-12">
            <form name="reportSubmit" as-submit="saveReport()">
              <div class="col-md-4 form-group report-page-pb-10" show-errors>
                <label>Report Type:</label>
                <select class="form-control selectpicker"
                        ng-options="option.id as option.name group by option.groupCategory for option in reportTypes"
                        ng-model="reportModel.typeId"
                        name="typeId"
                        as-select>
                    <option value="">- Choose -</option>
                </select>
              </div>

              <div class="col-md-2 form-group report-page-pb-10" show-errors>
                <label>Report Name:</label>
                <input type="text" class="form-control"
                       ng-model="reportModel.name"
                       name="name"
                       placeholder="Report Name"
                       required/>
              </div>

              <div class="col-md-2 report-page-pb-10">
                <label>Header Alignment:</label>
                <select class="form-control"
                        ng-model="reportModel.headerAlignment"
                        name="headerAlignment"
                        as-select>
                  <option value="">Please Select Header Alignment</option>
                  <option value="left">Left</option>
                  <option value="center">Center</option>
                  <option value="right">Right</option>
                </select>
              </div>

              <div class="col-md-2 report-page-pb-10">
                <label>Page Break:</label>
                <select class="form-control"
                        ng-model="reportModel.pageBrk"
                        name="pageBrk"
                        as-select>
                  <option value="">Please Select Page Break</option>
                  <option value="nobreak">No Page Break</option>
                  <option value="aftergrp">After Group</option>
                </select>
              </div>

              <div class="col-md-2 report-page-pb-10">
                <label>Detail Type:</label>
                <select class="form-control"
                        ng-model="reportModel.detailType"
                        name="detailType"
                        as-select>
                  <option value="">Please Select Detail Type</option>
                  <option value="1">Detail</option>
                  <option value="2">Summary</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 report-page-pb-10">
              <label>Description:</label>
              <textarea class="form-control"
                     ng-model="reportModel.description"
                     name="description">
              </textarea>
            </div>

            <div class="col-md-6 report-page-pb-10">
              <label>Header:</label>
              <textarea class="form-control"
                     ng-model="reportModel.header"
                     name="header" >
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 pad-null">
        <div class="row report-page-bb">
          <div class="col-md-12">
            <form name="filterSubmit" as-submit="addDynamicFilter()">
              <div class="col-md-3 form-group report-page-mb-10" show-errors>
                <label>&nbsp;</label>
                <select class="form-control"
                        ng-options="option.id as option.name group by option.groupTable for option in reportFields"
                        ng-model="dynamicFilter.field"
                        name="field"
                        ng-change="dynamicFilterFieldChange()"
                        required
                        as-select>
                  <option value="">please select the field</option>
                </select>
              </div>

              <div class="col-md-3 form-group report-page-mb-10" show-errors>
                <label>&nbsp;</label>
                <select class="form-control"
                        ng-options="option.id as option.name for option in operations"
                        ng-model="dynamicFilter.operation"
                        name="operation"
                        required
                        as-select>
                  <option value="">please select the operation</option>
                </select>
              </div>

              <div class="col-md-2 form-group report-page-mb-10" show-errors>
                <label>&nbsp;</label>
                <input type="text" class="form-control"
                       ng-model="dynamicFilter.condition"
                       name="condition"
                       placeholder="please select the condition" required/>
              </div>

              <div class="col-md-2 report-page-mb-10">
                <label>&nbsp;</label>
                <select class="form-control"
                        ng-options="option.id as option.name for option in dynamicTokens"
                        ng-model="dynamicFilter.condition"
                        as-select>
                  <option value="">Select a Token</option>
                </select>
              </div>

              <div class="col-md-2 report-page-mb-10">
                <label>&nbsp;</label><br>
                <button type="submit" class="btn btn-default appraisal-btn signin-btn"><span>Add Filter</span></button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="col-md-12">
              <thead class="report-page-bb">
                <tr>
                  <th>Field Name</th>
                  <th>Operation</th>
                  <th>Condition</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(index, dynamicFilter) in reportModel.filters track by $index">
                  <td>{{dynamicFilter.tabledisplaylabel || dynamicFilter.table}}:{{dynamicFilter.fieldlabel || dynamicFilter.name}}</td>
                  <td>{{dynamicFilter.operation}}</td>
                  <td>{{dynamicFilter.condition}}</td>
                  <td ng-click="removeDynamicFilter(index)">X</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- type and filters end -->

    <!-- tree and report view start -->
    <div class="row report-page-bl report-page-br report-page-bb" >
      <div class="col-md-2"
           as-tree-view="reportTreeFields"
           as-tree-view-loaded="reportTreeFieldsLoaded"
           as-tree-view-opts="teeViewOpts"
           as-tree-view-collections-list="grid.options"
           dynamic-height="dynamicHeight"></div>

      <div class="col-md-10 report-page-bl" as-report-height="teeViewOpts.dynamicHeight">
        <div class="row report-page-pt-10 report-page-bb report-page-mb-10 drop-sorters">
          <div class="col-md-12 report-page-mb-10">
            <div class="col-md-1">Sorters:</div>
            <div class="col-md-11">
              <ul class="table-modifiers table-sorters  aaaa dnd-enabled"
                  as-report-dnd="grid.options.dnd"
                  as-dnd-list="grid.options.sorters">
                <li class="pull-left dnd-disabled"><span class="pull-left">&nbsp;</span></li>
                <li class="pull-left modifier"
                    ng-repeat="(index, sorter) in grid.options.sorters"
                    data-original-index="{{index}}">
                  <span class="pull-left report-page-mr-10">{{sorter.nameAs || sorter.name}}</span>
                  <span class="pull-left dnd-disabled cursor-pointer"
                        ng-click="removeSorter(sorter)"> X </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row report-page-bb report-page-mb-10 drop-groupers">
          <div class="col-md-12 report-page-mb-10">
            <div class="col-md-1">Groupers:</div>
            <div class="col-md-11">
              <ul class="table-modifiers table-groupers dnd-enabled"
                  as-report-dnd="grid.options.dnd"
                  as-dnd-list="grid.options.groupers">
                <li class="pull-left dnd-disabled"><span class="pull-left">&nbsp;</span></li>
                <li class="pull-left modifier"
                    ng-repeat="(index, grouper) in grid.options.groupers"
                    data-original-index="{{index}}">
                  <span class="pull-left report-page-mr-10">{{grouper.nameAs || grouper.name}}</span>
                  <span class="pull-left dnd-disabled cursor-pointer"
                        ng-click="removeGrouper(grouper)"> X </span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row drop-columns">
          <div class="col-md-12 col-lg-12 col-el-12 pad-null"
               sg-safe-src="grid.safeData"
               sg-state="grid.options"
               sg-table="grid.data"
               sg-number-of-pages="grid.numberOfPages"
               sg-grid-state="grid.gridState"
               sg-after-grid-state-change="grid.afterGridStateChange"
               as-grid>
          </div>
        </div>
      </div>
    </div>
    <!-- tree and report view end -->
  </div>

  <div class="report-page-footer">
    footer
  </div>
</div>