<div class="report-page">
  <div class="report-page-header report-page-bb">
    header
  </div>

  <div class="report-page-body">
    Body
  </div>

  <div class="report-page-footer">
    footer
  </div>
</div>
