<div class="report-page">
  <div class="report-page-clear"></div>
  <!-- Header -->
  <div class="report-page-header report-page-bb">
    <ul class="report-page-menu">
      <li ng-click="save()" ng-class="{'report-page-button-disabled' : inProgress}">
        <i class="fa fa-floppy-o"></i>
        <span class="contentTitle">Save report</span>
      </li>
      <li ng-click="cancel(tab)">
        <i class="fa fa-times"></i>
        <span class="contentTitle">Cancel editing</span>
      </li>
    </ul>
    <div class="report-page-clear"></div>
  </div>

  <!-- Body -->
  <div class="report-page-body">
    <!-- type and filters start -->
    <div class="row report-page-border">
      <div class="col-md-6 report-page-br pad-null">
        <div class="row report-page-bb">
          <div class="col-md-12">
            <form name="reportSubmit" as-submit="createReportCtrl.saveReport()">
              <div class="col-md-4 form-group report-page-pb-10" show-errors>
                <label>Report Type:</label>
                <select name="selectedReportType" class="form-control"
                        ng-options="type.id as type.name group by type.groupCategory for type in createReportCtrl.safeData.reportTypes"
                        ng-model="createReportCtrl.safeData.reportModel.typeId"
                        ng-change="createReportCtrl.typeIdChanged()">
                </select>
              </div>

              <div class="col-md-2 form-group report-page-pb-10" show-errors>
                <label>Report Name:</label>
                <input type="text" class="form-control" ng-model="createReportCtrl.safeData.reportModel.name"
                       name="name" placeholder="Report Name" required/>
              </div>

              <div class="col-md-2 report-page-pb-10">
                <label>Header Alignment:</label>
                <select class="form-control" ng-model="createReportCtrl.safeData.reportModel.headerAlignment" name="headerAlignment">
                  <option value="">Please Select Header Alignment</option>
                  <option value="left">Left</option>
                  <option value="center">Center</option>
                  <option value="right">Right</option>
                </select>
              </div>

              <div class="col-md-2 report-page-pb-10">
                <label>Page Break:</label>
                <select class="form-control" ng-model="createReportCtrl.safeData.reportModel.pageBrk" name="pageBrk">
                  <option value="">Please Select Page Break</option>
                  <option value="nobreak">No Page Break</option>
                  <option value="aftergrp">After Group</option>
                </select>
              </div>

              <div class="col-md-2 report-page-pb-10">
                <label>Detail Type:</label>
                <select class="form-control" ng-model="createReportCtrl.safeData.reportModel.detailType" name="detailType">
                  <option value="">Please Select Detail Type</option>
                  <option value="1">Detail</option>
                  <option value="2">Summary</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 report-page-pb-10">
              <label>Description:</label>
              <textarea class="form-control" ng-model="createReportCtrl.safeData.reportModel.description" name="description">
              </textarea>
            </div>

            <div class="col-md-6 report-page-pb-10">
              <label>Header:</label>
              <textarea class="form-control" ng-model="createReportCtrl.safeData.reportModel.header" name="header">
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Report Filters section -->
      <div class="col-md-6 pad-null">
        <as-report-filters></as-report-filters>
      </div>
    </div>
    <!-- type and filters end -->

    <!-- tree and report view start -->
    <div class="row report-page-bl report-page-br report-page-bb">
      <div class="col-md-2">
        <!--<as-report-tree></as-report-tree>-->
      </div>

      <div class="col-md-10">
        <!--<as-report-data-table></as-report-data-table>-->
      </div>
    </div>
    <!-- tree and report view end -->
  </div>
</div>
