<div>
    <div class="col-el-12 col-ml-12 pad-null">
        <!--Function buttons-->
        <div class="col-sm-9 step-2">
            <!-- TODO close tab -->
            <as-button click="" icon="close">
                Cancel
            </as-button>
            <!-- TODO -->
            <as-button click="createReportCtrl.revert()" icon="settings">
                Debug Report Object
            </as-button>
        </div>
        <div class="clearfix"></div>
        <div class="dashboard-sidebar">
            <h4 class="text-center text-uppercase">Settings</h4>

            <div class="page-wrapper col-md-12 col-sm-10 col-xs-12">
                <!--Sidebar Form-->
                <form enctype="multipart/form-data" role="form">
                    <div class="row divider">
                        <div class="col-md-12 col-sm-10">
                            <div class="form-group col-md-2">
                                <label for="reportType">Type</label>
                                <select class="selectpicker form-control" id="reportType"
                                        ng-model="createReportCtrl.displayData.reportType"
                                        ng-options='option.name group by option.groupCategory for option in createReportCtrl.displayData.reportTypes'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name">Name</label>
                                <input type="text" class="form-control"
                                       ng-model="createReportCtrl.displayData.name"
                                       id="name"/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="headerAlignment">Header alignment</label>
                                <select class="selectpicker form-control" id="headerAlignment"
                                        ng-model="createReportCtrl.displayData.headerAlignment"
                                        ng-options='option.label for option in createReportCtrl.selects.headerAlignments'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="pageBreak">Page break</label>
                                <select class="selectpicker form-control" id="pageBreak"
                                        ng-model="createReportCtrl.displayData.pageBreak"
                                        ng-options='option.label for option in createReportCtrl.selects.pageBreaks'
                                        as-select>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="detailType">Detail type</label>
                                <select class="selectpicker form-control" id="detailType"
                                        ng-model="createReportCtrl.displayData.detailType"
                                        ng-options='option.label for option in createReportCtrl.selects.detailTypes'
                                        as-select>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-md-12 col-sm-10">
                            <div class="form-group col-md-6">
                                <label for="description">Description</label>
                                <input type="text" class="form-control"
                                       ng-model="createReportCtrl.displayData.description"
                                       id="description"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="header">Header</label>
                                <input type="text" class="form-control"
                                       ng-model="createReportCtrl.displayData.header"
                                       id="header"/>
                            </div>
                        </div>
                    </div>
                </form>
                <!--END-->
            </div>
            <div class="clearfix"></div>
            <h4 class="text-center text-uppercase">Filters</h4>

            <div class="page-wrapper col-md-12 col-sm-10 col-xs-12">
                <as-report-filters></as-report-filters>
            </div>
            <div class="clearfix"></div>
            <h4 class="text-center text-uppercase">Constructor</h4>

            <div class="col-md-9 col-sm-12">
                <as-report-data-table></as-report-data-table>
            </div>
            <div class="col-md-3 col-sm-12">
                <as-report-tree></as-report-tree>
            </div>
        </div>
    </div>
</div>
