<form name="filters" role="form">
    <div class="row divider">
        <div class="col-md-12 col-sm-10">
            <div class="form-group col-md-3">
                <label for="filterColumn">Type</label>
                <select class="selectpicker form-control" id="filterColumn"
                        ng-model="filtersCtrl.displayData.filter.column"
                        ng-options='option.label group by option.group for option in filtersCtrl.displayData.flatColumns'
                        ng-change="filtersCtrl.updateOperations()"
                        as-select>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="filterOperation">Operation</label>
                <select class="selectpicker form-control" id="filterOperation"
                        ng-model="filtersCtrl.displayData.filter.operation"
                        ng-options='option.name for option in createReportCtrl.displayData.filterOperations'
                        as-select>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="filterConstraint">Constraint</label>
                <input type="text" class="form-control" id="filterConstraint"
                       ng-model="filtersCtrl.displayData.filter.constraint"/>
            </div>

            <div class="form-group col-md-4">
                <as-button click="filtersCtrl.addFilter()" icon="apply">
                    Add Filter
                </as-button>
                <as-button click="filtersCtrl.addDynamic(true)" icon="close">
                    Dynamic Data
                </as-button>
                <as-button ng-show="filtersCtrl.isDateType" click="filtersCtrl.addDynamic(false)" icon="close">
                    Current Date
                </as-button>
            </div>
        </div>
    </div>
</form>
<div ng-if="filtersCtrl.displayData.filters.length" class="row divider">
    <div class="row divider">
        <div class="col-md-12 col-sm-10">
            <div class="form-group col-md-12">

                <table class="table dashboard-table">
                    <tbody>
                    <tr ng-repeat="filter in filtersCtrl.displayData.filters track by $index">
                        <td class="col-xs-12">
                            <span class="pad-null">
                                {{filter.column.group}}: {{filter.column.label}} {{filter.operation.name}} {{filter.constraint}}
                            </span>
                            <button class="btn btn-default btn-xs"
                                    ng-click="filtersCtrl.deleteFilter($index)">Delete filter
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
