<div class="row">
    <!-- GROUPERS PANEL -->
    <div class="col-xs-3">
        <as-button click="createReportCtrl.sampleData()" icon="settings">
            <span>Refresh sample data</span>
        </as-button>
    </div>
    <div class="col-xs-9">
        <div>Groupers:</div>
        <ul class="form-group tree-node"
            ng-sortable="reportTableCtrl.sortableOptions">
            <li ng-repeat="node in reportTableCtrl.displayData.groupers track by $index"
                ng-if="!(node.title && reportTableCtrl.displayData.groupers.length > 1)">
                <label>{{node.label}} </label>
                <button class="btn btn-default btn-xs" ng-click="reportTableCtrl.deleteDroppedNode('groupers', $index)">
                    <span class="fa fa-times"/>
                ️</button>
            </li>
        </ul>
    </div>
</div>
<!-- REPORT TABLE -->
<div class="row">
    <!-- COLUMNS -->
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table dashboard-table">
                <thead>
                <tr ng-sortable="reportTableCtrl.sortableOptions">
                    <th ng-repeat="node in reportTableCtrl.displayData.columns track by $index"
                        ng-hide="reportTableCtrl.displayData.columns.length > 1 && node.fake">
                        <label>{{node.label}} </label>
                        <button class="btn btn-default btn-xs"
                                ng-hide="node.fake"
                                ng-click="reportTableCtrl.deleteDroppedNode('columns', $index)">
                            <span class="fa fa-times"/>
                        </button>
                    </th>
                </tr>
                <tr ng-hide="reportTableCtrl.displayData.columns.length === 1">
                    <th ng-repeat="node in reportTableCtrl.displayData.columns track by $index"
                        ng-hide="reportTableCtrl.displayData.columns.length > 1 && node.fake"
                        class="text-center"
                        ng-click="reportTableCtrl.sortColumn(node)">
                        <span ng-if="!node.sort" class="fa fa-sort"></span>
                        <span ng-if="node.sort === 1" class="fa fa-sort-asc"></span>
                        <span ng-if="node.sort === -1" class="fa fa-sort-desc"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in reportTableCtrl.displayData.sampleData">
                    <td ng-repeat="node in reportTableCtrl.displayData.columns track by $index"
                        ng-hide="reportTableCtrl.displayData.columns.length > 1 && node.fake">
                        {{row[node.id]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<info-modal modal-id="duplicate-constructor-field" modal-title="Item already added"> </info-modal>
