<div class="row">
    <!-- FILTER -->
    <div class="form-group col-md-12">
        <label for="treeColumnsSearchInput">Search fields</label>

        <div class="input-group">
            <input type="text" class="form-control"
                   ng-model="treeCtrl.columnsSearch"
                   ng-model-options="{ debounce: 500 }"
                   placeholder="Filter columns..."
                   id="treeColumnsSearchInput"/>

            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="treeCtrl.columnsSearch = ''">
                    <span class="fa fa-times"/>
                </button>
            </span>
        </div>
    </div>
    <!-- TREE -->
    <div class="form-group col-md-12">
        <div
                data-angular-treeview="true"
                data-tree-id="treeView"
                data-tree-model="treeCtrl.displayData.reportColumns"
                data-node-children="children">
        </div>
    </div>
</div>
