<nav class="text-center indexing">
  <ul class="pagination">
    <li ng-show="paginationMeta.page > 1">
      <a href="#" ng-click="changePageCallback(1)">First</a>
    </li>
    <li ng-show="paginationMeta.page > 1">
      <a href="#" ng-click="changePageCallback(paginationMeta.page - 1)">Prev</a>
    </li>

    <li ng-repeat="page in pages">
      <a href="#" ng-class="{active: page === paginationMeta.page}" ng-click="changePageCallback(page)">{{ page }}</a>
    </li>


    <li ng-show="pages.length > 1 && paginationMeta.page !== paginationMeta.totalPages">
      <a href="#" class="next-index" ng-click="changePageCallback(paginationMeta.page + 1)">Next</a>
    </li>
    <li ng-show="pages.length > 1 && paginationMeta.page !== paginationMeta.totalPages">
      <a href="#" class="last-index" ng-click="changePageCallback(paginationMeta.totalPages)">Last</a>
    </li>
  </ul>
</nav>
