<div class="dashboard-search">

    <div class="col-lg-6 col-sm-4 step-1 col-ml-5">
        <div class="pull-left"><a href="#">
            <img ng-src="/assets/images/icons/as-button/btn-search.svg" width="" height="" alt=""></a>
        </div>
        <div class="col-md-12 col-xs-12">
            <input ng-model="search.all" type="text" placeholder="Search for any kind of details">
        </div>
    </div>

    <div class="col-lg-6 col-sm-8 step-2 col-xs-12 text-right col-ml-7">
        <a href="" ng-click="adminStaffStaffCtrl.newStaffModal()">
            <as-button icon="plus" class="green-theme" type="submit">Add New Member</as-button>
        </a>
        <as-button icon="settings"></as-button>

    </div>

    <div class="clearfix"></div>

</div>

<div class="table-responsive ">
  <!-- as-table for all staff -->
  <!--Table Started-->
  {{displayData.details}}
    <!--Staff list table-->
    <as-table ng-controller="AdminStaffStaffTableCtrl as tableCtrl" totals="false" bold-columns="2"
              table-id="staff-table" infinite-scroll="false" overflow-x="hidden"
              hide-page-numbers="false"></as-table>
  <!--as-table for stuff section ends -->

  <!-- admin staff permissions has email, tabs and  reviewer permissions  -->
  <admin-staff-permission></admin-staff-permission>
  <admin-staff-email-permission></admin-staff-email-permission>
  <admin-staff-tabs-permission></admin-staff-tabs-permission>
  <!-- admin staff logged in log -->
  <admin-staff-logged-in-log></admin-staff-logged-in-log>
</div>



<!-- New/Edit Staff Modal  -->
<modal-new submit-button="adminStaffStaffCtrl.submitStaff()"  modal-id="new-staff" modal-title="{{adminStaffStaffCtrl.displayData.contentTitle}}" class="staff-modal">

    <!--<div class="col-md-12">-->

      <div class="form-group col-md-6" show-errors>

        <label for="staff-name">Name</label>
                <span class="help-block"
                      validator-message="required">
                </span>
        <input type="text" id="staff-name"
               ng-model="ctrl.displayData.details.name"
               name="staff-name"
               class="form-control"
               required />
      </div>

      <div class="form-group col-md-6" show-errors>

        <label for="staff-username">Username</label>
                <span class="help-block"
                      validator-message="required">
                </span>
        <input type="text" id="staff-username"
               ng-model="ctrl.displayData.details.username"
               name="staff-username"
               class="form-control"
               required />
      </div>

    <!--</div>-->

    <!--<div class="col-md-12">-->

      <!--Email staff-->
      <div class="form-group col-md-6" show-errors>

        <label for="staff-email">Email Address</label>
                <span class="help-block"
                      validator-message="email">
                </span>
        <input type="text" id="staff-email"
               validator="email"
               ng-model="ctrl.displayData.details.email"
               name="staff-email"
               class="form-control"
               required />
      </div>

      <div class="form-group col-md-6" show-errors>

        <label for="staff-password">Password</label>
                <span class="help-block"
                      validator-message="password"
                      placeholder="{'field': 'Please input valid password'}">
                </span>
        <input type="password" id="staff-password"
               ng-model="ctrl.displayData.details.password"
               name="staff-password"
               validator="password"
               class="form-control"/>
      </div>

    <!--</div>-->

</modal-new>


<!-- Create staff modal-->
<info-modal modal-id="new-staff-success" modal-title="Created a staff" button-text="OK" class="staff-modal">
</info-modal>
<info-modal modal-id="new-staff-failure" modal-title="Failed to create a new staff" button-text="OK" class="staff-modal">
</info-modal>

<!-- Update staff modal-->
<info-modal modal-id="update-staff-success" modal-title="Updated a staff" button-text="OK" class="staff-modal">
</info-modal>
<info-modal modal-id="update-staff-failure" modal-title="Failed to upate staff information" button-text="OK" class="staff-modal">
</info-modal>

<!--Confirm delete staff-->
<modal-new modal-id="delete-staff-confirm" submit-button="adminStaffStaffCtrl.deleteStaff()" modal-title="Delete Staff?" class="staff-modal">
  <p>Are you sure to delete this staff?</p>
</modal-new>
<!--Delete staff modal-->
<info-modal modal-id="delete-staff-success" modal-title="Deleted staff" button-text="OK" class="staff-modal">
</info-modal>
<info-modal modal-id="delete-staff-failure" modal-title="Failed to delete staff" button-text="OK" class="staff-modal">
</info-modal>

