<!-- Select Job Type -->
<!--<div class="text-left|text-center|text-right">
  <as-button click="adminStaffSetFeesByBrokerCtrl.addFeesBrokerModal()" icon="apply" >Add Fees by Broker</as-button>
</div>-->
<p>
  <admin-staff-set-commission-broker></admin-staff-set-commission-broker>
  <admin-staff-recalc-commission-broker></admin-staff-recalc-commission-broker>
</p>

<modal-new modal-id="set-fees-broker-modal" modal-title="Set fes by broker" >
  <div class="auth-divider col-12">
    <div class="overlay-form">
      <as-table totals="false" hide-page-numbers="true" submit-button="adminStaffSetFeesByBrokerCtrl.setFees()" bold-columns="2" table-id="set-fees-broker"
                ng-controller="AdminStaffSetFeesByBrokerTableCtrl as tableCtrl" infinite-scroll="false"
                overflow-x="hidden" no-empty="true">
      </as-table>
    </div>
  </div>
</modal-new>
