<!--Table Started-->
<div class="col-lg-12 col-el-8 col-ml-7 dashboard-left-area">
    <!--Dashboard Search Section-->
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-6 col-sm-6 step-1 col-el-9 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="adminUsersCtrl.filterAll">
            </div>
        </div>
        <!--Function buttons-->
        <div class="col-lg-6 col-sm-6 step-2 col-xs-12 text-right">
            <as-button click="inspectorCtrl.sendLoginConfirm()" ng-show="inspectorCtrl.displayData.details.id" icon="upload">
                Send Login
            </as-button>
            <as-button click="inspectorCtrl.toggleActive()" ng-show="inspectorCtrl.displayData.details.id">
                {{inspectorCtrl.activeButtonText()}}
            </as-button>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Search results table-->
    <as-table totals="false" hide-page-numbers="true" table-id="admin-users-inspector-table"
              ng-controller="AdminUsersInspectorTableCtrl as tableCtrl" bold-columns="1,2,3" infinite-scroll="false"
              overflow-x="hidden"></as-table>
</div>

<!--Details-->
<admin-users-details type="inspector" ctrl="inspectorCtrl" sidebar="enableSidebar"></admin-users-details>
<!--Additional details-->
<admin-users-inspector-additional-details></admin-users-inspector-additional-details>

<!--Rating-->
<admin-users-rating type="inspector" ctrl="inspectorCtrl"></admin-users-rating>
<!--Certification details-->
<admin-users-certification ctrl="inspectorCtrl" type="inspector"></admin-users-certification>
<!--Reports-->
<admin-users-reports ctrl="inspectorCtrl" type="inspector"></admin-users-reports>

<!--Failed to update inspector-->
<info-modal modal-id="update-inspector-failure" modal-title="Failed to update inspector" button-text="OK">
</info-modal>
<!--Send login confirmation-->
<modal-new modal-id="send-login-confirm" submit-button="inspectorCtrl.sendLogin()" modal-title="Send login credentials?">
</modal-new>
<!--Send login failure-->
<info-modal modal-id="send-login-failure" modal-title="Failed to send login credentials" button-text="Cancel">
</info-modal>
<!--Send login success-->
<info-modal modal-id="send-login-success" modal-title="Login credentials sent" button-text="Cancel">
</info-modal>
