<!--Table Started-->
<div class="col-lg-12 dashboard-left-area">
    <!--Dashboard Search Section-->
    <div class="dashboard-search admin-accounting-search">
        <div class="col-lg-3 col-sm-6 step-1 col-el-9 text-right" >
            <div class="pull-left"><a href="#"><img src="/assets/images/icons/as-button/btn-search.svg" width="23" height="23" alt=""></a></div>
            <div class="col-md-12 col-xs-12">
                <input type="text" placeholder="Search within the current result set" ng-model="adminUsersCtrl.filterAll">
            </div>
        </div>
        <!--List type-->
        <div class="col-md-3 form-group">
            <label for="searchLists">Type</label>
            <select class="selectpicker form-control" id="searchLists"
                    ng-model="tableCtrl.displayData.listType"
                    ng-options='option.id as option.name for option in tableCtrl.displayData.listTypes'
                    as-select>
            </select>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--Lists-->
    <div class="form-group" ng-show="tableCtrl.displayData.listType !== 'all'">
        <label for="listName">List</label>
        <select class="selectpicker form-control" id="listName"
                ng-model="tableCtrl.safeData.selectedLists[tableCtrl.displayData.listType]"
                ng-options='option.id as option.title for option in tableCtrl.displayData[tableCtrl.displayData.listType]'
                as-select>
        </select>
    </div>
    <div class="col-md-3" ng-show="tableCtrl.displayData.listType !== 'all'">
        <as-button click="tableCtrl.showListDetails()" disabled="tableCtrl.listFunctionButtonDisabled()" icon="details">List details</as-button>
        <as-button click="tableCtrl.importAppraisers()" icon="upload" disabled="tableCtrl.listFunctionButtonDisabled()"
                   icon="details">Import appraisers to list
        </as-button>
    </div>
    <!--Function buttons-->
    <div class="col-md-12" ng-show="tableCtrl.displayData.listType !== 'all'">
        <as-button click="tableCtrl.addToList()" disabled="tableCtrl.addToListDisabled()" icon="plus">Add appraisers to
            list
        </as-button>
        <as-button click="tableCtrl.addAllToListConfirm()" disabled="tableCtrl.listFunctionButtonDisabled()" icon="apply">
            Add all to list
        </as-button>
        <as-button click="tableCtrl.deleteAllFromListConfirm()" disabled="tableCtrl.listFunctionButtonDisabled()" icon="close">
            Remove all from list
        </as-button>
        <as-button click="tableCtrl.newListConfirm()" icon="new" right="true">Add new list</as-button>
        <as-button click="tableCtrl.deleteListConfirm()" disabled="tableCtrl.listFunctionButtonDisabled()" icon="cancel" right="true">
            Delete list
        </as-button>
    </div>
    <!--Table-->
    <div class="form-group" id="appraiser-panel-table-wrapper">
        <as-table totals="false" hide-page-numbers="true" table-id="admin-users-appraiser-panel-table"
                  bold-columns="1,4" infinite-scroll="false" overflow-x="hidden"></as-table>
    </div>
</div>

<!--List details-->
<info-modal modal-id="appraiser-list-details" modal-title="{{tableCtrl.displayData.listType | replaceChar:'-':' '}} list details" button-text="OK" modal-width="100%">
    <form enctype="multipart/form-data" role="form">
        <div class="divider clearfix">
            <div class="form-group col-md-12">
                <!--Delete selected-->
                <div class="col-md-12">
                    <as-button click="tableCtrl.deleteAppraisersFromList(true)" disabled="tableCtrl.deleteMultipleFromListDisabled()">Delete selected appraisers</as-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <as-table totals="false" hide-page-numbers="true" table-id="appraisers-list-details"
                      ng-controller="AdminUsersAppraiserListTableCtrl as tableCtrl" bold-columns="1,2,3"
                      infinite-scroll="false" overflow-x="hidden"></as-table>
        </div>
    </form>
</info-modal>

<!--Add appraiser to list success-->
<info-modal modal-id="add-appraiser-success" modal-title="Appraisers added to list" button-text="OK">
</info-modal>
<!--Add appraiser to list failure-->
<info-modal modal-id="add-appraiser-failure" modal-title="Failed to add appraisers to list" button-text="OK">
</info-modal>

<!--New list-->
<modal-new modal-id="add-new-list" submit-button="tableCtrl.addNewList()" modal-title="Add new list" disabled="tableCtrl.newListSubmitDisabled()">
    <div class="col-md-12 pad-null">
        <form enctype="multipart/form-data" role="form">
            <div class="col-md-12 form-group" show-errors>
                <label for="newListTitle">List title</label>
                <input type="text" class="form-control" id="newListTitle" name="newListTitle"
                       ng-model="tableCtrl.displayData.newListTitle" required>
            </div>
        </form>
    </div>
</modal-new>
<!--Failure-->
<info-modal modal-id="add-new-list-failure" modal-title="Failed to add new list" button-text="OK">
</info-modal>
<!--Success-->
<info-modal modal-id="add-new-list-success" modal-title="New list added" button-text="OK">
</info-modal>

<!--Delete list confirm-->
<modal-new modal-id="delete-list" submit-button="tableCtrl.deleteList()" modal-title="Delete list?">
</modal-new>
<!--Delete list success-->
<info-modal modal-id="delete-list-success" modal-title="List deleted" button-text="OK">
</info-modal>
<!--Delete list failure-->
<info-modal modal-id="delete-list-failure" modal-title="Failed to delete list" button-text="OK">
</info-modal>

<!--Delete selected appraisers from list-->
<modal-new modal-id="delete-appraisers-confirm" submit-button="tableCtrl.deleteAppraisersFromList()" modal-title="Delete {{tableCtrl.safeData.selectedAppraisersInList.length === 1 ? 'appraiser' : 'appraisers'}} from list?">
</modal-new>
<!--Delete appraiser from list failure-->
<info-modal modal-id="delete-appraiser-failure" modal-title="Failed to delete appraisers" button-text="OK">
</info-modal>
<!--Delete appraiser from list success-->
<info-modal modal-id="delete-appraisers-success" modal-title="Appraisers deleted" button-text="OK">
</info-modal>

<!--Add all to list-->
<modal-new modal-id="add-all-to-list-confirm" submit-button="tableCtrl.addToList(true)" modal-title="Add all appraisers to selected list?">
</modal-new>

<!--Import from file-->
<!--@todo Unsure of the response from the backend here, waiting on a response-->
<!--@link https://github.com/ascope/manuals/issues/170-->
<upload-modal modal-id="add-appraisers-by-upload" modal-title="Import appraisers"
              file-model="tableCtrl.displayData.importFile"
              upload-url="/appraisers-lists/do-not-use/{{tableCtrl.safeData.selectedLists[tableCtrl.displayData.listType]}}/appraisers"
              success="tableCtrl.importResponse(response)">
    <form enctype="multipart/form-data" role="form">
        Import appraisers to list
    </form>
    <div class="col-md-12 pad-null">
        <div class="dashboard-sidebar" >
            <div class="page-wrapper col-md-12">
                <div class="divider clearfix">
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-uppercase text-center">Required Columns</h4>
                        </div>
                    </div>
                </div>
                <!--Column formats-->
                <form enctype="multipart/form-data" role="form">
                    <div class="col-md-12">
                        <label>Format One</label>
                        <div class="form-group col-md-12">
                            <ol>
                                <li>First name</li>
                                <li>Last name</li>
                                <li>Licensed state</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>Format Two</label>
                        <div class="form-group col-md-12">
                            <ol>
                                <li>Licensed State</li>
                                <li>License Number</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>Format Three</label>
                        <div class="form-group col-md-12">
                            <ol>
                                <li>Licensed State</li>
                                <li>License Number</li>
                                <li>First name</li>
                                <li>Last name</li>
                            </ol>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</upload-modal>