<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Settings</h4>
                    </div>
                </div>
            </div>
            <form enctype="multipart/form-data" role="form">
                <div class="form-group col-md-12">
                    <div class="form-group col-md-6">
                        <label for="submitPayment">Submit payment to AMC</label>
                        <select class="selectpicker form-control" id="submitPayment"
                                ng-model="amcCtrl.safeData.settings.canSubmitPayment"
                                ng-options='option.id as option.value for option in amcCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="useAmcFeeSchedule">Use AMC's fee schedule</label>
                        <select class="selectpicker form-control" id="useAmcFeeSchedule"
                                ng-model="amcCtrl.safeData.settings.canUseFeeSchedule"
                                ng-options='option.id as option.value for option in amcCtrl.displayData.yesNoDropdown'
                                as-select>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
