<div class="report-page">

  <div class="report-page-header report-page-bb">

    <ul class="report-page-menu">
      <li ng-click="listReportsCtrl.createReport()">
        <i class="fa fa-plus-circle"></i>
        <span class="contentTitle">Create new</span>
      </li>
      <li ng-class="{'report-page-button-disabled' : !listReportsCtrl.canEditReport}"
          ng-click="listReportsCtrl.editReport()">
        <i class="fa fa-pencil-square-o"></i>
        <span class="contentTitle">Edit</span>
      </li>
      <li ng-class="{'report-page-button-disabled' : !listReportsCtrl.canDeleteReports}"
          ng-click="listReportsCtrl.deleteReport()">
        <i class="fa fa-minus-circle"></i>
        <span class="contentTitle">Delete</span>
      </li>
      <li ng-class="{'report-page-button-disabled' : !listReportsCtrl.canEditReport}"
          ng-click="listReportsCtrl.copyReport()">
        <i class="fa  fa-files-o"></i>
        <span class="contentTitle">Copy</span>
      </li>
      <li ng-class="{'report-page-button-disabled' : !listReportsCtrl.canEditReport}"
          ng-click="listReportsCtrl.generateReport()">
        <i class="fa fa-clipboard"></i>
        <span class="contentTitle">Generate view</span>
      </li>
      <li ng-class="{'report-page-button-disabled' : !listReportsCtrl.canEditReport}"
          ng-click="listReportsCtrl.showReportAlerts()">
        <i class="fa fa-bell-o"></i>
        <span class="contentTitle">Alerts</span>
      </li>
    </ul>

    <div class="report-page-clear"></div>

  </div>

  <div class="report-page-body">

    <!-- List Report Table -->
    <div class="auth-divider col-12">

      <table class="table dashboard-table table-responsive"
             ng-controller="AdminReportsListReportsTableCtrl as reportTableCtrl">

        <thead class="thead">
            <tr>

              <th class="text-center">
                <input type="checkbox"
                       class="form-control"
                       ng-model="reportTableCtrl.selectAllReports"
                       ng-change="reportTableCtrl.toggleAllReports()"
                       checkable/>
              </th>
              <th class="text-center">
                <label>SR #</label>
              </th>
              <th class="text-center">
                <label>Report Group</label>
              </th>
              <th class="text-center">
                <label>Report Name</label>
              </th>
              <th class="text-center">
                <label>Description</label>
              </th>
              <th class="text-center">
                <label>Created By</label>
              </th>
              <th class="text-center">
                <label>Created On</label>
              </th>
              <th class="text-center">
                <label>Last Generated On</label>
              </th>
              <th class="text-center">
                <label>Staff Permission</label>
              </th>
              <th class="text-center">
                <label>Client Permission</label>
              </th>

            </tr>
        </thead>

        <!-- Sorter-Marks Row -->

        <tr class="text-center">
          <th class="text-center"></th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center">
            <a href="#">
              <img src="/assets/images/icons/arrows.svg" class="svg-small" alt="">
            </a>
          </th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
        <tr ng-repeat-start="report in reportTableCtrl.reportTableData track by report.groupBy" class="tbody-headers">
          <td colspan="10">
            <div>
              {{report.groupBy}}
            </div>
          </td>
        </tr>
        <tr ng-repeat="item in report.items track by $index">
          <td class="text-center">
            <input type="checkbox"
                   class="form-control"
                   ng-checked="reportTableCtrl.reportCheckboxCheckedChanged(item.id)"
                   ng-click="reportTableCtrl.toggleSelection(item.id)"
                   checkable/>
          </td>
          <td class="text-center">
            {{$index + 1}}
          </td>
          <!-- Report Group -->
          <td class="text-center">
            {{item.data1}}
          </td>
          <!-- item Name -->
          <td class="text-center">
            {{item.data2}}
          </td>
          <!-- Description -->
          <td class="text-center">
            {{item.data3}}
          </td>
          <!-- Created By -->
          <td class="text-center">
            {{item.data4}}
          </td>
          <!-- Created On -->
          <td class="text-center">
            {{item.data5}}
          </td>
          <!-- Last Generated On -->
          <td class="text-center">
            {{item.data6}}
          </td>
          <td class="text-center">
            <a class="edit-btn table-btn" ng-click="reportTableCtrl.openStaffPermissionModal(item.id)">
                <img ng-src="/assets/images/icons/edit-ico.svg" alt="" class="pull-right">
            </a>
          </td>
          <td class="text-center">
            <a class="edit-btn table-btn" ng-click="reportTableCtrl.openClientPermissionModal(item.id)">
                <img ng-src="/assets/images/icons/edit-ico.svg" alt="" class="pull-right">
            </a>
          </td>
        </tr>
        <tr ng-repeat-end></tr>

      </table>

    </div>

  </div>

  <div class="report-page-footer"></div>
</div>
<!-- Modal Directives -->
<!-- Client Permission -->
<div id="list-reports-client-permission"></div>
<!-- Staff Permission -->
<div id="list-reports-staff-permission"></div>
<!-- Alert Report -->
<div id="list-reports-alerts"></div>
