<as-tabs tab-config="massUpdateCtrl.detailsTabsConfigMassUsers" tabs="massUpdateCtrl.detailsTabsMassUsers" tab-width="8ths"
         selected-tab="massUpdateCtrl.selectedDetailsTabMassUsers" change-tab="massUpdateCtrl.changeTab(tab)"></as-tabs>
<!--Content-->
<div ng-switch="massUpdateCtrl.selectedDetailsTabMassUsers">
    <admin-users-details-content ng-switch-when="details" ctrl="massUpdateCtrl"></admin-users-details-content>
    <admin-users-client-fee-schedule ng-switch-when="feeSchedule"></admin-users-client-fee-schedule>
    <admin-users-client-user-settings ng-switch-when="userSettings"></admin-users-client-user-settings>
    <mass-update-user-branch-type ng-switch-when="userTypeBranch"></mass-update-user-branch-type>
    <admin-users-client-on-report ng-switch-when="clientOnReport" mass-update="true"></admin-users-client-on-report>
    <admin-users-client-appraiser-panel ng-switch-when="appraiserPanel"></admin-users-client-appraiser-panel>
    <admin-users-client-checklist ng-switch-when="addChecklist"></admin-users-client-checklist>
    <admin-users-client-instructions ng-switch-when="instructions" mass-update="true"
                                     hide="assign,edit,delete"></admin-users-client-instructions>
</div>

<!--Failed to get branches-->
<info-modal modal-id="retrieve-branch-failure" modal-title="Failed to retrieve branch data" button-text="OK">
</info-modal>