<div class="col-md-12 pad-null">
    <div class="dashboard-sidebar" >
        <div class="page-wrapper col-md-12">
            <div class="divider clearfix">
                <div class="form-group col-md-12">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-center">Assign User Type or Branch</h4>
                    </div>
                </div>
            </div>
            <!--Details-->
            <div class="col-md-12">
                <form enctype="multipart/form-data" role="form">
                    <!--Company-->
                    <div class="clearfix divider col-12 form-group">
                        <div class="form-group col-md-12">
                            <label for="massBranch">Branch</label>
                            <select class="selectpicker form-control" id="massBranch"
                                    ng-model="massUpdateCtrl.displayData.details.branch"
                                    ng-options='option.id as option.name for option in massUpdateCtrl.displayData.branches'
                                    as-select>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix divider col-12 form-group">
                        <div class="form-group col-md-12">
                            <label for="massUserType">User Type</label>
                            <!--@todo Type does not exist in the backend yet-->
                            <select class="selectpicker form-control" id="massUserType"
                                    ng-model="massUpdateCtrl.displayData.details.role"
                                    ng-options='option.id as option.type for option in massUpdateCtrl.displayData.userTypes'
                                    as-select>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Update failure-->
    <info-modal modal-id="update-mass-users-failure" modal-title="Failed to mass update selected users" button-text="Cancel">
    </info-modal>
</div>